Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Use web::WindowOrWorkerGlobalScope for csp_delegate().
  cobalt/browser/browser_module.cc
  cobalt/cssom/computed_style.cc
  cobalt/dom/comment_test.cc
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/document_test.cc
  cobalt/dom/global_stats.cc
  cobalt/dom/html_element.cc
  cobalt/dom/html_element_context.cc
  cobalt/dom/html_element_context.h
  cobalt/dom/html_element_test.cc
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_meta_element.cc
  cobalt/dom/html_script_element.cc
  cobalt/dom/html_style_element.cc
  cobalt/dom/node.cc
  cobalt/dom/rule_matching_test.cc
  cobalt/dom/testing/fake_document.h
  cobalt/dom/testing/stub_window.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/xml_document_test.cc
  cobalt/dom_parser/html_decoder.cc
  cobalt/web/environment_settings.h
  cobalt/web/window_or_worker_global_scope.h
  cobalt/webdriver/screenshot.cc
  cobalt/websocket/web_socket.cc
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
  net/socket/tcp_socket_starboard.cc
Due: cpplint, cpplint_test, clang-format

[media source] Remove direct event dispatching
  cobalt/dom/event_queue.cc
  cobalt/dom/event_queue.h
  cobalt/dom/event_queue_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
Due: cpplint, cpplint_test, clang-format

Fix dom_test.
  cobalt/css_parser/parser.cc
  cobalt/css_parser/parser.h
  cobalt/cssom/css_parser.h
  cobalt/cssom/user_agent_style_sheet.cc
  cobalt/dom/document_test.cc
  cobalt/dom/dom_stat_tracker.cc
  cobalt/dom/html_element_test.cc
  cobalt/dom/rule_matching_test.cc
  cobalt/dom/testing/stub_window.h
Due: cpplint, cpplint_test, clang-format

[media source] Enable max append size override
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/media_source_settings_test.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
  cobalt/dom/source_buffer_algorithm.cc
  cobalt/dom/source_buffer_algorithm.h
Due: cpplint, cpplint_test, clang-format

Add dedicated thread to PersistentSettings
  base/values.cc
  base/values.h
  cobalt/browser/application.cc
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
  components/prefs/BUILD.gn
  components/prefs/json_read_only_pref_store.cc
  components/prefs/json_read_only_pref_store.h
  net/disk_cache/cobalt/cobalt_backend_impl.cc
Due: cpplint, cpplint_test, clang-format

[media source] Rename `min_size_for_immediate_job_`
  cobalt/dom/media_source.cc
  cobalt/dom/media_source.h
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/media_source_settings_test.cc
Due: cpplint, cpplint_test, clang-format

[media] Fix DRM player creaton on Apple TV
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Support float framerate in mime string
  starboard/shared/starboard/media/parsed_mime_info.cc
Due: cpplint, clang-format

Disable failing android-arm unit tests
  starboard/android/arm/cobalt/configuration.py
  starboard/android/arm/test_filters.py
Due: yapf, pylint

Add expected H5vccStorage::SetQuota functionality
  cobalt/cache/cache.cc
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage_resource_type_quota_bytes_dictionary.idl
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
Due: cpplint, clang-format

Consume CSP headers and apply them to workers
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/worker_csp_test.html
  cobalt/black_box_tests/testdata/worker_csp_test.js
  cobalt/black_box_tests/tests/worker_csp_test.py
  cobalt/black_box_tests/threaded_web_server.py
  cobalt/dom/html_script_element.cc
  cobalt/loader/loader_factory.cc
  cobalt/loader/loader_test.cc
  cobalt/loader/script_loader_factory.cc
  cobalt/loader/script_loader_factory.h
  cobalt/loader/text_decoder.h
  cobalt/web/csp_violation_reporter.cc
  cobalt/worker/worker.cc
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Rename black box tests from test_simple to the name of the test.
  cobalt/black_box_tests/tests/allow_eval.py
  cobalt/black_box_tests/tests/cancel_sync_loads_when_suspended.py
  cobalt/black_box_tests/tests/conceal_visibility.py
  cobalt/black_box_tests/tests/disable_eval_with_csp.py
  cobalt/black_box_tests/tests/freeze_timers.py
  cobalt/black_box_tests/tests/freeze_visibility.py
  cobalt/black_box_tests/tests/http_cache.py
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/black_box_tests/tests/persistent_cookie.py
  cobalt/black_box_tests/tests/preload_font.py
  cobalt/black_box_tests/tests/preload_launch_parameter.py
  cobalt/black_box_tests/tests/preload_visibility.py
  cobalt/black_box_tests/tests/retry_async_script_loads_after_suspend.py
  cobalt/black_box_tests/tests/service_worker_message_test.py
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/black_box_tests/tests/signal_handler_doesnt_crash.py
  cobalt/black_box_tests/tests/suspend_visibility.py
  cobalt/black_box_tests/tests/text_encoding_test.py
  cobalt/black_box_tests/tests/timer_hit_after_preload.py
  cobalt/black_box_tests/tests/timer_hit_in_preload.py
  cobalt/black_box_tests/tests/web_platform_tests.py
  cobalt/black_box_tests/tests/web_worker_test.py
  cobalt/black_box_tests/tests/worker_csp_test.py
Due: yapf, pylint

Fix WasmCode::ConcatenateBytes.
  third_party/v8/src/wasm/wasm-code-manager.cc
Due: cpplint, clang-format

Revert "Disable failing android-arm unit tests"
  starboard/android/arm/cobalt/configuration.py
  starboard/android/arm/test_filters.py
Due: yapf, pylint

[nplb] Add mime tests for float frame rates
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Enable crashpad_database_util target
  third_party/crashpad/tools/BUILD.gn
  third_party/crashpad/tools/crashpad_database_util.cc
Due: cpplint, clang-format

Add all deps to mock install target
  starboard/build/install/no_install.gni
Due: none

[android] Prevent passthrough race condition
  starboard/android/shared/audio_renderer_passthrough.h
Due: cpplint, clang-format

[XB1] Implement pass-through audio support
  starboard/shared/win32/audio_decoder.cc
  starboard/shared/win32/audio_transform.cc
  starboard/shared/win32/win32_audio_decoder.cc
  starboard/win/shared/BUILD.gn
Due: cpplint, clang-format

Pin Nodejs install to v16
  docker/linux/base/build/Dockerfile
Due: none

Fix CHECK related build error for AOSP
  third_party/crashpad/tools/BUILD.gn
  third_party/protobuf/src/google/protobuf/stubs/shared_ptr.h
Due: cpplint, clang-format

[XB1] Update pass-through audio format
  starboard/shared/win32/audio_transform.cc
Due: cpplint, clang-format

Implement Service-Worker-Allowed.
  cobalt/black_box_tests/testdata/black_box_js_test_utils.js
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test_script.js
  cobalt/black_box_tests/testdata/service_worker_test_worker.js
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/dom/html_script_element.cc
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/loader/script_loader_factory.cc
  cobalt/loader/script_loader_factory.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, yapf, pylint, clang-format

Move wasapi_include.h to shared win location
  starboard/shared/win32/audio_transform.cc
  starboard/shared/win32/wasapi_include.h
  starboard/shared/win32/win32_audio_decoder.cc
  starboard/win/shared/BUILD.gn
Due: cpplint, clang-format

Bring changes from the GitHub.
  docker-compose-windows.yml
  docker-compose.yml
  docker/linux/raspi/Dockerfile
  docker/linux/unittest/Dockerfile
  starboard/build/platforms.py
  tools/copy_and_filter_out_dir.py
  tools/create_archive.py
  tools/worker_tools.py
Due: yapf, pylint

Have win32 use its own i18n files
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
  starboard/win/win32/BUILD.gn
  starboard/win/win32/i18n/BUILD.gn
  starboard/win/win32/i18n/en.xlb
Due: none

Update http_cache_test to check transferSize
  cobalt/black_box_tests/testdata/http_cache.html
  cobalt/black_box_tests/testdata/http_cache_test_resources/http_cache.txt
  cobalt/black_box_tests/tests/http_cache.py
Due: yapf, pylint

[Android] Update MediaSession state when it changes to none
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Add return value for mocked function.
  cobalt/dom/html_element_test.cc
Due: cpplint_test, clang-format

Fix pre-commit internal file check
  .pre-commit-config.yaml
Due: none

Destroy the image cache before the animated image tracker.
  base/single_thread_task_runner.cc
  cobalt/browser/web_module.cc
Due: cpplint, clang-format

Move internal services to internal docker compose
  docker-compose-windows.yml
Due: none

Remove spurious DCHECK causing assert on startup.
  net/http/http_cache.cc
Due: cpplint, clang-format

Fix race condition when new WebModule is created.
  cobalt/black_box_tests/testdata/web_worker_test.html
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/layout_tests/layout_snapshot.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/url_utils.cc
  cobalt/webdriver/session_driver.cc
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
Due: cpplint, cpplint_test, clang-format

[osk] move color parser to Cobalt side
  cobalt/browser/on_screen_keyboard_starboard_bridge.cc
  cobalt/browser/on_screen_keyboard_starboard_bridge.h
  cobalt/dom/on_screen_keyboard.cc
  cobalt/dom/on_screen_keyboard.h
  cobalt/dom/on_screen_keyboard.idl
  cobalt/dom/on_screen_keyboard_bridge.h
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/extension/on_screen_keyboard.h
Due: cpplint, cpplint_test, clang-format

[xb1] Increasing duration in Player components tests for avc decoder.
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

[XB1] Fix bt709 to bt2020 conversion
  third_party/angle/src/libANGLE/renderer/d3d/DynamicHLSL.cpp
Due: cpplint, clang-format
