Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[Andoird] Enable flaky decoder tests with logs
  starboard/android/shared/gyp_configuration.py
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.cc
Due: cpplint, yapf, pylint, clang-format

Initial splash screen cleanup.
  cobalt/browser/browser_module.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format

Add fallback_splash_screen_topics command line flag.
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
Due: cpplint, clang-format

Add SplashScreenFallbackTopics to ConfigurationApi.
  cobalt/browser/application.cc
  cobalt/configuration/configuration.cc
  cobalt/configuration/configuration.h
  cobalt/extension/configuration.h
  cobalt/extension/extension_test.cc
  starboard/android/shared/configuration.cc
  starboard/common/configuration_defaults.cc
  starboard/common/configuration_defaults.h
  starboard/linux/shared/configuration.cc
  starboard/linux/x64x11/gczeal/configuration.cc
  starboard/linux/x64x11/skia/configuration.cc
  starboard/raspi/2/skia/configuration.cc
  starboard/raspi/shared/configuration.cc
  starboard/stub/configuration.cc
Due: cpplint, cpplint_test, clang-format

Revert "Revert "Allow for per-topic SplashScreen caching.""
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/dom_test.gyp
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_link_element.h
  cobalt/dom/html_link_element_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, cpplint_test, clang-format

Get correct timezone offset in V8 starboard port
  cobalt/bindings/run_cobalt_bindings_tests.py
  cobalt/bindings/testing/date_bindings_test.cc
  v8/src/base/platform/platform-starboard.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Use V8's new RoundUp function
  v8/src/base/platform/platform-starboard.cc
Due: cpplint, clang-format

Filter frequently flaky XHR Web Platform tests
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint

Remove unused json parsing code
  build/json_schema_bundle_compile.gypi
  build/json_schema_compile.gypi
  build/json_to_struct.gypi
  build/shim_headers.gypi
  third_party/libpng/libpng.gyp
Due: none

Remove unused macros and constants
  starboard/android/shared/configuration_constants.cc
  starboard/configuration.h
  starboard/configuration_constants.h
  starboard/contrib/tizen/armv7l/configuration_public.h
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/configuration_constants.cc
  starboard/linux/shared/configuration_public.h
  starboard/raspi/shared/configuration_constants.cc
  starboard/shared/starboard/configuration_constants_compatibility_defines.h
  starboard/stub/configuration_constants.cc
  starboard/win/shared/configuration_constants.cc
Due: cpplint, clang-format

Remove unused macros and constants
  starboard/android/shared/configuration_constants.cc
  starboard/configuration.h
  starboard/configuration_constants.h
  starboard/contrib/tizen/armv7l/configuration_public.h
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/configuration_constants.cc
  starboard/linux/shared/configuration_public.h
  starboard/raspi/shared/configuration_constants.cc
  starboard/shared/starboard/configuration_constants_compatibility_defines.h
  starboard/stub/configuration_constants.cc
Due: cpplint, clang-format

Adopt IS_CI env variable to speed up builds
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint

Declare |elements| in cobalt_runner.py before returning.
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Revert "Declare |elements| in cobalt_runner.py before returning."
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Fix the mutex header in the mutex implementations.
  starboard/nplb/mutex_acquire_test.cc
  starboard/nplb/mutex_acquire_try_test.cc
  starboard/nplb/mutex_create_test.cc
  starboard/nplb/mutex_destroy_test.cc
  starboard/shared/pthread/mutex_acquire.cc
  starboard/shared/pthread/mutex_acquire_try.cc
  starboard/shared/pthread/mutex_create.cc
  starboard/shared/pthread/mutex_destroy.cc
  starboard/shared/pthread/mutex_release.cc
  starboard/shared/stub/mutex_acquire.cc
  starboard/shared/stub/mutex_acquire_try.cc
  starboard/shared/stub/mutex_create.cc
  starboard/shared/stub/mutex_destroy.cc
  starboard/shared/stub/mutex_release.cc
Due: cpplint, cpplint_test, clang-format

Add Non-Evergreen ssl initialization.
  third_party/crashpad/util/net/http_transport_socket.cc
Due: cpplint, clang-format

Remove redundant calls to invalidate layout boxes for hybrid nav
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Move the pending restart checks in SbSystemRequestSuspend, SbSystemRequestFreeze
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_suspend.cc
Due: cpplint, clang-format

Allow all linux platforms to use crashpad.
  starboard/build/base_configuration.gypi
  starboard/elf_loader/elf_loader.gyp
  starboard/starboard.gyp
  third_party/crashpad/util/file/file_io.h
  third_party/crashpad/wrapper/wrapper.gyp
  third_party/mini_chromium/base/base.gyp
  third_party/mini_chromium/base/base_wrapper.h
  third_party/mini_chromium/base/files/file_path.h
  third_party/mini_chromium/base/logging.h
  third_party/mini_chromium/base/metrics/histogram_functions.h
  third_party/mini_chromium/base/strings/string16.h
  third_party/mini_chromium/base/strings/utf_string_conversion_utils.h
  third_party/mini_chromium/base/strings/utf_string_conversions.h
  third_party/zlib/zlib.gyp
Due: cpplint, clang-format

Let crashpad_handler be optional
  third_party/crashpad/wrapper/wrapper.cc
Due: cpplint, clang-format

Restructure media demo
  cobalt/demos/content/media-element-demo/.gitignore
  cobalt/demos/content/media-element-demo/README.md
  cobalt/demos/content/media-element-demo/README.txt
  cobalt/demos/content/media-element-demo/legacy/key-systems.html
  cobalt/demos/content/media-element-demo/legacy/key-systems.js
  cobalt/demos/content/media-element-demo/loop-playback.html
  cobalt/demos/content/media-element-demo/loop-playback.js
  cobalt/demos/content/media-element-demo/media-element-demo.html
  cobalt/demos/content/media-element-demo/media-element-demo.js
  cobalt/demos/content/media-element-demo/multi-video-demo.html
  cobalt/demos/content/media-element-demo/multi-video-demo.js
  cobalt/demos/content/media-element-demo/package-lock.json
  cobalt/demos/content/media-element-demo/package.json
  cobalt/demos/content/media-element-demo/progressive-demo.html
  cobalt/demos/content/media-element-demo/src/components/component.ts
  cobalt/demos/content/media-element-demo/src/components/download_buffer_info.ts
  cobalt/demos/content/media-element-demo/src/components/error_logger.ts
  cobalt/demos/content/media-element-demo/src/components/player.ts
  cobalt/demos/content/media-element-demo/src/components/router.ts
  cobalt/demos/content/media-element-demo/src/components/source_buffer_info.ts
  cobalt/demos/content/media-element-demo/src/components/video_info.ts
  cobalt/demos/content/media-element-demo/src/components/watch.ts
  cobalt/demos/content/media-element-demo/src/index.ts
  cobalt/demos/content/media-element-demo/src/utils/download_buffer.ts
  cobalt/demos/content/media-element-demo/src/utils/downloader.ts
  cobalt/demos/content/media-element-demo/src/utils/enums.ts
  cobalt/demos/content/media-element-demo/src/utils/limited_source_buffer.ts
  cobalt/demos/content/media-element-demo/src/utils/media.ts
  cobalt/demos/content/media-element-demo/src/utils/observable.ts
  cobalt/demos/content/media-element-demo/src/utils/shared_values.ts
  cobalt/demos/content/media-element-demo/tsconfig.json
  cobalt/demos/content/media-element-demo/vp9_720p.webm
  cobalt/demos/content/media-element-demo/webpack.config.js
Due: none

Restructure media demo
  cobalt/demos/content/media-element-demo/README.md
  cobalt/demos/content/media-element-demo/README.txt
  cobalt/demos/content/media-element-demo/legacy/key-systems.html
  cobalt/demos/content/media-element-demo/legacy/key-systems.js
  cobalt/demos/content/media-element-demo/loop-playback.html
  cobalt/demos/content/media-element-demo/loop-playback.js
  cobalt/demos/content/media-element-demo/media-element-demo.html
  cobalt/demos/content/media-element-demo/media-element-demo.js
  cobalt/demos/content/media-element-demo/multi-video-demo.html
  cobalt/demos/content/media-element-demo/multi-video-demo.js
  cobalt/demos/content/media-element-demo/package-lock.json
  cobalt/demos/content/media-element-demo/package.json
  cobalt/demos/content/media-element-demo/progressive-demo.html
  cobalt/demos/content/media-element-demo/src/components/component.ts
  cobalt/demos/content/media-element-demo/src/components/download_buffer_info.ts
  cobalt/demos/content/media-element-demo/src/components/error_logger.ts
  cobalt/demos/content/media-element-demo/src/components/player.ts
  cobalt/demos/content/media-element-demo/src/components/router.ts
  cobalt/demos/content/media-element-demo/src/components/source_buffer_info.ts
  cobalt/demos/content/media-element-demo/src/components/video_info.ts
  cobalt/demos/content/media-element-demo/src/components/watch.ts
  cobalt/demos/content/media-element-demo/src/index.ts
  cobalt/demos/content/media-element-demo/src/utils/download_buffer.ts
  cobalt/demos/content/media-element-demo/src/utils/downloader.ts
  cobalt/demos/content/media-element-demo/src/utils/enums.ts
  cobalt/demos/content/media-element-demo/src/utils/limited_source_buffer.ts
  cobalt/demos/content/media-element-demo/src/utils/media.ts
  cobalt/demos/content/media-element-demo/src/utils/observable.ts
  cobalt/demos/content/media-element-demo/src/utils/shared_values.ts
  cobalt/demos/content/media-element-demo/tsconfig.json
  cobalt/demos/content/media-element-demo/vp9_720p.webm
  cobalt/demos/content/media-element-demo/webpack.config.js
Due: none

Minor Evergreen automated test improvements.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Deprected SB_TRUE and SB_FALSE.
  starboard/configuration.h
Due: cpplint, clang-format

Write 10s of audio into SbPlayer for preroll
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
