Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN] Migrate pedantic warnings to GN
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/build/doc/migration_changes.md
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
  starboard/stub/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/configuration.gni
Due: none

[GN][Raspi] Add detailed instructions on stub to platform gn builds.
  starboard/build/doc/gn_migrate_stub_to_platform.md
  starboard/build/doc/migrating_gyp_to_gn.md
Due: none

Update the PlayStation shaders.
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_circle_color_scale_threshold_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_circle_color_scale_thresholds.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_coverage_scale_threshold_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_coverage_scale_thresholds.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_coverage_scale_thresholds_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_coverage_scale_thresholds_3.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_decal_scaletranslate_texdom_texturew_threshold.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_quad_scale_threshold.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_quad_scale_threshold_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_quad_scale_threshold_3.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_quad_scale_thresholds.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_quad_scale_thresholds_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_texindex_texturew_threshold.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_texindex_texturew_threshold_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_texindex_texturew_threshold_3.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_texindex_texturew_thresholds.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_threshold.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_thresholds.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_bias_border_color_scale_thresholds_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_border_color_coverage_texture.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_border_color_quad_texture.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_border_color_quad_texture_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_border_color_texindex_texturew.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_edges_texindex_texturew_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_ellipse.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_ellipse_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_ellipse_3.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_ellipse_scale_texture.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texindex_texturew.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texindex_texturew_2.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texindex_texturew_3.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texindex_texturew_4.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texindex_texturew_5.glsl
Due: none

Add missing headers
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
Due: cpplint_test, clang-format

Suspend WindowTimers when Frozen.
  cobalt/black_box_tests/testdata/freeze_timers.html
  cobalt/black_box_tests/tests/freeze_timers.py
  cobalt/dom/window.cc
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
Due: cpplint, yapf, pylint, clang-format

[media] Refine mime parameter parsing to reduce code boilerplate
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
Due: cpplint, cpplint_test, clang-format

[android] Add mime parameter for hdr endianness
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Fix device year does not work on QA & release build
  starboard/android/shared/system_get_property.cc
Due: cpplint, clang-format

Fix incorrect type int -> size_t in mime_type.cc
  starboard/shared/starboard/media/mime_type.cc
Due: cpplint, clang-format

Adding a Dockerfile for docsite generation.
  docker/docsite/README.md
Due: none

Display mic icon when voice capable RCU detected on Android TV
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Refine logging in cobalt media
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/base/starboard_player.cc
  cobalt/media/player/web_media_player_impl.cc
Due: cpplint, clang-format

Add override parameters for UA string fields
  cobalt/black_box_tests/testdata/override_ua_parameters.html
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Optimize Docker Windows images for size
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/list_python_processes.py
  docker/windows/base/visualstudio2017/Dockerfile
  docker/windows/win32/Dockerfile
Due: yapf, pylint

Fix failed black box tests
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Adds Stadia service Starboard classes.
  starboard/contrib/stadia/README.md
  starboard/contrib/stadia/clients/vendor/public/stadia_lifecycle.h
  starboard/contrib/stadia/clients/vendor/public/stadia_plugin.h
  starboard/contrib/stadia/get_platform_service_api.cc
  starboard/contrib/stadia/get_platform_service_api.h
Due: cpplint, clang-format

[nplb] Remove PlayReady data from drm_helpers.h
  starboard/nplb/drm_helpers.h
Due: cpplint, clang-format

Modifies Stadia's public header files to be more useful with dynamic linking.
  starboard/contrib/stadia/clients/vendor/public/stadia_export.h
  starboard/contrib/stadia/clients/vendor/public/stadia_lifecycle.h
  starboard/contrib/stadia/clients/vendor/public/stadia_plugin.h
Due: cpplint, clang-format

Add demo page for Performance lifecycle timing.
  cobalt/demos/content/performance-api-demo/performance-lifecycle-timing-demo.html
  cobalt/demos/content/performance-api-demo/performance-resource-timing-demo.html
Due: none

Create docker entry for pre-commit hooks
  docker/precommit_hooks/Dockerfile
Due: none

Set sabi starboard API version to 13 for 22.lts.1+
  starboard/sabi/sabi.py
Due: yapf, pylint

Adds an example build configuration for Stadia.
  starboard/contrib/linux/README.md
  starboard/contrib/linux/stadia/__init__.py
  starboard/contrib/linux/stadia/atomic_public.h
  starboard/contrib/linux/stadia/configuration_public.h
  starboard/contrib/linux/stadia/gyp_configuration.gypi
  starboard/contrib/linux/stadia/gyp_configuration.py
  starboard/contrib/linux/stadia/libraries.gypi
  starboard/contrib/linux/stadia/main.cc
  starboard/contrib/linux/stadia/starboard_platform.gyp
  starboard/contrib/linux/stadia/system_get_extensions.cc
  starboard/contrib/linux/stadia/thread_types_public.h
  starboard/contrib/stadia/README.md
  starboard/contrib/stadia/get_platform_service_api.cc
  starboard/contrib/stadia/x11/application_stadia_x11.cc
  starboard/contrib/stadia/x11/application_stadia_x11.h
Due: cpplint, yapf, pylint, clang-format

Fix inline box child box after wrap misalignment
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/box_generator.cc
  cobalt/layout/inline_container_box.cc
  cobalt/layout/inline_container_box.h
  cobalt/layout/used_style.cc
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-bidi-split-occurs-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-bidi-split-occurs.html
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-2-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-2.html
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs.html
  cobalt/layout_tests/testdata/css-2-1/layout_tests.txt
  cobalt/layout_tests/testdata/css-text-3/5-collapsible-leading-white-space-should-not-prevent-soft-wrap-opportunity-expected.png
Due: cpplint, clang-format

Remove deprecated javascript_engine build variable
  cobalt/black_box_tests/tests/web_debugger.py
  cobalt/build/cobalt_configuration.gypi
  cobalt/extension/configuration.h
  cobalt/script/engine.gyp
  cobalt/script/v8c/v8c_variables.gypi
  starboard/android/shared/gyp_configuration.py
  starboard/build/platform_configuration.py
  starboard/evergreen/shared/gyp_configuration.gypi
  starboard/evergreen/shared/gyp_configuration.py
  starboard/linux/shared/gyp_configuration.py
  starboard/raspi/2/gyp_configuration.py
  starboard/stub/gyp_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: cpplint, yapf, pylint, clang-format

Reword sabi SB_API_VERSION documentation
  starboard/sabi/sabi.py
Due: yapf, pylint

Send lifecycle DOM events before stopping layout.
  cobalt/browser/web_module.cc
Due: cpplint, clang-format

Disable executable stack for crashpad_handler.
  third_party/crashpad/handler/handler.gyp
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
