Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Refactor TopmostEventTarget
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Have TopmostEventTarget respect cropped content
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Disable failing WebPlatformTests
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Disable WPT registration_basic and DispatchEvent
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
Due: none

Persist ServiceWorker HttpResponseHeaders
  cobalt/worker/service_worker_persistent_settings.cc
Due: cpplint, clang-format

Temporarily disable persistent ServiceWorkers
  cobalt/black_box_tests/black_box_tests.py
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
Due: cpplint, yapf, pylint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
