Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[BG] Clean up background mode demo page.
  cobalt/demos/content/background-mode-demo/background-mode-demo.js
Due: none

Fix namespace of Get*Representation in media_util.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/player/input_buffer_internal.cc
Due: cpplint, clang-format

Implement DOM APIs for Memory Performance
  cobalt/browser/browser_module.cc
  cobalt/browser/debug_console.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/event_target_test.cc
  cobalt/dom/memory_info.cc
  cobalt/dom/memory_info.h
  cobalt/dom/memory_info.idl
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/testing/stub_window.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media.gyp
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/websocket/web_socket_impl_test.cc
Due: cpplint, cpplint_test, clang-format

Set up Lottie coverage tests
  cobalt/renderer/rasterizer/lottie_coverage_pixel_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/pixel_test_fixture.cc
  cobalt/renderer/rasterizer/pixel_test_fixture.h
  cobalt/renderer/rasterizer/testdata/lottie_coverage/.gitignore
  cobalt/renderer/rasterizer/testdata/lottie_coverage/EXCLUDE.files
  cobalt/renderer/rasterizer/testdata/lottie_coverage/white_material_wave_loading-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/white_material_wave_loading.json.sha1
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format

Set up Lottie coverage tests
  cobalt/renderer/rasterizer/lottie_coverage_pixel_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/pixel_test_fixture.cc
  cobalt/renderer/rasterizer/pixel_test_fixture.h
  cobalt/renderer/rasterizer/testdata/lottie_coverage/EXCLUDE.files
  cobalt/renderer/rasterizer/testdata/lottie_coverage/white_material_wave_loading-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/white_material_wave_loading.json.sha1
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format

Make V8 8.8 compile on Android
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Ensure builders use same image for clang builds
  docker-compose.yml
Due: none

[V8] Fix crash during exception logging, include function names.
  cobalt/script/v8c/v8c_engine.cc
Due: cpplint, clang-format

Fix Lottie coverage test build failures
  cobalt/renderer/rasterizer/lottie_coverage_pixel_test.cc
Due: cpplint_test, clang-format

Add open source Lottie test data
  cobalt/renderer/rasterizer/testdata/lottie_coverage/finger_print-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/finger_print.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/gesture_go_back-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/gesture_go_back.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/gesture_go_home-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/gesture_go_home.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/heart_preloader-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/heart_preloader.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/ripple_loading_animation-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/ripple_loading_animation.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-3d-2planes-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-3d-2planes.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-effects-tranform-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-effects-tranform.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-fill-effect-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-fill-effect.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-gradient-opacity-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-gradient-opacity.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-gradient-ramp-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-gradient-ramp.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-linear-wipe-effect-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-linear-wipe-effect.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-luma-matte-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-luma-matte.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-mask-feather-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-mask-feather.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-matte-blendmode-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-matte-blendmode.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-motiontile-effect-phase-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-motiontile-effect-phase.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-shift-channels-effect-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-shift-channels-effect.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-tritone-effect-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-tritone-effect.json.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-venetianblinds-effect-expected.png.sha1
  cobalt/renderer/rasterizer/testdata/lottie_coverage/skottie-venetianblinds-effect.json.sha1
Due: none

Make StarboardBridge.getUserAuthorizer() public
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Create Dockerfile, docker-compose.yml to run cobalt.dev locally.
  docker/docsite/Dockerfile
  docker/docsite/Gemfile
  docker/docsite/README.md
  docker/docsite/docker-compose.yml
Due: none

[android] Guesstimate fps in video decoder
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

[Android] Set max size to 8k only for av1
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

[linux] Include libdav1d binary for AV1 decoding
  starboard/linux/shared/gyp_configuration.py
  starboard/linux/shared/media_is_video_supported.cc
  starboard/linux/shared/player_components_factory.cc
  starboard/linux/shared/starboard_platform.gypi
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  starboard/shared/libdav1d/dav1d_video_decoder.h
  third_party/libdav1d/include/dav1d/dav1d.h
  third_party/libdav1d/platforms/linux-x64/README.md
  third_party/libdav1d/platforms/linux-x64/libdav1d-linux-x64.sh
  third_party/libdav1d/platforms/linux-x64/libdav1d.a
Due: cpplint, yapf, pylint, clang-format

Filter skottie_matte_blendmode test on android-x86
  starboard/android/x86/cobalt/configuration.py
Due: yapf, pylint

Refactor JobQueue::RemoveJobsByOwner()
  starboard/shared/starboard/player/job_queue.cc
Due: cpplint, clang-format

[Android] Refine max size selection
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
