Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Add PerformanceObserverEntryList idl interface.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
  cobalt/dom/performance_observer_entry_list.idl
Due: cpplint, clang-format

Add Font Cobalt Extension.
  cobalt/extension/extension_test.cc
  cobalt/extension/font.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  starboard/stub/font.cc
  starboard/stub/font.h
  starboard/stub/starboard_platform.gyp
Due: cpplint, cpplint_test, clang-format

Port V8 to x86 platforms
  starboard/build/base_configuration.gypi
Due: none

Fix the path of the loaded installation manifest
  cobalt/updater/utils.cc
Due: cpplint, clang-format

Revert "[Skia m79] Fix renderer_test crash on raspi"
  third_party/skia/src/gpu/text/GrTextBlob.h
Due: cpplint, clang-format

[ICU] [clang-tidy] Apply modernize-loop-convert
  base/i18n/break_iterator_unittest.cc
Due: cpplint_test, clang-format

[ICU] Remove STARBOARD_OLD_ICU guard
  base/base.gyp
  base/i18n/break_iterator_unittest.cc
  base/i18n/rtl_unittest.cc
Due: cpplint_test, clang-format

Clean up: Remove redundant functions.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_entry_list.idl
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
  cobalt/dom/performance_observer_entry_list.idl
Due: cpplint, clang-format

[ICU] Specify utf-8 encoding for all dependent targets
  third_party/icu/icu.gyp
Due: none

Enable logging EGL and GLES error code on failure.
  cobalt/renderer/egl_and_gles.h
Due: cpplint, clang-format

Use map-to-mesh filter only in decode-to-texture mode
  cobalt/layout/replaced_box.cc
Due: cpplint, clang-format

[ICU] Fix Starboardization to resolve linker error
  third_party/icu/source/common/cmemory.cpp
  third_party/icu/source/i18n/decNumber.cpp
Due: cpplint, clang-format

[android] Remove byte order on hdrStaticInfo
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Deprecate gczeal config
  starboard/linux/x64x11/gczeal/atomic_public.h
  starboard/linux/x64x11/gczeal/configuration.cc
  starboard/linux/x64x11/gczeal/configuration.h
  starboard/linux/x64x11/gczeal/configuration_public.h
  starboard/linux/x64x11/gczeal/gyp_configuration.gypi
  starboard/linux/x64x11/gczeal/gyp_configuration.py
  starboard/linux/x64x11/gczeal/starboard_platform.gyp
  starboard/linux/x64x11/gczeal/starboard_platform_tests.gyp
  starboard/linux/x64x11/gczeal/system_get_extensions.cc
  starboard/linux/x64x11/gczeal/thread_types_public.h
Due: cpplint, yapf, pylint, clang-format

[BG] Force seek to media time on resume
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
Due: cpplint, clang-format

Add framework for automating Evergreen test cases.
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/app_key.sh
  starboard/evergreen/testing/shared/drain_file.sh
  starboard/evergreen/testing/shared/installation_slot.sh
  starboard/evergreen/testing/shared/wait_and_watch.sh
Due: none

Add HTML for Evergreen test cases.
  starboard/evergreen/testing/tests/empty.html
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/tseries.html
Due: none

Add Evergreen test cases.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/continuous_updates_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Add Linux support for the automated Evergreen test framework.
  starboard/evergreen/testing/linux/clean_up.sh
  starboard/evergreen/testing/linux/clear_storage.sh
  starboard/evergreen/testing/linux/create_file.sh
  starboard/evergreen/testing/linux/delete_file.sh
  starboard/evergreen/testing/linux/deploy_cobalt.sh
  starboard/evergreen/testing/linux/run_command.sh
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/linux/stop_cobalt.sh
Due: none

Add Raspberry Pi support for the automated Evergreen test framework.
  starboard/evergreen/testing/raspi/clean_up.sh
  starboard/evergreen/testing/raspi/clear_storage.sh
  starboard/evergreen/testing/raspi/create_file.sh
  starboard/evergreen/testing/raspi/delete_file.sh
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/run_command.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/raspi/stop_cobalt.sh
Due: none

Update Evergreen launcher, add script for BuildBot to run Evergreen tests.
  starboard/evergreen/shared/launcher.py
Due: yapf, pylint
