Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Improve NINJA_STATUS logging
  docker/linux/base/build/Dockerfile
Due: none

Resolve the style check failures
  cobalt/media_integration_tests/endurance/endurance_test.py
  cobalt/media_integration_tests/test_app.py
Due: yapf, pylint

clean up webdriver_listen_ip switch
  cobalt/CHANGELOG.md
  cobalt/browser/application.cc
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
Due: cpplint, clang-format

Fix in NINJA_STATUS for Linux
  docker/linux/base/build/Dockerfile
Due: none

Omit version in naming of GCC docker container
  docker-compose.yml
Due: none

[GN] Migrate content/browser/speech/speech.gyp:speech
  content/browser/speech/BUILD.gn
Due: none

Add ignored word to codespell
  .pre-commit-config.yaml
Due: none

[GN] migrate libpng to GN
  cobalt/BUILD.gn
  third_party/libpng/BUILD.gn
  third_party/libpng/METADATA
Due: none

Add prerequisite for GN migration for base library.
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
  testing/gmock_mutant.h
Due: cpplint, cpplint_test, clang-format

[GN] migrate renderer:default_options to GN
  cobalt/renderer/BUILD.gn
Due: none

Deprecate getRealMetrics from Cobalt >= API level 30
  starboard/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
Due: google-java-format, gcheckstyle

[GN] Disable unused ICU code
  third_party/icu/BUILD.gn
Due: none

Fix subsequent script execution after !async scripts error.
  cobalt/dom/html_script_element.cc
  cobalt/dom/html_script_element.h
Due: cpplint, clang-format

[GN] Add section in METADATA about import of BUILD.gn
  third_party/brotli/METADATA
  third_party/woff2/METADATA
Due: none

[GN] Migrate sqlite.gyp to GN
  cobalt/BUILD.gn
  third_party/sqlite/METADATA
Due: none

Adds a window parameter to Stadia's initialization.
  starboard/contrib/stadia/clients/vendor/public/stadia_export.h
  starboard/contrib/stadia/clients/vendor/public/stadia_lifecycle.h
  starboard/contrib/stadia/stadia_interface.cc
  starboard/contrib/stadia/stadia_interface.h
  starboard/contrib/stadia/x11/application_stadia_x11.cc
Due: cpplint, clang-format

[linux] Specify libdav1d max frame size
  starboard/shared/libdav1d/dav1d_video_decoder.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
