Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Add support for hybrid nav focus timer
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
  cobalt/ui_navigation/interface.cc
  cobalt/ui_navigation/interface.h
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
  starboard/ui_navigation.h
Due: cpplint, clang-format

[android] Add more information to dumpAllDecoders()
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle

[XB1] Fix for MultipleInvalidInput, MultipleValidInputsAfterInvalidInput tests
  starboard/shared/win32/win32_audio_decoder.cc
Due: cpplint, clang-format

[android] Dump all audio output devices on startup
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
Due: google-java-format, gcheckstyle

Fix porting formatting
  cobalt/site/docs/starboard/porting.md
Due: none

Remove tautological math libc defines.
  starboard/client_porting/poem/math_poem.h
Due: cpplint, clang-format

Refactor AudioTrackAudioSinkType::written_frames_
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
Due: cpplint, clang-format

Give partners access to pre-commit config
  .pre-commit-config.yaml
  download_resources.py
  precommit_hooks/custom_hooks/warn_that_starboard_interface_changed_wrapper.py
Due: yapf, pylint

[android] Refine tunnel mode pipeline
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/video_decoder.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[android] Remove MediaDecoder::JoinOnThreads()
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
Due: cpplint, clang-format

Fix for auto margins on flex containers.
  cobalt/layout/flex_container_box.cc
  cobalt/layout_tests/testdata/css3-flexbox/flex-container-auto-margins-expected.png
  cobalt/layout_tests/testdata/css3-flexbox/flex-container-auto-margins.html
  cobalt/layout_tests/testdata/css3-flexbox/layout_tests.txt
Due: cpplint, clang-format

[BG] Android: Fix artwork image not updated.
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

[android] Log when encoded media data is too large
  starboard/android/shared/media_decoder.cc
Due: cpplint, clang-format

[linux] Enable vp9 hdr playback
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/media_is_video_supported.cc
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/x64x11/blittergles/shared/gyp_configuration.gypi
  starboard/linux/x64x11/clang/gyp_configuration.gypi
  starboard/linux/x64x11/gcc/gyp_configuration.gypi
  starboard/linux/x64x11/shared/gyp_configuration.gypi
  starboard/linux/x64x11/shared/libraries.gypi
  starboard/shared/libvpx/vpx_library_loader.cc
  starboard/shared/libvpx/vpx_library_loader.h
  starboard/shared/libvpx/vpx_video_decoder.cc
  starboard/shared/libvpx/vpx_video_decoder.h
  starboard/tools/toolchain/clangxx.py
  third_party/libvpx/libvpx.gyp
  third_party/libvpx/platforms/linux-x64/README.md
  third_party/libvpx/platforms/linux-x64/libvpx-linux-x64.sh
  third_party/libvpx/platforms/linux-x64/libvpx.a
  third_party/libvpx/platforms/linux-x64/vp9_rtcd.h
  third_party/libvpx/platforms/linux-x64/vpx_config.c
  third_party/libvpx/platforms/linux-x64/vpx_config.h
  third_party/libvpx/platforms/linux-x64/vpx_dsp_rtcd.h
  third_party/libvpx/platforms/linux-x64/vpx_scale_rtcd.h
  third_party/libvpx/platforms/linux-x64/vpx_version.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vp8.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vp8cx.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vp8dx.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_codec.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_decoder.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_encoder.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_frame_buffer.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_image.h
  third_party/vpx_includes/vpx.1.6.1/vpx/vpx_integer.h
Due: cpplint, yapf, pylint, clang-format

Add failure condition to SbPlayerCreate()
  starboard/android/shared/player_create.cc
  starboard/shared/starboard/player/player_create.cc
Due: cpplint, clang-format

Add time estimate logging for clang docker builds
  docker/linux/clang-3-6/Dockerfile
Due: none

[win32] Unfilter AudioDecoderTest.MultipleInvalidInput
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint
