Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Submit subrepo info to carbon-airlock
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Add PerformanceEntry idl interface.
  cobalt/dom/performance_entry.idl
Due: none

Add PerformanceObserverInit idl interface.
  cobalt/dom/performance_observer_init.idl
Due: none

Add PerformanceObserver idl interface.
  cobalt/dom/performance_observer.idl
Due: none

Remove depot_tools download from Dockerfiles
  docker/linux/base/build/Dockerfile
Due: none

Remove depot_tools download from Dockerfiles
  docker/linux/base/build/Dockerfile
  docker/windows/win32/Dockerfile
Due: none

Fix ability to sync to keyboxes
  cobalt/build/sync_to_build_id.py
Due: yapf, pylint

[icu] Fix compiler/linker errors
  base/i18n/break_iterator.cc
  base/i18n/time_formatting.cc
  cobalt/layout/paragraph.cc
  third_party/icu/icu.gyp
  third_party/icu/source/common/cmemory.c
  third_party/icu/source/common/cmemory.cpp
  third_party/icu/source/common/cmemory.h
  third_party/icu/source/common/cwchar.c
  third_party/icu/source/common/cwchar.cpp
  third_party/icu/source/common/uchar.c
  third_party/icu/source/common/uchar.cpp
  third_party/icu/source/common/udata.cpp
  third_party/icu/source/common/umapfile.cpp
  third_party/icu/source/common/ustrcase.cpp
  third_party/icu/source/i18n/decNumber.c
  third_party/icu/source/i18n/decNumber.cpp
  third_party/icu/source/i18n/double-conversion-utils.h
  third_party/icu/source/starboard/atomic_sb.h
  third_party/icu/source/starboard/mutex_sb.cpp
  third_party/icu/source/starboard/mutex_sb.h
  third_party/libxml/src/encoding.c
Due: cpplint, clang-format

Update xdg_mime licenses.
  base/third_party/xdg_mime/README.chromium
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
Due: none

v8 8.8 on ps4
  cobalt/script/v8c/isolate_fellowship.cc
  v8/src/wasm/module-compiler.cc
  v8/src/wasm/wasm-code-manager.cc
  v8/src/wasm/wasm-code-manager.h
Due: cpplint, clang-format

Add more system properties in the update request
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Rename start_cobalt to cycle_cobalt
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/continuous_updates_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Abstract out cycle_cobalt functionality
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/cycle_cobalt.sh
Due: none

Define gyp variable for Evergreen Lite
  starboard/build/base_configuration.gypi
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb_evergreen_compat_tests/checks.h
  starboard/nplb/nplb_evergreen_compat_tests/nplb_evergreen_compat_tests.gyp
  starboard/raspi/shared/starboard_platform.gypi
  starboard/starboard_base_target.gypi
Due: cpplint, clang-format

Create evergreen test to check if crashpad runs
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/tests/crashpad_runs_test.sh
Due: none

[android] Check for null AudioTrack
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle

Fix rev info check for source builder
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Add DOMHighResTimeStamp definition and helper functions.
  cobalt/dom/dom.gyp
Due: none

Always check for bug in commit message
  .pre-commit-config.yaml
Due: none

Create Dockerfile, docker-compose.yml to run cobalt.dev locally.
  docker/docsite/Dockerfile
  docker/docsite/Gemfile
  docker/docsite/README.md
  docker/docsite/docker-compose.yml
Due: none

Change performance__high_resolution_time file name.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_high_resolution_time.h
  cobalt/dom/performance_high_resolution_time.idl
Due: cpplint, clang-format
