Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Enable update_checker_unittest
  components/update_client/update_checker_unittest.cc
  components/update_client/update_client.gyp
Due: cpplint_test, clang-format

Enable crash stack sanitization.
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/wrapper/wrapper.cc
Due: cpplint, clang-format

Fix a comment in starboard/build/deploy.gypi.
  starboard/build/deploy.gypi
Due: none

Remove bug reference from TODO
  starboard/linux/shared/gyp_configuration.py
Due: yapf, pylint

[GN] Migrate cobalt/ui_navigation
  cobalt/BUILD.gn
  cobalt/ui_navigation/BUILD.gn
Due: none

Ignore sanitization_information gn check
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/wrapper/wrapper.cc
Due: cpplint, clang-format

[GN] Migrate url.gyp to GN
  cobalt/base/BUILD.gn
  cobalt/network_bridge/BUILD.gn
  url/BUILD.gn
Due: none

[GN] Let sb platforms enable gl angle
  starboard/linux/x64x11/platform_configuration/configuration.gni
  third_party/angle/gni/angle.gni
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
