Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix Background mode fails upon suspend the app.
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
Due: cpplint, clang-format

Revert "Revert "[Android]: Fix black screen upon back navigation issue.""
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_platform.gypi
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Do not allow empty style tags to bypass CSP.
  cobalt/dom/html_style_element.cc
Due: cpplint, clang-format

Preload more shaders to reduce UI hiccups
  cobalt/renderer/rasterizer/egl/shader_program_manager.cc
Due: cpplint, clang-format

[android] Add AudioDeviceCallback logs
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
Due: google-java-format, gcheckstyle

Revert "Revert "Animated WebP layout test""
  cobalt/loader/image/animated_webp_image.cc
  cobalt/loader/image/animated_webp_image.h
  cobalt/loader/image/image_decoder_mock.h
  cobalt/loader/image/image_decoder_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/DebugAnimatedWebPFrame-expected.png
  cobalt/renderer/rasterizer/testdata/loading-spinner-opaque.webp
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format

fix memory leaking issue in image_decoder_mock
  cobalt/loader/image/image_decoder_mock.h
Due: cpplint, clang-format

Customize the TLS into Starboard ThreadLocalKey
  third_party/libjpeg-turbo/turbojpeg.c
Due: none

[Android] synchronize CobaltService's onClose and sendToClient.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  starboard/android/shared/platform_service.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Enable NEON optimization for arm arch.
  third_party/libjpeg-turbo/jconfig.h
  third_party/libjpeg-turbo/libjpeg.gyp
  third_party/libjpeg-turbo/simd/arm/aarch32/jchuff-neon.c
Due: cpplint, clang-format

Fix lifecycle timing never added to entry buffer issue.
  cobalt/dom/performance.cc
Due: cpplint, clang-format

Change the -mfpu flag from `neon-vfpv3` to `neon`
  third_party/libjpeg-turbo/libjpeg.gyp
Due: none

Fix zip_unittests failing on GKE windows builds
  docker/windows/base/build/Dockerfile
  starboard/win/win32/cobalt/configuration.py
Due: yapf, pylint

Fix lifecycle timing conversion issue.
  cobalt/dom/performance_high_resolution_time.h
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

Filter failed player components test
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Mark PlayerComponentsTest.Pause flaky
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

Fix push commands on contributing pages
  CONTRIBUTING.md
  cobalt/site/docs/contributors/index.md
Due: none

Filter flaky android-x86 tests
  starboard/android/x86/gyp_configuration.py
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, yapf, pylint, clang-format

Add Media Integration Test Suite
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/media/base/playback_statistics.cc
  cobalt/media/base/playback_statistics.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media_integration_tests/__init__.py
  cobalt/media_integration_tests/_env.py
  cobalt/media_integration_tests/endurance/__init__.py
  cobalt/media_integration_tests/endurance/_env.py
  cobalt/media_integration_tests/functionality/__init__.py
  cobalt/media_integration_tests/functionality/_env.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/media_integration_tests_runner.py
  cobalt/media_integration_tests/performance/__init__.py
  cobalt/media_integration_tests/performance/_env.py
  cobalt/media_integration_tests/test_app.py
  cobalt/media_integration_tests/test_case.py
  cobalt/tools/automated_testing/cobalt_runner.py
  cobalt/webdriver/keyboard.cc
  cobalt/webdriver/window_driver.cc
Due: cpplint, yapf, pylint, clang-format

Add media integration functionality tests
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media_integration_tests/functionality/general_playback.py
  cobalt/media_integration_tests/functionality/live_playback.py
  cobalt/media_integration_tests/functionality/playback_controls.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/test_app.py
  cobalt/webdriver/keyboard.cc
Due: cpplint, yapf, pylint, clang-format

Move media integration testing urls to a util file
  cobalt/media_integration_tests/functionality/general_playback.py
  cobalt/media_integration_tests/functionality/live_playback.py
  cobalt/media_integration_tests/functionality/playback_controls.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/test_util.py
Due: yapf, pylint

Add media integration performance tests
  cobalt/media_integration_tests/functionality/live_playback.py
  cobalt/media_integration_tests/functionality/playback_controls.py
  cobalt/media_integration_tests/performance/codec_capability.py
  cobalt/media_integration_tests/performance/dropped_frames.py
  cobalt/media_integration_tests/performance/start_latency.py
  cobalt/media_integration_tests/test_app.py
  cobalt/media_integration_tests/test_case.py
  cobalt/media_integration_tests/test_util.py
  starboard/android/shared/launcher.py
Due: yapf, pylint

Add media integration endurance tests
  cobalt/media_integration_tests/endurance/endurance_test.py
  cobalt/media_integration_tests/functionality/live_playback.py
  cobalt/media_integration_tests/functionality/playback_controls.py
  cobalt/media_integration_tests/performance/start_latency.py
  cobalt/media_integration_tests/test_app.py
  cobalt/media_integration_tests/test_util.py
Due: yapf, pylint

Refine popup handling in media integration tests
  cobalt/media_integration_tests/test_app.py
Due: yapf, pylint

Refine media integration test cases
  cobalt/media_integration_tests/functionality/general_playback.py
  cobalt/media_integration_tests/functionality/live_playback.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/performance/dropped_frames.py
  cobalt/media_integration_tests/performance/start_latency.py
  cobalt/media_integration_tests/test_app.py
Due: yapf, pylint

Reset last action timestamp in endurance test
  cobalt/media_integration_tests/endurance/endurance_test.py
Due: yapf, pylint

Remove usage of enum in media integration tests
  cobalt/media_integration_tests/test_app.py
Due: yapf, pylint

[GN] Don't check includes for raspi
  starboard/raspi/shared/BUILD.gn
Due: none

[GN] Migrate pedantic warnings to GN
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/build/doc/migration_changes.md
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
  starboard/stub/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/configuration.gni
Due: none
