Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Make URL constructible.
  cobalt/web/BUILD.gn
  cobalt/web/url.cc
  cobalt/web/url.h
  cobalt/web/url.idl
  cobalt/web/url_test.cc
  cobalt/web/url_utils.h
Due: cpplint, cpplint_test, clang-format

Fix broken link because of line wrap.
  cobalt/doc/voice_search.md
Due: none

[android] Add RRO for min audio sink buffer size
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/examples/overlays/res/xml/overlays.xml
  starboard/android/shared/audio_sink_get_min_buffer_size_in_frames.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Add web platform tests for window_timers in workers
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
  third_party/web_platform_tests/workers/interfaces/WorkerGlobalScope/close/setInterval.html
  third_party/web_platform_tests/workers/interfaces/WorkerGlobalScope/close/setInterval.js
  third_party/web_platform_tests/workers/interfaces/WorkerGlobalScope/close/setTimeout.html
  third_party/web_platform_tests/workers/interfaces/WorkerGlobalScope/close/setTimeout.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/001.html
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/001.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/002.html
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/002.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/003.html
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/003.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/004.html
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/004.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/005.html
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/005.js
Due: none

Add WorkerNavigator and WorkerLocation
  cobalt/BUILD.gn
  cobalt/browser/idl_files.gni
  cobalt/build/cobalt_configuration.py
  cobalt/dom/location.cc
  cobalt/dom/location.h
  cobalt/dom/location_test.cc
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/web/BUILD.gn
  cobalt/web/location_base.h
  cobalt/web/navigator_base.cc
  cobalt/web/navigator_base.h
  cobalt/web/url_utils.cc
  cobalt/web/url_utils.h
  cobalt/worker/BUILD.gn
  cobalt/worker/worker_location.h
  cobalt/worker/worker_location.idl
  cobalt/worker/worker_location_test.cc
  cobalt/worker/worker_navigator.cc
  cobalt/worker/worker_navigator.h
  cobalt/worker/worker_navigator.idl
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Pull timing stats out of DomStatTracker
  cobalt/dom/BUILD.gn
  cobalt/dom/dom_stat_tracker.cc
  cobalt/dom/dom_stat_tracker.h
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
  cobalt/dom/window_timers_test.cc
  cobalt/web/BUILD.gn
  cobalt/web/stat_tracker.cc
  cobalt/web/stat_tracker.h
Due: cpplint, cpplint_test, clang-format

Delete file reader object once ELF is loaded
  starboard/elf_loader/elf_loader_impl.cc
  starboard/elf_loader/elf_loader_impl.h
Due: cpplint, clang-format

Refine PlayerWorkerHandler Init() error handling
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: cpplint, clang-format

Revert "Revert "HttpCaching - delegate to Chromium backends.""
  cobalt/build/cobalt_configuration.py
  cobalt/layout_tests/testdata/web-platform-tests/cors/web_platform_tests.txt
  net/BUILD.gn
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
  net/disk_cache/cobalt/cobalt_disk_cache.cc
  net/disk_cache/cobalt/resource_type.h
  net/disk_cache/disk_cache.h
  net/disk_cache/simple/simple_backend_impl.cc
  net/disk_cache/simple/simple_index_file.cc
  net/disk_cache/simple/simple_index_file_starboard.cc
  net/disk_cache/simple/simple_synchronous_entry.cc
  net/disk_cache/simple/simple_version_upgrade.cc
  net/http/http_cache.cc
  net/http/http_cache_transaction.cc
  net/http/http_cache_transaction.h
  net/http/mock_http_cache.cc
  net/http/mock_http_cache.h
Due: cpplint, yapf, pylint, clang-format

Disable flaky web platform tests
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/003.js
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/005.js
Due: none

Refactor internal Windows Docker layers
  docker/windows/base/build/Dockerfile
Due: none

Cache storage capacity tests in h5vcc_storage.
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
Due: cpplint, clang-format

Filter failing task tests on Win32
  starboard/win/win32/cobalt/configuration.py
Due: yapf, pylint

Move Navigator interfaces from dom to web.
  cobalt/browser/BUILD.gn
  cobalt/browser/browser_module.cc
  cobalt/browser/idl_files.gni
  cobalt/browser/user_agent_platform_info.h
  cobalt/debug/BUILD.gn
  cobalt/dom/BUILD.gn
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/web/BUILD.gn
  cobalt/web/cobalt_ua_data_values.idl
  cobalt/web/cobalt_ua_data_values_interface.cc
  cobalt/web/cobalt_ua_data_values_interface.h
  cobalt/web/cobalt_ua_data_values_interface.idl
  cobalt/web/navigator_base.cc
  cobalt/web/navigator_base.h
  cobalt/web/navigator_id.idl
  cobalt/web/navigator_language.idl
  cobalt/web/navigator_online.idl
  cobalt/web/navigator_ua.idl
  cobalt/web/navigator_ua_brand_version.idl
  cobalt/web/navigator_ua_data.cc
  cobalt/web/navigator_ua_data.h
  cobalt/web/navigator_ua_data.idl
  cobalt/web/ua_data_values.idl
  cobalt/web/ua_low_entropy_json.idl
  cobalt/web/user_agent_platform_info.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/worker_navigator.cc
  cobalt/worker/worker_navigator.h
Due: cpplint, cpplint_test, clang-format

Revert "Filter failing task tests on Win32"
  starboard/win/win32/cobalt/configuration.py
Due: yapf, pylint

Potential fix for crash after conceal.
  cobalt/system_window/system_window.cc
Due: cpplint, clang-format

More fixes for base unittests order dependency
  base/files/important_file_writer_unittest.cc
  base/metrics/persistent_histogram_storage_unittest.cc
  base/task/sequence_manager/task_queue_selector_unittest.cc
Due: cpplint_test, clang-format

[media] Re-enable codec command line filter
  cobalt/media/media_module.cc
Due: cpplint, clang-format

Fix rare bug when lifecycle processing lags behind events
  starboard/CHANGELOG.md
  starboard/android/shared/application_android.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
  starboard/shared/win32/application_win32.cc
Due: cpplint, clang-format

Fix rare bug when lifecycle processing lags behind events
  starboard/android/shared/application_android.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/queue_application.cc
  starboard/shared/starboard/queue_application.h
Due: cpplint, clang-format

[media] Fix #include in media_module.cc
  cobalt/media/media_module.cc
Due: cpplint, clang-format

Move UserAgentPlatformInfo from WebModule to BrowserModule.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/debug_console.h
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/navigator_licenses_test.cc
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/web/navigator_base.cc
  cobalt/web/navigator_base.h
  cobalt/web/testing/stub_web_context.h
  cobalt/websocket/BUILD.gn
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/websocket/web_socket_test.cc
  cobalt/worker/dedicated_worker_global_scope.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker_navigator.cc
  cobalt/worker/worker_navigator.h
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
Due: cpplint, cpplint_test, clang-format

Add TestWithJavaScript helper classes and unit tests.
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/test_with_javascript.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/dom/window_test.cc
  cobalt/web/custom_event_test.cc
  cobalt/web/error_event_test.cc
  cobalt/web/url_test.cc
  cobalt/worker/BUILD.gn
  cobalt/worker/dedicated_worker_global_scope.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/testing/BUILD.gn
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_global_scope_test.cc
Due: cpplint, cpplint_test, clang-format

Add this.location and this.navigator for workers.
  cobalt/dom/BUILD.gn
  cobalt/dom/navigator_test.cc
  cobalt/dom/testing/BUILD.gn
  cobalt/worker/BUILD.gn
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
  cobalt/worker/worker_global_scope.idl
  cobalt/worker/worker_global_scope_test.cc
  cobalt/worker/worker_navigator_test.cc
Due: cpplint, cpplint_test, clang-format

Allow global constructors to be exposed to workers.
  cobalt/bindings/IDLExtendedAttributes.txt
  cobalt/bindings/bindings_templates.gni
  cobalt/bindings/testing/BUILD.gn
  cobalt/bindings/testing/window.idl
  cobalt/browser/BUILD.gn
  cobalt/dom/window.idl
  cobalt/web/error_event.idl
  cobalt/web/event.idl
  cobalt/worker/dedicated_worker_global_scope.idl
  cobalt/worker/service_worker_global_scope.idl
  cobalt/worker/worker_global_scope_test.cc
Due: cpplint_test, clang-format

Create default test sharding configuration
  starboard/tools/testing/sharding_configuration.json
  starboard/tools/testing/test_runner.py
  starboard/tools/testing/test_sharding.py
Due: yapf, pylint

Update 23 LTS version string
  cobalt/version.h
Due: cpplint, clang-format

Remove redundant functions in player_test_util
  starboard/nplb/player_create_test.cc
Due: cpplint_test, clang-format

Revert "Create default test sharding configuration"
  starboard/tools/testing/sharding_configuration.json
  starboard/tools/testing/test_runner.py
  starboard/tools/testing/test_sharding.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
