Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Add CrashHandler cobalt extension
  cobalt/browser/application.cc
  cobalt/extension/crash_handler.h
  cobalt/extension/extension_test.cc
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/shared/system_get_extensions.cc
  starboard/raspi/shared/starboard_platform.gypi
  starboard/raspi/shared/system_get_extensions.cc
  starboard/shared/starboard/crash_handler.cc
  starboard/shared/starboard/crash_handler.h
  starboard/starboard.gyp
  third_party/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/wrapper/annotations.h
Due: cpplint, cpplint_test, clang-format

Remove unused sb_crashpad_enabled
  starboard/build/base_configuration.gypi
  starboard/elf_loader/elf_loader.gyp
Due: none

Refine comments in drm.h, media.h, and player.h
  starboard/drm.h
  starboard/media.h
  starboard/player.h
Due: cpplint, clang-format

Fix comment indent in drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.cc
Due: cpplint, clang-format

Revert "Android: Fix MediaSession creating issue after suspended."
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Add pre-commit hook to check for bug in commit message
  .pre-commit-config.yaml
  precommit_hooks/check_bug_in_description_wrapper.py
Due: yapf, pylint

Run python 2 unit tests in precommit hook
  .pre-commit-config.yaml
Due: none

Fix linting errors
  tools/download_from_gcs_test.py
Due: yapf, pylint

Refine SbPlayerGetPreferredOutputMode()
  starboard/android/shared/player_get_preferred_output_mode.cc
  starboard/nplb/player_get_preferred_output_mode_test.cc
  starboard/nplb/player_test_util.cc
  starboard/shared/starboard/player/player_get_preferred_output_mode_prefer_punchout.cc
Due: cpplint, cpplint_test, clang-format

Add steps for adding crash handlers to Cobalt
  starboard/doc/crash_handlers.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

[icu] Resolve merge conflicts
  third_party/icu/icu.gyp
  third_party/icu/source/common/brkeng.cpp
  third_party/icu/source/common/filterednormalizer2.cpp
  third_party/icu/source/common/locavailable.cpp
  third_party/icu/source/common/locid.cpp
  third_party/icu/source/common/loclikely.cpp
  third_party/icu/source/common/normalizer2impl.cpp
  third_party/icu/source/common/putil.cpp
  third_party/icu/source/common/putilimp.h
  third_party/icu/source/common/rbbi.cpp
  third_party/icu/source/common/rbbidata.cpp
  third_party/icu/source/common/uassert.h
  third_party/icu/source/common/ucase.cpp
  third_party/icu/source/common/ucase.h
  third_party/icu/source/common/ucasemap.cpp
  third_party/icu/source/common/udata.cpp
  third_party/icu/source/common/uloc.cpp
  third_party/icu/source/common/uloc_keytype.cpp
  third_party/icu/source/common/umutex.h
  third_party/icu/source/common/unicode/localpointer.h
  third_party/icu/source/common/unicode/platform.h
  third_party/icu/source/common/unicode/umachine.h
  third_party/icu/source/common/unicode/utf8.h
  third_party/icu/source/common/unifiedcache.cpp
  third_party/icu/source/common/uresbund.cpp
  third_party/icu/source/common/ustr_imp.h
  third_party/icu/source/common/ustrcase.cpp
  third_party/icu/source/common/utext.cpp
  third_party/icu/source/common/utrie2.cpp
  third_party/icu/source/i18n/coleitr.cpp
  third_party/icu/source/i18n/compactdecimalformat.cpp
  third_party/icu/source/i18n/decNumberLocal.h
  third_party/icu/source/i18n/decimfmt.cpp
  third_party/icu/source/i18n/fmtable.cpp
  third_party/icu/source/i18n/fphdlimp.h
  third_party/icu/source/i18n/hebrwcal.cpp
  third_party/icu/source/i18n/quantityformatter.cpp
  third_party/icu/source/i18n/tznames_impl.cpp
  third_party/icu/source/i18n/ucol_res.cpp
  third_party/icu/source/tools/toolutil/toolutil.cpp
Due: cpplint, clang-format

Cleanup unused <vector> include.
  starboard/elf_loader/evergreen_info.h
Due: cpplint, clang-format

Fix hybrid nav edge case related to changing only tabindex
  cobalt/dom/html_element.cc
  cobalt/dom/layout_boxes.h
  cobalt/dom/testing/mock_layout_boxes.h
  cobalt/layout/layout_boxes.cc
  cobalt/layout/layout_boxes.h
Due: cpplint, clang-format

Apply upstream patch to resolve gcc build errors.
  third_party/llvm-project/libunwind/src/config.h
Due: cpplint, clang-format

Hook the LZ4 decompression in the loader.
  starboard/elf_loader/elf_loader.cc
  starboard/elf_loader/elf_loader.gyp
  starboard/elf_loader/elf_loader_constants.cc
  starboard/elf_loader/elf_loader_constants.h
  starboard/elf_loader/elf_loader_impl.cc
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
  starboard/loader_app/slot_management.gyp
  starboard/loader_app/slot_management_test.cc
Due: cpplint, cpplint_test, clang-format

Update getClientBoundingRect to factor in scrollLeft / scrollTop
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/layout_boxes.cc
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll-expected.png
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll.html
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll_rtl-expected.png
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll_rtl.html
  cobalt/layout_tests/testdata/cssom-view/layout_tests.txt
Due: cpplint, clang-format
