Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Cobalt: Modify webmodule's impl lifecycle observer interface.
  cobalt/browser/web_module.cc
Due: cpplint, clang-format

default webp background to transparent white
  cobalt/demos/content/transparent-animated-webp-demo/index.html
  cobalt/demos/content/transparent-animated-webp-demo/loading-spinner-opaque.webp
  cobalt/loader/image/animated_webp_image.cc
Due: cpplint, clang-format

Cleanup string_poem.h.
  base/strings/string_util_unittest.cc
  starboard/client_porting/poem/string_poem.h
  starboard/common/log.cc
Due: cpplint, cpplint_test, clang-format

Add Evergreen Lite documentation.
  starboard/doc/evergreen/cobalt_evergreen_lite.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/doc/evergreen/resources/cobalt_evergreen_configurations.png
  starboard/doc/evergreen/resources/evergreen_lite_overview.png
Due: none

Add crashpad_config tests to the Evergreen Compat suite.
  starboard/nplb/nplb_evergreen_compat_tests/crashpad_config_test.cc
  starboard/nplb/nplb_evergreen_compat_tests/nplb_evergreen_compat_tests.gyp
Due: cpplint_test, clang-format

Remove unused pr_starboard.gyp
  starboard/client_porting/pr_starboard/pr_starboard.gyp
Due: none

Fix broken link.
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Remove stdio_leaks_poem.h
  cobalt/browser/application.cc
  starboard/client_porting/poem/stdio_leaks_poem.h
  third_party/angle/src/common/angleutils.cpp
  third_party/skia/modules/skottie/src/Skottie.cpp
  third_party/skia/src/sksl/SkSLCPPCodeGenerator.cpp
  third_party/skia/src/sksl/SkSLHCodeGenerator.cpp
  third_party/skia/src/sksl/SkSLString.cpp
  third_party/skia/src/utils/SkJSONWriter.cpp
  third_party/v8/src/ic/ic.cc
  third_party/v8/src/parsing/parser.cc
  third_party/v8/src/parsing/preparser.cc
  third_party/v8/src/tracing/traced-value.cc
Due: cpplint, clang-format

Set up UA-CH unit tests
  cobalt/dom/dom_test.gyp
  cobalt/dom/user_agent_data_test.cc
  cobalt/h5vcc/h5vcc_settings.cc
Due: cpplint, cpplint_test, clang-format

Updated walk_dir.py to remove deprecated functions.
  starboard/client_porting/walk_dir.py
Due: yapf, pylint

Cobalt: Add timestamps into startfunction.
  cobalt/base/wrap_main.h
  cobalt/base/wrap_main_starboard.h
  cobalt/bindings/testing/bindings_sandbox_main.cc
  cobalt/browser/main.cc
  cobalt/renderer/sandbox/renderer_sandbox_main.cc
  cobalt/script/v8c/v8c.cc
  cobalt/updater/one_app_only_sandbox.cc
Due: cpplint, clang-format

Revert "Cobalt: Add timestamps into startfunction."
  cobalt/base/wrap_main.h
  cobalt/base/wrap_main_starboard.h
  cobalt/bindings/testing/bindings_sandbox_main.cc
  cobalt/browser/main.cc
  cobalt/renderer/sandbox/renderer_sandbox_main.cc
  cobalt/script/v8c/v8c.cc
  cobalt/updater/one_app_only_sandbox.cc
Due: cpplint, clang-format

Cobalt: Add timestamps into startfunction.
  cobalt/base/wrap_main.h
  cobalt/base/wrap_main_starboard.h
  cobalt/bindings/testing/bindings_sandbox_main.cc
  cobalt/browser/main.cc
  cobalt/browser/snapshot_app_stats.cc
  cobalt/renderer/sandbox/renderer_sandbox_main.cc
  cobalt/script/v8c/v8c.cc
  cobalt/speech/sandbox/speech_sandbox_main.cc
  cobalt/updater/one_app_only_sandbox.cc
Due: cpplint, clang-format

Cobalt: Pass timing info into PerformanceLifecycleTiming.
  cobalt/browser/web_module.cc
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/dom/performance_lifecycle_timing.idl
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format

Fix black box test failure issue.
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

Cobalt: Pass start or preload timestamps into lifecycle timing.
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/main.cc
  cobalt/browser/snapshot_app_stats.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/updater/one_app_only_sandbox.cc
Due: cpplint, clang-format

Fix black box test issue.
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

Update docker build public docs
  cobalt/doc/docker_build.md
Due: none

Revert "Revert "Revert "Revert "Revert "Temporarily disable Evergreen tests on COBALT."""""
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Webdriver: Return unique element IDs for existing elements.
  cobalt/webdriver/testdata/simple_test.py
  cobalt/webdriver/window_driver.cc
  requirements.txt
Due: cpplint, yapf, pylint, clang-format

Webdriver fix for moveto and sample script improvement.
  cobalt/webdriver/protocol/moveto.cc
  cobalt/webdriver/testdata/simple_test.py
Due: cpplint, yapf, pylint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
