Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

fix websocket test with incorrect opcode
  cobalt/websocket/web_socket_impl_test.cc
Due: cpplint_test, clang-format

[media] Refine JobQueue and JobThread
  starboard/shared/starboard/player/job_queue.cc
  starboard/shared/starboard/player/job_queue.h
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/job_thread.h
Due: cpplint, clang-format

Add PerformanceLifecycleTiming idl interface.
  cobalt/dom/performance_lifecycle_timing.idl
Due: none

Add dummy PerformanceLifecycleTiming implementation.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_entry.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/dom/performance_lifecycle_timing.idl
Due: cpplint, clang-format

Adding new Docker build config for linux-x64x11-evergreen.
  docker-compose.yml
Due: none

Splash topic - search query portion of deeplink.
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

[GN] Add default target to BUILD.gn
  BUILD.gn
Due: none

[GN] Migrate linux-x64x11-skia to gn
  starboard/linux/x64x11/skia/BUILD.gn
  starboard/linux/x64x11/skia/platform_configuration/BUILD.gn
  starboard/linux/x64x11/skia/platform_configuration/configuration.gni
  starboard/linux/x64x11/skia/toolchain/BUILD.gn
Due: none

Simplifying name of config.
  docker-compose.yml
Due: none

Raspi Docker image update.
  docker/linux/raspi/Dockerfile
Due: none

[DrmSystemWidevine] Refine parameter names of ctor
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.h
Due: cpplint, clang-format

[media] Refine Get*Representation() in media_util.*
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
Due: cpplint, clang-format

[media] Refine UpdateMediaInfo player state checking
  starboard/shared/starboard/player/player_worker.cc
Due: cpplint, clang-format

[widevine] Fix DrmSystemWidevine ctor initialization
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/drm_system_widevine.h
Due: cpplint, clang-format

[raspi] Fix the folder name of sysroot in error message
  starboard/raspi/shared/gyp_configuration.py
Due: yapf, pylint

Filter failed player components test
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

More SpiderMonkey mentions to remove
  cobalt/bindings/README.md
  cobalt/bindings/testing/promise_test.cc
  cobalt/bindings/testing/window.h
  cobalt/bindings/testing/window.idl
  cobalt/bindings/v8c/generate_conversion_header_v8c.py
  cobalt/debug/backend/content/runtime_agent.js
  cobalt/debug/backend/debug_module.cc
  cobalt/debug/backend/debug_module.h
  cobalt/debug/backend/runtime_agent.cc
  cobalt/debug/backend/runtime_agent.h
  cobalt/debug/debug.gyp
  cobalt/doc/performance_tuning.md
  cobalt/dom/eme/media_key_session.h
  starboard/build/platform_configuration.py
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Add PerformanceLifecycleTiming into Performance.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Fix the fonts nplb_evergreen_comat test.
  starboard/nplb/nplb_evergreen_compat_tests/fonts_test.cc
Due: cpplint_test, clang-format

[media] Add typedef to SbPlayer implementation classes
  starboard/shared/starboard/player/filter/audio_renderer_internal.h
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
  starboard/shared/starboard/player/filter/player_components.h
  starboard/shared/starboard/player/player_worker.h
Due: cpplint, clang-format

[Android TV] Disable black box tests on arm64
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Modify the time_origin and now in performance.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_high_resolution_time.h
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
  cobalt/dom/performance_test.cc
Due: cpplint, cpplint_test, clang-format
