Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Remove public go/ link
  starboard/android/apk/app/src/main/java/dev/cobalt/libraries/services/clientloginfo/ClientLogInfo.java
Due: google-java-format, gcheckstyle

Remove public ***REMOVED*** link
  cobalt/media_session/media_session_client.cc
Due: cpplint, clang-format

[media source] Refine SourceBuffer optimizations
  cobalt/dom/BUILD.gn
  cobalt/dom/media_source.cc
  cobalt/dom/media_source.h
  cobalt/dom/serialized_algorithm_runner.cc
  cobalt/dom/serialized_algorithm_runner.h
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
Due: cpplint, clang-format

Return resolved <script>.src URL and use "src" attribute in "prepare script" algorithm.
  cobalt/dom/html_script_element.cc
  cobalt/dom/html_script_element.h
Due: cpplint, clang-format

Revert "Revert "Delete unused internal code""
  cobalt/demos/content/BUILD.gn
Due: none

Require kSbSystemPathStorageDirectory on all platforms.
  starboard/CHANGELOG.md
  starboard/nplb/system_get_path_test.cc
Due: cpplint_test, clang-format

Use a public IFA link
  starboard/android/apk/app/src/app/AndroidManifest.xml
Due: none

Create performance entry after request is completed.
  net/url_request/url_request.cc
Due: cpplint, clang-format

Add CrashpadAnnotations proto.
  third_party/crashpad/wrapper/proto/BUILD.gn
  third_party/crashpad/wrapper/proto/crashpad_annotations.proto
Due: none

Enable runtime annotations to be set for Crashpad
  cobalt/browser/application.cc
  cobalt/extension/crash_handler.h
  cobalt/extension/extension_test.cc
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
  starboard/shared/starboard/crash_handler.cc
  third_party/crashpad/client/BUILD.gn
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/handler/handler_main.cc
  third_party/crashpad/handler/linux/capture_snapshot.cc
  third_party/crashpad/handler/linux/capture_snapshot.h
  third_party/crashpad/handler/linux/crash_report_exception_handler.cc
  third_party/crashpad/handler/linux/crash_report_exception_handler.h
  third_party/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/util/linux/exception_handler_protocol.cc
  third_party/crashpad/util/linux/exception_handler_protocol.h
  third_party/crashpad/wrapper/proto/crashpad_annotations.proto
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
  third_party/crashpad/wrapper/wrapper_stub.cc
Due: cpplint, cpplint_test, clang-format

Implement crashLog.setString for Crashpad
  cobalt/h5vcc/h5vcc_crash_log.cc
Due: cpplint, clang-format

create on screen keyboard background color extension
  cobalt/browser/on_screen_keyboard_starboard_bridge.cc
  cobalt/browser/on_screen_keyboard_starboard_bridge.h
  cobalt/dom/on_screen_keyboard.cc
  cobalt/dom/on_screen_keyboard.h
  cobalt/dom/on_screen_keyboard.idl
  cobalt/dom/on_screen_keyboard_bridge.h
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/extension/on_screen_keyboard.h
Due: cpplint, cpplint_test, clang-format

[osk] move color parser to Cobalt side
  cobalt/browser/on_screen_keyboard_starboard_bridge.cc
  cobalt/browser/on_screen_keyboard_starboard_bridge.h
  cobalt/dom/on_screen_keyboard.cc
  cobalt/dom/on_screen_keyboard.h
  cobalt/dom/on_screen_keyboard.idl
  cobalt/dom/on_screen_keyboard_bridge.h
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/extension/on_screen_keyboard.h
Due: cpplint, cpplint_test, clang-format

[osk] fix string leaks
  cobalt/dom/on_screen_keyboard.cc
Due: cpplint, clang-format

[osk] string leaks remove deprecated SB string functions
  cobalt/dom/on_screen_keyboard.cc
Due: cpplint, clang-format

Fix for HTTP browser cache going, and staying above the limit.
  net/disk_cache/simple/simple_synchronous_entry.cc
  net/disk_cache/simple/simple_util.cc
Due: cpplint, clang-format

[media] Fix pipeline crash when seek after ended
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Do not cache empty MIME types
  net/data/url_request_unittest/redirect302-to-echo-cacheable.mock-http-headers
  net/http/http_cache_lookup_manager_unittest.cc
  net/http/http_cache_transaction.cc
  net/http/http_cache_unittest.cc
  net/http/http_transaction_test_util.cc
  net/url_request/url_request_http_job_unittest.cc
Due: cpplint, cpplint_test, clang-format

Fix android build via Android Studio
  starboard/android/apk/app/CMakeLists.txt
  starboard/android/apk/app/build.gradle
  starboard/android/apk/build.gradle
  starboard/android/apk/settings.gradle
Due: none

[android] Add null pointer protection
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

[Watchdog] Update API desc, formatting edits.
  cobalt/demos/content/watchdog-demo/index.html
  cobalt/h5vcc/h5vcc_crash_log.idl
Due: none

[media] Remove dead code.
  cobalt/media/base/starboard_player.cc
Due: cpplint, clang-format

[media] remove header only function definition.
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.h
Due: cpplint, clang-format

Revert "Revert "Use metadata propagation to get install_content""
  base/BUILD.gn
  cobalt/base/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/dom/BUILD.gn
  cobalt/encoding/BUILD.gn
  cobalt/layout_tests/BUILD.gn
  cobalt/loader/BUILD.gn
  cobalt/renderer/BUILD.gn
  cobalt/renderer/sandbox/BUILD.gn
  cobalt/speech/sandbox/BUILD.gn
  cobalt/webdriver/BUILD.gn
  net/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/bundle_content.gni
  starboard/build/copy_bundle_content.py
  starboard/build/copy_install_content.py
  starboard/client_porting/eztime/BUILD.gn
  starboard/elf_loader/BUILD.gn
  starboard/examples/window/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/shared/starboard/player/filter/tools/BUILD.gn
  third_party/crashpad/handler/BUILD.gn
  third_party/zlib/BUILD.gn
Due: yapf, pylint

[android] Set aac extra data in progressive parser
  cobalt/media/progressive/avc_parser.cc
Due: cpplint, clang-format

Add deprecated MIME type to allowlist
  cobalt/black_box_tests/black_box_tests.py
  net/http/http_cache_transaction.cc
Due: cpplint, yapf, pylint, clang-format

Add logging/debug info to docsite
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
Due: none

Fix missing sharding paramaters in test execution
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Create raspi-2 sharding configuration with 6 shard
  starboard/tools/testing/sharding_configuration.json
Due: none

Use gradlew directly for android builds
  cobalt/site/docs/development/setup-android.md
  starboard/android/apk/cobalt-gradle.sh
  starboard/android/shared/install_target.gni
Due: none

Update 23 LTS version to lts.2
  cobalt/version.h
Due: cpplint, clang-format

[android] Explicitly delete local references
  starboard/android/shared/media_capabilities_cache.cc
Due: cpplint, clang-format

Return raw <script>.src value when base URL is not valid.
  cobalt/dom/html_script_element.cc
Due: cpplint, clang-format

Service Worker postMessage with ExtendableMessageEvent
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.js
  cobalt/black_box_tests/tests/service_worker_message_test.py
  cobalt/web/message_event.h
  cobalt/web/message_port.idl
  cobalt/worker/BUILD.gn
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
Due: cpplint, yapf, pylint, clang-format

Add more MessageEvent functionality and tests.
  cobalt/bindings/templates/dictionary.h.template
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/testing/test_with_javascript.h
  cobalt/script/script_value.h
  cobalt/script/v8c/conversion_helpers.h
  cobalt/script/v8c/helpers.h
  cobalt/script/v8c/v8c_array_buffer.h
  cobalt/script/v8c/v8c_array_buffer_view.h
  cobalt/script/v8c/v8c_data_view.h
  cobalt/script/v8c/v8c_typed_arrays.h
  cobalt/web/blob_test.cc
  cobalt/web/custom_event_test.cc
  cobalt/web/message_event.cc
  cobalt/web/message_event.h
  cobalt/web/message_event.idl
  cobalt/web/message_event_init.idl
  cobalt/web/message_event_test.cc
  cobalt/web/message_port.h
  cobalt/web/testing/test_with_javascript.h
  cobalt/web/url_test.cc
  cobalt/worker/BUILD.gn
  cobalt/worker/extendable_event_init.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/extendable_message_event_init.idl
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker_global_scope_test.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_global_scope_test.cc
Due: cpplint, cpplint_test, clang-format

Algorithm for ServiceWorker.postMessage().
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.js
  cobalt/dom/document.h
  cobalt/web/event.cc
  cobalt/web/message_port.h
  cobalt/web/message_port.idl
  cobalt/web/testing/stub_web_context.h
  cobalt/worker/client.h
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/extendable_message_event_init.idl
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/window_client.cc
  cobalt/worker/window_client.h
  cobalt/worker/window_client.idl
Due: cpplint, cpplint_test, clang-format
