Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix style issues
  cobalt/bindings/v8c/idl_compiler_v8c.py
  cobalt/build/build_number.py
  starboard/android/shared/launcher.py
  starboard/evergreen/x64/test_filters.py
  starboard/evergreen/x86/test_filters.py
Due: yapf, pylint

Only check starboard api files in interface check
  .pre-commit-config.yaml
Due: none

Move ResourceType to net.
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_script_element.cc
  cobalt/dom/window.cc
  cobalt/loader/fetcher.h
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/fetcher_factory_test.cc
  cobalt/loader/loader_factory.cc
  cobalt/loader/loader_factory.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/loader/script_loader_factory.cc
  cobalt/loader/script_loader_factory.h
  cobalt/speech/sandbox/audio_loader.cc
  cobalt/test/document_loader.h
  net/BUILD.gn
  net/disk_cache/cobalt/resource_type.h
Due: cpplint, cpplint_test, clang-format

Fix failing black box tests
  third_party/web_platform_tests/tools/wptserve/wptserve/handlers.py
Due: yapf, pylint

Backport structured bindings to C++14.
  cobalt/renderer/rasterizer/skia/skia/BUILD.gn
Due: none

Migrate linux-x64x11-clang-3.9 platfrom to Skia m97.
  starboard/linux/x64x11/clang/3.9/cobalt/configuration.py
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
Due: yapf, pylint

Implement Reject and Resolve Promise job queue algorithms.
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/dom/navigator.cc
  cobalt/script/script_value_factory.h
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_container.h
  cobalt/worker/service_worker_container.idl
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/service_worker_registration.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, yapf, pylint, clang-format

Set encoding for raspi launcher
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

Remove optional tests
  starboard/build/platform_configuration.py
  starboard/optional/get_optional_tests.py
Due: yapf, pylint

Delete obsolete platform config compatibility layer
  cobalt/build/config/__init__.py
  cobalt/build/config/base.py
  starboard/stub/gyp_configuration.py
  starboard/tools/build.py
Due: yapf, pylint

Move glimp/ps4 to starboard/ps4/glimp
  glimp/BUILD.gn
Due: none

Fix relative includes in glimp
  glimp/BUILD.gn
Due: none

Fix style issues.
  cobalt/loader/script_loader_factory.cc
Due: cpplint, clang-format

Remove unused custom_get_extension from the ElfLoaderImpl.
  starboard/elf_loader/elf_loader.cc
  starboard/elf_loader/elf_loader_impl.cc
  starboard/elf_loader/elf_loader_impl.h
  starboard/elf_loader/elf_loader_sys_impl.cc
  starboard/elf_loader/elf_loader_sys_impl.h
  starboard/elf_loader/exported_symbols.cc
  starboard/elf_loader/exported_symbols.h
Due: cpplint, clang-format

Deprecate SystemPathTestOutputDirectory
  starboard/android/shared/system_get_path.cc
  starboard/configuration.h
  starboard/linux/shared/system_get_path.cc
  starboard/nplb/system_get_path_test.cc
  starboard/system.h
Due: cpplint, cpplint_test, clang-format

[media] Remove DCHECK()s in SbPlayerPipeline::OnDemuxerInitialized()
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Implement service worker registration getter and setter algorithms.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/web/agent.cc
  cobalt/web/context.h
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/service_worker_registration.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, clang-format

Fix style check.
  cobalt/worker/service_worker_jobs.h
Due: cpplint, clang-format

Android R changes to fix socket issues.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/bionic/README.md
  starboard/android/shared/bionic/bionic_netlink.cpp
  starboard/android/shared/bionic/bionic_netlink.h
  starboard/android/shared/bionic/ifaddrs.cpp
  starboard/android/shared/bionic/ifaddrs.h
  starboard/android/shared/bionic/net_if.cpp
  starboard/android/shared/bionic/private/ErrnoRestorer.h
  starboard/android/shared/bionic/private/bionic_macros.h
  starboard/android/shared/socket_get_interface_address.cc
  starboard/nplb/socket_get_interface_address_test.cc
Due: cpplint, cpplint_test, clang-format, google-java-format, gcheckstyle

[media] Handle nullptr DecoderBuffer data explicitly
  cobalt/media/decoder_buffer_allocator.cc
Due: cpplint, clang-format

Adding video projector type to Starboard devices
  starboard/configuration.h
  starboard/system.h
Due: cpplint, clang-format

[Raspi] Updates GetModelName() to return a string.
  starboard/raspi/shared/system_get_property.cc
Due: cpplint, clang-format

Add lightweight memory tracker to loader app
  starboard/loader_app/BUILD.gn
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.h
  starboard/loader_app/memory_tracker_thread.cc
  starboard/loader_app/memory_tracker_thread.h
Due: cpplint, clang-format

Run proxy server with python 3
  cobalt/black_box_tests/proxy_server.py
  third_party/proxy_py/proxy.py
Due: yapf, pylint

Cleanup unused thread_types_public.h
  cobalt/site/docs/starboard/porting.md
  starboard/README.md
  starboard/android/arm/thread_types_public.h
  starboard/android/arm64/thread_types_public.h
  starboard/android/arm64/vulkan/thread_types_public.h
  starboard/android/shared/BUILD.gn
  starboard/android/shared/thread_types_public.h
  starboard/android/x86/thread_types_public.h
  starboard/build/config/BUILD.gn
  starboard/contrib/linux/stadia/thread_types_public.h
  starboard/evergreen/arm/hardfp/thread_types_public.h
  starboard/evergreen/arm/softfp/thread_types_public.h
  starboard/evergreen/arm64/thread_types_public.h
  starboard/evergreen/x64/thread_types_public.h
  starboard/evergreen/x86/thread_types_public.h
  starboard/linux/shared/thread_types_public.h
  starboard/linux/x64x11/clang/3.9/thread_types_public.h
  starboard/linux/x64x11/egl/thread_types_public.h
  starboard/linux/x64x11/gcc/6.3/thread_types_public.h
  starboard/linux/x64x11/skia/thread_types_public.h
  starboard/linux/x64x11/thread_types_public.h
  starboard/raspi/2/skia/thread_types_public.h
  starboard/raspi/2/thread_types_public.h
  starboard/raspi/shared/thread_types_public.h
  starboard/shared/pthread/types_public.h
  starboard/shared/stub/thread_types_public.h
  starboard/shared/win32/thread_types_public.h
  starboard/stub/BUILD.gn
  starboard/stub/thread_types_public.h
  starboard/win/shared/BUILD.gn
  starboard/win/win32/BUILD.gn
Due: cpplint, clang-format

[media] Deprecate SB_HAS_MEDIA_IS_VIDEO_SUPPORTED_REFINEMENT
  starboard/CHANGELOG.md
  starboard/configuration.h
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/media_is_video_supported.cc
  starboard/raspi/shared/BUILD.gn
  starboard/shared/starboard/media/media_is_transfer_characteristics_supported.cc
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/starboard/player/player_create.cc
  starboard/shared/stub/media_is_transfer_characteristics_supported.cc
  starboard/shared/stub/media_is_video_supported.cc
  starboard/stub/BUILD.gn
  starboard/win/shared/BUILD.gn
Due: cpplint, clang-format

Add URL tracing to NetFetcher
  cobalt/loader/net_fetcher.cc
Due: cpplint, clang-format

[media] Clean up media related code in cobalt/
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_media_element.h
  cobalt/media/player/mime_util_certificate_type_list.h
  cobalt/media/player/web_media_player.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/player/web_media_player_proxy.cc
  cobalt/media/sandbox/web_media_player_helper.cc
Due: cpplint, clang-format

Make uwp and xb1 launchers py3 compatible
  starboard/tools/net_args.py
  starboard/tools/net_log.py
Due: yapf, pylint

[media] Improve legacy vp9 codecs support
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

[media] Refine checking of opus and vorbis
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

Add a conditional check for media_module_ before accessing it.
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

[Watchdog] Add Watchdog debugging.
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/renderer/pipeline.cc
  cobalt/watchdog/BUILD.gn
  cobalt/watchdog/README.md
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

Implement local docker unit-test sharding
  docker-compose.yml
  docker/linux/unittest/Dockerfile
  docker/linux/unittest/unittest_docker_launcher.py
Due: yapf, pylint

Implement unit-test sharding in launching scripts
  starboard/tools/testing/sharding_configuration.json
  starboard/tools/testing/test_runner.py
Due: yapf, pylint
