Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Remove backup cobalt-toolchains directory
  cobalt/site/docs/development/setup-android.md
  starboard/tools/build.py
Due: yapf, pylint

Re-apply Starboard configs to build_config.h
  build/build_config.h
Due: cpplint, clang-format

Add METADATA for build/
  build/METADATA
Due: none

Add kSbEventDateTimeConfigurationChanged
  cobalt/base/base.gyp
  cobalt/base/date_time_configuration_changed_event.h
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser.gyp
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/script/javascript_engine.h
  cobalt/script/v8c/v8c_engine.cc
  cobalt/script/v8c/v8c_engine.h
  starboard/configuration.h
  starboard/event.h
Due: cpplint, clang-format

Fix web debugger serialization issue
  cobalt/black_box_tests/black_box_tests.py
  cobalt/script/v8c/v8c_script_debugger.cc
Due: cpplint, yapf, pylint, clang-format

Use empty font package for Evergreen.
  cobalt/content/fonts/config/empty/fonts.xml
  cobalt/content/fonts/fonts.gyp
  starboard/evergreen/shared/gyp_configuration.gypi
Due: none

Cleanup stale usage of SbStringAToI.
  base/test/test_child_process.cc
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
Due: cpplint, clang-format

Revert "[XB1] Add CHECKs for null pointer read"
  cobalt/script/v8c/v8c_global_environment.cc
Due: cpplint, clang-format

Add copyright header to stub BUILD.gn
  starboard/stub/BUILD.gn
Due: none

[GN] Disable unsupported build/ clang flags
  build/config/compiler/BUILD.gn
Due: none

[GN] Add GN variables required by 3P libs
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/components.gni
  starboard/build/config/os_definitions.gni
Due: none

[GN] Migrate eztime_test to GN
  starboard/BUILD.gn
  starboard/client_porting/eztime/BUILD.gn
  starboard/stub/BUILD.gn
  testing/gtest/BUILD.gn
Due: none

[GN] Migrate crashpad wrapper_stub target
  starboard/BUILD.gn
  third_party/crashpad/wrapper/BUILD.gn
Due: none

[GN] Migrate eztime target to GN
  starboard/BUILD.gn
  starboard/client_porting/eztime/BUILD.gn
  starboard/client_porting/icu_init/BUILD.gn
  starboard/common/BUILD.gn
  third_party/icu/BUILD.gn
Due: none

[GN] Add necessities to compile with build/
  build/config/compiler/BUILD.gn
  build_overrides/build.gni
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Add some targets to starboard gn_all
  starboard/BUILD.gn
Due: none

[GN] Migrate starboard_window_example to GN
  starboard/BUILD.gn
  starboard/examples/window/BUILD.gn
Due: none

[GN] Migrate poem_unittests to GN
  starboard/BUILD.gn
  starboard/client_porting/poem/BUILD.gn
Due: none

[GN] Migrate nplb_evergreen_compat_tests to GN
  starboard/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
