Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN][NX] Deprecate system_gles3
  starboard/egl_and_gles/BUILD.gn
Due: none

[GN] migrate media_session_test to GN
  cobalt/BUILD.gn
  cobalt/media_session/BUILD.gn
Due: none

[GN] Remove non-existent cert files
  cobalt/network/BUILD.gn
Due: none

[GN] Migrate //components/update_client.
  cobalt/BUILD.gn
  cobalt/browser/browser_module.h
  components/update_client/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/loader_app/installation_manager.cc
  third_party/libxml/BUILD.gn
Due: cpplint, clang-format

Revert "[gn] Changing run_all_unittests to a source_set."
  base/test/BUILD.gn
Due: none

[GN] Make sure test deps are on //cobalt/test
  cobalt/renderer/backend/BUILD.gn
  cobalt/test/BUILD.gn
Due: none

[GN] Migrate extension_test to gn
  cobalt/BUILD.gn
  cobalt/extension/BUILD.gn
Due: none

[GN] Link libs before rsp in gcc_toolchain
  build/toolchain/gcc_toolchain.gni
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/2/toolchain/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
Due: none

Make generate_glsl_shader_map.py py3 compatible
  glimp/shaders/generate_glsl_shader_map.py
Due: yapf, pylint

[GN] Migrate ps5
  build/toolchain/cc_wrapper.gni
  cobalt/renderer/backend/egl/graphics_system.cc
  glimp/BUILD.gn
  glimp/shaders/generate_glsl_shader_map.py
  glimp/tracing/BUILD.gn
  nb/BUILD.gn
  starboard/build/platforms.gni
  starboard/egl_and_gles/BUILD.gn
  third_party/protobuf/BUILD.gn
Due: cpplint, yapf, pylint, clang-format

[GN] Migrate ps4
  build/toolchain/gcc_toolchain.gni
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/build/config/enable_vr.gni
  starboard/build/platforms.gni
Due: none

[GN] Migrate //cobalt/updater/updater.gyp.
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/h5vcc/BUILD.gn
  cobalt/updater/BUILD.gn
  components/update_client/BUILD.gn
Due: none

[GN] Create wrapper script to build with GN
  cobalt/build/gn.py
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/platforms.gni
  starboard/build/platforms.py
  starboard/linux/x64x11/args.gn
Due: yapf, pylint

[GN] Fix nasm_assemble dependencies
  starboard/build/nasm_assemble.gni
Due: none

[GN] Remove extra testdata from lottie test paths
  starboard/shared/starboard/player/BUILD.gn
  tools/download_from_gcs.py
Due: yapf, pylint

[GN] Don't list unused devtools modules
  third_party/devtools/BUILD.gn
Due: none

[android] Rename |last_playback_head_changed_at|
  starboard/android/shared/audio_track_audio_sink_type.cc
Due: cpplint, clang-format

[GN] Migrate media_stream to GN
  cobalt/BUILD.gn
  cobalt/media_capture/BUILD.gn
  cobalt/media_stream/BUILD.gn
Due: none

[GN] Add args.gn files for migrated platforms
  starboard/android/arm/args.gn
  starboard/android/arm64/args.gn
  starboard/android/arm64/vulkan/args.gn
  starboard/android/x86/args.gn
  starboard/evergreen/x64/args.gn
  starboard/linux/x64x11/egl/args.gn
  starboard/linux/x64x11/skia/args.gn
  starboard/raspi/2/args.gn
  starboard/raspi/2/skia/args.gn
  starboard/stub/args.gn
  starboard/win/win32/args.gn
Due: none

[GN] Migrate //cobalt/webdriver:webdriver_test to GN.
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/webdriver/BUILD.gn
  third_party/devtools/BUILD.gn
Due: none

[GN] Have gn.py check dst args.gn file
  cobalt/build/gn.py
Due: yapf, pylint

[GN] Ensure all templates use target_name
  starboard/android/shared/install_target.gni
  starboard/build/install/install_target.gni
  starboard/build/install/mock_install.gni
Due: none

[GN] Fix reference to cobalt_platform_dependencies in xhr
  cobalt/xhr/BUILD.gn
Due: none

[GN] Migrate bindings_test
  cobalt/BUILD.gn
  cobalt/bindings/bindings_templates.gni
  cobalt/bindings/blink_variables.gni
  cobalt/bindings/testing/BUILD.gn
  cobalt/browser/BUILD.gn
Due: none

[GN] Make jinja template file name hash stable
  cobalt/bindings/bindings_templates.gni
  third_party/jinja2/bccache.py
Due: yapf, pylint

[GN] Add is_internal_build condition to internal platforms
  starboard/BUILD.gn
  starboard/win/shared/BUILD.gn
  starboard/win/win32/args.gn
Due: none

Resolve base/allocator API leaks.
  base/BUILD.gn
Due: none

Don't try to remove BOM on empty buffers.
  cobalt/encoding/text_decoder.cc
  cobalt/encoding/text_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

Remove deprecated starboard modules from cobalt.dev sidebar
  cobalt/site/docs/gen/cobalt/doc/deep_links.md
  cobalt/site/docs/gen/cobalt/doc/memory_tuning.md
Due: none

Remove deprecated starboard modules from cobalt.dev sidebar
  cobalt/site/docs/gen/cobalt/doc/deep_links.md
Due: none

[GN] Resolve puts API leak.
  cobalt/renderer/rasterizer/skia/skia/skia_sources.gni
Due: none

[GN] Consolidate starboard toolchain references
  build/config/clang/clang.gni
  starboard/android/arm/toolchain/BUILD.gn
  starboard/android/arm64/toolchain/BUILD.gn
  starboard/android/arm64/vulkan/toolchain/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/install_target.gni
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/android/shared/toolchain/toolchain.gni
  starboard/android/x86/toolchain/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/components.gni
  starboard/build/toolchain/starboard_toolchains.gni
  starboard/linux/x64x11/egl/toolchain/BUILD.gn
  starboard/linux/x64x11/skia/toolchain/BUILD.gn
  starboard/linux/x64x11/toolchain/BUILD.gn
  starboard/raspi/2/toolchain/BUILD.gn
  starboard/raspi/shared/toolchain/raspi_shared_toolchain.gni
  starboard/stub/toolchain/BUILD.gn
Due: none

[GN] Update target type for test.gni template
  starboard/build/test.gni
Due: none

[GN] Add default docker msvc location
  build/config/win/visual_studio_version.gni
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/BUILD.gn
  starboard/win/win32/platform_configuration/BUILD.gn
  starboard/win/win32/toolchain/BUILD.gn
Due: none

[GN] Fix gn.py build flag
  cobalt/build/gn.py
Due: yapf, pylint

Fix python 3 compatibility issue in jinja2
  third_party/jinja2/_compat.py
Due: yapf, pylint

Add python 3 to Docker Windows containers
  docker/windows/base/build/Dockerfile
Due: none

Revert "Revert "SoftMic expand voice triggering PlatformService.""
  cobalt/black_box_tests/README.md
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/soft_mic_platform_service_test.html
  cobalt/black_box_tests/testdata/soft_mic_platform_service_test.js
  cobalt/black_box_tests/tests/soft_mic_platform_service_test.py
  cobalt/demos/content/soft-mic-platform-service-demo/soft_mic_platform_service_demo.html
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/soft_mic_platform_service.cc
  starboard/linux/shared/soft_mic_platform_service.h
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/shared/system_get_extensions.cc
Due: cpplint, yapf, pylint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
