Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Clarify kSbSystemPathContentDirectory in evergreen doc
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Use high precision floats to avoid artifacts on some platforms
  cobalt/renderer/glimp_shaders/glsl/fragment_directgles_color_include.glsl
  cobalt/renderer/rasterizer/egl/shaders/fragment_color_include.glsl
Due: none

Add support for rendering the frame with a custom root transform
  cobalt/CHANGELOG.md
  cobalt/extension/extension_test.cc
  cobalt/extension/graphics.h
  cobalt/layout/layout.cc
Due: cpplint, cpplint_test, clang-format

[android] Allow enabling tunnel mode by mime
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Validate the pointer before calling the method
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format

Disable web_debugger black box tests for now
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Download GN on linux docker platforms
  docker/linux/base/build/Dockerfile
Due: none

Add missing members initialization in constructor.
  cobalt/dom/performance_observer.cc
Due: cpplint, clang-format

Add support for processing colors of 360 videos
  cobalt/CHANGELOG.md
  cobalt/extension/extension_test.cc
  cobalt/extension/graphics.h
  cobalt/renderer/glimp_shaders/glsl/fragment_textured_vbo_rgba.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_textured_vbo_uyvy_1plane.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_textured_vbo_yuv_2plane.glsl
  cobalt/renderer/glimp_shaders/glsl/fragment_textured_vbo_yuv_3plane.glsl
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
Due: cpplint, cpplint_test, clang-format

Support wildcard in debug console cval operations
  cobalt/debug/console/content/console_values.js
  cobalt/debug/console/content/debug_commands.js
Due: none

Create docker entry for stub-gn
  docker-compose.yml
  docker/linux/stub/gn/Dockerfile
Due: none

Remove raspi-0 related Starboard ABI code.
  starboard/sabi/arm/hardfp/v6zk/sabi-v12.json
  starboard/sabi/arm/hardfp/v6zk/sabi-v13.json
  starboard/sabi/sabi.gypi
  starboard/sabi/schema/sabi-v12.schema.json
  starboard/sabi/schema/sabi-v13.schema.json
  starboard/sabi/test/sabi.schema.json
Due: none

fix try build errors for V8 8.8 rebase
  starboard/evergreen/shared/compiler_flags.gypi
  starboard/linux/shared/compiler_flags.gypi
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
  v8/include/v8.h
  v8/src/runtime/runtime-test.cc
Due: cpplint, cpplint_test, clang-format

Cleanup PS4 cobalt build docker-compose entry
  docker/windows/base/visualstudio2017/Dockerfile
  docker/windows/win32/unittest/Dockerfile
Due: none

[android] Move VideoFrameTracker to its own file
  starboard/android/shared/starboard_platform.gypi
  starboard/android/shared/starboard_platform_tests.gypi
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_frame_tracker.cc
  starboard/android/shared/video_frame_tracker.h
  starboard/android/shared/video_frame_tracker_test.cc
Due: cpplint, cpplint_test, clang-format

Add a spooky warning README.md to starboard/sabi/.
  starboard/sabi/README.md
Due: none

Add unit test for PerformanceObserver.
  cobalt/dom/dom_test.gyp
  cobalt/dom/performance_observer.h
  cobalt/dom/performance_observer_test.cc
Due: cpplint, cpplint_test, clang-format

[android] Allow to force tunnel mode via constant
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
