Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN] Fix SbPlayer* nplb tests for linux-x64x11
  starboard/build/config/BUILDCONFIG.gn
  starboard/egl_and_gles/BUILD.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
  third_party/angle/BUILD.gn
  third_party/angle/gni/angle.gni
  third_party/angle/util/posix/test_utils_posix.cpp
Due: cpplint, clang-format

[GN] Conditionally use -fno-exceptions
  starboard/build/config/BUILDCONFIG.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/stub/platform_configuration/BUILD.gn
Due: none

[GN] Copy linux egl GN implementation to linux internal
  starboard/build/platforms.gni
Due: none

[GN] Remove TODOs about khronos
  starboard/linux/x64x11/egl/platform_configuration/BUILD.gn
Due: none

[GN] Remove unused SB_PLAYER_ENABLE_VIDEO_DUMPER define
  starboard/linux/x64x11/BUILD.gn
  starboard/linux/x64x11/egl/BUILD.gn
Due: none

[GN] Add size and speed specific flags
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
  third_party/boringssl/BUILD.gn
  third_party/libjpeg/BUILD.gn
  third_party/zlib/BUILD.gn
Due: none

[GN] Use Chromium's gcc_toolchain templates
  build/toolchain/cc_wrapper.gni
  build/toolchain/gcc_toolchain.gni
  starboard/build/toolchain/gcc_toolchain.gni
  starboard/linux/x64x11/egl/toolchain/BUILD.gn
  starboard/linux/x64x11/toolchain/BUILD.gn
Due: none

[GN] Use target toolchains as default
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Remove unncessary shlib_extension var
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Add missing linux sources
  starboard/linux/shared/BUILD.gn
  starboard/nplb/BUILD.gn
Due: none

[GN] Add internal sources to linux-x64x11-internal
  starboard/linux/shared/BUILD.gn
Due: none

[GN] Remove deprecated set_sources_assignment_filter
  third_party/angle/BUILD.gn
  third_party/crashpad/client/BUILD.gn
  third_party/crashpad/handler/BUILD.gn
  third_party/crashpad/snapshot/BUILD.gn
  third_party/crashpad/test/BUILD.gn
  third_party/crashpad/util/BUILD.gn
Due: none

[GN] Fix stub builder
  starboard/build/config/BUILDCONFIG.gn
  starboard/stub/toolchain/BUILD.gn
Due: none

Create script to simulate Evergreen update checks.
  starboard/sabi/omaha_request.py
Due: yapf, pylint

Enumerate nplb copy sources
  starboard/nplb/nplb.gyp
Due: none

[GN] Add linux-x64x11-gn image
  docker-compose.yml
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/linux-x64x11/gn/Dockerfile
  starboard/shared/starboard/player/BUILD.gn
Due: none

[GN] Add boringssl calling_convention conditions
  third_party/boringssl/BUILD.gn
Due: none

[GN] Add missing player_components_test source
  starboard/shared/starboard/player/filter/testing/BUILD.gn
Due: none

Add jsonschema to python2 unittest dependencies
  .pre-commit-config.yaml
Due: none

Deprecate Starboard Speech Recognizer APIs
  cobalt/site/docs/reference/starboard/configuration-public.md
  cobalt/speech/speech_configuration.h
  cobalt/speech/starboard_speech_recognizer.cc
  cobalt/speech/starboard_speech_recognizer.h
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/VoiceRecognizer.java
  starboard/android/shared/speech_recognizer_impl.cc
  starboard/android/shared/starboard_platform.gypi
  starboard/configuration.h
  starboard/elf_loader/exported_symbols.cc
  starboard/evergreen/arm/hardfp/configuration_public.h
  starboard/evergreen/arm/softfp/configuration_public.h
  starboard/evergreen/arm64/configuration_public.h
  starboard/evergreen/shared/starboard_platform.gypi
  starboard/evergreen/x64/configuration_public.h
  starboard/linux/shared/configuration_public.h
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/x64x11/sbversion/11/starboard_platform.gyp
  starboard/linux/x64x11/sbversion/12/starboard_platform.gyp
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb.gyp
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/raspi/shared/starboard_platform.gypi
  starboard/shared/starboard/speech_recognizer/speech_recognizer_create.cc
  starboard/speech_recognizer.h
  starboard/stub/BUILD.gn
  starboard/stub/configuration_public.h
  starboard/stub/stub_sources.gypi
  starboard/win/shared/configuration_public.h
  starboard/win/shared/starboard_platform.gypi
Due: cpplint, clang-format, google-java-format, gcheckstyle

Deprecate Starboard Speech Recognizer APIs
  cobalt/site/docs/reference/starboard/configuration-public.md
  cobalt/speech/speech_configuration.h
  cobalt/speech/starboard_speech_recognizer.cc
  cobalt/speech/starboard_speech_recognizer.h
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/VoiceRecognizer.java
  starboard/android/shared/speech_recognizer_impl.cc
  starboard/android/shared/starboard_platform.gypi
  starboard/configuration.h
  starboard/elf_loader/exported_symbols.cc
  starboard/evergreen/arm/hardfp/configuration_public.h
  starboard/evergreen/arm/softfp/configuration_public.h
  starboard/evergreen/arm64/configuration_public.h
  starboard/evergreen/shared/starboard_platform.gypi
  starboard/evergreen/x64/configuration_public.h
  starboard/linux/shared/configuration_public.h
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/x64x11/sbversion/11/starboard_platform.gyp
  starboard/linux/x64x11/sbversion/12/starboard_platform.gyp
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb.gyp
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/raspi/shared/starboard_platform.gypi
  starboard/shared/starboard/speech_recognizer/speech_recognizer_create.cc
  starboard/speech_recognizer.h
  starboard/stub/BUILD.gn
  starboard/stub/configuration_public.h
  starboard/stub/stub_sources.gypi
Due: cpplint, clang-format, google-java-format, gcheckstyle

Fix SpeechRecognizer removal build failures
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/2/sbversion/12/starboard_platform.gyp
  starboard/raspi/shared/starboard_platform.gypi
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
