Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[android] Pass maxCll and maxFall to MediaCodec
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[raspi] Disable map-to-mesh on raspi platforms
  starboard/raspi/shared/graphics.cc
  starboard/raspi/shared/graphics.h
  starboard/raspi/shared/starboard_platform.gypi
  starboard/raspi/shared/system_get_extensions.cc
Due: cpplint, clang-format

Remove #undef'd QUIRKS from non-stub configurations.
  starboard/win/shared/configuration_public.h
Due: cpplint, clang-format

Fix virtual memory allocation on switch
  starboard/nplb/memory_reporter_test.cc
Due: cpplint_test, clang-format

Fix possible crash on hybrid nav item deletion
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
Due: cpplint, clang-format

Improve logging for HTMLMediaElement
  cobalt/dom/html_media_element.cc
Due: cpplint, clang-format

Refactor common player files
  starboard/android/shared/starboard_platform.gypi
  starboard/linux/shared/starboard_platform.gypi
  starboard/raspi/shared/starboard_platform.gypi
  starboard/shared/starboard/player/common_player_sources.gypi
  starboard/shared/starboard/player/player.gyp
Due: none

Refactor common player files
  starboard/android/shared/starboard_platform.gypi
  starboard/linux/shared/starboard_platform.gypi
  starboard/raspi/shared/starboard_platform.gypi
  starboard/shared/starboard/player/common_player_sources.gypi
  starboard/shared/starboard/player/player.gyp
  starboard/win/shared/starboard_platform.gypi
Due: none

[raspi] Enable Opus audio support
  starboard/raspi/shared/player_components_factory.cc
  starboard/raspi/shared/starboard_platform.gypi
  third_party/opus/celt/os_support.h
Due: cpplint, clang-format

Test Opus support for Starboard version 12 and up
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Write Info/Warning log to stdout
  starboard/shared/posix/log.cc
Due: cpplint, clang-format

Move Nintendo Switch to use V8 JavaScript Engine
  tools/gyp/pylib/gyp/generator/ninja.py
  v8/src/codegen/arm64/macro-assembler-arm64-inl.h
  v8/src/v8.gyp
Due: cpplint, yapf, pylint, clang-format

Fix hybrid nav crash with partial layout
  cobalt/dom/html_element.cc
  cobalt/layout/box.cc
  cobalt/layout/box_generator.cc
Due: cpplint, clang-format

Temporarily filter the Evergreen tests for the COBALT branch.
  starboard/evergreen/testing/run_all_tests.sh
Due: none

[XB1] Fix color saturation of contol overlay on HDR video
  third_party/angle/src/libANGLE/renderer/d3d/DynamicHLSL.cpp
Due: cpplint, clang-format

Implement DOM APIs for Memory Performance
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/event_target_test.cc
  cobalt/dom/memory_info.cc
  cobalt/dom/memory_info.h
  cobalt/dom/memory_info.idl
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/testing/stub_window.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media.gyp
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/websocket/web_socket_impl_test.cc
Due: cpplint, cpplint_test, clang-format

Migrate UIKitMediaSessionClient to Extensions API
  cobalt/extension/media_session.h
  cobalt/media_session/media_session_client.cc
Due: cpplint, clang-format

Revert "Implement DOM APIs for Memory Performance"
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/event_target_test.cc
  cobalt/dom/memory_info.cc
  cobalt/dom/memory_info.h
  cobalt/dom/memory_info.idl
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/testing/stub_window.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media.gyp
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/websocket/web_socket_impl_test.cc
Due: cpplint, cpplint_test, clang-format

Fix Stub src path on coblat.dev site
  cobalt/site/docs/starboard/porting.md
Due: none

Fix the crash of setting updater channel
  cobalt/updater/configurator.cc
  components/update_client/component.cc
Due: cpplint, clang-format
