Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Move PerformanceTimeMinRes into performance interface.
  cobalt/dom/performance.h
  cobalt/dom/window.cc
Due: cpplint, clang-format

Implement PerformanceEntry class.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_entry.cc
  cobalt/dom/performance_entry.h
Due: cpplint, clang-format

Add support of artificial delay on network requests
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/network/switches.cc
  cobalt/network/switches.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format

Revert "Add support of artificial delay on network requests"
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/network/switches.cc
  cobalt/network/switches.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format

Make stub audio and video decoders asynchronous
  starboard/shared/starboard/player/filter/adaptive_audio_decoder_internal.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.h
  starboard/shared/starboard/player/filter/stub_video_decoder.cc
  starboard/shared/starboard/player/filter/stub_video_decoder.h
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.cc
Due: cpplint, clang-format

Add back support of artificial delay on network requests.
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/network/switches.cc
  cobalt/network/switches.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format

Utilize GooGet installed winflexbison.
  cobalt/css_parser/css_parser.gyp
Due: none

add host_executable_suffix gyp variable
  cobalt/build/cobalt_configuration.gypi
Due: none

Add system suspend and resume in launcher
  starboard/android/shared/launcher.py
  starboard/tools/abstract_launcher.py
Due: yapf, pylint

Re-enable tests from base_unittests.
  base/base.gyp
Due: none

Add EntryTypeEnum function into PerformanceEntry interface.
  cobalt/dom/performance_entry.h
Due: cpplint, clang-format

Add a compare function into PerformanceEntry class.
  cobalt/dom/performance_entry.cc
  cobalt/dom/performance_entry.h
Due: cpplint, clang-format

Creates youtubetv and mainappbeta targets for xb1.
  starboard/build/deploy.gypi
  starboard/starboard_all.gyp
Due: none

Revert "Creates youtubetv and mainappbeta targets for xb1."
  starboard/build/deploy.gypi
  starboard/starboard_all.gyp
Due: none

Change performance_timeline idl file name.
  cobalt/dom/performance_entry_list.idl
Due: none

Limit the maximum number of worker threads.
  base/task/task_scheduler/task_scheduler.cc
Due: cpplint, clang-format

Modify TimeDelta to DOMHighRes convert function.
  cobalt/dom/performance_high_resolution_time.h
Due: cpplint, clang-format

Revert "Revert "Creates youtubetv and mainappbeta targets for xb1.""
  starboard/build/deploy.gypi
  starboard/starboard_all.gyp
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
