Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Revert "Rewrite Clang download script"
  starboard/tools/build.py
  starboard/tools/download_clang.py
Due: yapf, pylint

[android] Disable SbMediaConfigurationTest.ValidatePerformance
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Fix missing shader on playstation
  cobalt/renderer/glimp_shaders/glsl/fragment_textured_vbo_uyvy_1plane.glsl
Due: none

[android] Add Amazon to vp9 whitelist
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle

Remove obsolete GN docs
  cobalt/doc/gn_quick_start.md
  cobalt/doc/gyp_to_gn.md
Due: none

Revert^2 "Rewrite Clang download script"
  starboard/tools/build.py
  starboard/tools/download_clang.py
Due: yapf, pylint

Clear render tree queue when the app is preloaded
  cobalt/base/message_queue.h
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Update prebuilt clang-3.6 containers
  docker-compose.yml
Due: none

Revert "Clear render tree queue when the app is preloaded"
  cobalt/base/message_queue.h
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Replace '+' and '/' when extracting app keys.
  starboard/loader_app/app_key_internal.cc
  starboard/loader_app/app_key_test.cc
Due: cpplint, cpplint_test, clang-format

[android] Fix filtered NPLB test syntax.
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Delete unused Chrome tools
  tools/gypv8sh.py
  tools/include_tracer.py
  tools/ipc_messages_log.py
Due: yapf, pylint

Implement Performance Resource Timing.
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance.idl
  cobalt/dom/performance_observer.cc
  cobalt/dom/performance_observer.h
  cobalt/dom/performance_observer_callback_options.idl
  cobalt/dom/performance_observer_test.cc
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
  cobalt/dom/performance_test.cc
  cobalt/dom/window.cc
Due: cpplint, cpplint_test, clang-format
