Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Implement performance entry buffer impl class.
  cobalt/dom/dom.gyp
Due: none

Implement PerformenceEntryList operations for Performance.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Delegate the operations to PerformanceEntryListImpl.
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Update SSL certs.
  cobalt/content/ssl/certs/080911ac.0
Due: none

Upgrade raspi-2 toolchain
  cobalt/site/docs/reference/starboard/gyp-configuration.md
  starboard/nplb/nplb.gyp
  starboard/raspi/shared/gyp_configuration.gypi
  starboard/raspi/shared/gyp_configuration.py
  testing/gtest/include/gtest/gtest.h
Due: cpplint_test, yapf, pylint, clang-format

Add performance_observer_init idl into bindings gyp.
  cobalt/browser/browser_bindings_gen.gyp
Due: none

Add performance_entry_list idl into bindings gyp.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_entry_list.idl
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Filter nplb tests for Raspi-2
  starboard/raspi/shared/gyp_configuration.py
Due: yapf, pylint

Deprecate dlmalloc
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/site/docs/reference/starboard/configuration-public.md
  starboard/evergreen/shared/gyp_configuration.gypi
  starboard/linux/shared/gyp_configuration.gypi
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/x64x11/clang/3.6/gyp_configuration.gypi
  starboard/linux/x64x11/dlmalloc/atomic_public.h
  starboard/linux/x64x11/dlmalloc/configuration_public.h
  starboard/linux/x64x11/dlmalloc/gyp_configuration.gypi
  starboard/linux/x64x11/dlmalloc/gyp_configuration.py
  starboard/linux/x64x11/dlmalloc/starboard_platform.gyp
  starboard/linux/x64x11/dlmalloc/starboard_platform_tests.gyp
  starboard/linux/x64x11/dlmalloc/thread_types_public.h
  starboard/raspi/shared/gyp_configuration.gypi
  starboard/raspi/shared/starboard_platform.gypi
  starboard/shared/dlmalloc/memory_allocate_aligned_unchecked.cc
  starboard/shared/dlmalloc/memory_allocate_unchecked.cc
  starboard/shared/dlmalloc/memory_free.cc
  starboard/shared/dlmalloc/memory_free_aligned.cc
  starboard/shared/dlmalloc/memory_reallocate_unchecked.cc
  starboard/stub/configuration_public.h
  third_party/dlmalloc/BUILD.gn
  third_party/dlmalloc/dlmalloc.c
  third_party/dlmalloc/dlmalloc.gyp
  third_party/dlmalloc/dlmalloc_config.h
Due: cpplint, yapf, pylint, clang-format

Fix onConfigurationChanged() crashes Android TV
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Remove Raspi-0
  starboard/raspi/0/atomic_public.h
  starboard/raspi/0/cobalt/configuration.py
  starboard/raspi/0/configuration_public.h
  starboard/raspi/0/gyp_configuration.gypi
  starboard/raspi/0/gyp_configuration.py
  starboard/raspi/0/starboard_platform.gyp
  starboard/raspi/0/thread_types_public.h
  starboard/raspi/directfb/README.md
Due: cpplint, yapf, pylint, clang-format

Report the UserAgent String to Omaha.
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
Due: cpplint, clang-format

Add optimization notes for platforms using Blitter API
  cobalt/doc/clients_performance_guide.md
Due: none

Remove unneeded onConfigurationChanged() override
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Add spell check to pre-commit checks
  .pre-commit-config.yaml
Due: none

Revert "Revert "Creates youtubetv and mainappbeta targets for xb1.""
  starboard/build/deploy.gypi
  starboard/starboard_all.gyp
Due: none

Fix call to SbMemorySet
  starboard/shared/starboard/crash_handler.cc
Due: cpplint, clang-format

Add PerformanceObserverEntryList idl interface.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
  cobalt/dom/performance_observer_entry_list.idl
Due: cpplint, clang-format
