Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

libxml security patch.
  third_party/libxml/src/entities.c
Due: none

Update cobalt.dev docs with workaround for src/
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/development/setup-raspi.md
Due: none

Update cobalt.dev with latest content
  cobalt/site/docs/reference/starboard/modules/13/media.md
  cobalt/site/docs/reference/starboard/modules/media.md
Due: none

Chromium v8 security patch 4/5.
  v8/src/compiler/typer.cc
Due: cpplint, clang-format

Updating test condition to remove double negative.
  starboard/linux/shared/gyp_configuration.py
Due: yapf, pylint

Filtering 3 tests on GKE which require ipv6.
  starboard/linux/shared/gyp_configuration.py
Due: yapf, pylint

Libevent security patch.
  third_party/libevent/evdns.c
Due: none

[GN][Raspi2] Fix linker errors building "default" target
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
Due: none

Add libxml2-dev to installed docker stub packages
  docker/linux/stub/Dockerfile
Due: none

Fix BG Mode fails sometimes upon suspending app.
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
Due: cpplint, clang-format

Fix crashpad_runs_test on raspi.
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/tests/crashpad_runs_test.sh
Due: none

[android] Refactor passthrough support detection
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
Due: google-java-format, gcheckstyle

Reset last action timestamp in endurance test
  cobalt/media_integration_tests/endurance/endurance_test.py
Due: yapf, pylint

[GN][Raspi2] Fix errors in building crashpad_handler
  starboard/android/arm/platform_configuration/configuration.gni
  starboard/android/arm64/platform_configuration/configuration.gni
  starboard/android/arm64/vulkan/platform_configuration/configuration.gni
  starboard/raspi/shared/BUILD.gn
  third_party/zlib/BUILD.gn
Due: none

[NX] Fix file operations tests in base_unitests.
  base/files/file_path.cc
  base/files/file_path.h
  base/files/file_path_unittest.cc
Due: cpplint, cpplint_test, clang-format

Add METADATA and .gyp file for libjpeg-turbo.
  third_party/libjpeg-turbo/METADATA
  third_party/libjpeg-turbo/jconfig.h
  third_party/libjpeg-turbo/libjpeg.gyp
Due: cpplint, clang-format

Use fallback unverified context for bucket D/Ls
  tools/download_from_gcs.py
Due: yapf, pylint

Change to customized code in libjpeg turbo repo
  third_party/libjpeg-turbo/cdjpeg.h
  third_party/libjpeg-turbo/jconfig.h
  third_party/libjpeg-turbo/jcstest.c
  third_party/libjpeg-turbo/jdatadst-tj.c
  third_party/libjpeg-turbo/jerror.c
  third_party/libjpeg-turbo/jinclude.h
  third_party/libjpeg-turbo/jmemnobs.c
  third_party/libjpeg-turbo/jmemsys.h
  third_party/libjpeg-turbo/jpeglib.h
  third_party/libjpeg-turbo/libjpeg.gyp
  third_party/libjpeg-turbo/simd/arm/aarch32/jsimd.c
  third_party/libjpeg-turbo/simd/arm/aarch64/jsimd.c
  third_party/libjpeg-turbo/tjutil.h
  third_party/libjpeg-turbo/turbojpeg.c
  third_party/libjpeg-turbo/turbojpeg.h
Due: cpplint, clang-format

Enable Evergreen tests to be run on raspi.
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
Due: none

Fix broken setup links on cobalt.dev
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-raspi.md
Due: none

Fixing Source builder.
  cobalt/build/save_build_id.py
Due: yapf, pylint

Do not define HAVE_INTRIN_H if STARBOARD is defined.
  third_party/libjpeg-turbo/jconfigint.h
  third_party/libjpeg-turbo/libjpeg.gyp
Due: cpplint, clang-format

[android] Implement AudioDeviceCallback
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

[android] Remove references to AudioRouting
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
