Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Define a demuxer cobalt extension."
  cobalt/extension/demuxer.h
  cobalt/media/BUILD.gn
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/progressive/demuxer_extension_wrapper.cc
  cobalt/media/progressive/demuxer_extension_wrapper.h
  cobalt/media/progressive/demuxer_extension_wrapper_test.cc
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/system_get_extensions.cc
  starboard/shared/ffmpeg/BUILD.gn
  starboard/shared/ffmpeg/ffmpeg_demuxer.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_test.cc
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
Due: cpplint, cpplint_test, clang-format

[android] Refine UI sound rounting
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle

Define a demuxer cobalt extension.
  cobalt/extension/demuxer.h
  cobalt/media/BUILD.gn
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/progressive/demuxer_extension_wrapper.cc
  cobalt/media/progressive/demuxer_extension_wrapper.h
  cobalt/media/progressive/demuxer_extension_wrapper_test.cc
  starboard/linux/shared/system_get_extensions.cc
  starboard/shared/ffmpeg/BUILD.gn
  starboard/shared/ffmpeg/ffmpeg_common.h
  starboard/shared/ffmpeg/ffmpeg_demuxer.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl_interface.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_test.cc
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_demuxer_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_demuxer_impl.cc
Due: cpplint, cpplint_test, clang-format

Remove host-side sync command in raspi launcher
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

Remove abstraction piercing include from ffmpeg_demuxer.
  starboard/shared/ffmpeg/ffmpeg_demuxer.cc
Due: cpplint, clang-format

Add an include path to ffmpeg_demuxer_test for ffmpeg includes.
  starboard/shared/ffmpeg/BUILD.gn
Due: none

Enable black box test for caching.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Update SSL certs.
  cobalt/content/ssl/certs/0a775a30.0
  cobalt/content/ssl/certs/0b9bc432.0
  cobalt/content/ssl/certs/1001acf7.0
  cobalt/content/ssl/certs/1636090b.0
  cobalt/content/ssl/certs/3bde41ac.0
  cobalt/content/ssl/certs/5931b5bc.0
  cobalt/content/ssl/certs/5a7722fb.0
  cobalt/content/ssl/certs/626dceaf.0
  cobalt/content/ssl/certs/66445960.0
  cobalt/content/ssl/certs/7a3adc42.0
  cobalt/content/ssl/certs/7a780d93.0
  cobalt/content/ssl/certs/8508e720.0
  cobalt/content/ssl/certs/8f103249.0
  cobalt/content/ssl/certs/90c5a3c8.0
  cobalt/content/ssl/certs/9846683b.0
  cobalt/content/ssl/certs/9ef4a08a.0
  cobalt/content/ssl/certs/a3418fda.0
  cobalt/content/ssl/certs/b0e59380.0
  cobalt/content/ssl/certs/d52c538d.0
  cobalt/content/ssl/certs/ed858448.0
Due: none

Implement IFA on Android
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/app/AndroidManifest.xml
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/AdvertisingId.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/system_get_property.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Remove variable, unused h5vcc fields
  cobalt/build/build_id.py
  cobalt/h5vcc/h5vcc_system.cc
Due: cpplint, yapf, pylint, clang-format

Sort dependencies when packaging devtools modules
  third_party/devtools/scripts/build/modular_build.py
Due: yapf, pylint

Remove GYP toolchain helpers
  starboard/build/toolchain/gcc_ar_wrapper.py
  starboard/build/toolchain/gcc_link_wrapper.py
  starboard/build/toolchain/gcc_solink_wrapper.py
  starboard/build/toolchain/get_clang_base_path.py
  starboard/build/toolchain/get_concurrent_links.py
  starboard/build/toolchain/wrapper_utils.py
  starboard/tools/toolchain/__init__.py
  starboard/tools/toolchain/abstract.py
  starboard/tools/toolchain/ar.py
  starboard/tools/toolchain/bash.py
  starboard/tools/toolchain/clang.py
  starboard/tools/toolchain/clangxx.py
  starboard/tools/toolchain/cmd.py
  starboard/tools/toolchain/common.py
  starboard/tools/toolchain/cp.py
  starboard/tools/toolchain/evergreen_linker.py
  starboard/tools/toolchain/libtool_darwin.py
  starboard/tools/toolchain/msvc.py
  starboard/tools/toolchain/python.py
  starboard/tools/toolchain/touch.py
Due: yapf, pylint

Update BUILD.gn for SSL cert update.
  cobalt/network/BUILD.gn
Due: none

Fix Starboard LDFLAGS for GCC-based host toolchains
  starboard/build/config/BUILD.gn
Due: none

Fix crosstool build breakages from go/cobalt-cl/228741.
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.h
Due: cpplint, clang-format

Update docsite to parse GN args instead of GYP
  cobalt/site/docs/reference/starboard/gn-configuration.md
  cobalt/site/docs/reference/starboard/gyp-configuration.md
Due: none

Revert "Revert "Use metadata propagation to get install_content""
  base/BUILD.gn
  cobalt/base/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/dom/BUILD.gn
  cobalt/encoding/BUILD.gn
  cobalt/layout_tests/BUILD.gn
  cobalt/loader/BUILD.gn
  cobalt/renderer/BUILD.gn
  cobalt/renderer/sandbox/BUILD.gn
  cobalt/speech/sandbox/BUILD.gn
  cobalt/webdriver/BUILD.gn
  net/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/bundle_content.gni
  starboard/build/copy_bundle_content.py
  starboard/build/copy_install_content.py
  starboard/client_porting/eztime/BUILD.gn
  starboard/elf_loader/BUILD.gn
  starboard/examples/window/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/shared/starboard/player/filter/tools/BUILD.gn
  third_party/crashpad/handler/BUILD.gn
  third_party/zlib/BUILD.gn
Due: yapf, pylint

Enable unit tests for caching.
  net/BUILD.gn
  net/http/http_cache_unittest.cc
  net/url_request/url_request_http_job_unittest.cc
  net/url_request/url_request_quic_unittest.cc
  net/url_request/url_request_unittest.cc
Due: cpplint_test, clang-format

[media] Rename VideoFrameProvider to DecodeTargetProvider
  cobalt/dom/html_video_element.cc
  cobalt/dom/html_video_element.h
  cobalt/layout/box_generator.cc
  cobalt/media/BUILD.gn
  cobalt/media/base/decode_target_provider.h
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/base/starboard_player.cc
  cobalt/media/base/starboard_player.h
  cobalt/media/player/web_media_player.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/sandbox/web_media_player_helper.cc
  cobalt/media/sandbox/web_media_player_helper.h
Due: cpplint, clang-format

Update requirements with necessary python packages
  cobalt/site/docs/development/setup-linux.md
  requirements.txt
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
