Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Create performance entry after request is completed.
  net/url_request/url_request.cc
Due: cpplint, clang-format

Removing line breaks from log message.
  cobalt/media/base/starboard_player.cc
Due: cpplint, clang-format

Attempt to use extradata to parse codec config for h.264 and h.265.
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
Due: cpplint, clang-format

[PS4/5] Avoid unnecessary EnsureInitialize() calls
  glimp/gles/context.cc
  glimp/gles/context.h
Due: cpplint, clang-format

Temporarily disable http_cache black box test
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

[osk] fix string leaks
  cobalt/dom/on_screen_keyboard.cc
Due: cpplint, clang-format

[osk] string leaks remove deprecated SB string functions
  cobalt/dom/on_screen_keyboard.cc
Due: cpplint, clang-format

Enable runtime annotations to be set for Crashpad
  cobalt/browser/application.cc
  cobalt/extension/crash_handler.h
  cobalt/extension/extension_test.cc
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
  starboard/shared/starboard/crash_handler.cc
  third_party/crashpad/client/BUILD.gn
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/handler/handler_main.cc
  third_party/crashpad/handler/linux/capture_snapshot.cc
  third_party/crashpad/handler/linux/capture_snapshot.h
  third_party/crashpad/handler/linux/crash_report_exception_handler.cc
  third_party/crashpad/handler/linux/crash_report_exception_handler.h
  third_party/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/util/linux/exception_handler_protocol.cc
  third_party/crashpad/util/linux/exception_handler_protocol.h
  third_party/crashpad/wrapper/proto/crashpad_annotations.proto
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
  third_party/crashpad/wrapper/wrapper_stub.cc
Due: cpplint, cpplint_test, clang-format

Implement crashLog.setString for Crashpad
  cobalt/h5vcc/h5vcc_crash_log.cc
Due: cpplint, clang-format

Do not cache empty MIME types
  net/data/url_request_unittest/redirect302-to-echo-cacheable.mock-http-headers
  net/http/http_cache_lookup_manager_unittest.cc
  net/http/http_cache_transaction.cc
  net/http/http_cache_unittest.cc
  net/http/http_transaction_test_util.cc
  net/url_request/url_request_http_job_unittest.cc
Due: cpplint, cpplint_test, clang-format

Revert "[xb1] Increasing duration in Player components tests for avc decoder."
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

Fix for HTTP browser cache going, and staying above the limit.
  net/disk_cache/simple/simple_synchronous_entry.cc
  net/disk_cache/simple/simple_util.cc
Due: cpplint, clang-format

Fix android build via Android Studio
  starboard/android/apk/app/CMakeLists.txt
  starboard/android/apk/app/build.gradle
  starboard/android/apk/build.gradle
  starboard/android/apk/settings.gradle
Due: none

[XB1] Implement pass-through audio support
  starboard/shared/win32/audio_decoder.cc
  starboard/shared/win32/audio_transform.cc
  starboard/shared/win32/win32_audio_decoder.cc
  starboard/win/shared/BUILD.gn
Due: cpplint, clang-format

[media] Fix pipeline crash when seek after ended
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

[media source] Remove direct event dispatching
  cobalt/dom/event_queue.cc
  cobalt/dom/event_queue.h
  cobalt/dom/event_queue_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
Due: cpplint, cpplint_test, clang-format

[android] Add null pointer protection
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

[media] Remove dead code.
  cobalt/media/base/starboard_player.cc
Due: cpplint, clang-format

Service Worker postMessage with ExtendableMessageEvent
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.js
  cobalt/black_box_tests/tests/service_worker_message_test.py
  cobalt/web/message_event.h
  cobalt/web/message_port.idl
  cobalt/worker/BUILD.gn
  cobalt/worker/extendable_event.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
Due: cpplint, yapf, pylint, clang-format

Update http_cache_test to check transferSize
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/http_cache.html
  cobalt/black_box_tests/testdata/http_cache_test_resources/http_cache.txt
  cobalt/black_box_tests/tests/http_cache.py
Due: yapf, pylint

Consume CSP headers and apply them to workers
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/worker_csp_test.html
  cobalt/black_box_tests/testdata/worker_csp_test.js
  cobalt/black_box_tests/tests/worker_csp_test.py
  cobalt/black_box_tests/threaded_web_server.py
  cobalt/dom/html_script_element.cc
  cobalt/loader/loader_factory.cc
  cobalt/loader/loader_test.cc
  cobalt/loader/script_loader_factory.cc
  cobalt/loader/script_loader_factory.h
  cobalt/loader/text_decoder.h
  cobalt/web/csp_violation_reporter.cc
  cobalt/worker/worker.cc
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
Due: cpplint, cpplint_test, yapf, pylint, clang-format

[Watchdog] Update API desc, formatting edits.
  cobalt/demos/content/watchdog-demo/index.html
  cobalt/h5vcc/h5vcc_crash_log.idl
Due: none

Select Omaha Server based on the Cobalt version
  cobalt/updater/BUILD.gn
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/configurator_test.cc
Due: cpplint, cpplint_test, clang-format

[android] Set aac extra data in progressive parser
  cobalt/media/progressive/avc_parser.cc
Due: cpplint, clang-format

Enabling Progressive Playback Media Integration Test.
  cobalt/media_integration_tests/functionality/general_playback.py
Due: yapf, pylint

[media] remove dead code.
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/video_renderer_internal_impl.h
Due: cpplint, clang-format

Add deprecated MIME type to allowlist
  cobalt/black_box_tests/black_box_tests.py
  net/http/http_cache_transaction.cc
Due: cpplint, yapf, pylint, clang-format

[XB1] Update pass-through audio format
  starboard/shared/win32/audio_transform.cc
Due: cpplint, clang-format

[Watchdog] Add UpdatePeriodicStats as a client.
  cobalt/browser/application.cc
Due: cpplint, clang-format

Add more MessageEvent functionality and tests.
  cobalt/bindings/templates/dictionary.h.template
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/testing/test_with_javascript.h
  cobalt/script/script_value.h
  cobalt/script/v8c/conversion_helpers.h
  cobalt/script/v8c/helpers.h
  cobalt/script/v8c/v8c_array_buffer.h
  cobalt/script/v8c/v8c_array_buffer_view.h
  cobalt/script/v8c/v8c_data_view.h
  cobalt/script/v8c/v8c_typed_arrays.h
  cobalt/web/blob_test.cc
  cobalt/web/custom_event_test.cc
  cobalt/web/message_event.cc
  cobalt/web/message_event.h
  cobalt/web/message_event.idl
  cobalt/web/message_event_init.idl
  cobalt/web/message_event_test.cc
  cobalt/web/message_port.h
  cobalt/web/testing/test_with_javascript.h
  cobalt/web/url_test.cc
  cobalt/worker/BUILD.gn
  cobalt/worker/extendable_event_init.idl
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/extendable_message_event_init.idl
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker_global_scope_test.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_global_scope_test.cc
Due: cpplint, cpplint_test, clang-format

Add logging/debug info to docsite
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
Due: none

[media source] Enable max append size override
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/media_source_settings_test.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
  cobalt/dom/source_buffer_algorithm.cc
  cobalt/dom/source_buffer_algorithm.h
Due: cpplint, cpplint_test, clang-format

Fix missing sharding paramaters in test execution
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Create raspi-2 sharding configuration with 6 shard
  starboard/tools/testing/sharding_configuration.json
Due: none

Use gradlew directly for android builds
  cobalt/site/docs/development/setup-android.md
  starboard/android/apk/cobalt-gradle.sh
  starboard/android/shared/install_target.gni
Due: none

Add all deps to mock install target
  starboard/build/install/no_install.gni
Due: none

Porting GameActivity to Cobalt
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/res/values/styles.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/input_events_generator.cc
  starboard/android/shared/input_events_generator.h
  third_party/android_game_activity/README.md
  third_party/android_game_activity/include/game-activity/GameActivity.cpp
  third_party/android_game_activity/include/game-activity/GameActivity.h
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.c
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.h
  third_party/android_game_activity/include/game-text-input/gamecommon.h
  third_party/android_game_activity/include/game-text-input/gametextinput.cpp
  third_party/android_game_activity/include/game-text-input/gametextinput.h
  third_party/android_game_activity/module.json
Due: cpplint, clang-format, google-java-format, gcheckstyle

[media source] Rename `min_size_for_immediate_job_`
  cobalt/dom/media_source.cc
  cobalt/dom/media_source.h
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/media_source_settings_test.cc
Due: cpplint, cpplint_test, clang-format

Add dedicated thread to PersistentSettings
  base/values.cc
  base/values.h
  cobalt/browser/application.cc
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
  components/prefs/BUILD.gn
  components/prefs/json_read_only_pref_store.cc
  components/prefs/json_read_only_pref_store.h
  net/disk_cache/cobalt/cobalt_backend_impl.cc
Due: cpplint, cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
