Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Disable flaky service workers `scripturl` test (#209)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Disable flaky service workers `scripturl` test (#209) (#210)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

native_target/crashpad_handler for AOSP in test_runner.py (#205)
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Update doc to remove sb_evergreen_compatible_enable_lite (#204)
  cobalt/site/docs/reference/starboard/gn-configuration.md
Due: none

Filter flaky Semaphore.ThreadTakesWait_TimeExpires on win32 (#69) (#212)
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Update docker-build pre-build image docs (#213)
  cobalt/doc/docker_build.md
Due: none

Disable flaky service-worker-header.https test (#215)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Raise default shard count for XB1 PS4/5 Switch (#154)
  starboard/tools/testing/sharding_configuration.json
Due: none

Fix crash caused by input_device is null (#217)
  starboard/android/shared/input_events_generator.cc
Due: cpplint, clang-format

[android] Fix e/ac3 sync frame parsing issue (#183)
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format

Revert "Use repo vars to control ODT execution (#161)" (#218)
  .github/workflows/main.yaml
Due: none

Add METADATA files for new subtrees. (#223)
  components/metrics/METADATA
  components/metrics_services_manager/METADATA
  components/ukm/METADATA
Due: none

Re-enable Evergreen tests (#214)
  starboard/evergreen/testing/run_all_tests.sh
Due: none

[android] Fix e/ac3 sync frame parsing issue (#183) (#221)
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format

Uninstall crash handler only when installed (#224)
  starboard/linux/x64x11/main.cc
  starboard/raspi/shared/main.cc
Due: cpplint, clang-format

Run on device tests on nightly workflows (#216)
  .github/workflows/main.yaml
Due: none

Only record updater checkpoint for Evergreen-Full (#227)
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Fix pre-commit Docker image (#229)
  docker/precommit_hooks/requirements.txt
Due: none

Revert "Add METADATA files for new subtrees. (#223)" (#234)
  components/metrics/METADATA
  components/metrics_services_manager/METADATA
  components/ukm/METADATA
Due: none

Add METADATA for subtree components/metrics.
  components/metrics/METADATA
Due: none

Add pexpect to pytest image (#231)
  docker/pytest/requirements.in
  docker/pytest/requirements.txt
Due: none

Revert "[android] Fix e/ac3 sync frame parsing issue (#183) (#221)" (#238)
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format

Update changelog.md for removing SbSystemDeviceType (#226)
  starboard/CHANGELOG.md
Due: none

Enable WASM for linux and android. (#187)
  cobalt/script/v8c/BUILD.gn
  cobalt/script/v8c/isolate_fellowship.cc
  cobalt/script/v8c/v8c_global_environment.cc
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/config/base_configuration.gni
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/raspi/shared/platform_configuration/configuration.gni
  third_party/v8/BUILD.gn
  third_party/v8/src/api/api.cc
  third_party/v8/src/base/platform/platform-starboard.cc
  third_party/v8/src/trap-handler/trap-handler.h
  third_party/v8/src/wasm/function-body-decoder-impl.h
  third_party/v8/src/wasm/function-compiler.cc
  third_party/v8/src/wasm/module-compiler.cc
  third_party/v8/src/wasm/wasm-objects.cc
Due: cpplint, clang-format

Fix ffmpeg av_buffer_create usage for older versions. (#239)
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
Due: cpplint, clang-format

Feature/api leak detector (#230)
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  .github/workflows/stub.yaml
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
  starboard/tools/api_leak_detector/libraries_to_ignore
  starboard/tools/api_leak_detector/stub/debug/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/manifest
  starboard/tools/api_leak_detector/stub/devel/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/manifest
  starboard/tools/api_leak_detector/stub/gold/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/manifest
  starboard/tools/api_leak_detector/stub/qa/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/manifest
Due: yapf, pylint

Exclude components/metrics/ frmo pre-commit checks (#242)
  .pre-commit-config.yaml
Due: none

check input_device is valid (#220)
  starboard/android/shared/input_events_generator.cc
  starboard/android/shared/input_events_generator.h
Due: cpplint, clang-format

Revert "Feature/api leak detector (#230)" (#246)
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  .github/workflows/stub.yaml
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
  starboard/tools/api_leak_detector/libraries_to_ignore
  starboard/tools/api_leak_detector/stub/debug/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/manifest
  starboard/tools/api_leak_detector/stub/devel/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/manifest
  starboard/tools/api_leak_detector/stub/gold/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/manifest
  starboard/tools/api_leak_detector/stub/qa/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/manifest
Due: yapf, pylint

Revert "Revert "Feature/api leak detector"" (#247)
  .github/actions/api_leak_detector/action.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/main.yaml
  .github/workflows/stub.yaml
  starboard/tools/api_leak_detector/api_leak_detector.py
  starboard/tools/api_leak_detector/evergreen/manifest
  starboard/tools/api_leak_detector/libraries_to_ignore
  starboard/tools/api_leak_detector/stub/debug/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/debug/manifest
  starboard/tools/api_leak_detector/stub/devel/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/devel/manifest
  starboard/tools/api_leak_detector/stub/gold/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/gold/manifest
  starboard/tools/api_leak_detector/stub/qa/docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/gn_built_docker_debian10_manifest
  starboard/tools/api_leak_detector/stub/qa/manifest
Due: yapf, pylint

[android] Fix e/ac3 sync frame parsing issue (#249)
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format

Fix ffmpeg av_buffer_create usage for older versions. (#239) (#251)
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
Due: cpplint, clang-format

Create markdown document for CVals (#250)
  cobalt/doc/cvals.md
Due: none

Force apt upgrade for container builds (#243)
  docker/linux/base/Dockerfile
Due: none

Build libjpeg-turbo with NASM (#228)
  starboard/build/config/base_configuration.gni
  starboard/build/nasm_assemble.gni
  starboard/evergreen/shared/platform_configuration/configuration.gni
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
  third_party/libjpeg-turbo/BUILD.gn
Due: none

Fix python `six` imports issue in pre-commit (#261)
  cobalt/build/build_number.py
Due: yapf, pylint

Have cherry pick workflow handle conflicts (#259)
  .github/workflows/label-cherry-pick.yaml
Due: none
