Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  stages:
  - push

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  stages:
  - push

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201
  stages:
  - push

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true
  stages:
  - push

Skip "out of storage" test on BuildBot.
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none

Add missing tests to 'all' targets gyp config
  cobalt/build/all.gyp
  docker-compose.yml
  docker/linux/unittest/Dockerfile
  starboard/loader_app/loader_app.gyp
Due: none

Add docker container for building with clang 3.6
  docker-compose.yml
  docker/linux/base/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
  starboard/linux/x64x11/clang/3.6/gyp_configuration.py
Due: yapf, pylint

Add error logging when path can not be opened/created
  cobalt/base/path_provider.cc
Due: cpplint, clang-format

Set up submodules tracking in Cobalt
  .gitignore
  starboard/.gitignore
Due: none

[BG] Android: Fix video decoder crash at Concealed state.
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/base/starboard_player.cc
  cobalt/media/base/starboard_player.h
  cobalt/media/media_module.cc
  cobalt/media/player/web_media_player.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  starboard/android/shared/player_create.cc
Due: cpplint, clang-format

[BG] Android: Add Background mode demo page.
  cobalt/demos/content/background-mode-demo/background-mode-demo.html
  cobalt/demos/content/background-mode-demo/background-mode-demo.js
Due: none

Fix compiler flags for docker clang 3.6 build
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
Due: none

Revert "Fix compiler flags for docker clang 3.6 build"
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
Due: none

[BG] Cobalt: Hookup the frozen state transition with MediaSession.
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/debug_console.h
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
Due: cpplint, clang-format

Fix typo in elf_loader_impl.cc.
  starboard/elf_loader/elf_loader_impl.cc
Due: cpplint, clang-format

Clean up Python test infra, use consistent log level initialization.
  cobalt/black_box_tests/black_box_tests.py
  starboard/tools/command_line.py
  starboard/tools/log_level.py
  starboard/tools/log_level_test.py
Due: yapf, pylint

[BG] Android: Declare foreground service in AndroidManifest.
  starboard/android/apk/app/src/app/AndroidManifest.xml
Due: none

[BG] Android: Enable concealed state on Android platform.
  starboard/android/shared/configuration_public.h
Due: cpplint, clang-format

[BG] Android: Update SendAndroidCommand function.
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Revert "[BG] Android: Update SendAndroidCommand function."
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Revert "[BG] Android: Declare foreground service in AndroidManifest."
  starboard/android/apk/app/src/app/AndroidManifest.xml
Due: none

Revert "[BG] Android: Enable concealed state on Android platform."
  starboard/android/shared/configuration_public.h
Due: cpplint, clang-format

Temporarily ignore cygwin
  .gitignore
Due: none

Add Non-Evergreen ssl initialization.
  third_party/crashpad/util/net/http_transport_socket.cc
Due: cpplint, clang-format

Let crashpad_handler be optional
  third_party/crashpad/wrapper/wrapper.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
