Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix rendering when an error occurs
  cobalt/renderer/rasterizer/egl/render_tree_node_visitor.cc
Due: cpplint, clang-format

Fix typo in download_from_gcs.py
  tools/download_from_gcs.py
Due: yapf, pylint

Add sabi parsing and starboard platform implementation
  starboard/BUILD.gn
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/build/config/sabi/BUILD.gn
  starboard/build/platforms.gni
  starboard/stub/BUILD.gn
  starboard/stub/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/configuration.gni
Due: none

Add gn format pre-commit hook
  .pre-commit-config.yaml
Due: none

Add stub sources to GN implementation
  starboard/stub/BUILD.gn
Due: none

Generate dedicated SSH key for Raspi
  tools/raspi_image/make_image.sh
Due: none

[android] Disable audio routing tentatively
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle

Revert "Add getDeviceResolution method for device_pixel_ratio"
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/window_get_size.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Revert "Revert "Introduce network status DOM events and functions""
  cobalt/base/tokens.h
  cobalt/base/window_on_offline_event.h
  cobalt/base/window_on_online_event.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/navigator_online.idl
  cobalt/dom/testing/mock_event_listener.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  starboard/shared/stub/system_network_is_disconnected.cc
Due: cpplint, cpplint_test, clang-format

[mozjs PS5] Resolve compiler error.
  third_party/mozjs-45/js/src/gc/StoreBuffer.h
Due: cpplint, clang-format

Remove non-existent file from stub_sources.gypi
  starboard/stub/stub_sources.gypi
Due: none

[GN] Remove non-existent file from stub
  starboard/BUILD.gn
  starboard/stub/BUILD.gn
Due: none

Modify performance entry buffer impl file name.
  cobalt/dom/dom.gyp
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_entry_list_impl.cc
  cobalt/dom/performance_entry_list_impl.h
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Add more detailed log to SbPlayerCreate()
  starboard/shared/starboard/player/player_create.cc
Due: cpplint, clang-format

Remove promise-polyfill and other mozjs occurences
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/doc/web_debugging.md
  cobalt/script/v8c/conversion_helpers.h
  net/net.gyp
  starboard/client_porting/pr_starboard/pr_starboard.cc
  starboard/client_porting/pr_starboard/pr_starboard.h
  third_party/ots/ots-common.gypi
  third_party/promise-polyfill/CHANGELOG.md
  third_party/promise-polyfill/LICENSE
  third_party/promise-polyfill/METADATA
  third_party/promise-polyfill/README.cobalt
  third_party/promise-polyfill/README.md
  third_party/promise-polyfill/promise.js
  third_party/promise-polyfill/promise.min.js
  third_party/promise-polyfill/test/adapter.js
  third_party/promise-polyfill/test/promise.js
Due: cpplint, clang-format

[GN] Add shared_main_adapter to executable sources
  starboard/BUILD.gn
Due: none

Make v8 compile after moving to third_party/
  cobalt/debug/remote/devtools/blink/devtools_protocol/devtools_protocol.gyp
  cobalt/debug/remote/devtools/protocol.json
  cobalt/script/v8c/v8c.gyp
  cobalt/script/v8c/v8c_variables.gypi
  third_party/__init__.py
  third_party/v8/__init__.py
  third_party/v8/src/inspector/inspector.gypi
  third_party/v8/toolchain.gypi
  third_party/v8/v8.gyp
Due: yapf, pylint

[webaudio] Refine destroying of AudioDevice
  cobalt/audio/audio_destination_node.cc
Due: cpplint, clang-format
