Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Add Performance API demo page.
  cobalt/demos/content/performance-api-demo/resources/square.png
Due: none

Escape quotes in the Evergreen out of storage test.
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none

Add flag to allow disabling of the UpdaterModule.
  cobalt/browser/application.cc
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
Due: cpplint, clang-format

Refine vector iteration in PlayerComponentsTest
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

Fix PerformanceObserver crash issue.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_observer.cc
Due: cpplint, clang-format

Avoid rebuilding torque files all the time
  third_party/v8/v8.gyp
Due: none

kSbEventTypeOsNetwork*events on Linux
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb.gyp
  starboard/nplb/system_network_status_test.cc
  starboard/shared/linux/singleton.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/x11/application_x11.cc
Due: cpplint, cpplint_test, clang-format

Revert "Avoid rebuilding torque files all the time"
  third_party/v8/v8.gyp
Due: none

Fix FilterBufferByNameAndType entry name issue.
  cobalt/dom/performance_entry_list_impl.cc
Due: cpplint, clang-format

Refactor gsutil into base windows docker image
  docker/windows/base/build/Dockerfile
Due: none

Revert "kSbEventTypeOsNetwork*events on Linux"
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb.gyp
  starboard/nplb/system_network_status_test.cc
  starboard/shared/linux/singleton.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/x11/application_x11.cc
Due: cpplint, cpplint_test, clang-format

Fix failed blitter builder
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

[Android] Add test for model year
  starboard/android/shared/model_year_test.cc
  starboard/android/shared/starboard_platform_tests.gypi
Due: cpplint_test, clang-format

Modify Performance Timeline web-platform-test.
  cobalt/layout_tests/testdata/web-platform-tests/performance-timeline/web_platform_tests.txt
  cobalt/layout_tests/web_platform_tests.cc
Due: cpplint_test, clang-format

Revert "Revert "Avoid rebuilding torque files all the time""
  third_party/v8/v8.gyp
Due: none

Make converter replace surrogates (utf-8 encoding)
  cobalt/bindings/testing/dom_string_bindings_test.cc
  cobalt/layout_tests/testdata/web-platform-tests/encoding/web_platform_tests.txt
  cobalt/script/v8c/conversion_helpers.cc
Due: cpplint, cpplint_test, clang-format

Update Raspi Docker for new tools
  docker-compose.yml
  docker/linux/raspi/Dockerfile
Due: none

Deprecate kSbSystemPropertyBase64EncodedCertificationSecret
  cobalt/browser/device_authentication.cc
  starboard/configuration.h
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/x64x11/system_get_property_impl.cc
  starboard/shared/deviceauth/deviceauth_internal.cc
  starboard/shared/deviceauth/deviceauth_internal.h
  starboard/system.h
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
