Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Increment the Cobalt version to 21.lts.6.
  cobalt/version.h
Due: cpplint, clang-format

Revert "Revert "Prevent deploy builds making symlinks in Docker""
  starboard/build/collect_deploy_content.gypi
  starboard/build/collect_deploy_content.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

Introduce memory mapped files as Cobalt extension.
  cobalt/extension/extension_test.cc
  cobalt/extension/memory_mapped_file.h
  starboard/elf_loader/elf_header_test.cc
  starboard/elf_loader/elf_loader_impl.cc
  starboard/elf_loader/file.h
  starboard/elf_loader/file_impl.cc
  starboard/elf_loader/file_impl.h
  starboard/elf_loader/program_table.cc
  starboard/elf_loader/program_table.h
  starboard/elf_loader/program_table_test.cc
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/shared/system_get_extensions.cc
  starboard/shared/dlmalloc/page_internal.h
  starboard/shared/linux/page_internal.cc
  starboard/shared/posix/memory_mapped_file.cc
  starboard/shared/posix/memory_mapped_file.h
Due: cpplint, cpplint_test, clang-format

Refactor Docker Cobalt build command invocation
  docker/windows/win32/Dockerfile
Due: none

Bring in loader_app as build target
  starboard/BUILD.gn
Due: none

Recommend mv instead of git mv in linux oss setup
  cobalt/site/docs/development/setup-linux.md
Due: none

Update Linux libdav1d files
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  third_party/libdav1d/include/dav1d/common.h
  third_party/libdav1d/include/dav1d/data.h
  third_party/libdav1d/include/dav1d/dav1d.h
  third_party/libdav1d/include/dav1d/headers.h
  third_party/libdav1d/include/dav1d/picture.h
  third_party/libdav1d/platforms/linux-x64/libdav1d.a
Due: cpplint, clang-format

Fix Python linter issues in AbstractLauncher framework
  starboard/android/shared/launcher.py
  starboard/evergreen/shared/launcher.py
  starboard/linux/shared/launcher.py
  starboard/win/win32/launcher.py
Due: yapf, pylint

Add test output paths into abstract_launcher
  starboard/android/shared/launcher.py
  starboard/evergreen/shared/launcher.py
  starboard/linux/shared/launcher.py
  starboard/raspi/shared/launcher.py
  starboard/tools/abstract_launcher.py
  starboard/tools/testing/test_runner.py
  starboard/win/win32/launcher.py
  testing/gtest/src/gtest.cc
Due: cpplint_test, yapf, pylint, clang-format

[xb1] Fix launcher command-line args.
  starboard/tools/net_args.py
Due: yapf, pylint

Formatting fixes from clang.
  cobalt/dom/performance.cc
  cobalt/dom/performance_test.cc
Due: cpplint, cpplint_test, clang-format

Adding an environment variable check for Build ID Generator host.
  cobalt/build/gyp_cobalt
Due: none

Add system fonts clarification to the Evergreen overview.
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Add versioning for the loader_app.
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
Due: cpplint, clang-format

Cleanup remnants of javascript_gc_threshold_in_bytes.
  cobalt/browser/memory_settings/auto_mem.h
  cobalt/configuration/configuration.h
  cobalt/doc/memory_tuning.md
Due: cpplint, clang-format

Add --show-sabi flag.
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
Due: cpplint, clang-format

Remove unused and memory tuning command line parameters.
  cobalt/browser/browser.gyp
  cobalt/browser/memory_settings/auto_mem.cc
  cobalt/browser/memory_settings/auto_mem.h
  cobalt/browser/memory_settings/auto_mem_settings.cc
  cobalt/browser/memory_settings/auto_mem_settings_test.cc
  cobalt/browser/memory_settings/auto_mem_test.cc
  cobalt/browser/memory_settings/constrainer.cc
  cobalt/browser/memory_settings/constrainer.h
  cobalt/browser/memory_settings/constrainer_test.cc
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/doc/memory_tuning.md
Due: cpplint, cpplint_test, clang-format

Use target_params rather than "FirstRun" logic.
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Add trigger for kSbEventDateTimeConfigurationChanged on Android TV
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltSystemConfigChangeReceiver.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Add test output paths into abstract_launcher
  starboard/android/shared/launcher.py
  starboard/evergreen/shared/launcher.py
  starboard/linux/shared/launcher.py
  starboard/raspi/shared/launcher.py
  starboard/tools/abstract_launcher.py
  starboard/tools/testing/test_runner.py
  testing/gtest/src/gtest.cc
Due: cpplint_test, yapf, pylint, clang-format

Add disabled attribute on h5vcc_account_manager.idl
  cobalt/h5vcc/h5vcc_account_manager.cc
  cobalt/h5vcc/h5vcc_account_manager.h
  cobalt/h5vcc/h5vcc_account_manager.idl
Due: cpplint, clang-format

Remove unused memory settings.
  cobalt/browser/memory_settings/auto_mem.cc
  cobalt/browser/memory_settings/auto_mem.h
  cobalt/browser/memory_settings/calculations.cc
  cobalt/browser/memory_settings/calculations.h
  cobalt/browser/memory_settings/calculations_test.cc
  cobalt/browser/memory_settings/pretty_print.h
  cobalt/doc/memory_tuning.md
Due: cpplint, cpplint_test, clang-format

Revert "Use target_params rather than "FirstRun" logic."
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Revert "Add disabled attribute on h5vcc_account_manager.idl"
  cobalt/h5vcc/h5vcc_account_manager.cc
  cobalt/h5vcc/h5vcc_account_manager.h
  cobalt/h5vcc/h5vcc_account_manager.idl
Due: cpplint, clang-format

[android] Refine player creation error reporting
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/base/starboard_player.cc
  cobalt/media/base/starboard_player.h
  starboard/android/shared/player_create.cc
Due: cpplint, clang-format

[nplb] Address TODOs in SbMediaBufferTest
  starboard/nplb/media_buffer_test.cc
Due: cpplint_test, clang-format
