Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  stages:
  - push

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  stages:
  - push

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201
  stages:
  - push

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true
  stages:
  - push

Fix UI navigation focus on reveal
  cobalt/browser/browser_module.cc
  cobalt/dom/document.cc
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
Due: cpplint, clang-format

An HTMLElement may be a focus item only if it accepts pointer-events too
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Fix AppleTV MediaSession crash.
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
  cobalt/media_session/media_session_test.cc
Due: cpplint, cpplint_test, clang-format

Scrub "hisense" from automated Evergreen tests.
  starboard/evergreen/testing/setup.sh
Due: none

Move the pending restart checks in SbSystemRequestSuspend, SbSystemRequestFreeze
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/signal/system_request_suspend.cc
Due: cpplint, clang-format

Fix the linux-x64x11-internal build.
  starboard/shared/signal/system_request_freeze.cc
Due: cpplint, clang-format

Allow all linux platforms to use crashpad.
  starboard/build/base_configuration.gypi
  starboard/elf_loader/elf_loader.gyp
  starboard/starboard.gyp
  third_party/crashpad/util/file/file_io.h
  third_party/crashpad/wrapper/wrapper.gyp
  third_party/mini_chromium/base/base.gyp
  third_party/mini_chromium/base/base_wrapper.h
  third_party/mini_chromium/base/files/file_path.h
  third_party/mini_chromium/base/logging.h
  third_party/mini_chromium/base/metrics/histogram_functions.h
  third_party/mini_chromium/base/strings/string16.h
  third_party/mini_chromium/base/strings/utf_string_conversion_utils.h
  third_party/mini_chromium/base/strings/utf_string_conversions.h
  third_party/zlib/zlib.gyp
Due: cpplint, clang-format

Fix out_of_storage_test.sh, mismatched_architecture_test.sh.
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none

Consolidate test HTML into two files, pass channel via query.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/tseries.html
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Remove sensitive 1st party platform information in V8
  v8/src/base/platform/platform-starboard.cc
Due: cpplint, clang-format

Include cygwin as submodule
  .gitignore
Due: none

Replace keyboxes on checkout
  .pre-commit-config.yaml
Due: none

Ignore keyboxes
  starboard/.gitignore
Due: none

Add tests for reasonable codec queries
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Revert "Add tests for reasonable codec queries"
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Batch hybrid nav updates so UI updates happen atomically
  cobalt/browser/browser_module.cc
  cobalt/ui_navigation/interface.cc
  cobalt/ui_navigation/interface.h
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
  starboard/ui_navigation.h
Due: cpplint, clang-format

Get build number without gclient
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Update value of |kTestTimeWritten|, |kTestTimePastWritten|.
  starboard/client_porting/eztime/test_constants.h
  starboard/nplb/time_constants.h
Due: cpplint, clang-format

Revert "Fixes to docker containers"
  docker-compose.yml
  docker/linux/android/Dockerfile
  docker/linux/unittest/Dockerfile
Due: none

Add tests to print max codec support by platform
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Fix build number retrieval for gclient
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
