Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Capture scroll containers during pointerdown
  cobalt/dom/pointer_state.cc
  cobalt/dom/pointer_state.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Only ignore pointer events in scroll containers
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Fix style for PossibleScrollTargets
  cobalt/dom/pointer_state.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Clarify the SbEventSchedule for passing NULL callbacks.
  starboard/event.h
Due: cpplint, clang-format

Remove Fraunhofer license.
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

Clean up unused parameter
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Refactor transformation calculation
  cobalt/layout/box.cc
  cobalt/layout/box.h
Due: cpplint, clang-format

Apply transforms to pointer events in scroll engine
  cobalt/dom/pointer_state.cc
  cobalt/dom/pointer_state.h
  cobalt/layout/topmost_event_target.cc
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
  cobalt/ui_navigation/scroll_engine/scroll_engine.h
Due: cpplint, clang-format

Also test for waiting registration.
  third_party/web_platform_tests/service-workers/service-worker/resources/test-helpers.sub.js
Due: none

Fix a realloc(0) memory leak in Skia.
  third_party/skia/include/private/SkTDArray.h
Due: cpplint, clang-format

Remove duplicate variable definition
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

WPT: When testing service worker redirect, add the CORS header.
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  third_party/web_platform_tests/service-workers/service-worker/resources/service-worker-csp-worker.py
Due: yapf, pylint

[Service worker] Enable more wpt tests after fixing onerror of null
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  third_party/web_platform_tests/service-workers/service-worker/resources/service-worker-csp-worker.py
Due: yapf, pylint

Disable failing SbMemoryReallocateTest
  starboard/nplb/memory_reallocate_test.cc
Due: cpplint_test, clang-format

Generate manifest in evergreen build output
  cobalt/browser/BUILD.gn
  cobalt/updater/version_manifest/BUILD.gn
  cobalt/updater/version_manifest/manifest.json
  starboard/loader_app/BUILD.gn
Due: none

Clarify the NULL usage in the SbPlayer APIs.
  starboard/player.h
Due: cpplint, clang-format

Clarify the NULL pointer usage in the DRM APIs.
  starboard/drm.h
Due: cpplint, clang-format

Use worker-src for importScripts instead of script-src.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/worker/worker_global_scope.cc
Due: cpplint, yapf, pylint, clang-format

Minor change fixes forge tests.
  cobalt/web/cache_utils.cc
Due: cpplint, clang-format

Fix persisted ServiceWorkers
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_persist_test_script.js
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/csp/content_security_policy.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_registration_map.cc
Due: cpplint, yapf, pylint, clang-format

Add invalid value checks for the DRM API calls.
  cobalt/media/base/drm_system.cc
  starboard/nplb/drm_create_system_test.cc
  starboard/nplb/drm_get_metrics_test.cc
  starboard/nplb/drm_session_test.cc
Due: cpplint, cpplint_test, clang-format

Trace worker promises to the global scope.
  cobalt/worker/clients.cc
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_registration.cc
Due: cpplint, clang-format

Use global wrappable when creating ScriptValue::Reference.
  cobalt/web/cache.cc
  cobalt/web/cache_storage.cc
Due: cpplint, clang-format

Abort any remaining service worker on app exit.
  cobalt/browser/service_worker_registry.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_registration_map.cc
Due: cpplint, clang-format

Fix for Xbox not liking the constexpr declaration.
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format

ServiceWorkerObject Should Skip Event
  cobalt/web/event_target.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/worker_global_scope.h
Due: cpplint, clang-format

Disable CookieMonsterTest.PredicateSeesAllCookies
  starboard/win/win32/cobalt/configuration.py
Due: yapf, pylint

Filter flaky WebPlatformTest test cases. (#44)
  starboard/evergreen/x64/cobalt/configuration.py
  starboard/linux/shared/cobalt/configuration.py
Due: yapf, pylint

Get build number from commit count (#45) (#47)
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  cobalt/build/get_build_id.py
  docker/linux/clang-3-9/Dockerfile
  docker/linux/gcc-6-3/Dockerfile
Due: yapf, pylint

Filter WebPlatform test case on Linux. (#51) (#52)
  starboard/linux/shared/cobalt/configuration.py
Due: yapf, pylint

Filter crashing win32 tests (#53)
  starboard/win/win32/test_filters.py
Due: yapf, pylint

[source buffer offload] Avoid re-acquring of mutex
  cobalt/build/get_build_id.py
  cobalt/dom/media_settings.cc
  cobalt/dom/media_settings.h
  cobalt/dom/media_settings_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer_algorithm.cc
  docker/linux/clang-3-9/Dockerfile
  docker/linux/gcc-6-3/Dockerfile
  starboard/evergreen/x64/cobalt/configuration.py
  starboard/linux/shared/cobalt/configuration.py
  starboard/win/win32/test_filters.py
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Serialize last_update_check_time as string
  cobalt/worker/service_worker_persistent_settings.cc
Due: cpplint, clang-format

[nplb] Refine test fixtures in nplb player tests
  starboard/nplb/player_create_test.cc
  starboard/nplb/player_write_sample_test.cc
Due: cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
