Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Give verbose error for missing requests package"
  .pre-commit-config.yaml
  starboard/tools/download_clang.py
Due: yapf, pylint

Fix updater crash caused by wrong destruction order.
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: cpplint, clang-format

Restore Updater check schedule.
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format

Run clang-format hook before cpplint
  .pre-commit-config.yaml
Due: none

Fix the style for component_to_updater_status_map.
  cobalt/updater/updater_module.h
Due: cpplint, clang-format

[GN] Don't generate build id for local builds
  cobalt/build/get_build_id.py
Due: yapf, pylint

Call MarkSuccessful as the Updater is crated.
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format

Remove SB_ALLOCATOR definitions.
  starboard/shared/dlmalloc/page_internal.h
  starboard/shared/dlmalloc/system_get_used_cpu_memory.cc
Due: cpplint, clang-format

Whitelist math related standard C99 symbols.
  starboard/doc/c99.md
Due: none

[GN] Correctly set host toolchain_args
  starboard/android/arm/toolchain/BUILD.gn
  starboard/android/arm64/toolchain/BUILD.gn
  starboard/android/arm64/vulkan/toolchain/BUILD.gn
  starboard/android/x86/toolchain/BUILD.gn
  starboard/linux/x64x11/egl/toolchain/BUILD.gn
  starboard/linux/x64x11/skia/toolchain/BUILD.gn
  starboard/linux/x64x11/toolchain/BUILD.gn
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/2/toolchain/BUILD.gn
  starboard/stub/toolchain/BUILD.gn
Due: none

[GN] Don't build failing base targets
  base/BUILD.gn
  base/test/BUILD.gn
Due: none

[GN] Add asm tool to msvc_toolchain
  build/toolchain/win/msvc_toolchain.gni
  starboard/win/win32/toolchain/BUILD.gn
Due: none

[GN][WIN] Never build win with Chromium's manifest
  build/win/BUILD.gn
Due: none

[GN] Only use -fPIC with shared_libraries
  starboard/build/config/BUILD.gn
Due: none

[GN][Android] Make executable and library configs target-only
  starboard/android/shared/platform_configuration/configuration.gni
Due: none

[GN] Allow zlib to compile with host toolchain
  third_party/zlib/BUILD.gn
  third_party/zlib/arm_stub.c
Due: none

[android] Enable cbcs encrypted playback
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_is_supported.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[GN] Migrate v8 to gn
  build/win/BUILD.gn
  cobalt/BUILD.gn
  third_party/v8/BUILD.gn
  third_party/v8/gni/snapshot_toolchain.gni
  third_party/v8/gni/v8.gni
  third_party/v8/src/inspector/BUILD.gn
  third_party/v8/test/unittests/BUILD.gn
  third_party/v8/third_party/inspector_protocol/BUILD.gn
Due: none

[GN] Elaborate on creating the host toolchain on cobalt.dev
  starboard/build/doc/migrating_gyp_to_gn.md
Due: none

[GN] Migrate evergreen-x64 platform.
  cobalt/content/fonts/font_configuration.gni
  cobalt/content/fonts/variables.gni
  starboard/build/config/base_configuration.gni
  starboard/build/platforms.gni
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/shared/platform_configuration/configuration.gni
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/platform_configuration/configuration.gni
  starboard/evergreen/x64/toolchain/BUILD.gn
Due: none

Rename GetBuildNumber to better describe behavior
  cobalt/build/get_build_id.py
  cobalt/build/gyp_cobalt
  cobalt/build/gyp_utils.py
  cobalt/build/save_build_id.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
