Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Cleanup drain files on UpdaterModule Finalize.
  cobalt/updater/updater_module.cc
  components/update_client/cobalt_slot_management.cc
  components/update_client/cobalt_slot_management.h
  components/update_client/cobalt_slot_management_test.cc
  components/update_client/component.cc
  components/update_client/url_fetcher_downloader.cc
  starboard/evergreen/testing/tests/clean_drain_file_on_suspend_test.sh
Due: cpplint, cpplint_test, clang-format

Fix the Android SDK download script.
  starboard/android/shared/download_sdk.sh
Due: none

Remove _env from cobalt/build/ and cobalt/tools/.
  cobalt/build/_env.py
  cobalt/build/cobalt_configuration.py
  cobalt/build/config/__init__.py
  cobalt/build/config/_env.py
  cobalt/build/config/base.py
  cobalt/build/gyp_utils.py
  cobalt/build/path_conversion_test.py
  cobalt/tools/_env.py
  cobalt/tools/automated_testing/_env.py
  cobalt/tools/automated_testing/cobalt_runner.py
  cobalt/tools/env_test.py
  cobalt/tools/paths.py
Due: yapf, pylint

Access startup trace files via DevTools
  cobalt/h5vcc/h5vcc_trace_event.cc
  cobalt/h5vcc/h5vcc_trace_event.h
  cobalt/h5vcc/h5vcc_trace_event.idl
  cobalt/trace_event/scoped_trace_to_file.cc
  cobalt/trace_event/scoped_trace_to_file.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: cpplint, clang-format

Fix crashes in tracing
  cobalt/browser/web_module.cc
  cobalt/dom/event_target.cc
  cobalt/dom/media_source.cc
  cobalt/dom/node.cc
  cobalt/dom/pointer_state.cc
  cobalt/dom/window.cc
Due: cpplint, clang-format

Revert "Remove _env from cobalt/build/ and cobalt/tools/."
  cobalt/build/_env.py
  cobalt/build/cobalt_configuration.py
  cobalt/build/config/__init__.py
  cobalt/build/config/_env.py
  cobalt/build/config/base.py
  cobalt/build/gyp_utils.py
  cobalt/build/path_conversion_test.py
  cobalt/tools/_env.py
  cobalt/tools/automated_testing/_env.py
  cobalt/tools/automated_testing/cobalt_runner.py
  cobalt/tools/env_test.py
Due: yapf, pylint

Remove _env from starboard/ directories.
  starboard/build/_env.py
  starboard/build/clang.py
  starboard/build/collect_deploy_content.py
  starboard/build/make_dirs.py
  starboard/build/platform_configuration.py
  starboard/build/toolchain/_env.py
  starboard/build/toolchain/get_clang_base_path.py
  starboard/optional/_env.py
  starboard/optional/get_optional_tests.py
  starboard/sabi/_env.py
  starboard/sabi/omaha_request.py
Due: yapf, pylint

Don't skip gcheckstyle by default
  precommit_hooks/gcheckstyle_wrapper.py
Due: yapf, pylint

Use absolute package imports for config.base
  starboard/shared/win32/gyp_configuration.py
  starboard/stub/gyp_configuration.py
Due: yapf, pylint

[GCC 6.3] Filter failing zip_unittests test
  starboard/linux/x64x11/gcc/6.3/cobalt/configuration.py
Due: yapf, pylint

Remove create_derived_build.py
  starboard/tools/create_derived_build.py
  starboard/tools/create_derived_build_templates/atomic_public.h.template
  starboard/tools/create_derived_build_templates/configuration_public.h.template
  starboard/tools/create_derived_build_templates/gyp_configuration.gypi.template
  starboard/tools/create_derived_build_templates/gyp_configuration.py.template
  starboard/tools/create_derived_build_templates/starboard_platform.gyp.template
  starboard/tools/create_derived_build_templates/starboard_platform_tests.gyp.template
  starboard/tools/create_derived_build_templates/thread_types_public.h.template
Due: yapf, pylint

Fix some python style issues
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Update get_build_id/save_build_id to import gyp_utils from PYTHONPATH
  cobalt/build/get_build_id.py
  cobalt/build/gyp_utils.py
  cobalt/build/save_build_id.py
Due: yapf, pylint

Revert "Update get_build_id/save_build_id to import gyp_utils from PYTHONPATH"
  cobalt/build/get_build_id.py
  cobalt/build/gyp_utils.py
  cobalt/build/save_build_id.py
Due: yapf, pylint

Configure Lottie player renderer version.
  cobalt/dom/BUILD.gn
  cobalt/dom/lottie_player.cc
Due: cpplint, clang-format

Make get_build_id behave similar to version within CI
  cobalt/build/get_build_id.py
Due: yapf, pylint

[Android] Add RRO variable supportSphericalVideo.
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/graphics.cc
  starboard/android/shared/graphics.h
  starboard/android/shared/system_get_extensions.cc
Due: cpplint, clang-format

Bring Evergreen tests in sync with new staging dir
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
Due: none

Remove explicit thread name log in the download.
  components/update_client/crx_downloader.cc
Due: cpplint, clang-format

[Android] Fix a extension_test.
  starboard/android/shared/graphics.cc
Due: cpplint, clang-format

Refactor the drain file management.
  components/update_client/cobalt_slot_management.cc
  components/update_client/cobalt_slot_management_test.cc
  starboard/loader_app/drain_file.cc
  starboard/loader_app/drain_file.h
  starboard/loader_app/drain_file_test.cc
  starboard/loader_app/slot_management.cc
Due: cpplint, cpplint_test, clang-format

Only allow absolute python imports with _ImportModule
  starboard/tools/package.py
Due: yapf, pylint

Retry IDL compilation up to 5 times
  cobalt/bindings/v8c/idl_compiler_v8c.py
Due: yapf, pylint

Remove/replace dead gyp scripts
  cobalt/build/build_number.py
  cobalt/build/get_build_id.py
  cobalt/build/save_build_id.py
  starboard/build/config/sabi/BUILD.gn
  starboard/build/config/sabi/uppercase_string.py
  starboard/build/gyp_functions.py
  tools/gyp-explain.py
Due: yapf, pylint

Update most GYP documentation
  base/base_paths_starboard.cc
  cobalt/bindings/blink_variables.gni
  cobalt/browser/switches.cc
  cobalt/content/fonts/README.md
  cobalt/doc/memory_tuning.md
  cobalt/doc/performance_tuning.md
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_updater.h
  cobalt/script/v8c/v8c_variables.gni
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/reference/starboard/modules/11/configuration.md
  cobalt/site/docs/reference/starboard/modules/12/configuration.md
  cobalt/site/docs/reference/starboard/modules/13/configuration.md
  cobalt/site/docs/reference/starboard/modules/configuration.md
  cobalt/site/docs/starboard/porting.md
  cobalt/tools/deps_substitutions.txt
  starboard/README.md
  starboard/android/shared/cobalt/configuration.py
  starboard/build/config/install.gni
  starboard/configuration.h
  starboard/doc/c99.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/doc/starboard_abi.md
  starboard/elf_loader/BUILD.gn
  starboard/evergreen/arm/shared/cobalt/configuration.py
  starboard/evergreen/x64/cobalt/configuration.py
  starboard/linux/shared/cobalt/configuration.py
  starboard/raspi/shared/cobalt/configuration.py
  starboard/tools/doc/testing.md
Due: cpplint, yapf, pylint, clang-format

Remove unused pieces of gyp_configuration.py
  starboard/android/arm/gyp_configuration.py
  starboard/android/arm64/gyp_configuration.py
  starboard/android/arm64/vulkan/gyp_configuration.py
  starboard/android/shared/gyp_configuration.py
  starboard/android/shared/launcher.py
  starboard/android/shared/sdk_utils.py
  starboard/android/x86/gyp_configuration.py
  starboard/build/platform_configuration.py
  starboard/evergreen/arm/hardfp/gyp_configuration.py
  starboard/evergreen/arm/shared/gyp_configuration.py
  starboard/evergreen/arm/softfp/gyp_configuration.py
  starboard/evergreen/arm64/gyp_configuration.py
  starboard/evergreen/shared/gyp_configuration.py
  starboard/evergreen/x64/gyp_configuration.py
  starboard/evergreen/x86/gyp_configuration.py
  starboard/linux/shared/gyp_configuration.py
  starboard/linux/x64x11/clang/3.9/gyp_configuration.py
  starboard/linux/x64x11/egl/gyp_configuration.py
  starboard/linux/x64x11/gcc/6.3/gyp_configuration.py
  starboard/linux/x64x11/gyp_configuration.py
  starboard/linux/x64x11/skia/gyp_configuration.py
  starboard/raspi/2/gyp_configuration.py
  starboard/raspi/2/skia/gyp_configuration.py
  starboard/raspi/shared/gyp_configuration.py
  starboard/shared/win32/gyp_configuration.py
  starboard/stub/gyp_configuration.py
  starboard/win/win32/cobalt/configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

[Performance API]: Add navigation timing to entry buffer.
  cobalt/dom/document.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Revert "[Performance API]: Add navigation timing to entry buffer."
  cobalt/dom/document.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

[COAT] Upgrade Android Gradle Plugin version to 4.1.0 to have RRO
  starboard/android/apk/build.gradle
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
Due: none

[Android] Add overlayable variables in COAT package.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Make android launcher py3 compatible
  starboard/android/shared/launcher.py
Due: yapf, pylint

Remove _env from raspi launcher
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

Allow recovering when another app causes rollback.
  components/update_client/cobalt_slot_management.cc
  components/update_client/update_checker.cc
  starboard/loader_app/slot_management.cc
  starboard/loader_app/slot_management_test.cc
Due: cpplint, cpplint_test, clang-format

Prevent loading script resources based on MIME type.
  cobalt/layout_tests/testdata/web-platform-tests/fetch/web_platform_tests.txt
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
Due: cpplint, clang-format
