Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Write 10s of audio into SbPlayer for preroll
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Update splash screen documentation with topics.
  cobalt/doc/splash_screen.md
Due: none

Set default splash screen to embedded black screen.
  starboard/common/configuration_defaults.cc
Due: cpplint, clang-format

Fix a maybefreeze callback assignment issue.
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Release hybrid nav items of descendants of "display: none"
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Revert "Revert "Declare |elements| in cobalt_runner.py before returning.""
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Correct SbTimeZoneGetCurrent on win32/xb1
  starboard/shared/win32/time_zone_get_current.cc
  starboard/shared/win32/time_zone_get_name.cc
Due: cpplint, clang-format

Remove shell invocations from GYP on PS4, XB1
  cobalt/renderer/glimp_shaders/glsl/shaders.gypi
  starboard/build/gyp_functions.py
Due: yapf, pylint

Remove git-bash dependency for Windows based builds
  build/protoc.gypi
  cobalt/build/gyp_cobalt.bat
  cobalt/css_parser/css_parser.gyp
  cobalt/cssom/cssom.gyp
  starboard/build/base_configuration.gypi
  tools/gyp/pylib/gyp/generator/msvs.py
  tools/gyp/pylib/gyp/generator/ninja.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

[win32] Remove shell invocations from Gyp
  build/common.gypi
  build/dir_exists.py
  build/file_exists.py
  build/find_depot_tools_escaped.py
  build/protoc.gypi
  cobalt/loader/loader.gyp
  cobalt/media/sandbox/sandbox.gyp
  nb/nb.gyp
  starboard/android/shared/starboard_platform.gypi
  starboard/build/list_dmp_files.py
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb.gyp
  starboard/sabi/sabi.gypi
  starboard/shared/starboard/player/player.gyp
  starboard/starboard_all.gyp
  starboard/starboard_headers_only.gyp
  starboard/stub/starboard_platform.gyp
  starboard/tools/app_launcher_packager.py
  starboard/tools/find_private_files.py
  starboard/tools/tools.gyp
  v8/gypfiles/toolchain.gypi
  v8/src/v8.gyp
Due: yapf, pylint

Revert "[win32] Remove shell invocations from Gyp"
  build/common.gypi
  build/dir_exists.py
  build/file_exists.py
  build/find_depot_tools_escaped.py
  build/protoc.gypi
  cobalt/loader/loader.gyp
  cobalt/media/sandbox/sandbox.gyp
  nb/nb.gyp
  starboard/android/shared/starboard_platform.gypi
  starboard/build/list_dmp_files.py
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb.gyp
  starboard/sabi/sabi.gypi
  starboard/shared/starboard/player/player.gyp
  starboard/starboard_all.gyp
  starboard/starboard_headers_only.gyp
  starboard/stub/starboard_platform.gyp
  starboard/tools/app_launcher_packager.py
  starboard/tools/find_private_files.py
  starboard/tools/tools.gyp
  v8/gypfiles/toolchain.gypi
  v8/src/v8.gyp
Due: yapf, pylint

Revert "Remove git-bash dependency for Windows based builds"
  build/protoc.gypi
  cobalt/build/gyp_cobalt.bat
  cobalt/css_parser/css_parser.gyp
  cobalt/cssom/cssom.gyp
  starboard/build/base_configuration.gypi
  tools/gyp/pylib/gyp/generator/msvs.py
  tools/gyp/pylib/gyp/generator/ninja.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

Consolidate IS_CI/fastbuild gyp setting
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint

[android] Make copy of player_component_factory.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format

Force hybrid nav focus items to be in front of containers
  starboard/ui_navigation.h
Due: cpplint, clang-format

[android] Consolidate PlayerComponentFactory
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/starboard_platform.gypi
Due: cpplint, clang-format

Read splash fallback from AndroidManifest.xml.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

Add a build pipeline to media demo.
  cobalt/demos/content/media-element-demo/README.md
  cobalt/demos/content/media-element-demo/package-lock.json
  cobalt/demos/content/media-element-demo/package.json
  cobalt/demos/content/media-element-demo/public/assets/vp9_720p.webm
  cobalt/demos/content/media-element-demo/public/index.html
  cobalt/demos/content/media-element-demo/public/styles/app.css
  cobalt/demos/content/media-element-demo/src/components/error_logger.ts
  cobalt/demos/content/media-element-demo/webpack.config.js
Due: none

[win32] Enable Opus audio support
  starboard/shared/win32/media_is_audio_supported.cc
  starboard/shared/win32/player_components_factory.cc
  starboard/win/shared/starboard_platform.gypi
Due: cpplint, clang-format

Disable android-x86 blackbox tests.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Show crashes from adb.
  starboard/android/shared/launcher.py
Due: yapf, pylint
