Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

update v8 git hash after v8.8 rebase
  third_party/v8/METADATA
Due: none

Revert "Revert "Temporarily disable Evergreen tests on COBALT.""
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Temporarily disable android P224 crypto tests
  starboard/android/shared/cobalt/configuration.py
Due: yapf, pylint

[Android TV] Re-enable socket tests
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Remove obsolete conditionals.
  third_party/protobuf/src/google/protobuf/io/coded_stream.h
  third_party/protobuf/src/google/protobuf/io/coded_stream_inl.h
Due: cpplint, clang-format

Deprecate SbStringFindCharacter.
  cobalt/media/base/video_codecs.cc
  cobalt/overlay_info/overlay_info_registry.cc
  starboard/CHANGELOG.md
  starboard/android/shared/log_format.cc
  starboard/android/shared/media_is_supported.cc
  starboard/client_porting/poem/string_poem.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/string_find_character_test.cc
  starboard/shared/iso/string_find_character.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/shared/stub/string_find_character.cc
  starboard/string.h
  testing/gtest/include/gtest/internal/gtest-port.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/bio/connect.c
  third_party/boringssl/src/crypto/conf/conf.c
  third_party/boringssl/src/crypto/err/err.c
  third_party/boringssl/src/crypto/x509v3/v3_alt.c
  third_party/boringssl/src/crypto/x509v3/v3_info.c
  third_party/boringssl/src/crypto/x509v3/v3_ncons.c
  third_party/boringssl/src/crypto/x509v3/v3_utl.c
  third_party/boringssl/src/ssl/d1_srtp.cc
  third_party/boringssl/src/ssl/t1_lib.cc
  third_party/harfbuzz-ng/src/hb-starboard.hh
Due: cpplint, cpplint_test, clang-format

Deprecate SbStringFindLastCharacter
  cobalt/browser/memory_tracker/tool/util.cc
  starboard/client_porting/poem/string_poem.h
  starboard/common/log.cc
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_path.cc
  starboard/nplb/string_find_last_character_test.cc
  starboard/shared/iso/string_find_last_character.cc
  starboard/shared/stub/string_find_last_character.cc
  starboard/string.h
  testing/gtest/include/gtest/internal/gtest-port.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/icu/source/i18n/upluralrules.cpp
  third_party/protobuf/src/google/protobuf/io/coded_stream.cc
Due: cpplint, cpplint_test, clang-format

Deprecate SbStringFindString
  cobalt/browser/memory_tracker/tool/leak_finder_tool.cc
  cobalt/media/base/video_codecs.cc
  cobalt/media/media_module.cc
  starboard/client_porting/poem/string_poem.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/string_find_string_test.cc
  starboard/nplb/system_get_property_test.cc
  starboard/shared/iso/string_find_string.cc
  starboard/shared/linux/system_get_used_cpu_memory.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/stub/string_find_string.cc
  starboard/string.h
  third_party/harfbuzz-ng/src/hb-starboard.hh
Due: cpplint, cpplint_test, clang-format

Added more symbols to the C99 allowed list.
  starboard/doc/c99.md
Due: none

Cleanup PoemFindCharacterInString.
  starboard/client_porting/poem/string_poem.h
  third_party/protobuf/src/google/protobuf/stubs/strutil.cc
Due: cpplint, clang-format

[GN] Create docker entries for android GN builds
  docker-compose.yml
  docker/linux/android/gn/Dockerfile
Due: none

Show Evergreen Lite/Full in the UA String
  cobalt/browser/user_agent_string.cc
Due: cpplint, clang-format

Deprecate SbStringConcat, SbStringConcatUnsafe and SbStringConcatWide.
  cobalt/browser/memory_tracker/tool/log_writer_tool.cc
  cobalt/browser/memory_tracker/tool/malloc_logger_tool.cc
  cobalt/browser/splash_screen_cache.cc
  starboard/CHANGELOG.md
  starboard/android/shared/system_get_path.cc
  starboard/common/string.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_path.cc
  starboard/loader_app/slot_management.cc
  starboard/nplb/directory_create_test.cc
  starboard/nplb/string_concat_test.cc
  starboard/nplb/string_concat_wide_test.cc
  starboard/nplb/system_get_path_test.cc
  starboard/shared/posix/file_atomic_replace.cc
  starboard/shared/posix/storage_write_record.cc
  starboard/shared/starboard/file_storage/storage_internal.h
  starboard/shared/starboard/lcat.h
  starboard/shared/starboard/lcpy.h
  starboard/shared/starboard/string_concat.cc
  starboard/shared/starboard/string_concat_wide.cc
  starboard/shared/starboard/string_copy.cc
  starboard/shared/starboard/string_copy_wide.cc
  starboard/shared/stub/string_concat.cc
  starboard/shared/stub/string_concat_wide.cc
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/win32/file_atomic_replace.cc
  starboard/shared/win32/log_file_impl.cc
  starboard/shared/win32/storage_write_record.cc
  starboard/string.h
  starboard/win/shared/system_get_path.cc
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/bio/file.c
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/icu/source/common/cwchar.h
Due: cpplint, cpplint_test, clang-format

[Android] Temporarily disable failing zip_unittest
  starboard/android/shared/cobalt/configuration.py
Due: yapf, pylint

Deprecate SbStringConcat, SbStringConcatUnsafe and SbStringConcatWide.
  cobalt/browser/memory_tracker/tool/log_writer_tool.cc
  cobalt/browser/memory_tracker/tool/malloc_logger_tool.cc
  cobalt/browser/splash_screen_cache.cc
  starboard/CHANGELOG.md
  starboard/android/shared/system_get_path.cc
  starboard/common/string.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_path.cc
  starboard/loader_app/slot_management.cc
  starboard/nplb/directory_create_test.cc
  starboard/nplb/string_concat_test.cc
  starboard/nplb/string_concat_wide_test.cc
  starboard/nplb/system_get_path_test.cc
  starboard/shared/posix/file_atomic_replace.cc
  starboard/shared/posix/storage_write_record.cc
  starboard/shared/starboard/file_storage/storage_internal.h
  starboard/shared/starboard/lcat.h
  starboard/shared/starboard/lcpy.h
  starboard/shared/starboard/string_concat.cc
  starboard/shared/starboard/string_concat_wide.cc
  starboard/shared/starboard/string_copy.cc
  starboard/shared/starboard/string_copy_wide.cc
  starboard/shared/stub/string_concat.cc
  starboard/shared/stub/string_concat_wide.cc
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/string.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/bio/file.c
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/icu/source/common/cwchar.h
Due: cpplint, cpplint_test, clang-format

Starboard: Remove timestamp from SbInputdata.
  cobalt/system_window/system_window.cc
  cobalt/system_window/system_window.h
  starboard/input.h
  starboard/shared/linux/dev_input/dev_input.cc
  starboard/shared/x11/application_x11.cc
Due: cpplint, clang-format

Starboard: Deprecate kSbSystemCapabilitySetsInputTimestamp.
  cobalt/system_window/system_window.cc
  starboard/CHANGELOG.md
  starboard/android/shared/system_has_capability.cc
  starboard/linux/shared/system_has_capability.cc
  starboard/system.h
Due: cpplint, clang-format

Revert "Revert "Revert "Temporarily disable Evergreen tests on COBALT."""
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Cobalt: Modify OnApplicationEvent in browser::Application.
  cobalt/browser/application.cc
  cobalt/browser/application.h
Due: cpplint, clang-format

Modify DispatchAndDelete by adding timestamp for events.
  starboard/shared/starboard/application.cc
Due: cpplint, clang-format

Fix Ninja build failure.
  cobalt/browser/application.cc
Due: cpplint, clang-format

Fix 22 LTS conflict issue.
  cobalt/browser/application.cc
Due: cpplint, clang-format

Add UA-CH experiment control API
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/dom/navigator.idl
  cobalt/dom/navigator_ua.idl
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/script/fake_global_environment.h
  cobalt/script/global_environment.h
  cobalt/script/v8c/v8c_global_environment.cc
  cobalt/script/v8c/v8c_global_environment.h
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
