Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Use XML naming convention for RRO variables
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/examples/overlays/res/xml/overlays.xml
  starboard/android/shared/graphics.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Fix grammar for RRO name
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/examples/overlays/res/xml/overlays.xml
  starboard/android/shared/graphics.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Add METADATA for third_party/chromium/media
  third_party/chromium/media/METADATA
Due: none

[android] Move ***REMOVED*** to drm_system_extension/
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/media_common.h
Due: cpplint, clang-format

[worker] Add all the expected web platform tests for dedicated workers
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
Due: none

Revert "Revert "Implements Cobalt Watchdog.""
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.h
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/h5vcc/watchdog_replace.idl
  cobalt/h5vcc/watchdog_state.idl
  cobalt/renderer/BUILD.gn
  cobalt/renderer/pipeline.cc
  cobalt/test/BUILD.gn
  cobalt/test/run_all_unittests.cc
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/environment.h
  starboard/shared/posix/environment.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/stub/environment.cc
  starboard/shared/win32/environment.cc
  starboard/stub/BUILD.gn
  starboard/win/shared/BUILD.gn
Due: cpplint, cpplint_test, clang-format

Remove dependency on starboard/tools/environment.py
  starboard/build/platform_configuration.py
Due: yapf, pylint

[PS4] Call submitDone() regularly during app suspension.
  glimp/egl/display.cc
  glimp/egl/display.h
  glimp/egl/display_impl.h
  glimp/entry_points/egl.cc
Due: cpplint, clang-format

[PS4] Add more logging for debugging no internet connection message
  starboard/shared/posix/socket_bind.cc
  starboard/shared/posix/socket_connect.cc
  starboard/shared/posix/socket_internal.cc
  starboard/shared/posix/socket_join_multicast_group.cc
  starboard/shared/posix/socket_receive_from.cc
  starboard/shared/posix/socket_send_to.cc
Due: cpplint, clang-format

Revert "Revert "Remove _env from cobalt/bindings/""
  cobalt/bindings/_env.py
  cobalt/bindings/contexts.py
  cobalt/bindings/flatten_idls_test.py
  cobalt/bindings/path_generator_test.py
Due: yapf, pylint

Replace obsolete util.Execute with subprocess.check_call
  starboard/tools/util.py
Due: yapf, pylint

[XB1] Update Windows SDK and XDK versions.
  build/config/win/visual_studio_version.gni
  starboard/win/shared/BUILD.gn
Due: none

[PS4] Schedule submitDone() during suspend more frequently
  glimp/egl/display.cc
Due: cpplint, clang-format

Sccache work for windows builders.
  docker/windows/base/build/Dockerfile
Due: none

[PS4] Disable constant in gyp file to disable unused code
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
Due: cpplint, clang-format

Potential fix for the crash in DispatchInputEvent.
  cobalt/system_window/system_window.cc
Due: cpplint, clang-format

Fix CookieMonster tests
  net/cookies/cookie_monster_unittest.cc
  net/cookies/cookie_store_unittest.h
Due: cpplint_test, clang-format

Remove the remaining _env from cobalt source
  _env.py
  cobalt/_env.py
  starboard/tools/environment.py
Due: yapf, pylint

[PS4] Repeat submitDone callbacks during suspension
  glimp/egl/display.cc
  glimp/egl/display.h
  glimp/entry_points/egl.cc
Due: cpplint, clang-format

[media] Log SbPlayer initialization latencies
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/base/starboard_player.cc
  cobalt/media/base/starboard_player.h
Due: cpplint, clang-format

Add Evergreen annotation for StartAtCrash.
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/handler/handler_main.cc
  third_party/crashpad/handler/linux/capture_snapshot.cc
Due: cpplint, clang-format

[android] Optimize SbMediaIsTypeSupported
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/VideoDecoderCache.java
  starboard/android/shared/media_is_video_supported.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Cleanup dlmalloc code.
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/posix/memory_map.cc
  starboard/shared/posix/memory_mapped_file.cc
  starboard/shared/posix/memory_protect.cc
  starboard/shared/posix/memory_unmap.cc
  starboard/shared/posix/page_internal.cc
  starboard/shared/posix/page_internal.h
Due: cpplint, clang-format

Add missing dependency for generated_bindings_sources.
  cobalt/browser/BUILD.gn
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.h
  cobalt/h5vcc/h5vcc_crash_log.idl
Due: cpplint, clang-format

Reduce logspam warning from XMLHttpRequest.
  cobalt/xhr/xml_http_request.cc
Due: cpplint, clang-format

[event.h] Refine api version in comment
  starboard/event.h
Due: cpplint, clang-format

Add logs for QA config to track down graphics bug
  cobalt/browser/application.cc
  cobalt/renderer/backend/egl/framebuffer.cc
  cobalt/renderer/backend/egl/graphics_system.cc
  cobalt/renderer/backend/egl/pbuffer_render_target.cc
Due: cpplint, clang-format

Filter android_arm64 failure tests
  starboard/android/arm64/test_filters.py
Due: yapf, pylint

Don't assume current directory in WPT
  third_party/web_platform_tests/XMLHttpRequest/resources/auth2/corsenabled.py
  third_party/web_platform_tests/XMLHttpRequest/resources/auth7/corsenabled.py
  third_party/web_platform_tests/XMLHttpRequest/resources/auth8/corsenabled-no-authorize.py
Due: yapf, pylint

Fix python3 pycompile errors in black box tests
  cobalt/black_box_tests/proxy_server.py
  cobalt/black_box_tests/tests/cancel_sync_loads_when_suspended.py
  cobalt/black_box_tests/tests/compression_test.py
  cobalt/black_box_tests/tests/deep_links.py
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/black_box_tests/tests/retry_async_script_loads_after_suspend.py
  cobalt/black_box_tests/tests/web_debugger.py
  cobalt/black_box_tests/threaded_web_server.py
  third_party/web_platform_tests/tools/wptserve/wptserve/pipes.py
  third_party/web_platform_tests/tools/wptserve/wptserve/request.py
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
  third_party/web_platform_tests/tools/wptserve/wptserve/server.py
  third_party/web_platform_tests/tools/wptserve/wptserve/utils.py
Due: yapf, pylint

Use py3 exceptions in black box tests
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/_stream_base.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/_stream_hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/common.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/dispatch.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/extensions.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/__init__.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/_base.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/http_header_util.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/memorizingfile.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/msgutil.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/mux.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/standalone.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/util.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/xhr_benchmark_handler.py
  third_party/web_platform_tests/tools/serve/__init__.py
  third_party/web_platform_tests/tools/serve/serve.py
  third_party/web_platform_tests/tools/sslutils/__init__.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
