Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Remove iter prefix from iter[items/values/keys]
  third_party/web_platform_tests/XMLHttpRequest/resources/inspect-headers.py
  third_party/web_platform_tests/cors/resources/cors-makeheader.py
  third_party/web_platform_tests/mixed-content/generic/tools/spec_validator.py
  third_party/web_platform_tests/service-workers/tools/blink-import.py
  third_party/web_platform_tests/tools/ci/check_stability.py
  third_party/web_platform_tests/tools/manifest/manifest.py
  third_party/web_platform_tests/tools/runner/report.py
  third_party/web_platform_tests/tools/serve/serve.py
  third_party/web_platform_tests/tools/sslutils/openssl.py
  third_party/web_platform_tests/tools/wpt/run.py
  third_party/web_platform_tests/tools/wpt/stability.py
  third_party/web_platform_tests/tools/wptrunner/test/test.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/browsers/base.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/environment.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/executors/executormarionette.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/executors/executorservo.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/manifestinclude.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/manifestupdate.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/metadata.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/products.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/reduce.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/testloader.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/update/metadata.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptcommandline.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptmanifest/backends/conditional.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptmanifest/backends/static.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptmanifest/serializer.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptmanifest/tests/test_conditional.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptmanifest/tests/test_static.py
  third_party/web_platform_tests/tools/wptrunner/wptrunner/wptrunner.py
  third_party/web_platform_tests/tools/wptserve/tests/functional/base.py
  third_party/web_platform_tests/tools/wptserve/wptserve/handlers.py
  third_party/web_platform_tests/tools/wptserve/wptserve/request.py
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
Due: yapf, pylint

Use py2/3 compatible string types in WPT
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
  third_party/web_platform_tests/tools/wptserve/wptserve/server.py
  third_party/web_platform_tests/websockets/handlers/set-cookie_http_wsh.py
  third_party/web_platform_tests/websockets/handlers/set-cookie_wsh.py
  third_party/web_platform_tests/websockets/handlers/stash_responder_wsh.py
Due: yapf, pylint

Use bytestrings in WPT where necessary
  third_party/web_platform_tests/tools/serve/serve.py
  third_party/web_platform_tests/tools/sslutils/openssl.py
  third_party/web_platform_tests/tools/wptserve/wptserve/router.py
  third_party/web_platform_tests/tools/wptserve/wptserve/stash.py
Due: yapf, pylint

Misc py3 compatibility changes in WPT
  third_party/web_platform_tests/XMLHttpRequest/resources/trickle.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/util.py
  third_party/web_platform_tests/tools/wptserve/wptserve/handlers.py
  third_party/web_platform_tests/tools/wptserve/wptserve/pipes.py
  third_party/web_platform_tests/tools/wptserve/wptserve/request.py
  third_party/web_platform_tests/tools/wptserve/wptserve/server.py
Due: yapf, pylint

Ensure proper response formatting in WPT for py3
  third_party/web_platform_tests/tools/wptserve/wptserve/pipes.py
  third_party/web_platform_tests/tools/wptserve/wptserve/request.py
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
Due: yapf, pylint

Use py3 compatible patterns in WPT resources
  third_party/web_platform_tests/content-security-policy/support/report.py
  third_party/web_platform_tests/cookies/resources/set-cookie.py
  third_party/web_platform_tests/cors/resources/status.py
  third_party/web_platform_tests/fetch/api/resources/bad-chunk-encoding.py
  third_party/web_platform_tests/fetch/api/resources/trickle.py
  third_party/web_platform_tests/tools/pywebsocket/src/example/benchmark_helper_wsh.py
  third_party/web_platform_tests/tools/pywebsocket/src/example/echo_noext_wsh.py
  third_party/web_platform_tests/tools/pywebsocket/src/example/echo_wsh.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/_stream_base.py
  third_party/web_platform_tests/tools/wptserve/wptserve/server.py
  third_party/web_platform_tests/websockets/handlers/echo_close_data_wsh.py
  third_party/web_platform_tests/websockets/handlers/echo_exit_wsh.py
  third_party/web_platform_tests/websockets/handlers/echo_wsh.py
Due: yapf, pylint

Ensure py3 bytestring formatting in WPT responses
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/util.py
  third_party/web_platform_tests/tools/wptserve/wptserve/handlers.py
  third_party/web_platform_tests/tools/wptserve/wptserve/pipes.py
  third_party/web_platform_tests/tools/wptserve/wptserve/request.py
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
Due: yapf, pylint

Use explicit byte strings for websocket tests
  third_party/web_platform_tests/tools/pywebsocket/src/example/echo_client.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/_stream_hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/common.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/standalone.py
  third_party/web_platform_tests/websockets/handlers/echo_raw_wsh.py
  third_party/web_platform_tests/websockets/handlers/echo_wsh.py
  third_party/web_platform_tests/websockets/handlers/set-cookie_wsh.py
  third_party/web_platform_tests/websockets/handlers/simple_handshake_wsh.py
  third_party/web_platform_tests/websockets/handlers/sleep_10_v13_wsh.py
Due: yapf, pylint

Fix WPT suites using set-cookie
  third_party/web_platform_tests/tools/wptserve/wptserve/response.py
  third_party/web_platform_tests/websockets/handlers/set-cookie_wsh.py
Due: yapf, pylint

Add ServiceWorkerRegistry stub with thread.
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/web/agent.h
Due: cpplint, clang-format

Add ServiceWorkerJobs
  cobalt/browser/browser_module.cc
  cobalt/browser/debug_console.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/navigator.cc
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/layout_tests/layout_snapshot.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_container.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, cpplint_test, clang-format

[Watchdog] Remove Watchdog debugging.
  cobalt/renderer/pipeline.cc
Due: cpplint, clang-format

Reduce logspam from AutoMem.
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/memory_settings/auto_mem.cc
  cobalt/browser/memory_settings/auto_mem.h
  cobalt/browser/memory_settings/auto_mem_test.cc
Due: cpplint, cpplint_test, clang-format

Workaround socket error handling for WPT
  third_party/web_platform_tests/fetch/api/resources/infinite-slow-response.py
Due: yapf, pylint

Create the switch to run the handler after a crash
  cobalt/site/docs/gen/starboard/doc/crash_handlers.md
  starboard/contrib/linux/stadia/main.cc
  starboard/doc/crash_handlers.md
  starboard/linux/shared/BUILD.gn
  starboard/linux/x64x11/main.cc
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/main.cc
  starboard/shared/starboard/starboard_switches.cc
  starboard/shared/starboard/starboard_switches.h
  starboard/stub/BUILD.gn
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
Due: cpplint, clang-format

Fix WPT extension instantiation
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/handshake/hybi.py
  third_party/web_platform_tests/tools/pywebsocket/src/mod_pywebsocket/util.py
Due: yapf, pylint

[PS4] Disable conceal mode
  glimp/egl/display.cc
Due: cpplint, clang-format

[PS4][PS5] Disable conceal mode
  glimp/egl/display.cc
Due: cpplint, clang-format

Modify gyp file to build on 22.lts.1+
  starboard/linux/shared/starboard_platform.gypi
  starboard/raspi/shared/starboard_platform.gypi
  starboard/stub/stub_sources.gypi
Due: none

Revert "[PS4] Disable constant in gyp file to disable unused code"
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
Due: cpplint, clang-format

[android] Add RRO for video buffer budget
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/examples/overlays/res/xml/overlays.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_get_video_buffer_budget.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[android] Add RRO for video buffer budget
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  starboard/android/apk/app/src/main/res/values/overlayable.xml
  starboard/android/apk/app/src/main/res/values/rro_variables.xml
  starboard/android/examples/overlays/res/xml/overlays.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_get_video_buffer_budget.cc
  starboard/android/shared/starboard_platform.gypi
Due: cpplint, clang-format, google-java-format, gcheckstyle

Remove deprecated EncodedCertificationSecret doc
  starboard/system.h
Due: cpplint, clang-format

Have evergreen tests use a finite expect timeout
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/secure_communication.sh
Due: none

[Watchdog] Move Watchdog above Starboard.
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/renderer/BUILD.gn
  cobalt/renderer/pipeline.cc
  cobalt/test/run_all_unittests.cc
  cobalt/watchdog/BUILD.gn
  cobalt/watchdog/README.md
  cobalt/watchdog/singleton.h
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/stub/BUILD.gn
  starboard/win/shared/BUILD.gn
Due: cpplint, cpplint_test, clang-format

[Watchdog] Deprecate Watchdog State enum.
  cobalt/base/application_state.h
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/renderer/pipeline.cc
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

[Watchdog] Add Watchdog idl to h5vcc crash log.
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.h
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/h5vcc/watchdog_replace.idl
  cobalt/h5vcc/watchdog_state.idl
Due: cpplint, clang-format

Use a constant to store expect timeout
  starboard/evergreen/testing/raspi/secure_communication.sh
Due: none

Add Evergreen annotation for StartAtCrash.
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/handler/handler_main.cc
  third_party/crashpad/handler/linux/capture_snapshot.cc
Due: cpplint, clang-format

Downgrade selenium for py3 in linux image
  docker/linux/linux-x64x11/Dockerfile
Due: none

Implement 'Register' algorithm and 'IsOriginPotentiallyTrustworthy' helper.
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, clang-format

Add job queue and 'Start Register' algorithms.
  cobalt/browser/browser_module.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/script/environment_settings.h
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, clang-format

Use command-line switches in GTEST sharding config
  testing/gtest/src/gtest-internal-inl.h
  testing/gtest/src/gtest.cc
Due: cpplint, cpplint_test, clang-format

SoftMic Platform Service Cherrypick
  cobalt/black_box_tests/README.md
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/soft_mic_platform_service_test.html
  cobalt/black_box_tests/testdata/soft_mic_platform_service_test.js
  cobalt/black_box_tests/tests/soft_mic_platform_service_test.py
  cobalt/demos/content/soft-mic-platform-service-demo/soft_mic_platform_service_demo.html
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/soft_mic_platform_service.cc
  starboard/linux/shared/soft_mic_platform_service.h
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/shared/system_get_extensions.cc
Due: cpplint, yapf, pylint, clang-format

Add a conditional check for media_module_ before accessing it.
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Run black box tests with python 3
  cobalt/black_box_tests/threaded_web_server.py
  cobalt/black_box_tests/web_platform_test_server.py
  starboard/linux/shared/launcher.py
  starboard/tools/send_link.py
  third_party/web_platform_tests/websockets/handlers/echo_raw_wsh.py
Due: yapf, pylint

Remove unused pieces of buildtools
  buildtools/.gitignore
  buildtools/linux64/gn.sha1
Due: none
