Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Fix SpeechRecognizer removal build failures
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/2/sbversion/12/starboard_platform.gyp
  starboard/raspi/shared/starboard_platform.gypi
Due: cpplint, clang-format

[GN] Remove deprecated speech_recognizer sources
  starboard/linux/shared/BUILD.gn
Due: none

Fix windows base dockerfile typo in file path
  docker/windows/base/build/Dockerfile
Due: none

Update 22 LTS version string
  cobalt/version.h
Due: cpplint, clang-format

Remove the guard for gold build.
  net/url_request/url_fetcher_core.cc
Due: cpplint, clang-format

Filter failed player components tests on raspi
  starboard/raspi/shared/gyp_configuration.py
Due: yapf, pylint

Add Media Integration Test Suite
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/media/base/playback_statistics.cc
  cobalt/media/base/playback_statistics.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media_integration_tests/__init__.py
  cobalt/media_integration_tests/_env.py
  cobalt/media_integration_tests/endurance/__init__.py
  cobalt/media_integration_tests/endurance/_env.py
  cobalt/media_integration_tests/functionality/__init__.py
  cobalt/media_integration_tests/functionality/_env.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/media_integration_tests_runner.py
  cobalt/media_integration_tests/performance/__init__.py
  cobalt/media_integration_tests/performance/_env.py
  cobalt/media_integration_tests/test_app.py
  cobalt/media_integration_tests/test_case.py
  cobalt/tools/automated_testing/cobalt_runner.py
  cobalt/webdriver/keyboard.cc
  cobalt/webdriver/window_driver.cc
Due: cpplint, yapf, pylint, clang-format

Remove channel validation
  cobalt/h5vcc/h5vcc_updater.cc
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: cpplint, clang-format

Add support for decode options [Text Encoding API]
  cobalt/encoding/text_decoder.cc
  cobalt/encoding/text_decoder.h
  cobalt/encoding/text_decoder_test.cc
  cobalt/encoding/text_encoder.cc
  cobalt/encoding/text_encoder_test.cc
  cobalt/layout_tests/testdata/web-platform-tests/encoding/web_platform_tests.txt
Due: cpplint, cpplint_test, clang-format

Fix Kimono crash caused by mediaSession is null
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

add logging info for jni_env_ext
  starboard/android/shared/jni_env_ext.cc
  starboard/android/shared/jni_env_ext.h
Due: cpplint, clang-format

Freeze SB_SPEECH_RECOGNIZER_APIS_DEPRECATED_VERSION at SB_API_VERSION 13
  cobalt/doc/voice_search.md
  cobalt/speech/speech_configuration.h
  cobalt/speech/starboard_speech_recognizer.cc
  cobalt/speech/starboard_speech_recognizer.h
  starboard/CHANGELOG.md
  starboard/configuration.h
  starboard/elf_loader/exported_symbols.cc
  starboard/shared/starboard/speech_recognizer/speech_recognizer_create.cc
Due: cpplint, clang-format

[GN] Correctly set host toolchain
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Only build crashpad for evergreen compatible platforms
  starboard/BUILD.gn
Due: none

Fix failed black box tests
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Load default font based on locale at startup.
  cobalt/base/language.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/content/fonts/config/common/fonts.xml
  cobalt/render_tree/mock_resource_provider.h
  cobalt/render_tree/resource_provider.h
  cobalt/render_tree/resource_provider_stub.h
  cobalt/renderer/pipeline.cc
  cobalt/renderer/pipeline_test.cc
  cobalt/renderer/rasterizer/blitter/resource_provider.cc
  cobalt/renderer/rasterizer/blitter/resource_provider.h
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.cc
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.h
  cobalt/renderer/rasterizer/skia/software_resource_provider.cc
  cobalt/renderer/rasterizer/skia/software_resource_provider.h
Due: cpplint, cpplint_test, clang-format

Remove Skia C++ binary literal backporting
  third_party/skia/src/core/SkContourMeasure.cpp
  third_party/skia/src/core/SkVM.cpp
  third_party/skia/src/core/SkVMBlitter.cpp
Due: cpplint, clang-format

Adding Evergreen dependencies to Raspi-2 docker builder.
  docker/linux/raspi/Dockerfile
Due: none

Separate the Omaha app ID for trunk and prod
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Fix a websocket opcode issue
  cobalt/websocket/web_socket_impl.cc
Due: cpplint, clang-format

[PS4] Remove obsolete flag for building gtest target.
  testing/gtest.gyp
Due: none

Use system ninja for android cmake build
  starboard/android/apk/app/cobalt-ninja.sh
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
