Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Tweaks to app_launcher for device_server cleanup
  starboard/tools/app_launcher_packager.py
Due: yapf, pylint

Disable the debuggable flag for CoAT qa.
  starboard/android/apk/app/build.gradle
Due: none

Fix retry loops in cobalt_runner.py.
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Drop Jinja2 dependency on app_launcher
  starboard/tools/app_launcher_packager.py
  starboard/tools/platform.py.template
Due: yapf, pylint

Stop packaging buildbot code in app_launcher directly.
  starboard/tools/app_launcher_packager.py
Due: yapf, pylint

Use Google's open-source pylintrc
  .pylintrc
Due: none

Fix the updater status error
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  components/update_client/component.cc
  components/update_client/configurator.h
Due: cpplint, clang-format

Apply zero-day security fix to FreeType2
  third_party/freetype2/ChangeLog
  third_party/freetype2/src/sfnt/pngshim.c
Due: none

Set the default starboard API to 12.
  starboard/sabi/sabi.py
Due: yapf, pylint

Revert "Set the default starboard API to 12."
  starboard/sabi/sabi.py
Due: yapf, pylint

Set the default starboard API to 12.
  starboard/android/shared/configuration_public.h
  starboard/linux/x64x11/configuration_public.h
  starboard/linux/x64x11/skia/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/sabi/sabi.py
  starboard/stub/configuration_public.h
Due: cpplint, yapf, pylint, clang-format

[Android]: Hook up service lifecycle with UI window.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/starboard_platform.gypi
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/starboard/application.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Fix timing issue with manually focusing hybrid nav items
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
  cobalt/layout/layout_manager.cc
Due: cpplint, clang-format

Update UI navigation even if just tabindex is changed
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
Due: cpplint, clang-format

[android] Fallback to old codec selection logic
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle

[tvos] Implement SbAccessibility*
  starboard/android/shared/accessibility_get_caption_settings.cc
  starboard/shared/starboard/accessibility_internal.h
Due: cpplint, clang-format

[tvos] Implement SbAccessibility*
  starboard/android/shared/accessibility_get_caption_settings.cc
  starboard/shared/starboard/accessibility_internal.h
  starboard/win/shared/configuration_public.h
Due: cpplint, clang-format

Propagate focus to the nearest ancestor with a hybrid nav focus item
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
Due: cpplint, clang-format

Remove focus from hybrid nav system if the current focus is disabled
  cobalt/dom/html_element.cc
  cobalt/ui_navigation/nav_item.h
  starboard/configuration.h
  starboard/ui_navigation.h
Due: cpplint, clang-format

Prevent scrolling of hybrid nav containers under special circumstances
  starboard/ui_navigation.h
Due: cpplint, clang-format

An HTMLElement may be a focus item only if it accepts pointer-events too
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Fix UI navigation focus on reveal
  cobalt/dom/document.cc
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
Due: cpplint, clang-format
