Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Increment Cobalt release version for 22 LTS
  cobalt/version.h
Due: cpplint, clang-format

Revert "Revert "kSbEventTypeOsNetwork*events on Linux""
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb.gyp
  starboard/nplb/system_network_status_test.cc
  starboard/shared/linux/singleton.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/x11/application_x11.cc
Due: cpplint, cpplint_test, clang-format

Enable network status change implementation on SB13+
  starboard/nplb/system_network_status_test.cc
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/x11/application_x11.cc
Due: cpplint, cpplint_test, clang-format

Fix a delegate_ check failed issue in UrlFetcherCore.
  net/url_request/url_fetcher_core.cc
Due: cpplint, clang-format

Make concealed state part of upcoming starboard version
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/lifecycle_console_commands.cc
  cobalt/browser/main.cc
  cobalt/browser/suspend_fuzzer.cc
  cobalt/browser/suspend_fuzzer.h
  cobalt/updater/one_app_only_sandbox.cc
  starboard/android/shared/configuration_public.h
  starboard/configuration.h
  starboard/elf_loader/exported_symbols.cc
  starboard/event.h
  starboard/examples/window/main.cc
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_conceal.cc
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/signal/system_request_suspend.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/system_request_blur.cc
  starboard/shared/starboard/system_request_conceal.cc
  starboard/shared/starboard/system_request_focus.cc
  starboard/shared/starboard/system_request_freeze.cc
  starboard/shared/starboard/system_request_pause.cc
  starboard/shared/starboard/system_request_reveal.cc
  starboard/shared/starboard/system_request_suspend.cc
  starboard/shared/starboard/system_request_unpause.cc
  starboard/shared/stub/system_request_blur.cc
  starboard/shared/stub/system_request_conceal.cc
  starboard/shared/stub/system_request_focus.cc
  starboard/shared/stub/system_request_freeze.cc
  starboard/shared/stub/system_request_pause.cc
  starboard/shared/stub/system_request_reveal.cc
  starboard/shared/stub/system_request_suspend.cc
  starboard/shared/stub/system_request_unpause.cc
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
  starboard/system.h
Due: cpplint, clang-format

Make concealed state part of upcoming starboard version
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/lifecycle_console_commands.cc
  cobalt/browser/main.cc
  cobalt/browser/suspend_fuzzer.cc
  cobalt/browser/suspend_fuzzer.h
  cobalt/updater/one_app_only_sandbox.cc
  starboard/android/shared/configuration_public.h
  starboard/configuration.h
  starboard/elf_loader/exported_symbols.cc
  starboard/event.h
  starboard/examples/window/main.cc
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_conceal.cc
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/signal/system_request_suspend.cc
  starboard/shared/starboard/application.cc
  starboard/shared/starboard/application.h
  starboard/shared/starboard/system_request_blur.cc
  starboard/shared/starboard/system_request_conceal.cc
  starboard/shared/starboard/system_request_focus.cc
  starboard/shared/starboard/system_request_freeze.cc
  starboard/shared/starboard/system_request_pause.cc
  starboard/shared/starboard/system_request_reveal.cc
  starboard/shared/starboard/system_request_suspend.cc
  starboard/shared/starboard/system_request_unpause.cc
  starboard/shared/stub/system_request_blur.cc
  starboard/shared/stub/system_request_conceal.cc
  starboard/shared/stub/system_request_focus.cc
  starboard/shared/stub/system_request_freeze.cc
  starboard/shared/stub/system_request_pause.cc
  starboard/shared/stub/system_request_reveal.cc
  starboard/shared/stub/system_request_suspend.cc
  starboard/shared/stub/system_request_unpause.cc
  starboard/shared/win32/application_win32.cc
  starboard/shared/x11/application_x11.cc
  starboard/shared/x11/application_x11.h
  starboard/system.h
Due: cpplint, clang-format

Limit the UrlFetcherObserver.
  cobalt/extension/url_fetcher_observer.h
  net/url_request/url_fetcher_core.cc
Due: cpplint, clang-format

Remove linux-x64x11-vulkan variant
  starboard/linux/x64x11/vulkan/atomic_public.h
  starboard/linux/x64x11/vulkan/configuration_public.h
  starboard/linux/x64x11/vulkan/gyp_configuration.gypi
  starboard/linux/x64x11/vulkan/gyp_configuration.py
  starboard/linux/x64x11/vulkan/starboard_platform.gyp
  starboard/linux/x64x11/vulkan/starboard_platform_tests.gyp
  starboard/linux/x64x11/vulkan/thread_types_public.h
Due: cpplint, yapf, pylint, clang-format

Checks for nullptr before calling the methods
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: cpplint, clang-format

Fix fetch_start and FilterBufferByNameAndType issues.
  cobalt/dom/performance_entry.cc
  cobalt/dom/performance_entry_list_impl.cc
  cobalt/dom/performance_resource_timing.cc
Due: cpplint, clang-format

Add has_vfp4 to the arm cpu features.
  starboard/configuration.h
  starboard/cpu_features.h
  starboard/nplb/cpu_features_get_test.cc
Due: cpplint, cpplint_test, clang-format

Add Cobalt Extension for updatef notification.
  cobalt/CHANGELOG.md
  cobalt/extension/extension_test.cc
  cobalt/extension/updater_notification.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
  components/update_client/url_fetcher_downloader.cc
Due: cpplint, cpplint_test, clang-format

Add Cobalt Extension for updater notification.
  cobalt/CHANGELOG.md
  cobalt/extension/extension_test.cc
  cobalt/extension/updater_notification.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
  components/update_client/url_fetcher_downloader.cc
Due: cpplint, cpplint_test, clang-format

[GN] Migrate libevent to GN
  starboard/linux/shared/BUILD.gn
  third_party/libevent/BUILD.gn
Due: none

[GN] Migrate opus to GN
  starboard/linux/shared/BUILD.gn
  starboard/linux/x64x11/egl/platform_configuration/configuration.gni
  third_party/opus/BUILD.gn
Due: none

[GN] Migrate ffmpeg to GN
  starboard/linux/shared/BUILD.gn
  starboard/shared/ffmpeg/BUILD.gn
Due: none

[GN] Migrate starboard_base_symbolize to GN
  starboard/elf_loader/BUILD.gn
  starboard/linux/shared/BUILD.gn
  third_party/crashpad/client/BUILD.gn
Due: none

[GN] Migrate pulseaudio_includes to GN
  third_party/pulseaudio_includes/BUILD.gn
Due: none

[GN] Migrate de265_includes to GN
  third_party/de265_includes/BUILD.gn
Due: none

[GN] Migrate pending_restart to GN
  starboard/linux/shared/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: none
