Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Clean up build id header generator (#340)
  cobalt/build/build_id.py
Due: yapf, pylint

Cleanup/dead gyp code (#337)
  cobalt/black_box_tests/tests/web_debugger.py
  cobalt/build/cobalt_configuration.py
  starboard/build/application_configuration.py
  starboard/tools/build.py
Due: yapf, pylint

Remove deprecated build functions (#338)
  starboard/tools/build.py
Due: yapf, pylint

[android] Skip e/ac3 au parsing for end of stream (#293) (#324)
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format

Some cobalt fixes for third_party libs used by UMA (#341)
  third_party/metrics_proto/BUILD.gn
  third_party/zlib/google/BUILD.gn
Due: none

Feature/get build id tests (#344)
  cobalt/build/get_build_id.py
  cobalt/build/get_build_id_test.py
  setup.cfg
Due: yapf, pylint

[media] Update heaac.dmp (#323)
  starboard/shared/starboard/player/testdata/heaac.dmp.sha1
Due: none

[media] Update heaac.dmp (#323) (#354)
  starboard/shared/starboard/player/testdata/heaac.dmp.sha1
Due: none

Migrate cobalt to base::ThreadTaskRunnerHandle::Get() (#347)
  base/threading/thread_task_runner_handle.cc
  base/threading/thread_task_runner_handle.h
  cobalt/browser/web_module.cc
  cobalt/debug/command.h
  cobalt/dom/document.cc
  cobalt/dom/html_element.cc
  cobalt/dom/html_media_element.cc
  cobalt/dom/media_source.h
  cobalt/dom/mutation_observer_task_manager.cc
  cobalt/dom/serialized_algorithm_runner.h
  cobalt/dom/source_buffer.h
  cobalt/h5vcc/h5vcc_accessibility.cc
  cobalt/h5vcc/h5vcc_event_listener_container.h
  cobalt/input/input_device_manager_fuzzer.cc
  cobalt/layout_tests/layout_tests.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/loader/about_fetcher.cc
  cobalt/loader/error_fetcher.cc
  cobalt/loader/fetcher_test.h
  cobalt/loader/file_fetcher.cc
  cobalt/loader/file_fetcher.h
  cobalt/loader/loader.cc
  cobalt/loader/loader_test.cc
  cobalt/media/base/drm_system.cc
  cobalt/media/progressive/progressive_demuxer.cc
  cobalt/media_capture/media_recorder.cc
  cobalt/network/persistent_cookie_store_test.cc
  cobalt/renderer/sandbox/renderer_sandbox_main.cc
  cobalt/trace_event/scoped_trace_to_file.cc
  cobalt/web/event_target.cc
  cobalt/webdriver/util/call_on_message_loop.h
  cobalt/webdriver/window_driver.h
  cobalt/worker/clients.cc
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/worker_global_scope.cc
Due: cpplint, cpplint_test, clang-format

Add CrashContextUpdateHandler interface (#348)
  starboard/android/apk/apk_sources.gni
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CrashContextUpdateHandler.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Add basic WASM test. (#328)
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/wasm_basic_test.html
  cobalt/black_box_tests/testdata/wasm_basic_test.wasm
  cobalt/black_box_tests/tests/wasm_basic_test.py
Due: yapf, pylint

Update base/third_party/symbolize. (#315)
  base/third_party/symbolize/BUILD.gn
  base/third_party/symbolize/README.chromium
  base/third_party/symbolize/config.h
  base/third_party/symbolize/demangle.cc
  base/third_party/symbolize/demangle.h
  base/third_party/symbolize/glog/logging.h
  base/third_party/symbolize/glog/raw_logging.h
  base/third_party/symbolize/patches/001-fix-up-includes.patch
  base/third_party/symbolize/patches/002-minimal-logging.patch
  base/third_party/symbolize/patches/003-minimal-utilities.patch
  base/third_party/symbolize/patches/004-add-missing-symbolize-header.patch
  base/third_party/symbolize/patches/005-expose-file-helpers.patch
  base/third_party/symbolize/patches/006-use-sandbox-hook-for-open-object-file.patch
  base/third_party/symbolize/patches/007-sys-types-h.patch
  base/third_party/symbolize/patches/008-include-cstdlib.patch
  base/third_party/symbolize/patches/009-clone-absl-demangle.patch
  base/third_party/symbolize/patches/010-clang-format.patch
  base/third_party/symbolize/symbolize.cc
  base/third_party/symbolize/symbolize.h
  base/third_party/symbolize/utilities.h
Due: cpplint, clang-format

Fix jinja template cache key on windows (#329)
  third_party/jinja2/bccache.py
Due: yapf, pylint

Turn off clang 16 related warnings in v8. (#349)
  third_party/v8/BUILD.gn
  third_party/v8/third_party/inspector_protocol/BUILD.gn
Due: none

Revert Local FreeType Changes
  third_party/freetype2/BUILD.gn
  third_party/freetype2/ChangeLog
  third_party/freetype2/METADATA
  third_party/freetype2/README.cobalt
  third_party/freetype2/docs/reference/.gitignore
  third_party/freetype2/docs/reference/README
  third_party/freetype2/docs/reference/markdown/images/favico.ico
  third_party/freetype2/docs/reference/markdown/javascripts/extra.js
  third_party/freetype2/docs/reference/markdown/stylesheets/extra.css
  third_party/freetype2/include/freetype/config/ftconfig.h
  third_party/freetype2/include/freetype/config/ftmodule.h
  third_party/freetype2/include/freetype/config/ftoption.h
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/freetype2/include_cobalt/ftconfig.h
  third_party/freetype2/include_cobalt/ftmodule.h
  third_party/freetype2/include_cobalt/ftoption.h
  third_party/freetype2/src/base/ftobjs.c
  third_party/freetype2/src/gzip/zutil.h
  third_party/freetype2/src/sfnt/pngshim.c
  third_party/freetype2/src/sfnt/sfwoff2.c
Due: cpplint, clang-format

Fix gtest multithread crash (#332)
  testing/gtest/include/gtest/internal/gtest-port.h
Due: cpplint, clang-format

Revert "Update base/third_party/symbolize. (#315)" (#362)
  base/third_party/symbolize/BUILD.gn
  base/third_party/symbolize/README.chromium
  base/third_party/symbolize/config.h
  base/third_party/symbolize/demangle.cc
  base/third_party/symbolize/demangle.h
  base/third_party/symbolize/glog/logging.h
  base/third_party/symbolize/glog/raw_logging.h
  base/third_party/symbolize/patches/001-fix-up-includes.patch
  base/third_party/symbolize/patches/002-minimal-logging.patch
  base/third_party/symbolize/patches/003-minimal-utilities.patch
  base/third_party/symbolize/patches/004-add-missing-symbolize-header.patch
  base/third_party/symbolize/patches/005-expose-file-helpers.patch
  base/third_party/symbolize/patches/006-use-sandbox-hook-for-open-object-file.patch
  base/third_party/symbolize/patches/007-sys-types-h.patch
  base/third_party/symbolize/patches/008-include-cstdlib.patch
  base/third_party/symbolize/patches/009-clone-absl-demangle.patch
  base/third_party/symbolize/patches/010-clang-format.patch
  base/third_party/symbolize/symbolize.cc
  base/third_party/symbolize/symbolize.h
  base/third_party/symbolize/utilities.h
Due: cpplint, clang-format

Convert from using SingleThreadTaskRunner to SequencedTaskRunner (#245)
  base/sequenced_task_runner.cc
  base/sequenced_task_runner.h
  base/single_thread_task_runner.h
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/network/persistent_cookie_store.cc
  cobalt/network/persistent_cookie_store.h
  cobalt/network/url_request_context.cc
  cobalt/network/url_request_context.h
  cobalt/network/url_request_context_getter.cc
  cobalt/network/url_request_context_getter.h
  cobalt/websocket/web_socket_impl.cc
  cobalt/websocket/web_socket_impl.h
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/xhr/xml_http_request.h
  net/url_request/url_fetcher_core.cc
  net/url_request/url_fetcher_core.h
  net/url_request/url_fetcher_impl_unittest.cc
  net/url_request/url_request_context_getter.cc
  net/url_request/url_request_context_getter.h
  net/url_request/url_request_test_util.cc
  net/url_request/url_request_test_util.h
Due: cpplint, cpplint_test, clang-format

Fix webdriver links. (#371)
  cobalt/webdriver/algorithms.cc
  cobalt/webdriver/algorithms.h
  cobalt/webdriver/dispatcher.h
  cobalt/webdriver/element_driver.cc
  cobalt/webdriver/element_driver.h
  cobalt/webdriver/protocol/button.h
  cobalt/webdriver/protocol/capabilities.h
  cobalt/webdriver/protocol/cookie.h
  cobalt/webdriver/protocol/element_id.h
  cobalt/webdriver/protocol/frame_id.h
  cobalt/webdriver/protocol/log_entry.cc
  cobalt/webdriver/protocol/log_entry.h
  cobalt/webdriver/protocol/moveto.h
  cobalt/webdriver/protocol/response.h
  cobalt/webdriver/protocol/script.h
  cobalt/webdriver/protocol/server_status.h
  cobalt/webdriver/protocol/session_id.h
  cobalt/webdriver/server.cc
  cobalt/webdriver/server.h
  cobalt/webdriver/testdata/simple_test.py
  cobalt/webdriver/web_driver_module.cc
  cobalt/webdriver/window_driver.cc
Due: cpplint, yapf, pylint, clang-format

Webdriver register execute/async endpoint. (#372)
  cobalt/webdriver/web_driver_module.cc
Due: cpplint, clang-format

Bring in some crash/core/common deps required by components/metrics (#346)
  components/crash/core/common/BUILD.gn
  components/crash/core/common/crash_key_stubs.cc
Due: cpplint, clang-format

[XB1] Refactor to remove repeated code (#353)
  starboard/shared/uwp/media_is_video_supported.cc
  starboard/shared/uwp/xb1_get_type.cc
  starboard/shared/uwp/xb1_get_type.h
Due: cpplint, clang-format

Set persist-credentials to false. (#374)
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/manual-cherry-pick.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/pytest.yaml
  .github/workflows/scorecards.yml
Due: none

Temporary workaround for "subtree" checkout errors on Windows (#383)
  .github/workflows/main_win.yaml
Due: none

Temporary workaround for "subtree" checkout errors on Windows (#383) (#386)
  .github/workflows/main_win.yaml
Due: none

Re-enable Pytest runs on Windows (#385)
  .github/workflows/pytest.yaml
  cobalt/build/get_build_id_test.py
  docker/pytest/requirements.in
  docker/pytest/requirements.txt
  starboard/raspi/shared/launcher_test.py
  starboard/sabi/generate_sabi_id_test.py
Due: yapf, pylint

Fix gradle sync dependencies error (#388)
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
Due: none

[media] Replace (e)ac3 test files (#352)
  starboard/shared/starboard/player/testdata/sintel_329_ec3.dmp.sha1
  starboard/shared/starboard/player/testdata/sintel_381_ac3.dmp.sha1
Due: none

Update base/third_party/symbolize. (#380)
  base/third_party/symbolize/BUILD.gn
  base/third_party/symbolize/README.chromium
  base/third_party/symbolize/config.h
  base/third_party/symbolize/demangle.cc
  base/third_party/symbolize/demangle.h
  base/third_party/symbolize/glog/logging.h
  base/third_party/symbolize/glog/raw_logging.h
  base/third_party/symbolize/patches/001-fix-up-includes.patch
  base/third_party/symbolize/patches/002-minimal-logging.patch
  base/third_party/symbolize/patches/003-minimal-utilities.patch
  base/third_party/symbolize/patches/004-add-missing-symbolize-header.patch
  base/third_party/symbolize/patches/005-expose-file-helpers.patch
  base/third_party/symbolize/patches/006-use-sandbox-hook-for-open-object-file.patch
  base/third_party/symbolize/patches/007-sys-types-h.patch
  base/third_party/symbolize/patches/008-include-cstdlib.patch
  base/third_party/symbolize/patches/009-clone-absl-demangle.patch
  base/third_party/symbolize/patches/010-clang-format.patch
  base/third_party/symbolize/symbolize.cc
  base/third_party/symbolize/symbolize.h
  base/third_party/symbolize/utilities.h
  starboard/shared/linux/system_symbolize.cc
Due: cpplint, clang-format

[media] Replace (e)ac3 test files (#352) (#392)
  starboard/shared/starboard/player/testdata/sintel_329_ec3.dmp.sha1
  starboard/shared/starboard/player/testdata/sintel_381_ac3.dmp.sha1
Due: none

Turn off the Evergreen tests as Starboard 16 binaries are not published yet (#394)
  starboard/evergreen/testing/run_all_tests.sh
Due: none
