Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: local
    hooks:
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4]
        exclude: '.*tests?.(cc|h)$'
        stages: [push]
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5]
        files: '.*tests?.(cc|h)$'
        stages: [push]
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        stages: [push]
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
        stages: [push]

Add catch-all #else to chunkcopy_safe_ugly
  third_party/zlib/contrib/optimizations/chunkcopy.h
Due: cpplint, clang-format

Handling undefined behavior in inffast_chunk
  third_party/zlib/contrib/optimizations/chunkcopy.h
  third_party/zlib/contrib/optimizations/inffast_chunk.c
Due: cpplint, clang-format

Add instructions for partners to symbolize dumps
  starboard/doc/evergreen/symbolizing_minidumps.md
Due: none

Implement encryptionScheme support
  cobalt/CHANGELOG.md
  cobalt/demos/content/media-element-demo/key-systems.html
  cobalt/demos/content/media-element-demo/key-systems.js
  cobalt/dom/eme/media_key_system_media_capability.idl
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  starboard/CHANGELOG.md
  starboard/android/shared/media_is_supported.cc
  starboard/media.h
  starboard/nplb/drm_helpers.h
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/raspi/shared/gyp_configuration.py
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/win32/drm_system_playready.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Implement encryptionScheme support
  cobalt/CHANGELOG.md
  cobalt/demos/content/media-element-demo/key-systems.html
  cobalt/demos/content/media-element-demo/key-systems.js
  cobalt/dom/eme/media_key_system_media_capability.idl
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  starboard/CHANGELOG.md
  starboard/android/shared/media_is_supported.cc
  starboard/media.h
  starboard/nplb/drm_helpers.h
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/raspi/shared/gyp_configuration.py
  starboard/shared/widevine/drm_system_widevine.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Update partner directions for dumps
  starboard/doc/evergreen/symbolizing_minidumps.md
Due: none

Refine drm related tests filtering on Linux
  starboard/linux/shared/gyp_configuration.py
  starboard/linux/x64x11/gyp_configuration.py
Due: yapf, pylint

Ignore file parsing messages in cpplint
  .pre-commit-config.yaml
Due: none

Add tests to the NPLB file tests.
  starboard/nplb/file_delete_test.cc
  starboard/nplb/nplb.gyp
Due: cpplint_test, clang-format

Initial splash screen cleanup.
  cobalt/browser/browser_module.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format

Fix the mutex header in the mutex implementations.
  starboard/nplb/mutex_acquire_test.cc
  starboard/nplb/mutex_acquire_try_test.cc
  starboard/nplb/mutex_create_test.cc
  starboard/nplb/mutex_destroy_test.cc
  starboard/shared/pthread/mutex_acquire.cc
  starboard/shared/pthread/mutex_acquire_try.cc
  starboard/shared/pthread/mutex_create.cc
  starboard/shared/pthread/mutex_destroy.cc
  starboard/shared/pthread/mutex_release.cc
  starboard/shared/stub/mutex_acquire.cc
  starboard/shared/stub/mutex_acquire_try.cc
  starboard/shared/stub/mutex_create.cc
  starboard/shared/stub/mutex_destroy.cc
  starboard/shared/stub/mutex_release.cc
Due: cpplint, cpplint_test, clang-format

Fix the mutex header in the mutex implementations.
  starboard/nplb/mutex_acquire_test.cc
  starboard/nplb/mutex_acquire_try_test.cc
  starboard/nplb/mutex_create_test.cc
  starboard/nplb/mutex_destroy_test.cc
  starboard/shared/pthread/mutex_acquire.cc
  starboard/shared/pthread/mutex_acquire_try.cc
  starboard/shared/pthread/mutex_create.cc
  starboard/shared/pthread/mutex_destroy.cc
  starboard/shared/pthread/mutex_release.cc
  starboard/shared/stub/mutex_acquire.cc
  starboard/shared/stub/mutex_acquire_try.cc
  starboard/shared/stub/mutex_create.cc
  starboard/shared/stub/mutex_destroy.cc
  starboard/shared/stub/mutex_release.cc
  starboard/shared/win32/mutex_acquire.cc
  starboard/shared/win32/mutex_acquire_try.cc
  starboard/shared/win32/mutex_create.cc
  starboard/shared/win32/mutex_destroy.cc
  starboard/shared/win32/mutex_release.cc
Due: cpplint, cpplint_test, clang-format

Refine types for GC threshold in SourceBufferStream
  cobalt/media/filters/source_buffer_stream.cc
Due: cpplint, clang-format

Update Evergreen launcher, add script for BuildBot to run Evergreen tests.
  starboard/evergreen/shared/launcher.py
Due: yapf, pylint

Add framework for automating Evergreen test cases.
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/app_key.sh
  starboard/evergreen/testing/shared/drain_file.sh
  starboard/evergreen/testing/shared/installation_slot.sh
  starboard/evergreen/testing/shared/wait_and_watch.sh
Due: none

Add HTML for Evergreen test cases.
  starboard/evergreen/testing/tests/empty.html
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/tseries.html
Due: none

Add Evergreen test cases.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/continuous_updates_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Add Linux support for the automated Evergreen test framework.
  starboard/evergreen/testing/linux/clean_up.sh
  starboard/evergreen/testing/linux/clear_storage.sh
  starboard/evergreen/testing/linux/create_file.sh
  starboard/evergreen/testing/linux/delete_file.sh
  starboard/evergreen/testing/linux/deploy_cobalt.sh
  starboard/evergreen/testing/linux/run_command.sh
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/linux/stop_cobalt.sh
Due: none

Add Raspberry Pi support for the automated Evergreen test framework.
  starboard/evergreen/testing/raspi/clean_up.sh
  starboard/evergreen/testing/raspi/clear_storage.sh
  starboard/evergreen/testing/raspi/create_file.sh
  starboard/evergreen/testing/raspi/delete_file.sh
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/run_command.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/raspi/stop_cobalt.sh
Due: none

Skip "out of storage" test on BuildBot.
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none
