Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[Android] Refine max size selection
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Use environment variables for docker CI builds
  docker-compose.yml
Due: none

Remove NINJA_STATUS env setting from Dockerfile
  docker/linux/clang-3-6/Dockerfile
Due: none

Add logging for ccache stats in docker clang build
  docker/linux/clang-3-6/Dockerfile
Due: none

Set version for docker image for clang builds
  docker-compose.yml
Due: none

Starboardize lz4, implement lz4 file decompression for elf loader.
  starboard/elf_loader/elf_loader.gyp
  starboard/elf_loader/file.h
  starboard/elf_loader/lz4_file_impl.cc
  starboard/elf_loader/lz4_file_impl.h
  starboard/elf_loader/lz4_file_impl_test.cc
  starboard/elf_loader/testdata/compressed.lz4
  starboard/elf_loader/testdata/uncompressed
  starboard/starboard_all.gyp
Due: cpplint, cpplint_test, clang-format

Add all permissions bits for downloaded files
  tools/download_from_gcs.py
Due: yapf, pylint

Use mime string to check codec capibilities
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_test_util.h
  starboard/shared/starboard/player/video_dmp_reader.cc
  starboard/shared/starboard/player/video_dmp_reader.h
Due: cpplint, clang-format

Replace glTexParameterf with glTexParameteri.
  cobalt/renderer/backend/egl/framebuffer.cc
  starboard/shared/blittergles/blitter_surface.cc
Due: cpplint, clang-format

Removing unused media_key* files.
  cobalt/dom/media_key_complete_event.cc
  cobalt/dom/media_key_complete_event.h
  cobalt/dom/media_key_complete_event.idl
  cobalt/dom/media_key_error.h
  cobalt/dom/media_key_error.idl
  cobalt/dom/media_key_error_event.cc
  cobalt/dom/media_key_error_event.h
  cobalt/dom/media_key_error_event.idl
  cobalt/dom/media_key_message_event.cc
  cobalt/dom/media_key_message_event.h
  cobalt/dom/media_key_message_event.idl
  cobalt/dom/media_key_needed_event.cc
  cobalt/dom/media_key_needed_event.h
  cobalt/dom/media_key_needed_event.idl
Due: cpplint, clang-format

[android] Filter SbPlayerWriteSampleTest.NoInput/*
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Resolve inline namespaced strlen leaks.
  starboard/client_porting/poem/string_leaks_poem.h
  third_party/protobuf/src/google/protobuf/stubs/common.cc
  third_party/protobuf/src/google/protobuf/stubs/strutil.cc
Due: cpplint, clang-format

Fix hybrid nav misalignment
  cobalt/layout/box.cc
Due: cpplint, clang-format

Mark GraphicsSystemTest tests flaky
  cobalt/renderer/backend/graphics_system_test.cc
Due: cpplint_test, clang-format

Move crashpad annotations to agnostic location
  starboard/elf_loader/evergreen_info.h
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/util/linux/exception_handler_client.h
  third_party/crashpad/util/linux/exception_handler_protocol.h
  third_party/crashpad/wrapper/annotations.h
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
Due: cpplint, clang-format

Add CrashHandler cobalt extension
  cobalt/browser/application.cc
  cobalt/extension/crash_handler.h
  cobalt/extension/extension_test.cc
  starboard/linux/shared/starboard_platform.gypi
  starboard/linux/shared/system_get_extensions.cc
  starboard/raspi/shared/starboard_platform.gypi
  starboard/raspi/shared/system_get_extensions.cc
  starboard/shared/starboard/crash_handler.cc
  starboard/shared/starboard/crash_handler.h
  starboard/starboard.gyp
  third_party/crashpad/snapshot/linux/process_snapshot_linux.cc
  third_party/crashpad/snapshot/linux/process_snapshot_linux.h
  third_party/crashpad/wrapper/annotations.h
Due: cpplint, cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
