Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[Android]: Cobalt crash on service destroyed.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
Due: google-java-format, gcheckstyle

Use the same list of channels for all types of builds
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Update win builds to avoid using bash, cp, and touch.
  starboard/tools/toolchain/cmd.py
  starboard/tools/toolchain/python.py
Due: yapf, pylint

[android] Add more logs in AudioTrackAudioSink
  starboard/android/shared/audio_track_audio_sink_type.cc
Due: cpplint, clang-format

Remove XhrResponseData
  cobalt/xhr/xhr.gyp
  cobalt/xhr/xhr_response_data.cc
  cobalt/xhr/xhr_response_data.h
  cobalt/xhr/xhr_response_data_test.cc
Due: cpplint, cpplint_test, clang-format

Bump up cobalt version to 21.lts.2
  cobalt/version.h
Due: cpplint, clang-format

Clean up the configuration_public.h files.
  starboard/android/shared/configuration_public.h
  starboard/evergreen/arm64/configuration_public.h
  starboard/linux/shared/configuration_public.h
  starboard/linux/x64x11/blittergles/sbversion/10/configuration_public.h
  starboard/linux/x64x11/blittergles/sbversion/11/configuration_public.h
  starboard/linux/x64x11/blittergles/shared/configuration_public.h
  starboard/linux/x64x11/configuration_public.h
  starboard/linux/x64x11/sbversion/10/configuration_public.h
  starboard/linux/x64x11/sbversion/11/configuration_public.h
  starboard/linux/x64x11/sbversion/12/configuration_public.h
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/win/shared/configuration_public.h
Due: cpplint, clang-format

Clean up the configuration_public.h files.
  starboard/android/shared/configuration_public.h
  starboard/evergreen/arm64/configuration_public.h
  starboard/linux/shared/configuration_public.h
  starboard/linux/x64x11/blittergles/sbversion/10/configuration_public.h
  starboard/linux/x64x11/blittergles/sbversion/11/configuration_public.h
  starboard/linux/x64x11/blittergles/shared/configuration_public.h
  starboard/linux/x64x11/configuration_public.h
  starboard/linux/x64x11/sbversion/10/configuration_public.h
  starboard/linux/x64x11/sbversion/11/configuration_public.h
  starboard/linux/x64x11/sbversion/12/configuration_public.h
  starboard/raspi/2/sbversion/12/configuration_public.h
  starboard/raspi/shared/configuration_public.h
Due: cpplint, clang-format

Generate debug info in object files instead of PDB
  starboard/shared/msvc/uwp/msvc_toolchain.py
  starboard/win/shared/gyp_configuration.gypi
Due: yapf, pylint

Reformat gyp python source files
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

Restrict xb1 builds to fewer processes for linking
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

Reformat gyp python source files
  starboard/shared/win32/gyp_configuration.py
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

Restrict xb1 builds to fewer processes for linking
  starboard/shared/win32/gyp_configuration.py
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

Fix rare bug when direct-gles falls back to Skia
  cobalt/renderer/rasterizer/egl/hardware_rasterizer.cc
Due: cpplint, clang-format

Cobalt: Fix MediaSessionClient is_active function issue.
  cobalt/media_session/media_session_client.h
Due: cpplint, clang-format

Limit exe and shared lib linking processes for xb1
  starboard/shared/win32/gyp_configuration.py
Due: yapf, pylint

Ensure python2 and python3 executables in GYP
  tools/gyp/pylib/gyp/generator/ninja.py
Due: yapf, pylint

formatting changes
  tools/gyp/pylib/gyp/generator/ninja.py
Due: yapf, pylint

Starboard: Add OnResume back to DispatchAndDelete.
  starboard/shared/starboard/application.cc
Due: cpplint, clang-format

Add a test to detect usage of the experimental starboard version.
  starboard/nplb/nplb_evergreen_compat_tests/sabi_test.cc
Due: cpplint_test, clang-format
