Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Prevent deploy builds making symlinks in Docker"
  starboard/build/collect_deploy_content.gypi
  starboard/build/collect_deploy_content.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

Move gcloud installation from buildbot to cobalt
  docker/windows/base/build/Dockerfile
Due: none

Filter PlayerComponentsTests on android-x86
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Fix pre-commit errors
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Added more test_runner logs for debugging purposes. Will remove when done.
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Fix codespell issue in test_runner.py
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Potential fix for StartMediaPlaybackService sometimes crash.
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Update copyright year
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

[android] Fix j_string leak
  starboard/android/shared/media_is_video_supported.cc
Due: cpplint, clang-format

[GN] Fix raspi sbversion 12 build
  starboard/raspi/shared/BUILD.gn
Due: none

[GN] Pass cobaltLibraryDir to android apk builder
  starboard/android/shared/install_target.gni
Due: none

Disable pre-commit checks for tools/gyp
  .pre-commit-config.yaml
Due: none

Fix linter errors for symlinks in Docker CL
  starboard/build/collect_deploy_content.py
Due: yapf, pylint

Add versioning for the loader_app.
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
Due: cpplint, clang-format

Add a codelab for Cobalt Extensions.
  cobalt/site/docs/codelabs/cobalt_extensions/codelab.md
Due: none

[PS5] Implement libdav1d decoder
  third_party/libdav1d/include/dav1d/dav1d.h
  third_party/libdav1d/include/dav1d/headers.h
  third_party/libdav1d/include/dav1d/picture.h
Due: cpplint, clang-format

Clean output of copyright header pre-commit check
  precommit_hooks/check_copyright_year.py
Due: yapf, pylint

Add --show-sabi flag.
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
Due: cpplint, clang-format

[GN] Remove non-existent reference to llvm-nm
  build/toolchain/gcc_toolchain.gni
Due: none

Fix pylint errors in black_box_tests.py.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Fix xbox launcher style checks.
  .pylintrc
  starboard/tools/net_args.py
  starboard/tools/net_log.py
Due: yapf, pylint

[GN] Remove duplicate files from linux
  starboard/linux/shared/BUILD.gn
  starboard/linux/x64x11/BUILD.gn
  starboard/linux/x64x11/egl/BUILD.gn
  starboard/linux/x64x11/skia/BUILD.gn
Due: none

[GN] Fix install_target for shared libraries
  starboard/build/install/install_target.gni
Due: none

Don't check markdown files for copyright
  .pre-commit-config.yaml
Due: none

[android] Don't register params on empty content type
  starboard/android/shared/media_is_video_supported.cc
Due: cpplint, clang-format

Fix pre-commit errors
  .pre-commit-config.yaml
Due: none

Fix SbWindowGetSize crash in production.
  cobalt/browser/browser_module.cc
  starboard/android/shared/window_get_size.cc
Due: cpplint, clang-format

Fix exclude pattern for cpplint check
  .pre-commit-config.yaml
Due: none

Fix format/lint issues in download_from_gcs*
  tools/download_from_gcs.py
  tools/download_from_gcs_test.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
