Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Revert "[media] Generate new h264 test file""
  starboard/shared/starboard/player/testdata/beneath_the_canopy_137_avc.dmp.sha1
Due: none

Download llvm coverage tools with clang
  starboard/tools/download_clang.sh
Due: none

Fix clang coverage tool paths
  starboard/tools/build.py
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

[xhr] Optimize buffer management in Fetch mode
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/debug_console.h
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/layout_tests/layout_snapshot.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/web/BUILD.gn
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/web/testing/BUILD.gn
  cobalt/web/testing/stub_web_context.h
  cobalt/web/web_settings.h
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_settings.cc
  cobalt/xhr/BUILD.gn
  cobalt/xhr/fetch_buffer_pool.cc
  cobalt/xhr/fetch_buffer_pool.h
  cobalt/xhr/fetch_buffer_pool_test.cc
  cobalt/xhr/url_fetcher_buffer_writer.cc
  cobalt/xhr/url_fetcher_buffer_writer.h
  cobalt/xhr/xhr_settings.h
  cobalt/xhr/xhr_settings_test.cc
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, cpplint_test, clang-format

Add extension to be notified when the web app is rendered
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/extension/extension_test.cc
  cobalt/extension/graphics.h
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/graphics.cc
Due: cpplint, cpplint_test, clang-format, google-java-format, gcheckstyle

Add default_coverage to default dependencies
  starboard/build/config/BUILDCONFIG.gn
Due: none

[h5vcc] Allow configuring batch sample writing from web app
  cobalt/browser/browser_module.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
Due: cpplint, clang-format

[media] Increase timeupdate event frequency to 5hz
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/BUILD.gn
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_media_element.h
  cobalt/dom/media_settings.cc
  cobalt/dom/media_settings.h
  cobalt/dom/media_settings_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/web/BUILD.gn
  cobalt/web/web_settings.h
Due: cpplint, cpplint_test, clang-format

[media source] Don't copy array buffer for append
  cobalt/dom/media_settings.cc
  cobalt/dom/media_settings.h
  cobalt/dom/media_settings_test.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
Due: cpplint, cpplint_test, clang-format

Fix Web platform tests not showing results issue
  third_party/web_platform_tests/resources/testharness.js
Due: none

[fetch] Remove LOG from FetchBufferPool ctor
  cobalt/xhr/fetch_buffer_pool.h
Due: cpplint, clang-format

Write list of files in bundle to a depfile
  starboard/build/config/bundle_content.gni
  starboard/build/copy_install_content.py
Due: yapf, pylint

Pass Python interpreter to GN
  cobalt/build/gn.py
Due: yapf, pylint

Pass multiple labels to the service
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

[service worker]Fix web platform test issue
  cobalt/layout_tests/web_platform_tests.cc
Due: cpplint_test, clang-format

Disable Web platform tests summary page for Cobalt
  third_party/web_platform_tests/resources/testharness.js
Due: none

[media] Add partial-audio-frame demo
  cobalt/demos/content/partial-audio-frame/fmp4-aac-44100-tiny.mp4
  cobalt/demos/content/partial-audio-frame/partial-audio-frame.html
  cobalt/demos/content/partial-audio-frame/partial-audio-frame.js
Due: none

[Service worker]Fix registration scope missing scheme
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_registration.cc
Due: cpplint, clang-format

Fix typo in testharness.js
  third_party/web_platform_tests/resources/testharness.js
Due: none

[media] Optimize InputBuffer::SetDecryptedContent()
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test_fixture.cc
  starboard/shared/starboard/player/input_buffer_internal.cc
  starboard/shared/starboard/player/input_buffer_internal.h
  starboard/shared/widevine/drm_system_widevine.cc
Due: cpplint, cpplint_test, clang-format

Remove PDB from outputs of msvc link tools
  build/toolchain/win/msvc_toolchain.gni
Due: none

Update filters for changed test names
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Clean up pylint config for newer versions
  .pylintrc
Due: none

Fix new lint errors
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Revert "Fix new lint errors"
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Revert "Revert "Fix new lint errors""
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
