Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[media] Add trace events to media DOM functions
  cobalt/dom/eme/media_key_session.cc
  cobalt/dom/eme/media_key_status_map.cc
  cobalt/dom/eme/media_key_status_map.h
  cobalt/dom/eme/media_key_system_access.cc
  cobalt/dom/eme/media_key_system_access.h
  cobalt/dom/eme/media_keys.cc
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_video_element.cc
  cobalt/dom/media_source.cc
  cobalt/dom/navigator.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/track_list_base.h
Due: cpplint, clang-format

Fix pre-commit errors in docker unit-test launcher
  docker/linux/unittest/unittest_docker_launcher.py
Due: yapf, pylint

[demuxer update] Add `kSbMediaMatrixIdInvalid`
  cobalt/media/base/starboard_utils.cc
  starboard/CHANGELOG.md
  starboard/common/media.cc
  starboard/configuration.h
  starboard/media.h
Due: cpplint, clang-format

Various fixes needed for Media Integration Tests.
  cobalt/media_integration_tests/functionality/general_playback.py
  cobalt/media_integration_tests/test_app.py
  cobalt/webdriver/web_driver_module.cc
  starboard/android/shared/launcher.py
Due: cpplint, yapf, pylint, clang-format

Revert "[media] Refine checking of opus and vorbis"
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

Revert "[media] Improve legacy vp9 codecs support"
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

Add GN build rule to deploy sharding config json
  starboard/BUILD.gn
Due: none

[media] Refine checking of opus and vorbis
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

Add missing copyright header to python script
  docker/linux/unittest/unittest_docker_launcher.py
Due: yapf, pylint

Always generate xml unit test results in docker
  docker/linux/unittest/unittest_docker_launcher.py
Due: yapf, pylint

Add tests to measure (de)compression performance
  cobalt/evergreen_tests/evergreen_tests.py
  starboard/evergreen/testing/performance_tests/baseline_update_test.sh
  starboard/evergreen/testing/performance_tests/compression_update_test.sh
  starboard/evergreen/testing/performance_tests/run_update_trial.sh
  starboard/evergreen/testing/run_all_tests.sh
Due: yapf, pylint

Remove SB_API_VERSION >= 11
  starboard/linux/x64x11/system_get_property_impl.cc
  starboard/shared/deviceauth/deviceauth_internal.cc
  starboard/shared/deviceauth/deviceauth_internal.h
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint, cpplint_test, clang-format

Implement getRegistration() and Get Registration.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/web/agent.cc
  cobalt/web/context.h
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_container.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
Due: cpplint, clang-format

[media] Improve legacy vp9 codecs support
  starboard/shared/starboard/media/codec_util.cc
Due: cpplint, clang-format

Add link to Cobalt development setup instructions
  starboard/build/doc/migrating_gyp_to_gn.md
Due: none

Mention the need to set PYTHONPATH environment variable
  cobalt/site/docs/development/setup-linux.md
Due: none

Output shard timing info to json
  docker/linux/unittest/Dockerfile
  docker/linux/unittest/unittest_docker_launcher.py
Due: yapf, pylint

Revert "Filter android_arm64 failure tests"
  starboard/android/arm64/test_filters.py
Due: yapf, pylint

[media] Refine DecoderBufferAllocator
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/player/web_media_player_impl.h
  starboard/media.h
Due: cpplint, clang-format

Disable sharding config mounting in docker tests
  docker-compose.yml
Due: none

Configure docker to launch unit-tests in parallel
  docker-compose.yml
Due: none

[media] Allow setting extra evict bytes via h5vcc
  cobalt/dom/dom_settings.h
  cobalt/dom/memory_info.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
Due: cpplint, clang-format

Add blackbox test for HTTP caching
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/http_cache.html
  cobalt/black_box_tests/testdata/http_cache_test_resources/cobalt_logo.png
  cobalt/black_box_tests/testdata/http_cache_test_resources/http_cache.css
  cobalt/black_box_tests/testdata/http_cache_test_resources/http_cache.js
  cobalt/black_box_tests/tests/http_cache.py
Due: yapf, pylint

Move nb platform code under starboard
  nb/BUILD.gn
Due: none

Move i18n content under starboard
  .pre-commit-config.yaml
  starboard/linux/i18n/en-US.xlb
  starboard/win/i18n/en-US.xlb
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
Due: none

Increase sleep time in android launcher from 2 secs to 5.
  starboard/android/shared/launcher.py
Due: yapf, pylint

[Android] Fix crash by exposing native member RRO variable.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
Due: google-java-format, gcheckstyle

Add User-Agent field for Projector
  cobalt/browser/user_agent_platform_info.cc
Due: cpplint, clang-format

[media] Move starboard_utils.* to Chromium media
  cobalt/media/BUILD.gn
  cobalt/media/base/starboard_player.cc
  cobalt/media/base/starboard_utils.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/progressive/progressive_demuxer.cc
  third_party/chromium/media/BUILD.gn
  third_party/chromium/media/base/demuxer_memory_limit_starboard.cc
  third_party/chromium/media/base/starboard_utils.cc
  third_party/chromium/media/base/starboard_utils.h
Due: cpplint, clang-format

Android R changes to fix socket issues.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/bionic/README.md
  starboard/android/shared/bionic/bionic_netlink.cpp
  starboard/android/shared/bionic/bionic_netlink.h
  starboard/android/shared/bionic/ifaddrs.cpp
  starboard/android/shared/bionic/ifaddrs.h
  starboard/android/shared/bionic/net_if.cpp
  starboard/android/shared/bionic/private/ErrnoRestorer.h
  starboard/android/shared/bionic/private/bionic_macros.h
  starboard/android/shared/socket_get_interface_address.cc
  starboard/android/shared/starboard_platform.gypi
  starboard/nplb/socket_get_interface_address_test.cc
Due: cpplint, cpplint_test, clang-format, google-java-format, gcheckstyle

[Media] Allow WebAudio wav decoder to skip unknown chunks.
  cobalt/audio/audio_file_reader_wav.cc
Due: cpplint, clang-format

Capture docker unit-test XML output in mounted dir
  docker-compose.yml
  starboard/linux/shared/launcher.py
Due: yapf, pylint
