Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Cobalt: Modify lifecycle observer interface by adding timestamps.
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.h
  cobalt/browser/lifecycle_observer.h
  cobalt/browser/splash_screen.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
Due: cpplint, clang-format

Add the evergreen version to the UpdaterNotificationApi.
  cobalt/extension/updater_notification.h
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format

Additional support for rotating the viewport
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Revert "Revert "Revert "Revert "Temporarily disable Evergreen tests on COBALT.""""
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Add C++17 support static assert in NPLB with opt-out.
  cobalt/CHANGELOG.md
  cobalt/site/docs/reference/starboard/gyp-configuration.md
  starboard/build/base_configuration.gypi
  starboard/linux/x64x11/clang/3.9/gyp_configuration.gypi
  starboard/linux/x64x11/gcc/6.3/gyp_configuration.gypi
  starboard/nplb/compiler_compliance/compiler_compliance.gyp
  starboard/nplb/compiler_compliance/cpp14_constexpr.cc
  starboard/nplb/compiler_compliance/cpp14_initialization.cc
  starboard/nplb/compiler_compliance/cpp17_support.cc
  starboard/nplb/nplb.gyp
Due: cpplint, clang-format

Add check for C++14 constexpr initialization
  starboard/nplb/compiler_compliance/cpp14_constexpr.cc
Due: cpplint, clang-format

Enable C++14 audit for Clang3 builder
  starboard/linux/x64x11/clang/3.6/gyp_configuration.gypi
Due: none

Update Clang 3.6 to Clang 3.9
  docker-compose.yml
  docker/linux/clang-3-9/Dockerfile
  starboard/linux/x64x11/clang/3.6/download_clang.sh
  starboard/linux/x64x11/clang/3.6/hasmd.patch
  starboard/linux/x64x11/clang/3.6/sigaltstack.patch
  starboard/linux/x64x11/clang/3.6/ustat_size.patch
  starboard/linux/x64x11/clang/3.9/atomic_public.h
  starboard/linux/x64x11/clang/3.9/cobalt/configuration.py
  starboard/linux/x64x11/clang/3.9/compiler_flags.gypi
  starboard/linux/x64x11/clang/3.9/configuration_public.h
  starboard/linux/x64x11/clang/3.9/gyp_configuration.gypi
  starboard/linux/x64x11/clang/3.9/gyp_configuration.py
  starboard/linux/x64x11/clang/3.9/starboard_platform.gyp
  starboard/linux/x64x11/clang/3.9/starboard_platform_tests.gyp
  starboard/linux/x64x11/clang/3.9/thread_types_public.h
Due: cpplint, yapf, pylint, clang-format

Delete Starboard 10 ref docs
  cobalt/site/docs/reference/starboard/modules/10/accessibility.md
  cobalt/site/docs/reference/starboard/modules/10/atomic.md
  cobalt/site/docs/reference/starboard/modules/10/audio_sink.md
  cobalt/site/docs/reference/starboard/modules/10/blitter.md
  cobalt/site/docs/reference/starboard/modules/10/byte_swap.md
  cobalt/site/docs/reference/starboard/modules/10/character.md
  cobalt/site/docs/reference/starboard/modules/10/condition_variable.md
  cobalt/site/docs/reference/starboard/modules/10/configuration.md
  cobalt/site/docs/reference/starboard/modules/10/cryptography.md
  cobalt/site/docs/reference/starboard/modules/10/decode_target.md
  cobalt/site/docs/reference/starboard/modules/10/directory.md
  cobalt/site/docs/reference/starboard/modules/10/double.md
  cobalt/site/docs/reference/starboard/modules/10/drm.md
  cobalt/site/docs/reference/starboard/modules/10/event.md
  cobalt/site/docs/reference/starboard/modules/10/export.md
  cobalt/site/docs/reference/starboard/modules/10/file.md
  cobalt/site/docs/reference/starboard/modules/10/image.md
  cobalt/site/docs/reference/starboard/modules/10/input.md
  cobalt/site/docs/reference/starboard/modules/10/key.md
  cobalt/site/docs/reference/starboard/modules/10/log.md
  cobalt/site/docs/reference/starboard/modules/10/media.md
  cobalt/site/docs/reference/starboard/modules/10/memory.md
  cobalt/site/docs/reference/starboard/modules/10/memory_reporter.md
  cobalt/site/docs/reference/starboard/modules/10/microphone.md
  cobalt/site/docs/reference/starboard/modules/10/mutex.md
  cobalt/site/docs/reference/starboard/modules/10/once.md
  cobalt/site/docs/reference/starboard/modules/10/player.md
  cobalt/site/docs/reference/starboard/modules/10/socket.md
  cobalt/site/docs/reference/starboard/modules/10/socket_waiter.md
  cobalt/site/docs/reference/starboard/modules/10/speech_recognizer.md
  cobalt/site/docs/reference/starboard/modules/10/speech_synthesis.md
  cobalt/site/docs/reference/starboard/modules/10/storage.md
  cobalt/site/docs/reference/starboard/modules/10/string.md
  cobalt/site/docs/reference/starboard/modules/10/system.md
  cobalt/site/docs/reference/starboard/modules/10/thread.md
  cobalt/site/docs/reference/starboard/modules/10/time.md
  cobalt/site/docs/reference/starboard/modules/10/time_zone.md
  cobalt/site/docs/reference/starboard/modules/10/types.md
  cobalt/site/docs/reference/starboard/modules/10/user.md
  cobalt/site/docs/reference/starboard/modules/10/window.md
Due: none

Cache glyph ids when creating character map.
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontUtil_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFreeType_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.h
  cobalt/renderer/rasterizer/skia/typeface.cc
  cobalt/renderer/rasterizer/skia/typeface.h
Due: cpplint, clang-format

Fix a websocket opcode issue
  cobalt/websocket/web_socket_impl.cc
Due: cpplint, clang-format

Revert "Cache glyph ids when creating character map."
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontUtil_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFreeType_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.h
  cobalt/renderer/rasterizer/skia/typeface.cc
  cobalt/renderer/rasterizer/skia/typeface.h
Due: cpplint, clang-format

Revert "Fix a websocket opcode issue"
  cobalt/websocket/web_socket_impl.cc
Due: cpplint, clang-format

Turn SbMediaIsSupported() into internal interface
  cobalt/site/docs/reference/starboard/modules/media.md
  starboard/CHANGELOG.md
  starboard/android/shared/media_is_supported.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/media.h
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/stub/media_is_supported.cc
  starboard/shared/widevine/media_is_supported.cc
  starboard/shared/win32/media_is_supported.cc
Due: cpplint, clang-format

Revert "Revert "Cache glyph ids when creating character map.""
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontMgr_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontStyleSet_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFontUtil_cobalt.h
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkFreeType_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.cc
  cobalt/renderer/rasterizer/skia/skia/src/ports/SkTypeface_cobalt.h
  cobalt/renderer/rasterizer/skia/typeface.cc
  cobalt/renderer/rasterizer/skia/typeface.h
Due: cpplint, clang-format

Turn SbMediaIsSupported() into internal interface
  cobalt/site/docs/reference/starboard/modules/media.md
  starboard/CHANGELOG.md
  starboard/android/shared/media_is_supported.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/media.h
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/stub/media_is_supported.cc
  starboard/shared/widevine/media_is_supported.cc
Due: cpplint, clang-format

[GN] Reformat GN migration doc to allow for easier reference
  starboard/build/doc/migration_changes.md
Due: none

Cobalt: Add timestamps into startfunction.
  cobalt/base/wrap_main.h
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/main.cc
Due: cpplint, clang-format

Revert "Cobalt: Add timestamps into startfunction."
  cobalt/base/wrap_main.h
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/main.cc
Due: cpplint, clang-format

Add User-Agent Client Hints demo
  cobalt/demos/content/user-agent-client-hints-demo/user-agent-client-hints-demo.html
  cobalt/dom/navigator_ua_data.cc
Due: cpplint, clang-format

[android] Skip to video eos if audio reaches eos
  starboard/android/shared/video_render_algorithm.cc
Due: cpplint, clang-format

Filtering 3 tests on GKE which require ipv6.
  starboard/linux/shared/gyp_configuration.py
Due: yapf, pylint
