Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Fix YT App crashes when deeplinking to Music tab."
  cobalt/loader/image/image_decoder.cc
Due: cpplint, clang-format

Revert "Revert "Fix YT App crashes when deeplinking to Music tab.""
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

Revert "Revert "Revert "Fix YT App crashes when deeplinking to Music tab."""
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

Animated WebP layout test
  cobalt/loader/image/animated_webp_image.cc
  cobalt/loader/image/animated_webp_image.h
  cobalt/loader/image/image_decoder_mock.h
  cobalt/loader/image/image_decoder_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/DebugAnimatedWebPFrame-expected.png
  cobalt/renderer/rasterizer/testdata/loading-spinner-opaque.webp
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format

fix memory leaking issue in image_decoder_mock
  cobalt/loader/image/image_decoder_mock.h
Due: cpplint, clang-format

This change adds layout test for static webp image.
  cobalt/layout_tests/layout_tests.cc
  cobalt/layout_tests/testdata/webp/layout_tests.txt
  cobalt/layout_tests/testdata/webp/static-webp-background-image-expected.png
  cobalt/layout_tests/testdata/webp/static-webp-background-image.html
  cobalt/layout_tests/testdata/webp/static-webp-image.webp
Due: cpplint_test, clang-format

Revert "Revert "Revert "Revert "Fix YT App crashes when deeplinking to Music tab.""""
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

Revert "Revert "Revert "Revert "Revert "Fix YT App crashes when deeplinking to Music tab."""""
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

Fix YT App crashes when deeplinking to Music tab.
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder_test.cc
Due: cpplint, cpplint_test, clang-format

[GN] Change condition for building DRM tests
  starboard/build/config/base_configuration.gni
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/nplb/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: none

[GN] Add private nplb tests
  starboard/nplb/BUILD.gn
Due: none

[GN] Add missing nplb test suite
  starboard/nplb/BUILD.gn
Due: none

Change timer-related DLOG to LOG to facilitate debugging in QA builds
  cobalt/dom/window.cc
Due: cpplint, clang-format

Cleanup remnants of javascript_gc_threshold_in_bytes.
  cobalt/browser/memory_settings/auto_mem.h
  cobalt/configuration/configuration.h
  cobalt/doc/memory_tuning.md
Due: cpplint, clang-format

[GN][Raspi] Add info about -x flag
  starboard/build/doc/migrating_gyp_to_gn.md
Due: none

[GN][Raspi] Build with treat_warnings_as_errors=True
  starboard/build/config/BUILDCONFIG.gn
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/raspi/shared/platform_configuration/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: none

Fix black screen upon back navigation issue.
  starboard/android/shared/starboard_platform.gypi
  starboard/android/shared/system_request_conceal.cc
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
Due: cpplint, clang-format

Fix ShouldClearFrameOnShutdown extension for transparent colors
  cobalt/renderer/pipeline.cc
Due: cpplint, clang-format

[GN] Remove obsolete gyp to gn conversion guide
  cobalt/doc/gyp_gn_files.md
Due: none

Disable pylint from flagging Python 2 patterns
  .pylintrc
Due: none

Change requirements versions
  requirements.txt
Due: none

Disable pylint deprecated-module errors
  starboard/_env.py
  starboard/android/shared/gyp_configuration.py
  starboard/build/platform_configuration.py
  starboard/sabi/_env.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Fix yapf styling since tag "style-check-v1-start"
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Remove/disable warnings for python unused variables
  cobalt/black_box_tests/tests/web_debugger.py
  starboard/stub/gyp_configuration.py
Due: yapf, pylint

Fix pylint line-too-long since style-check-v1-start
  starboard/linux/shared/gyp_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Remove __init__ failing pylint's useless-super-delegation
  starboard/stub/gyp_configuration.py
Due: yapf, pylint

Fix warnings for pylint's invalid-name
  cobalt/black_box_tests/tests/web_debugger.py
Due: yapf, pylint

Fix warnings for pylint's invalid-envvar-default
  starboard/linux/shared/gyp_configuration.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
