Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Algorithm for ServiceWorker.postMessage().
  cobalt/black_box_tests/testdata/service_worker_message_test.html
  cobalt/black_box_tests/testdata/service_worker_message_test.js
  cobalt/dom/document.h
  cobalt/web/event.cc
  cobalt/web/message_port.h
  cobalt/web/message_port.idl
  cobalt/web/testing/stub_web_context.h
  cobalt/worker/client.h
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_message_event.cc
  cobalt/worker/extendable_message_event.h
  cobalt/worker/extendable_message_event.idl
  cobalt/worker/extendable_message_event_init.idl
  cobalt/worker/extendable_message_event_test.cc
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/window_client.cc
  cobalt/worker/window_client.h
  cobalt/worker/window_client.idl
Due: cpplint, cpplint_test, clang-format

Revert "Porting GameActivity to Cobalt"
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/res/values/styles.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/input_events_generator.cc
  starboard/android/shared/input_events_generator.h
  third_party/android_game_activity/README.md
  third_party/android_game_activity/include/game-activity/GameActivity.cpp
  third_party/android_game_activity/include/game-activity/GameActivity.h
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.c
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.h
  third_party/android_game_activity/include/game-text-input/gamecommon.h
  third_party/android_game_activity/include/game-text-input/gametextinput.cpp
  third_party/android_game_activity/include/game-text-input/gametextinput.h
  third_party/android_game_activity/module.json
Due: cpplint, clang-format, google-java-format, gcheckstyle

[media] Fix DCHECK() in dav1d video decoder ReportError()
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  starboard/shared/libdav1d/dav1d_video_decoder.h
Due: cpplint, clang-format

[XB1] Optimize av1 playback startup latency
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.h
Due: cpplint, clang-format

Return raw <script>.src value when base URL is not valid.
  cobalt/dom/html_script_element.cc
Due: cpplint, clang-format

[android] Explicitly delete local references
  starboard/android/shared/media_capabilities_cache.cc
Due: cpplint, clang-format

Add test case for upgrading to compressed update
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/tests/verify_qa_channel_compressed_update_test.sh
Due: none

Enable crashpad_database_util target
  third_party/crashpad/tools/BUILD.gn
  third_party/crashpad/tools/crashpad_database_util.cc
Due: cpplint, clang-format

Adding a local Game-Activity AAR to prepare for ***REMOVED***
  starboard/android/apk/app/src/main/java/dev/cobalt/libraries/game_activity/games-activity-1.2.1.aar
Due: none

Use web::WindowOrWorkerGlobalScope for csp_delegate().
  cobalt/browser/browser_module.cc
  cobalt/cssom/computed_style.cc
  cobalt/dom/comment_test.cc
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/document_test.cc
  cobalt/dom/global_stats.cc
  cobalt/dom/html_element.cc
  cobalt/dom/html_element_context.cc
  cobalt/dom/html_element_context.h
  cobalt/dom/html_element_test.cc
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_meta_element.cc
  cobalt/dom/html_script_element.cc
  cobalt/dom/html_style_element.cc
  cobalt/dom/node.cc
  cobalt/dom/rule_matching_test.cc
  cobalt/dom/testing/fake_document.h
  cobalt/dom/testing/stub_window.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/xml_document_test.cc
  cobalt/dom_parser/html_decoder.cc
  cobalt/web/environment_settings.h
  cobalt/web/window_or_worker_global_scope.h
  cobalt/webdriver/screenshot.cc
  cobalt/websocket/web_socket.cc
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
  net/socket/tcp_socket_starboard.cc
Due: cpplint, cpplint_test, clang-format

Fix dom_test.
  cobalt/css_parser/parser.cc
  cobalt/css_parser/parser.h
  cobalt/cssom/css_parser.h
  cobalt/cssom/user_agent_style_sheet.cc
  cobalt/dom/document_test.cc
  cobalt/dom/dom_stat_tracker.cc
  cobalt/dom/html_element_test.cc
  cobalt/dom/rule_matching_test.cc
  cobalt/dom/testing/stub_window.h
Due: cpplint, cpplint_test, clang-format

[media] Fix DRM player creaton on Apple TV
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Make GTEST summary output atomically print to log
  testing/gtest/src/gtest.cc
Due: cpplint_test, clang-format

Support float framerate in mime string
  starboard/shared/starboard/media/parsed_mime_info.cc
Due: cpplint, clang-format

Revert "Revert "Porting GameActivity to Cobalt""
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/res/values/styles.xml
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/input_events_generator.cc
  starboard/android/shared/input_events_generator.h
  third_party/android_game_activity/README.md
  third_party/android_game_activity/include/game-activity/GameActivity.cpp
  third_party/android_game_activity/include/game-activity/GameActivity.h
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.c
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.h
  third_party/android_game_activity/include/game-text-input/gamecommon.h
  third_party/android_game_activity/include/game-text-input/gametextinput.cpp
  third_party/android_game_activity/include/game-text-input/gametextinput.h
  third_party/android_game_activity/module.json
Due: cpplint, clang-format, google-java-format, gcheckstyle

Disable failing android-arm unit tests
  starboard/android/arm/cobalt/configuration.py
  starboard/android/arm/test_filters.py
Due: yapf, pylint

Fix CHECK related build error for AOSP
  third_party/crashpad/tools/BUILD.gn
  third_party/protobuf/src/google/protobuf/stubs/shared_ptr.h
Due: cpplint, clang-format

Rename black box tests from test_simple to the name of the test.
  cobalt/black_box_tests/tests/allow_eval.py
  cobalt/black_box_tests/tests/cancel_sync_loads_when_suspended.py
  cobalt/black_box_tests/tests/conceal_visibility.py
  cobalt/black_box_tests/tests/disable_eval_with_csp.py
  cobalt/black_box_tests/tests/freeze_timers.py
  cobalt/black_box_tests/tests/freeze_visibility.py
  cobalt/black_box_tests/tests/http_cache.py
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/black_box_tests/tests/persistent_cookie.py
  cobalt/black_box_tests/tests/preload_font.py
  cobalt/black_box_tests/tests/preload_launch_parameter.py
  cobalt/black_box_tests/tests/preload_visibility.py
  cobalt/black_box_tests/tests/retry_async_script_loads_after_suspend.py
  cobalt/black_box_tests/tests/service_worker_message_test.py
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/black_box_tests/tests/signal_handler_doesnt_crash.py
  cobalt/black_box_tests/tests/suspend_visibility.py
  cobalt/black_box_tests/tests/text_encoding_test.py
  cobalt/black_box_tests/tests/timer_hit_after_preload.py
  cobalt/black_box_tests/tests/timer_hit_in_preload.py
  cobalt/black_box_tests/tests/web_platform_tests.py
  cobalt/black_box_tests/tests/web_worker_test.py
  cobalt/black_box_tests/tests/worker_csp_test.py
Due: yapf, pylint

Add expected H5vccStorage::SetQuota functionality
  cobalt/cache/cache.cc
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage_resource_type_quota_bytes_dictionary.idl
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
Due: cpplint, clang-format

Added Proguard rules to keep GameActivity Java functions needed by JNI code.
  starboard/android/apk/app/proguard-rules.pro
Due: none

Fix WasmCode::ConcatenateBytes.
  third_party/v8/src/wasm/wasm-code-manager.cc
Due: cpplint, clang-format

[nplb] Add mime tests for float frame rates
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Revert "Disable failing android-arm unit tests"
  starboard/android/arm/cobalt/configuration.py
  starboard/android/arm/test_filters.py
Due: yapf, pylint

[media] remove unused MockDataSource
  starboard/shared/ffmpeg/ffmpeg_demuxer_test.cc
Due: cpplint_test, clang-format

[android] Prevent passthrough race condition
  starboard/android/shared/audio_renderer_passthrough.h
Due: cpplint, clang-format

Pin Nodejs install to v16
  docker/linux/base/build/Dockerfile
Due: none

[media] remove unused function in ProgressiveDemuxer
  cobalt/media/progressive/progressive_demuxer.cc
  cobalt/media/progressive/progressive_demuxer.h
Due: cpplint, clang-format

Bring GitHub Actions related changes from upstream.
  docker-compose-windows.yml
  docker-compose.yml
  docker/linux/raspi/Dockerfile
  docker/linux/unittest/Dockerfile
  docker/linux/unittest/requirements.in
  docker/linux/unittest/requirements.txt
  docker/windows/runner/Dockerfile
  docker/windows/runner/runner.ps1
  starboard/build/platforms.py
  tools/copy_and_filter_out_dir.py
  tools/create_archive.py
  tools/worker_tools.py
Due: yapf, pylint

Work around Android 12 issue causing android unit test failures
  starboard/android/shared/platform_configuration/configuration.gni
Due: none

Implement Service-Worker-Allowed.
  cobalt/black_box_tests/testdata/black_box_js_test_utils.js
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test_script.js
  cobalt/black_box_tests/testdata/service_worker_test_worker.js
  cobalt/black_box_tests/tests/service_worker_test.py
  cobalt/dom/html_script_element.cc
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/net_fetcher.cc
  cobalt/loader/net_fetcher.h
  cobalt/loader/script_loader_factory.cc
  cobalt/loader/script_loader_factory.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, yapf, pylint, clang-format

Move wasapi_include.h to shared win location
  starboard/shared/win32/audio_transform.cc
  starboard/shared/win32/wasapi_include.h
  starboard/shared/win32/win32_audio_decoder.cc
  starboard/win/shared/BUILD.gn
Due: cpplint, clang-format

Have win32 use its own i18n files
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/configuration.gni
  starboard/win/win32/BUILD.gn
  starboard/win/win32/i18n/BUILD.gn
  starboard/win/win32/i18n/en.xlb
Due: none

[Android] Update MediaSession state when it changes to none
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Add return value for mocked function.
  cobalt/dom/html_element_test.cc
Due: cpplint_test, clang-format

Fix docker-compose settings for local xb1 builds
  docker-compose-windows.yml
Due: none

Fix pre-commit internal file check
  .pre-commit-config.yaml
Due: none

Destroy the image cache before the animated image tracker.
  base/single_thread_task_runner.cc
  cobalt/browser/web_module.cc
Due: cpplint, clang-format

Move internal services to internal docker compose
  docker-compose-windows.yml
Due: none
