Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN] Add missing defines from cobalt_configuration.gypi
  cobalt/dom/attr.cc
  starboard/build/config/BUILD.gn
  starboard/common/log.h
Due: cpplint, clang-format

[GN] Add COBALT_BOX_DUMP_ENABLED define
  cobalt/layout/BUILD.gn
Due: none

Deprecate ENABLE_PARTIAL_LAYOUT_CONTROL
  cobalt/browser/browser_module.cc
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/layout/box_generator.cc
Due: cpplint, clang-format

Remove simplejson package rename
  starboard/sabi/omaha_request.py
Due: yapf, pylint

Delete obsolete python test suites
  starboard/tools/config_test.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
