Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[media] Remove SbMedia functions from chromium/media
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  third_party/chromium/media/base/decoder_buffer.cc
  third_party/chromium/media/base/decoder_buffer.h
  third_party/chromium/media/base/demuxer_memory_limit_starboard.cc
  third_party/chromium/media/base/starboard_utils.cc
  third_party/chromium/media/filters/source_buffer_stream.cc
Due: cpplint, clang-format

Small JsonPrefStore and ServiceWorker Fix
  base/values.cc
  cobalt/browser/service_worker_registry.cc
  cobalt/persistent_storage/persistent_settings_test.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
  cobalt/worker/worker_global_scope.h
  components/prefs/json_pref_store.cc
Due: cpplint, cpplint_test, clang-format

Check pointer_event in HandleScrollState
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Prevent garbage collection of ScriptValue References.
  cobalt/script/script_value.h
Due: cpplint, clang-format

Increment Cobalt release version for 24 LTS
  cobalt/version.h
Due: cpplint, clang-format

Update openh264 license.
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

Introduce ODT shards
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

[xb1] Enable XHR header filter
  cobalt/xhr/BUILD.gn
Due: none

Fix HTTP cache blackboxtest by configuring quotas
  cobalt/black_box_tests/testdata/http_cache.html
Due: none
