Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Implement WaitUntil and send ExtendableEvent for install and activate.
  cobalt/bindings/contexts.py
  cobalt/bindings/v8c/templates/interface.cc.template
  cobalt/black_box_tests/testdata/service_worker_test.js
  cobalt/black_box_tests/testdata/service_worker_test_claimable.js
  cobalt/script/promise.h
  cobalt/script/v8c/conversion_helpers.h
  cobalt/script/v8c/native_promise.h
  cobalt/script/v8c/script_promise.h
  cobalt/worker/extendable_event.h
  cobalt/worker/extendable_event.idl
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, yapf, pylint, clang-format

Fix DefaultLocale lint violations.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/ArtworkLoader.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/apk/app/src/main/java/dev/cobalt/util/Log.java
Due: google-java-format, gcheckstyle

Enable/Disable cache in H5vccStorage
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/cache/BUILD.gn
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
  cobalt/network/BUILD.gn
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/network/url_request_context.cc
  cobalt/network/url_request_context.h
  cobalt/persistent_storage/persistent_settings.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
Due: cpplint, clang-format

Delete ninja binaries from Cobalt
  cobalt/build/ninja/README
  cobalt/build/ninja/ninja-linux
  cobalt/build/ninja/ninja-linux32.armv7l
  cobalt/build/ninja/ninja-win.exe
Due: none

[Watchdog] Resets Watchdog violations after fetch.
  cobalt/demos/content/watchdog-demo/index.html
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.h
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

Fix spelling
  .codespellignorelines
Due: none

Run Evergreen Lite test w/ compressed system image
  cobalt/evergreen_tests/evergreen_tests.py
  starboard/evergreen/shared/launcher.py
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
Due: yapf, pylint

Set content/storage path for AOSP Evergreen.
  starboard/android/shared/file_open.cc
  starboard/android/shared/system_get_path.cc
Due: cpplint, clang-format

Add SbMediaCanPlayMimeAndKeySystem() caches
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/linux/shared/media_is_audio_supported.cc
  starboard/linux/shared/media_is_video_supported.cc
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/nplb/media_set_audio_write_duration_test.cc
  starboard/raspi/shared/media_is_video_supported.cc
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/bitrate_supportability_cache.cc
  starboard/shared/starboard/media/bitrate_supportability_cache.h
  starboard/shared/starboard/media/key_system_supportability_cache.cc
  starboard/shared/starboard/media/key_system_supportability_cache.h
  starboard/shared/starboard/media/media_can_play_mime_and_key_system.cc
  starboard/shared/starboard/media/media_is_audio_supported_aac_and_opus.cc
  starboard/shared/starboard/media/media_is_audio_supported_aac_only.cc
  starboard/shared/starboard/media/media_support_internal.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/media/mime_supportability_cache.cc
  starboard/shared/starboard/media/mime_supportability_cache.h
  starboard/shared/starboard/media/mime_type.cc
  starboard/shared/starboard/media/mime_type.h
  starboard/shared/starboard/media/mime_type_test.cc
  starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/mime_util.h
  starboard/shared/starboard/media/parsed_mime_info.cc
  starboard/shared/starboard/media/parsed_mime_info.h
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/starboard/player/player_create.cc
  starboard/shared/stub/media_is_audio_supported.cc
  starboard/shared/stub/media_is_video_supported.cc
  starboard/shared/win32/media_is_audio_supported.cc
  starboard/shared/win32/media_is_video_supported.cc
Due: cpplint, cpplint_test, clang-format

Simplify mime and bitrate supportability caches
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/bitrate_supportability_cache.cc
  starboard/shared/starboard/media/bitrate_supportability_cache.h
  starboard/shared/starboard/media/key_system_supportability_cache.h
  starboard/shared/starboard/media/mime_supportability_cache.cc
  starboard/shared/starboard/media/mime_supportability_cache.h
  starboard/shared/starboard/media/mime_util.cc
Due: cpplint, clang-format

[android] Enable IsTypeSupported() caches
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_is_video_supported.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Change global android std::strings to local
  starboard/android/shared/file_open.cc
Due: cpplint, clang-format

Conditionally disable failing ffmpeg_demuxer_test
  starboard/shared/ffmpeg/BUILD.gn
Due: none

[Watchdog] Refactor Watchdog Violations JSON.
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

Update third party class for black box tests
  third_party/web_platform_tests/tools/html5lib/html5lib/trie/_base.py
Due: yapf, pylint

Fix various FFmpeg-related issues.
  starboard/shared/ffmpeg/ffmpeg_common.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.h
  starboard/shared/ffmpeg/ffmpeg_dispatch.h
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_dispatch_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_dispatch_impl.cc
Due: cpplint, clang-format

Add Evergreen file type to UA string, client hints
  cobalt/BUILD.gn
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string.cc
  cobalt/browser/user_agent_string_test.cc
  cobalt/updater/BUILD.gn
  cobalt/updater/utils.cc
  cobalt/updater/utils.h
  cobalt/updater/utils_test.cc
  cobalt/web/cobalt_ua_data_values.idl
  cobalt/web/cobalt_ua_data_values_interface.cc
  cobalt/web/cobalt_ua_data_values_interface.h
  cobalt/web/cobalt_ua_data_values_interface.idl
  cobalt/web/navigator_ua_data.cc
  cobalt/web/user_agent_platform_info.h
  starboard/evergreen/shared/gyp_configuration.py
Due: cpplint, cpplint_test, yapf, pylint, clang-format

[Watchdog] Add Watchdog Kill Switch.
  cobalt/browser/application.cc
  cobalt/demos/content/watchdog-demo/index.html
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.h
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/renderer/pipeline.cc
  cobalt/watchdog/singleton.h
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

Refine CanPlayMimeAndKeySystem performance tests
  starboard/android/shared/test_filters.py
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/nplb/media_can_play_mime_and_key_system_test_helpers.h
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Adding more ExtendableEvent logic.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test.js
  cobalt/black_box_tests/testdata/service_worker_test_claimable.js
  cobalt/worker/clients.cc
  cobalt/worker/extendable_event.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
Due: cpplint, clang-format

Keep Service Worker (Registration) Objects reference counted.
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_registration.h
Due: cpplint, clang-format

Add additional gcheckstyle check safeguard
  precommit_hooks/gcheckstyle_wrapper.py
Due: yapf, pylint

[Watchdog] Only unique Watchdog Violations JSON.
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

[linux] Fix crash when using StubVideoDecoder
  starboard/shared/starboard/player/filter/stub_video_decoder.cc
  starboard/shared/starboard/player/filter/stub_video_decoder.h
  starboard/shared/x11/application_x11.cc
Due: cpplint, clang-format

[tvos] Fix failed SbPlayerTests
  starboard/shared/starboard/player/player_create.cc
Due: cpplint, clang-format

[media] Refine playback metrics
  cobalt/base/BUILD.gn
  cobalt/base/statistics.h
  cobalt/base/statistics_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer_metrics.cc
  cobalt/dom/source_buffer_metrics.h
  cobalt/media/base/starboard_player.cc
Due: cpplint, cpplint_test, clang-format

Refactor XHR to avoid dependence on DOM
  cobalt/web/testing/stub_web_context.h
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
  cobalt/xhr/xml_http_request.idl
  cobalt/xhr/xml_http_request_test.cc
Due: cpplint, cpplint_test, clang-format

[media]Fix JNI class/fields/methods not found issue.
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle

Add partner doc for Evergreen Binary Compression
  starboard/doc/evergreen/evergreen_binary_compression.md
Due: none

Followup to enabling XHR in workers
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, clang-format

Additionally build LZ4 versions of the test_apps when building their install targets
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/shared/lz4_compress_install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x86/install_target.gni
Due: none

Resize HTTP Cache dynamically.
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/cache/memory_capped_directory.cc
  cobalt/cache/memory_capped_directory.h
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  net/BUILD.gn
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
  net/disk_cache/cobalt/resource_type.h
Due: cpplint, clang-format

Use readable names for TEST_P nplb tests.
  starboard/android/shared/test_filters.py
  starboard/linux/shared/test_filters.py
  starboard/nplb/file_read_write_all_test.cc
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/socket_accept_test.cc
  starboard/nplb/socket_bind_test.cc
  starboard/nplb/socket_connect_test.cc
  starboard/nplb/socket_create_test.cc
  starboard/nplb/socket_get_interface_address_test.cc
  starboard/nplb/socket_get_local_address_test.cc
  starboard/nplb/socket_helpers.cc
  starboard/nplb/socket_helpers.h
  starboard/nplb/socket_is_connected_and_idle_test.cc
  starboard/nplb/socket_is_connected_test.cc
  starboard/nplb/socket_listen_test.cc
  starboard/nplb/socket_receive_from_test.cc
  starboard/nplb/socket_resolve_test.cc
  starboard/nplb/socket_send_to_test.cc
  starboard/nplb/socket_set_options_test.cc
  starboard/nplb/socket_waiter_add_test.cc
  starboard/nplb/socket_waiter_remove_test.cc
  starboard/nplb/socket_waiter_wait_test.cc
  starboard/nplb/socket_waiter_wait_timed_test.cc
  starboard/nplb/socket_wrapper_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

[dom] Improve TRACE_EVENT() on events
  cobalt/dom/html_media_element.cc
  cobalt/web/event_target.cc
Due: cpplint, clang-format

Export Blob and URL to workers.
  cobalt/dom/testing/stub_window.h
  cobalt/dom/testing/test_with_javascript.h
  cobalt/dom_parser/html_decoder_test.cc
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/fetcher_factory_test.cc
  cobalt/web/agent.cc
  cobalt/web/blob.idl
  cobalt/web/blob_test.cc
  cobalt/web/context.h
  cobalt/web/csp_delegate_test.cc
  cobalt/web/testing/BUILD.gn
  cobalt/web/testing/stub_web_context.h
  cobalt/web/testing/test_with_javascript.h
  cobalt/web/url.idl
  cobalt/web/url_test.cc
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/websocket/web_socket_test.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_global_scope_test.cc
  cobalt/worker/worker_navigator_test.cc
Due: cpplint, cpplint_test, clang-format

Remove client log info
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Expose CustomEvent API to Worker
  cobalt/web/custom_event.idl
  cobalt/web/custom_event_test.cc
Due: cpplint_test, clang-format

Add seam to updater utils to stub/mock IM in tests
  cobalt/updater/BUILD.gn
  cobalt/updater/utils.cc
  cobalt/updater/utils.h
  cobalt/updater/utils_test.cc
Due: cpplint, cpplint_test, clang-format

Add ClearCache in H5vccStorage
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/cache/memory_capped_directory.cc
  cobalt/cache/memory_capped_directory.h
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
Due: cpplint, clang-format

Use the default url constant
  starboard/loader_app/loader_app.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
