Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Skip "out of storage" test on BuildBot.
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none

Scrub "hisense" from automated Evergreen tests.
  starboard/evergreen/testing/setup.sh
Due: none

Fix out_of_storage_test.sh, mismatched_architecture_test.sh.
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
Due: none

Consolidate test HTML into two files, pass channel via query.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/tseries.html
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Add more documentation, error-checking to Evergreen automated tests.
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/drain_file.sh
  starboard/evergreen/testing/shared/init_logging.sh
  starboard/evergreen/testing/shared/installation_slot.sh
  starboard/evergreen/testing/shared/wait_and_watch.sh
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
Due: none

Add Hisense 9602 README.md, improve steps to run tests.
  starboard/evergreen/testing/README.md
Due: none

Minor Evergreen automated test improvements.
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/test.html
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Rename Evergreen testing scripts logging commands.
  starboard/evergreen/testing/linux/create_file.sh
  starboard/evergreen/testing/linux/delete_file.sh
  starboard/evergreen/testing/linux/deploy_cobalt.sh
  starboard/evergreen/testing/linux/run_command.sh
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/raspi/create_file.sh
  starboard/evergreen/testing/raspi/delete_file.sh
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/run_command.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/app_key.sh
  starboard/evergreen/testing/shared/drain_file.sh
  starboard/evergreen/testing/shared/init_logging.sh
  starboard/evergreen/testing/shared/installation_slot.sh
  starboard/evergreen/testing/shared/wait_and_watch.sh
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/continuous_updates_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Rename start_cobalt to cycle_cobalt
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/alternative_content_test.sh
  starboard/evergreen/testing/tests/continuous_updates_test.sh
  starboard/evergreen/testing/tests/crashing_binary_test.sh
  starboard/evergreen/testing/tests/disabled_updater_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/mismatched_architecture_test.sh
  starboard/evergreen/testing/tests/noop_binary_test.sh
  starboard/evergreen/testing/tests/out_of_storage_test.sh
  starboard/evergreen/testing/tests/quick_roll_forward_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_fails_verification_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
  starboard/evergreen/testing/tests/verify_qa_channel_update_test.sh
Due: none

Abstract out cycle_cobalt functionality
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/start_cobalt.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/cycle_cobalt.sh
Due: none

Create evergreen test to check if crashpad runs
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/linux/setup.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/tests/crashpad_runs_test.sh
Due: none

disable one task runner test case
  starboard/win/win32/cobalt/configuration.py
Due: yapf, pylint

(All platforms) Switch to C++14
  base/task/task_traits_details.h
  starboard/android/shared/gyp_configuration.py
  starboard/build/base_configuration.gypi
  starboard/evergreen/shared/compiler_flags.gypi
  starboard/linux/shared/compiler_flags.gypi
  starboard/linux/shared/gyp_configuration.gypi
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
  starboard/linux/x64x11/gcc/6.3/compiler_flags.gypi
  starboard/shared/starboard/media/avc_util_test.cc
  starboard/stub/gyp_configuration.gypi
Due: cpplint, cpplint_test, yapf, pylint, clang-format

make angle work with C++14
  nb/cpp14oncpp11.h
  third_party/angle/src/common/PackedEnums.cpp
  third_party/angle/src/common/PackedEnums.h
  third_party/angle/src/compiler.gypi
  third_party/angle/src/compiler/translator/ImmutableString.cpp
  third_party/angle/src/compiler/translator/ImmutableString.h
  third_party/angle/src/compiler/translator/StaticType.cpp
  third_party/angle/src/compiler/translator/StaticType.h
  third_party/angle/src/libANGLE/Context.cpp
  third_party/angle/src/libANGLE/Context.inl.h
  third_party/angle/src/libANGLE/angletypes.cpp
  third_party/angle/src/libANGLE/angletypes.h
  third_party/skia/include/private/SkMacros.h
Due: cpplint, clang-format

(All platforms) Switch to C++14
  base/task/task_traits_details.h
  starboard/android/shared/gyp_configuration.py
  starboard/build/base_configuration.gypi
  starboard/evergreen/shared/compiler_flags.gypi
  starboard/linux/shared/compiler_flags.gypi
  starboard/linux/shared/gyp_configuration.gypi
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
  starboard/linux/x64x11/gcc/6.3/compiler_flags.gypi
  starboard/shared/starboard/media/avc_util_test.cc
  starboard/stub/gyp_configuration.gypi
  starboard/win/shared/gyp_configuration.gypi
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Add tests to verify SbMedia function performance
  starboard/nplb/media_buffer_test.cc
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/nplb/media_configuration_test.cc
  starboard/nplb/nplb.gyp
  starboard/nplb/performance_helpers.h
Due: cpplint, cpplint_test, clang-format

[ICU] Move non-constexpr assert to constructor body
  third_party/icu/source/i18n/formatted_string_builder.h
Due: cpplint, clang-format

Remove YUV to RGB software shaders.
  cobalt/renderer/rasterizer/skia/render_tree_node_visitor.cc
  cobalt/renderer/rasterizer/skia/skia/skia_cobalt.gypi
  cobalt/renderer/rasterizer/skia/skia/src/effects/SkNV122RGBShader.cc
  cobalt/renderer/rasterizer/skia/skia/src/effects/SkNV122RGBShader.h
  cobalt/renderer/rasterizer/skia/skia/src/effects/SkYUV2RGBShader.cc
  cobalt/renderer/rasterizer/skia/skia/src/effects/SkYUV2RGBShader.h
Due: cpplint, clang-format

Take gcc_toolchain from chromium
  starboard/build/toolchain/gcc_toolchain.gni
Due: none

Skeleton GN framework for stub
  .gn
  BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/gcc_toolchain.gni
  starboard/linux/x64x11/toolchain/BUILD.gn
  starboard/stub/toolchain/BUILD.gn
Due: none

Fix a function name mismatch
  third_party/zlib/google/compression_utils.cc
Due: cpplint, clang-format

[NX] Scale 360 video to fit window size
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
Due: cpplint, clang-format

[Android] Declare speech recognition visibility
  starboard/android/apk/app/src/app/AndroidManifest.xml
Due: none

[BG] Prevent player time update during preroll
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/player_internal.cc
  starboard/shared/starboard/player/player_internal.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: cpplint, clang-format
