Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Remove Skia clang 3.6 fixes
  third_party/skia/include/private/SkFloatingPoint.h
  third_party/skia/src/core/SkGlyphRun.cpp
  third_party/skia/src/core/SkGlyphRunPainter.cpp
  third_party/skia/src/core/SkStream.cpp
  third_party/skia/src/core/SkStrike.cpp
  third_party/skia/src/gpu/GrFragmentProcessor.h
  third_party/skia/src/gpu/GrGlyph.h
  third_party/skia/src/gpu/GrPrimitiveProcessor.h
  third_party/skia/src/lazy/SkDiscardableMemoryPool.cpp
  third_party/skia/src/utils/SkCanvasStateUtils.cpp
  third_party/skia/third_party/skcms/skcms.cc
  third_party/skia/third_party/skcms/src/Transform_inl.h
Due: cpplint, clang-format

Add arch and bitness to UA-CH web API
  cobalt/dom/navigator_ua_data.cc
  starboard/sabi/sabi.gypi
Due: cpplint, clang-format

Update the Evergreen fonts documentation.
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Update xdg_mime licenses.
  base/third_party/xdg_mime/README.chromium
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
Due: none

[GN] Create android install_target
  starboard/android/apk/BUILD.gn
  starboard/android/apk/app/CMakeLists.txt
  starboard/android/apk/app/build.gradle
  starboard/android/shared/install_target.gni
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/android/shared/platform_deploy.gypi
  starboard/build/run_bash.py
Due: yapf, pylint

[GN] Add use_tsan option to gn
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
Due: none

[GN] Add enable_vulkan option on android
  starboard/android/arm64/vulkan/platform_configuration/configuration.gni
  starboard/android/shared/install_target.gni
  starboard/android/shared/platform_configuration/configuration.gni
Due: none

Modify navigation_start in PerformanceTiming.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_test.cc
  cobalt/dom/performance_timing.cc
  cobalt/dom/performance_timing.h
Due: cpplint, cpplint_test, clang-format

Skia formatting cleanups
  third_party/skia/include/private/GrTypesPriv.h
  third_party/skia/modules/skottie/src/text/RangeSelector.cpp
  third_party/skia/src/core/SkEnumerate.h
  third_party/skia/src/core/SkGlyph.h
  third_party/skia/src/core/SkGraphics.cpp
  third_party/skia/src/gpu/GrGlyph.h
Due: cpplint, clang-format

Add trace for lifecycle timing in Performance.
  cobalt/dom/performance.cc
Due: cpplint, clang-format

Last two mozjs reference in comments
  cobalt/script/v8c/conversion_helpers.h
  net/net.gyp
Due: cpplint, clang-format

[GN] Add documentation from GYP->GN migration
  starboard/build/doc/migrating_gyp_to_gn.md
  starboard/build/doc/migration_changes.md
Due: none

Add an empty c99.md file to 21.lts.1+.
  starboard/doc/c99.md
Due: none

Fix Kimono nativeSendToClient crashes
  starboard/android/shared/platform_service.cc
Due: cpplint, clang-format

Implements the User Timing extension to the Performance interface.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance.idl
  cobalt/dom/performance_entry.h
  cobalt/dom/performance_mark.cc
  cobalt/dom/performance_mark.h
  cobalt/dom/performance_mark.idl
  cobalt/dom/performance_measure.cc
  cobalt/dom/performance_measure.h
  cobalt/dom/performance_measure.idl
  cobalt/dom/performance_timing.h
Due: cpplint, clang-format

Fix crosstool builds crash on loadtiminginfo.
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_script_element.cc
Due: cpplint, clang-format

Fix the DCHECK hit in ClearResourceTimings.
  cobalt/dom/performance.cc
Due: cpplint, clang-format

Fix crash in CobaltUADataValuesInterface constructor
  cobalt/dom/cobalt_ua_data_values_interface.h
Due: cpplint, clang-format

Add helper debugging scripts to windows containers
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/list_python_processes.py
  docker/windows/base/build/spin.ps1
Due: yapf, pylint

Clean up outdated compiler flags
  build_gyp/common.gypi
  starboard/linux/shared/compiler_flags.gypi
  starboard/linux/shared/platform_configuration/BUILD.gn
Due: none

Update cobalt changelog
  cobalt/CHANGELOG.md
Due: none

[nplb] Remove H264 FHD 60fps test
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Make sure getHighEntropyValues returns valid promise
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/cobalt_ua_data_values_interface.cc
  cobalt/dom/cobalt_ua_data_values_interface.h
  cobalt/dom/cobalt_ua_data_values_interface.idl
  cobalt/dom/dom.gyp
  cobalt/dom/navigator_ua_data.cc
  cobalt/dom/navigator_ua_data.h
Due: cpplint, clang-format

Fix MediaToSbMediaColorMetadata memcpy
  cobalt/media/base/starboard_utils.cc
Due: cpplint, clang-format
