Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[android] Remove references to AudioRouting
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

[nplb] Change MIME strings in nplb tests
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Revert "Locale fix for Evergreen."
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/skia/skia/skia.gyp
  third_party/inspector_protocol/crdtp/json_platform.cc
  third_party/skia/src/sksl/SkSLString.cpp
Due: cpplint, clang-format

Revert "Revert "Locale fix for Evergreen.""
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/skia/skia/skia.gyp
  third_party/inspector_protocol/crdtp/json_platform.cc
  third_party/skia/src/sksl/SkSLString.cpp
Due: cpplint, clang-format

Add all dependency files for arm arch
  third_party/libjpeg-turbo/libjpeg.gyp
  third_party/libjpeg-turbo/simd/arm/aarch32/jchuff-neon.c
Due: none

ifdef out in STARBOARD environment to disable TLS
  third_party/libjpeg-turbo/jconfigint.h
  third_party/libjpeg-turbo/turbojpeg.c
Due: cpplint, clang-format

Disable neon for all arm arch to clean the build
  third_party/libjpeg-turbo/jconfig.h
  third_party/libjpeg-turbo/libjpeg.gyp
Due: cpplint, clang-format

Fix xb1 compilation failure due to typo in comment
  base/files/file_path_unittest.cc
Due: cpplint_test, clang-format

Updating Ubuntu image from Xenial to Bionic.
  docker-compose.yml
  docker/linux/clang-3-9/Dockerfile
Due: none

Use relative paths in inline docs
  cobalt/doc/docker_build.md
  cobalt/doc/platform_services.md
  starboard/doc/evergreen/cobalt_evergreen_lite.md
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/doc/starboard_abi.md
Due: none

Remove usage of enum in media integration tests
  cobalt/media_integration_tests/test_app.py
Due: yapf, pylint

[GN][Raspi] Add raspi-2-skia platform build to gn
  starboard/build/platforms.gni
  starboard/raspi/2/BUILD.gn
  starboard/raspi/2/skia/BUILD.gn
  starboard/raspi/2/skia/platform_configuration/BUILD.gn
  starboard/raspi/2/skia/platform_configuration/configuration.gni
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
  starboard/raspi/shared/toolchain/raspi_shared_toolchain.gni
Due: none

[Android]: Fix black screen upon back navigation issue.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_platform.gypi
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Only run pre-commit bug checker once during push
  .pre-commit-config.yaml
Due: none

Animated WebP layout test
  cobalt/loader/image/animated_webp_image.cc
  cobalt/loader/image/animated_webp_image.h
  cobalt/loader/image/image_decoder_mock.h
  cobalt/loader/image/image_decoder_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/DebugAnimatedWebPFrame-expected.png
  cobalt/renderer/rasterizer/testdata/loading-spinner-opaque.webp
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format

[GN] Have raspi sb implementation depend on crashpad wrapper
  starboard/raspi/shared/BUILD.gn
Due: none

[GN] Fix raspi toolchain
  starboard/raspi/2/skia/toolchain/BUILD.gn
  starboard/raspi/2/toolchain/BUILD.gn
  starboard/raspi/shared/toolchain/raspi_shared_toolchain.gni
Due: none

Create docker entry for raspi-gn
  docker-compose.yml
  docker/linux/raspi/Dockerfile
  docker/linux/raspi/gn/Dockerfile
Due: none

[GN] Remove unnecessary raspi-gn docker packages
  docker/linux/raspi/Dockerfile
Due: none

Remove last instance of custom_media_session_client
  starboard/build/platform_configuration.py
Due: yapf, pylint

Mark PlayerComponentsTest.Pause flaky
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
Due: cpplint_test, clang-format

Read directly from 'senc' box when 'senc' box is present
  cobalt/media/formats/mp4/box_definitions.cc
Due: cpplint, clang-format

Suspend WindowTimers when Frozen.
  cobalt/black_box_tests/testdata/freeze_timers.html
  cobalt/black_box_tests/tests/freeze_timers.py
  cobalt/dom/window.cc
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
Due: cpplint, yapf, pylint, clang-format

Fix Background mode fails upon suspend the app.
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
Due: cpplint, clang-format

Revert "[Android]: Fix black screen upon back navigation issue."
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_platform.gypi
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Revert "Animated WebP layout test"
  cobalt/loader/image/animated_webp_image.cc
  cobalt/loader/image/animated_webp_image.h
  cobalt/loader/image/image_decoder_mock.h
  cobalt/loader/image/image_decoder_test.cc
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/DebugAnimatedWebPFrame-expected.png
  cobalt/renderer/rasterizer/testdata/loading-spinner-opaque.webp
  cobalt/renderer/renderer.gyp
Due: cpplint, cpplint_test, clang-format
