Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Create a sandbox working for one app only
  cobalt/build/all.gyp
  cobalt/updater/one_app_only_sandbox.cc
  cobalt/updater/one_app_only_sandbox.gyp
Due: cpplint, clang-format

Expose media_util functions to starboard/common
  starboard/common/common.gyp
  starboard/common/media.cc
  starboard/common/media.h
  starboard/common/string.h
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util.h
  starboard/shared/starboard/media/video_capabilities.cc
  starboard/shared/starboard/player/filter/stub_video_decoder.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/input_buffer_internal.cc
Due: cpplint, cpplint_test, clang-format

Remove unused SB_HAS_PLAYER macro
  starboard/contrib/tizen/armv7l/configuration_public.h
Due: cpplint, clang-format

Deprecate SbSystemBinarySearch
  cobalt/site/docs/reference/starboard/modules/system.md
  starboard/configuration.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/system_binary_search_test.cc
  starboard/shared/iso/system_binary_search.cc
  starboard/shared/stub/system_binary_search.cc
  starboard/system.h
  third_party/boringssl/src/crypto/asn1/a_strnid.c
  third_party/boringssl/src/crypto/err/err.c
  third_party/boringssl/src/crypto/obj/obj.c
  third_party/boringssl/src/crypto/stack/stack.c
  third_party/boringssl/src/crypto/x509v3/v3_lib.c
  third_party/boringssl/src/crypto/x509v3/v3_purp.c
  third_party/boringssl/src/ssl/ssl_cipher.cc
  third_party/harfbuzz-ng/src/hb-starboard.hh
  third_party/musl/musl.gyp
  third_party/skia/modules/skottie/src/layers/ShapeLayer.cpp
Due: cpplint, cpplint_test, clang-format

Adding a default -j setting for Ninja within Docker containers
  docker/linux/android/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/evergreen/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/stub/Dockerfile
Due: none

Replace std wrappers with starboard wrappers in V8
  v8/BUILD.gn
Due: none

Give partners access to pre-commit config
  .pre-commit-config.yaml
  download_resources.py
  precommit_hooks/custom_hooks/warn_that_starboard_interface_changed_wrapper.py
Due: yapf, pylint

[android] Filter nplb AV1 tests
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

[android] Force secure playback to enable tunnel mode
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format

Utilize GooGet installed winflexbison.
  cobalt/css_parser/css_parser.gyp
Due: none

[XB1] Check if increasing the swapchain length smoothes playback
  third_party/angle/src/libANGLE/renderer/d3d/d3d11/winrt/CoreWindowNativeWindow.cpp
Due: cpplint, clang-format

Cobalt: Fix threadedImageDecoderProxy resume issue.
  cobalt/loader/image/threaded_image_decoder_proxy.cc
Due: cpplint, clang-format

Cobalt: Fix PurgeResourceCaches order issue in webModule.
  cobalt/browser/web_module.cc
Due: cpplint, clang-format

Android: Fix MediaSession creating issue after suspended.
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Use temp directory instead of temp file
  precommit_hooks/python3_check.py
  tools/download_from_gcs_test.py
Due: yapf, pylint

Use temp directory instead of temp file
  tools/download_from_gcs_test.py
Due: yapf, pylint

Use previous cpplint rules in precommit
  .pre-commit-config.yaml
Due: none
