Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Remove py2 packages from linux containers
  docker/linux/base/Dockerfile
Due: none

Enable black box test for caching.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Remove duplicate entry in license file
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

Add MP3, FLAC, and PCM values to SbMediaAudioCodec.
  cobalt/site/docs/reference/starboard/modules/media.md
  starboard/CHANGELOG.md
  starboard/common/media.cc
  starboard/media.h
  starboard/nplb/player_create_test.cc
  starboard/nplb/player_creation_param_helpers.cc
  starboard/nplb/player_get_preferred_output_mode_test.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/shared/starboard/media/media_util.cc
  third_party/chromium/media/base/starboard_utils.cc
Due: cpplint, cpplint_test, clang-format

Remove python 2 from required OSS packages
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/development/setup-raspi.md
Due: none

[android] Rename GetPlaybackHeadPosition()
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: cpplint, clang-format

CoAT build with Java 8 Add lambda expression code for verify.
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/AdvertisingId.java
Due: google-java-format, gcheckstyle

Deprecate SbSystemConnectionType
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string.cc
  cobalt/browser/user_agent_string_test.cc
  cobalt/dom/user_agent_data_test.cc
  cobalt/web/navigator_ua_data.cc
  cobalt/web/user_agent_platform_info.h
  starboard/android/shared/system_get_connection_type.cc
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_connection_type.cc
  starboard/nplb/system_get_connection_type_test.cc
  starboard/shared/stub/system_get_connection_type.cc
  starboard/shared/win32/system_get_connection_type.cc
  starboard/system.h
  starboard/win/shared/BUILD.gn
Due: cpplint, cpplint_test, clang-format

Remove internal references in external source code
  glimp/egl/display.cc
  glimp/egl/display_impl.h
Due: cpplint, clang-format

[android] Refine audio sink required frames tester
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Increment Cobalt version to 22.lts.6
  cobalt/version.h
Due: cpplint, clang-format

Fix spelling
  .codespellignorelines
Due: none

Have loader app detect libcobalt compression
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
  starboard/loader_app/slot_management.cc
  starboard/loader_app/slot_management.h
  starboard/loader_app/slot_management_test.cc
Due: cpplint, cpplint_test, clang-format

Expose WebCryptoAPI to workers.
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/text_encoding_test.html
  cobalt/black_box_tests/testdata/text_encoding_test.js
  cobalt/black_box_tests/testdata/web_crypto_api_test.html
  cobalt/black_box_tests/testdata/web_crypto_api_test.js
  cobalt/black_box_tests/tests/text_encoding_test.py
  cobalt/black_box_tests/tests/web_crypto_api_test.py
  cobalt/browser/idl_files.gni
  cobalt/dom/BUILD.gn
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/encoding/text_decoder.idl
  cobalt/subtlecrypto/subtle_crypto.idl
  cobalt/web/BUILD.gn
  cobalt/web/crypto.cc
  cobalt/web/crypto.h
  cobalt/web/crypto.idl
  cobalt/web/crypto_test.cc
  cobalt/web/global_crypto.idl
  cobalt/web/window_or_worker_global_scope.cc
  cobalt/web/window_or_worker_global_scope.h
Due: cpplint, cpplint_test, yapf, pylint, clang-format

crtypo.subtle should reuse the same instance.
  cobalt/web/crypto.cc
  cobalt/web/crypto.h
  cobalt/web/crypto_test.cc
  cobalt/web/testing/stub_web_context.h
Due: cpplint, cpplint_test, clang-format

Remove unused thread access functions
  starboard/shared/starboard/thread_local_storage_external_access_hack_public.cc
  starboard/shared/starboard/thread_local_storage_external_access_hack_public.h
  starboard/shared/starboard/thread_local_storage_internal.cc
  starboard/shared/starboard/thread_local_storage_internal.h
Due: cpplint, clang-format

Don't ignore files that are necessary to build
  third_party/libvpx/.gitignore
  third_party/opus/.gitignore
Due: none

Don't copy test data in gold builds
  cobalt/browser/BUILD.gn
Due: none

[Android] Update API level and gradle version.
  starboard/android/apk/app/CMakeLists.txt
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/app/AndroidManifest.xml
  starboard/android/apk/build.gradle
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
  starboard/android/shared/download_sdk.sh
Due: none

Don't create install target for crashpad_handler on Android.
  third_party/crashpad/handler/BUILD.gn
Due: none

Fix Omaha App ID for LTS branch.
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Add support for Evergreen specific targets to Android.
  starboard/android/shared/BUILD.gn
Due: none

Remove cobalt_platform_dependencies from the loader_app.
  starboard/elf_loader/BUILD.gn
  starboard/loader_app/BUILD.gn
Due: none

Revert "Add tests to measure (de)compression performance"
  cobalt/evergreen_tests/evergreen_tests.py
  starboard/evergreen/testing/performance_tests/baseline_update_test.sh
  starboard/evergreen/testing/performance_tests/compression_update_test.sh
  starboard/evergreen/testing/performance_tests/run_update_trial.sh
  starboard/evergreen/testing/run_all_tests.sh
Due: yapf, pylint

[android] Add device capabilities cache
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

[android] Cache max audio output channels
  starboard/android/shared/media_capabilities_cache.cc
  starboard/android/shared/media_capabilities_cache.h
  starboard/android/shared/media_get_audio_configuration.cc
Due: cpplint, clang-format

Add support for mp3 and ogg files (vorbis).
  starboard/linux/shared/media_is_audio_supported.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
Due: cpplint, clang-format

Add support for decoding VP8.
  cobalt/media/base/playback_statistics.cc
  starboard/linux/shared/media_is_video_supported.cc
  starboard/shared/ffmpeg/ffmpeg_video_decoder_impl.cc
Due: cpplint, clang-format

Remove py2 from win32 docker container
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/python2.bat
Due: none

Delete win32 unittests container
  docker/windows/win32/unittest/Dockerfile
  docker/windows/win32/unittest/python2.bat
  docker/windows/win32/unittest/unittest.cmd
Due: none

Add GN installation instructions to cobalt.dev
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/reference/starboard/modules/14/media.md
  cobalt/site/docs/reference/starboard/modules/14/system.md
  cobalt/site/docs/reference/starboard/modules/system.md
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
