Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[win32] Disable failing nplb tests (#246)
  starboard/win/win32/test_filters.py
Due: yapf, pylint

(23.lts.1+) Use gsutil to upload test archives. (#230) (#248)
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

(23.lts.1+) Disable integration tests on raspi-2 platforms. (#247)
  .github/config/raspi-2.json
Due: none

Ensure ordering of stashed deep links. (#212) (#245)
  cobalt/base/deep_link_event.h
  cobalt/h5vcc/h5vcc_runtime.cc
  cobalt/h5vcc/h5vcc_runtime.h
Due: cpplint, clang-format

Fix label based triggering. (#255)
  .github/workflows/android_23.lts.1+.yaml
  .github/workflows/evergreen_23.lts.1+.yaml
  .github/workflows/linux_23.lts.1+.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/raspi-2_23.lts.1+.yaml
  .github/workflows/stub_23.lts.1+.yaml
  .github/workflows/win32_23.lts.1+.yaml
Due: none

Address command injection vulnerability. (#258)
  .github/workflows/main.yaml
Due: none

Remove 'runtest' label in win worklows. (#257)
  .github/workflows/main_win.yaml
  .github/workflows/win32.yaml
Due: none

(23.lts.1+) Address command injection vulnerability. (#222) (#262)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Fix 'on_device' label trigger. (#264)
  .github/workflows/main.yaml
Due: none

Pass correct bootloader config to Evergreen ODT (#244)
  .github/workflows/main.yaml
Due: none

(23.lts.1+) Address command injection vulnerability. (#263)
  .github/workflows/main_win.yaml
Due: none

Add workflow to manually cherry pick commits (#275)
  .github/workflows/manual-cherry-pick.yaml
Due: none

Use github actions environment variable syntax in cherry pick workflow (#276)
  .github/workflows/manual-cherry-pick.yaml
Due: none

Use docker compose v2 to build win docker images (#281)
  .github/actions/docker_win/action.yaml
Due: none

Add bug id check job to lint workflow (#282)
  .github/workflows/lint.yaml
Due: none

Delay the initial updater check with 30s
  cobalt/base/deep_link_event.h
  cobalt/h5vcc/h5vcc_runtime.cc
  cobalt/h5vcc/h5vcc_runtime.h
  cobalt/updater/updater_module.cc
  starboard/tools/testing/test_runner.py
  starboard/win/win32/test_filters.py
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: cpplint, yapf, pylint, clang-format

Implementing a batched Read() within DemuxerStream.
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_bridge.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/progressive/demuxer_extension_wrapper.cc
  cobalt/media/progressive/demuxer_extension_wrapper.h
  cobalt/media/progressive/demuxer_extension_wrapper_test.cc
  cobalt/media/progressive/progressive_demuxer.cc
  cobalt/media/progressive/progressive_demuxer.h
  cobalt/media/sandbox/media2_sandbox.cc
  third_party/chromium/media/base/demuxer_stream.h
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/chunk_demuxer.h
Due: cpplint, cpplint_test, clang-format

Remove SSO
  cobalt/browser/BUILD.gn
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_sso.cc
  cobalt/h5vcc/h5vcc_sso.h
  cobalt/h5vcc/h5vcc_sso.idl
  cobalt/site/docs/reference/starboard/gn-configuration.md
  cobalt/sso/BUILD.gn
  cobalt/sso/sso_interface.h
  cobalt/xhr/BUILD.gn
  cobalt/xhr/xhr_modify_headers.h
  cobalt/xhr/xml_http_request.cc
  starboard/build/config/base_configuration.gni
Due: cpplint, clang-format

Update SSL certs.
  cobalt/content/ssl/certs/03179a64.0
Due: none

Update BUILD.gn for removed SSL certificate.
  cobalt/network/BUILD.gn
Due: none

Add change id to ODT watch command (23.lts.1+)
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

[android] Prevent pass-through playback crashes
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[xhr] Optimize buffer management in Fetch mode
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/debug_console.h
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/browser/splash_screen.cc
  cobalt/browser/splash_screen.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/layout_tests/layout_snapshot.cc
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/web/BUILD.gn
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/web/testing/BUILD.gn
  cobalt/web/testing/stub_web_context.h
  cobalt/web/web_settings.h
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_settings.cc
  cobalt/xhr/BUILD.gn
  cobalt/xhr/fetch_buffer_pool.cc
  cobalt/xhr/fetch_buffer_pool.h
  cobalt/xhr/fetch_buffer_pool_test.cc
  cobalt/xhr/url_fetcher_buffer_writer.cc
  cobalt/xhr/url_fetcher_buffer_writer.h
  cobalt/xhr/xhr_settings.h
  cobalt/xhr/xhr_settings_test.cc
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, cpplint_test, clang-format

Add extension to be notified when the web app is rendered
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/extension/extension_test.cc
  cobalt/extension/graphics.h
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/graphics.cc
Due: cpplint, cpplint_test, clang-format, google-java-format, gcheckstyle

[h5vcc] Allow configuring batch sample writing from web app
  cobalt/browser/browser_module.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
Due: cpplint, clang-format

[media] Increase timeupdate event frequency to 5hz
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/BUILD.gn
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/html_media_element.cc
  cobalt/dom/html_media_element.h
  cobalt/dom/media_settings.cc
  cobalt/dom/media_settings.h
  cobalt/dom/media_settings_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/web/BUILD.gn
  cobalt/web/web_settings.h
Due: cpplint, cpplint_test, clang-format

[media source] Don't copy array buffer for append
  cobalt/dom/media_settings.cc
  cobalt/dom/media_settings.h
  cobalt/dom/media_settings_test.cc
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
Due: cpplint, cpplint_test, clang-format

Check pointer_event in HandleScrollState
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Don't send pointerup if pointer was canceled
  cobalt/dom/pointer_state.cc
  cobalt/dom/pointer_state.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Have box coordinates account for scroll
  cobalt/layout/box.cc
  cobalt/layout/box.h
Due: cpplint, clang-format

[TVOS] Fix scrolling crash
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format

[fetch] Remove LOG from FetchBufferPool ctor
  cobalt/xhr/fetch_buffer_pool.h
Due: cpplint, clang-format

Write list of files in bundle to a depfile
  starboard/build/config/bundle_content.gni
  starboard/build/copy_install_content.py
Due: yapf, pylint

Pass multiple labels to the service
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Pass Python interpreter to GN
  cobalt/build/gn.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
