Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Remove unused poem headers.
  starboard/client_porting/poem/getenv_stub_poem.h
  starboard/client_porting/poem/string_poem_test.cc
  starboard/client_porting/poem/strnlen_poem.h
Due: cpplint, cpplint_test, clang-format

Support global hybrid nav focus and spotlight transforms
  cobalt/cssom/cobalt_ui_nav_focus_transform_function.cc
  cobalt/cssom/cobalt_ui_nav_focus_transform_function.h
  cobalt/cssom/cobalt_ui_nav_spotlight_transform_function.cc
  cobalt/cssom/cobalt_ui_nav_spotlight_transform_function.h
  cobalt/demos/content/hybrid-navigation/hybrid-navigation-grid.html
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
Due: cpplint, clang-format

Update getClientBoundingRect to factor in scrollLeft / scrollTop
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/layout_boxes.cc
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll-expected.png
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll.html
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll_rtl-expected.png
  cobalt/layout_tests/testdata/cssom-view/extensions_to_the_element_interface_get_bounding_client_rect_with_scroll_rtl.html
  cobalt/layout_tests/testdata/cssom-view/layout_tests.txt
Due: cpplint, clang-format

NullCobaltFactory for Kimono platform services
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
Due: google-java-format, gcheckstyle

Revert "NullCobaltFactory for Kimono platform services"
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
Due: google-java-format, gcheckstyle

[BG] Cobalt: Add black box test for bg mode on Android.
  cobalt/black_box_tests/black_box_tests.py
  starboard/android/shared/launcher.py
  starboard/tools/abstract_launcher.py
Due: yapf, pylint

Revert "[BG] Cobalt: Add black box test for bg mode on Android."
  cobalt/black_box_tests/black_box_tests.py
  starboard/android/shared/launcher.py
  starboard/tools/abstract_launcher.py
Due: yapf, pylint

Fix SB_LOG_IF(FATAL, ...) operator precedence error.
  starboard/common/log.h
  starboard/shared/x11/window_internal.cc
Due: cpplint, clang-format

Follow up formatting change to go/lbreview/182044.
  starboard/common/log.h
  starboard/shared/x11/window_internal.cc
Due: cpplint, clang-format

Expanding Docker builders to match with Buildbot usage.
  docker-compose.yml
Due: none

Guarantee monotonically increasing media time
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Refine HTMLMediaElement::SetMediaKeys()
  cobalt/dom/html_media_element.cc
Due: cpplint, clang-format

Set IS_DOCKER flag for docker builds on win32
  docker/windows/win32/Dockerfile
Due: none

[android] Restart playback on audio device change
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_track_audio_sink_type.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Plug api leaks after V8 8.8 rebase
  v8/src/compiler/pipeline.cc
Due: cpplint, clang-format

[android] Explicitly remove JNI local reference
  starboard/android/shared/jni_env_ext.h
  starboard/android/shared/platform_service.cc
Due: cpplint, clang-format

Remove v8/gypfiles/toolchain.gypi
  v8/gypfiles/toolchain.gypi
  v8/src/d8.gyp
Due: none
