Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet
  stages:
  - push

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet
  stages:
  - push

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201
  stages:
  - push

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true
  stages:
  - push

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Filter more android-x86 unit tests
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Filter failing android-x86 unit tests
  starboard/android/shared/cobalt/__init__.py
  starboard/android/x86/__init__.py
  starboard/android/x86/cobalt/__init__.py
  starboard/android/x86/cobalt/configuration.py
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Add a destroy callback to cobalt extension media session Api.
  cobalt/extension/media_session.h
  cobalt/media_session/media_session_client.cc
  starboard/android/shared/android_media_session_client.cc
Due: cpplint, clang-format

Revert "Allow for per-topic SplashScreen caching."
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/html_link_element.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format

Update android launcher
  starboard/android/shared/launcher.py
  starboard/tools/abstract_launcher.py
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

Fix setup-linux.md formatting for cobalt.dev.
  cobalt/site/docs/development/setup-linux.md
Due: none

[Android] Refine MediaCodec width and height query
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Add Hisense 9602 README.md, improve steps to run tests.
  starboard/evergreen/testing/README.md
Due: none

Don't format or lint GYP
  .pre-commit-config.yaml
Due: none

Update generated cobalt.dev documentation with latest content.
  cobalt/site/docs/reference/starboard/modules/10/media.md
  cobalt/site/docs/reference/starboard/modules/11/media.md
  cobalt/site/docs/reference/starboard/modules/12/media.md
  cobalt/site/docs/reference/starboard/modules/media.md
Due: none

[BG] Android: New Foreground service for background mode.
  starboard/android/apk/app/src/app/java/dev/cobalt/app/MainActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

[BG] Android: Update SendAndroidCommand function.
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

[BG] Android: Declare foreground service in AndroidManifest.
  starboard/android/apk/app/src/app/AndroidManifest.xml
Due: none

[BG] Android: Enable concealed state on Android platform.
  starboard/android/shared/configuration_public.h
Due: cpplint, clang-format

[BG] Android: Update events handling in ProcessAndroidCommand.
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Fix compile errors with g++-10
  base/trace_event/trace_event_memory_overhead.h
  third_party/angle/include/platform/Platform.h
Due: cpplint, clang-format

Update .gitignore
  .gitignore
Due: none

Add QOL hooks from pre-commit mirror
  .pre-commit-config.yaml
Due: none

Lint at pre-commit step, not push
  .pre-commit-config.yaml
Due: none

Revert "Revert "Allow for per-topic SplashScreen caching.""
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/dom_test.gyp
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_link_element.h
  cobalt/dom/html_link_element_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
