Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Update pre-commit image with necessary packages
  docker/precommit_hooks/Dockerfile
Due: none

Add CVals for WindowTimers.
  cobalt/dom/dom_stat_tracker.cc
  cobalt/dom/dom_stat_tracker.h
  cobalt/dom/window.cc
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
  cobalt/dom/window_timers_test.cc
Due: cpplint, cpplint_test, clang-format

Add unit tests for window_timers.
  base/test/scoped_task_environment.cc
  base/test/scoped_task_environment.h
  cobalt/dom/dom_test.gyp
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
  cobalt/dom/window_timers_test.cc
  net/test/test_with_scoped_task_environment.h
Due: cpplint, cpplint_test, clang-format

Fix background mode re-enabled after account switching.
  cobalt/media_session/media_session_client.cc
Due: cpplint, clang-format

Add strcpy and strncpy to C99.md
  starboard/doc/c99.md
Due: none

Fix 360 video control on resume
  cobalt/browser/browser_module.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/input/camera_3d.h
  cobalt/input/camera_3d_input_poller.cc
  cobalt/input/camera_3d_input_poller.h
Due: cpplint, clang-format

[GN] Change starboard_platform_tests pattern
  starboard/BUILD.gn
  starboard/build/config/base_configuration.gni
Due: none

[GN] Implement android starboard_platform_tests
  starboard/android/shared/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/shared/starboard/media/BUILD.gn
Due: none

[GN] Implement linux starboard_platform_tests
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
Due: none

Revert "[GN] Implement linux starboard_platform_tests"
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
Due: none

Revert "[GN] Implement android starboard_platform_tests"
  starboard/android/shared/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/shared/starboard/media/BUILD.gn
Due: none

Revert "Revert "[GN] Implement android starboard_platform_tests""
  starboard/android/shared/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/shared/starboard/media/media_tests.gni
Due: none

Revert "Revert "[GN] Implement linux starboard_platform_tests""
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
Due: none

Fix style issues in Cobalt documentation
  cobalt/doc/clients_performance_guide.md
  cobalt/doc/performance_tuning.md
  cobalt/doc/web_debugging.md
  starboard/doc/abstract-toolchain.md
  starboard/doc/howto_decode_to_texture.md
  starboard/doc/principles.md
  starboard/doc/resources/decode_to_texture_sequence.txt
  starboard/doc/starboard_split.md
  starboard/doc/style.md
  starboard/tools/doc/abstract_launcher.md
  starboard/tools/doc/testing.md
Due: none

[GN] Bring android's GN to parity with GYP
  starboard/android/shared/BUILD.gn
Due: none

Fix Camera3D crash with preload
  cobalt/dom/window.cc
Due: cpplint, clang-format

Don't exclude gitignore files from oss release
  .gitignore
Due: none

Remove obsolete v8/ subdir from precommit exclude
  .pre-commit-config.yaml
Due: none

Change line endings in net_log.md from crlf to lf
  cobalt/doc/net_log.md
  cobalt/site/docs/gen/cobalt/doc/net_log.md
Due: none

Use more descriptive gcheckstyle hook name
  .pre-commit-config.yaml
Due: none

Fix pre-commit clang-format failures
  cobalt/browser/memory_settings/pretty_print.h
  cobalt/media_session/media_session_client.cc
Due: cpplint, clang-format

Remove unused libav* packages from docker
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/unittest/Dockerfile
Due: none

Reset audio/video stream in SbPlayerPipeline::Stop
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

[GN] Fix raspi sbversion 12 build
  starboard/raspi/shared/BUILD.gn
Due: none

[GN] Pass cobaltLibraryDir to android apk builder
  starboard/android/shared/install_target.gni
Due: none

Workaround for HTTP Response Code 0 Error
  cobalt/h5vcc/dial/dial_http_response.cc
Due: cpplint, clang-format

Fix logging of gmock warning messages.
  testing/gmock/src/gmock-internal-utils.cc
Due: cpplint, clang-format

Add testing to pre-commit excludes.
  .pre-commit-config.yaml
Due: none

Add window.ononline and window.onoffline properties.
  cobalt/dom/event_target.h
  cobalt/dom/window_event_handlers.idl
Due: cpplint, clang-format

Create files with <target_name>_testoutput.xml
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

[android] Don't register params on empty content type
  starboard/android/shared/media_is_video_supported.cc
Due: cpplint, clang-format

Add check for non invertible matrix in renderer.
  cobalt/renderer/rasterizer/egl/render_tree_node_visitor.cc
Due: cpplint, clang-format

Add system fonts clarification to the Evergreen overview.
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none
