Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Create Docker image for PS4 builds
  starboard/build/collect_deploy_content.gypi
  starboard/build/collect_deploy_content.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

Add Performance resource timing idl interface.
  cobalt/dom/performance_resource_timing.idl
Due: none

Add cpp14_initialization compiler compliance test
  starboard/linux/x64x11/clang/3.6/gyp_configuration.gypi
  starboard/nplb/compiler_compliance/compiler_compliance.gyp
  starboard/nplb/compiler_compliance/cpp14_initialization.cc
  starboard/nplb/nplb.gyp
Due: cpplint, clang-format

Make clang-3-6 build compile with C++14
  base/containers/unique_ptr_adapters_unittest.cc
  base/strings/utf_offset_string_conversions_unittest.cc
  base/trace_event/trace_event_unittest.cc
  cobalt/cssom/style_sheet_list.cc
  cobalt/dom/rule_matching.cc
  cobalt/websocket/web_socket.cc
Due: cpplint, cpplint_test, clang-format

Add gn target toolchain to stub
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/toolchain/gcc_toolchain.gni
  starboard/stub/toolchain/BUILD.gn
Due: none

Add gn configuration skeleton framework
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/stub/platform_configuration/BUILD.gn
Due: none

Add starboard headers as source set
  BUILD.gn
  starboard/BUILD.gn
  starboard/stub/platform_configuration/BUILD.gn
Due: none

Implement PerformanceObserver class.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_entry.cc
  cobalt/dom/performance_entry.h
  cobalt/dom/performance_observer.cc
  cobalt/dom/performance_observer.h
  cobalt/dom/performance_observer.idl
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Add register and unregister observer functions.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Revert "Implement PerformanceObserver class."
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_entry.cc
  cobalt/dom/performance_entry.h
  cobalt/dom/performance_observer.cc
  cobalt/dom/performance_observer.h
  cobalt/dom/performance_observer.idl
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Revert "Add register and unregister observer functions."
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Suppress error when removing Image src attribute.
  cobalt/dom/html_image_element.cc
  cobalt/layout_tests/testdata/cobalt/image-cleanup-expected.png
  cobalt/layout_tests/testdata/cobalt/image-cleanup.html
  cobalt/layout_tests/testdata/cobalt/layout_tests.txt
Due: cpplint, clang-format

Temporarily disable osslint hook on commit
  .pre-commit-config.yaml
Due: none

Clean up dependencies in dom_test.gyp
  cobalt/dom/dom_test.gyp
Due: none

Mark playback service methods as @UsedByNative
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Add Dummy PerformanceResourceTiming class.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/dom.gyp
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
Due: cpplint, clang-format

Disable single test on Android
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Add error_message to AudioSink error callback
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/player_components_factory.h
  starboard/shared/starboard/audio_sink/audio_sink_internal.h
  starboard/shared/starboard/player/filter/audio_renderer_internal_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_impl.h
  starboard/shared/starboard/player/filter/audio_renderer_sink.h
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.cc
  starboard/shared/starboard/player/filter/audio_renderer_sink_impl.h
Due: cpplint, clang-format

Improve usability of the media console
  cobalt/debug/console/content/media_console.js
  cobalt/debug/console/content/media_console_context.js
Due: none

Allow border rendering from individual edge setup.
  cobalt/layout/box.cc
  cobalt/layout_tests/testdata/css3-background/4-0-border-1-individual-edge-expected.png
  cobalt/layout_tests/testdata/css3-background/4-0-border-1-individual-edge-with-rounded-corners-expected.png
  cobalt/layout_tests/testdata/css3-background/4-0-border-1-individual-edge-with-rounded-corners.html
  cobalt/layout_tests/testdata/css3-background/4-0-border-1-individual-edge.html
  cobalt/layout_tests/testdata/css3-background/4-0-border-2-individual-edges-expected.png
  cobalt/layout_tests/testdata/css3-background/4-0-border-2-individual-edges-with-rounded-corners-expected.png
  cobalt/layout_tests/testdata/css3-background/4-0-border-2-individual-edges-with-rounded-corners.html
  cobalt/layout_tests/testdata/css3-background/4-0-border-2-individual-edges.html
  cobalt/layout_tests/testdata/css3-background/layout_tests.txt
  cobalt/renderer/rasterizer/skia/render_tree_node_visitor.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
