Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Remove and disable next Skia version for Cobalt 23
  starboard/build/config/base_configuration.gni
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
  starboard/linux/x64x11/skia/platform_configuration/configuration.gni
Due: none

Implement ImportScripts
  cobalt/black_box_tests/testdata/black_box_js_test_utils.js
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test.js
  cobalt/black_box_tests/testdata/service_worker_test_importscripts_1.js
  cobalt/black_box_tests/testdata/service_worker_test_importscripts_2.js
  cobalt/black_box_tests/testdata/service_worker_test_importscripts_3.js
  cobalt/black_box_tests/testdata/service_worker_test_importscripts_with_syntax_error.js
  cobalt/black_box_tests/testdata/web_worker_test.html
  cobalt/black_box_tests/testdata/web_worker_test.js
  cobalt/black_box_tests/testdata/web_worker_test_importscripts_1.js
  cobalt/black_box_tests/testdata/web_worker_test_importscripts_2.js
  cobalt/black_box_tests/testdata/web_worker_test_importscripts_3.js
  cobalt/black_box_tests/testdata/web_worker_test_importscripts_with_syntax_error.js
  cobalt/dom/mutation_observer.cc
  cobalt/dom/testing/fake_exception_state.h
  cobalt/dom/window_test.cc
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
  cobalt/script/exception_state.h
  cobalt/script/logging_exception_state.h
  cobalt/script/testing/mock_exception_state.h
  cobalt/script/v8c/v8c_exception_state.h
  cobalt/web/error_event.h
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
  cobalt/worker/worker_global_scope.idl
  cobalt/worker/worker_global_scope_test.cc
Due: cpplint, cpplint_test, clang-format

Implement Handle User Agent Shutdown and Service Worker Client Unload.
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
Due: cpplint, clang-format

Implement stubs for interfaces Client and Clients.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test.js
  cobalt/browser/idl_files.gni
  cobalt/script/script_value_factory.h
  cobalt/worker/BUILD.gn
  cobalt/worker/client.cc
  cobalt/worker/client.h
  cobalt/worker/client.idl
  cobalt/worker/client_query_options.idl
  cobalt/worker/client_type.idl
  cobalt/worker/clients.cc
  cobalt/worker/clients.h
  cobalt/worker/clients.idl
  cobalt/worker/frame_type.idl
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_container.h
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
Due: cpplint, clang-format

Run custom LZ4 tool for Evergreen install targets
  starboard/evergreen/arm/shared/install_target.gni
  starboard/evergreen/arm64/install_target.gni
  starboard/evergreen/shared/lz4_compress_install_target.gni
  starboard/evergreen/shared/strip_install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x86/install_target.gni
  tools/lz4_compress/BUILD.gn
  tools/lz4_compress/lz4_compress.cc
Due: cpplint, clang-format

Do not execute caching code when compiled JS data exceeds quota.
  cobalt/cache/cache.cc
Due: cpplint, clang-format

Revert "Clarify log about bytes written during compression"
  cobalt/updater/unzipper.cc
Due: cpplint, clang-format

Include certification scope in the update request
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Revert "Compress on device using LZ4."
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/updater/BUILD.gn
  cobalt/updater/configurator.cc
  cobalt/updater/unzipper.cc
  cobalt/updater/unzipper.h
  third_party/zlib/google/zip_reader.cc
  third_party/zlib/google/zip_reader.h
  third_party/zlib/google/zip_reader_unittest.cc
Due: cpplint, cpplint_test, clang-format

Move WindowTimers to shared parent class
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/web/window_or_worker_global_scope.cc
  cobalt/web/window_or_worker_global_scope.h
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
Due: cpplint, clang-format

Initialize arm_float_abi and arm_fpu from sabi.json.
  build/config/arm.gni
  starboard/build/config/sabi/BUILD.gn
  starboard/sabi/sabi.gni
  third_party/boringssl/BUILD.gn
Due: none

Update copyright header in updater/unzipper.h
  cobalt/updater/unzipper.h
Due: cpplint, clang-format

Write PeerSignatureAlgorithm for QUIC to pickle.
  net/http/http_response_info.cc
  net/http/http_response_info_unittest.cc
Due: cpplint, cpplint_test, clang-format

Update bug number for disabled SimpleText tests
  starboard/android/shared/cobalt/configuration.py
Due: yapf, pylint

Enable previously failing web platform tests
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
Due: none

Add compression status to Omaha update request
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Enable retries for failing Evergreen test cases
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Implement lz4_compress tool
  third_party/lz4_lib/BUILD.gn
  tools/lz4_compress/BUILD.gn
  tools/lz4_compress/lz4_compress.cc
Due: cpplint, clang-format

Remove unnecessary comments that include typo
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Cleanup the arm64 float abi configuration.
  build/config/arm.gni
Due: none

Add kSb max cache size to ExportSymbols
  starboard/elf_loader/exported_symbols.cc
Due: cpplint, clang-format

Web API implementations for Client and Clients.
  cobalt/black_box_tests/testdata/service_worker_test.html
  cobalt/black_box_tests/testdata/service_worker_test_claimable.js
  cobalt/browser/idl_files.gni
  cobalt/dom/window.h
  cobalt/script/environment_settings.h
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/web/environment_settings.h
  cobalt/web/testing/stub_web_context.h
  cobalt/web/window_or_worker_global_scope.h
  cobalt/worker/BUILD.gn
  cobalt/worker/client.cc
  cobalt/worker/client.h
  cobalt/worker/clients.cc
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/window_client.cc
  cobalt/worker/window_client.h
  cobalt/worker/window_client.idl
  cobalt/worker/worker_global_scope.cc
Due: cpplint, clang-format
