Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Use bitmap fonts for improved performance
  cobalt/layout_tests/testdata/cobalt/onload_event_fired_even_though_link_file_does_not_exist-expected.png
  cobalt/layout_tests/testdata/cobalt/woff2-decoding-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-3-9-inline-block-non-replaced-elements-with-auto-width-should-shrink-to-fit-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-4-min-width-and-max-width-limit-box-size-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-4-min-width-and-max-width-percentage-should-refer-containing-block-width-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-5-percentage-of-auto-height-should-compute-to-auto-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-8-line-height-should-be-used-for-vertical-align-with-inline-non-replaced-boxes-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-in-flow-siblings-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-parent-and-first-in-flow-child-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-parent-and-last-in-flow-child-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-2-1-1-inline-level-boxes-should-be-wrapped-in-anonymous-block-boxes-in-block-formatting-context-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-collapsed-elements-should-reduce-available-width-of-line-box-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-inline-boxes-should-split-at-br-elements-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-long-inline-boxes-should-be-split-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-multiple-inline-boxes-exceeding-width-of-line-box-should-be-split-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-nested-inline-boxes-should-split-at-br-elements-expected.png
  cobalt/layout_tests/testdata/css-text-3/3-bidirectional-content-should-overflow-the-line-with-white-space-nowrap-expected.png
  cobalt/layout_tests/testdata/css-text-3/4-1-1-space-preceding-br-element-should-not-be-collapsed-expected.png
  cobalt/layout_tests/testdata/css-text-3/4-1-3-spaces-at-beginning-and-end-of-line-should-be-collapsed-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-2-font-face-font-family-hides-system-font-family-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-src-local-can-match-font-postscript-name-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-src-local-can-match-full-font-name-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-use-first-available-local-font-face-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-use-next-font-family-if-font-face-sources-unavailable-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-4-use-correct-style-in-font-face-set-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-specified-font-family-if-available-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-expected.png
  cobalt/layout_tests/testdata/css3-fonts/color-emojis-should-render-properly-expected.png
  cobalt/layout_tests/testdata/css3-fonts/synthetic-bolding-should-not-occur-on-bold-font-expected.png
  cobalt/layout_tests/testdata/css3-fonts/synthetic-bolding-should-occur-on-non-bold-font-expected.png
  cobalt/layout_tests/testdata/css3-fonts/text-bounds-should-be-calculated-properly-when-containing-zero-height-font-runs-expected.png
  cobalt/layout_tests/testdata/webappapis/6-1-5-2-onload-event-fires-on-window-expected.png
  cobalt/layout_tests/testdata/webappapis/6-1-5-2-onload-event-fires-on-window-when-set-via-attribute-expected.png
  cobalt/renderer/rasterizer/egl/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
Due: cpplint, clang-format

Deprecate windowManager.getDefaultDisplay()
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/ArtworkLoader.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/VideoFrameReleaseTimeHelper.java
  starboard/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
  starboard/android/shared/video_render_algorithm.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[android] Implement tunnel mode video playback
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Send kSbEventTypeLowMemory Event
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Revert "Send kSbEventTypeLowMemory Event"
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

format application_android.cc
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Update hybrid nav demo to explicitly set initial focus
  cobalt/demos/content/hybrid-navigation/hybrid-navigation-grid.html
Due: none

Surface quick roll forward to the updater status
  components/update_client/update_checker.cc
  components/update_client/update_client_errors.h
Due: cpplint, clang-format

Optimize Android media session callbacks.
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Fix build files after V8 8.7 rebase
  v8/src/inspector/inspector.gypi
  v8/src/v8.gyp
Due: none

Fix the pow() API leak for non-Evergreen platforms.
  cobalt/css_parser/scanner.cc
  net/base/backoff_entry.cc
  net/dns/host_resolver_impl.cc
  net/nqe/network_quality_estimator_params.cc
  net/nqe/observation_buffer.cc
  starboard/client_porting/poem/math_poem.h
  third_party/libxml/src/xpath.c
Due: cpplint, clang-format

[xb1] Rename Vp9VideoDecoderHdr
  starboard/shared/win32/video_decoder.cc
  starboard/shared/win32/video_decoder.h
Due: cpplint, clang-format

MediaSession extension clean up.
  cobalt/build/cobalt_configuration.gypi
  cobalt/build/config/base.gni
  cobalt/extension/media_session.h
  cobalt/media_session/default_media_session_client.cc
  cobalt/media_session/media_session.cc
  cobalt/media_session/media_session.gyp
  cobalt/media_session/media_session_client.cc
  cobalt/media_session/media_session_client.h
  cobalt/media_session/media_session_test.cc
  cobalt/tools/variable_rewrites.dict
  starboard/BUILD.gn
  starboard/android/shared/android_media_session_client.cc
  starboard/android/shared/android_media_session_client.h
  starboard/common/BUILD.gn
  starboard/common/common.gyp
  starboard/shared/media_session/playback_state.cc
  starboard/shared/media_session/stub_playback_state.cc
  starboard/starboard_headers_only.gyp
Due: cpplint, cpplint_test, clang-format

Fix for message pump null pointer read.
  base/message_loop/message_pump_ui_starboard.cc
Due: cpplint, clang-format

Propagate the slot locked status
  cobalt/updater/configurator.cc
  cobalt/updater/configurator.h
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
  components/update_client/component.cc
  components/update_client/configurator.h
  components/update_client/crx_downloader.cc
  components/update_client/crx_downloader.h
  components/update_client/update_client.gyp
  components/update_client/url_fetcher_downloader.cc
  components/update_client/url_fetcher_downloader.h
Due: cpplint, clang-format
