Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Increase XHR ArrayBuffer capacity dynamically for large responses
  cobalt/xhr/url_fetcher_buffer_writer.cc
  cobalt/xhr/url_fetcher_buffer_writer.h
Due: cpplint, clang-format

Specify python entry point in pre-commit
  .pre-commit-config.yaml
Due: none

[Android] Enable SbPlayerWriteSampleTest.NoInput/6
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint

Add sccache build acceleration to msvc compilers.
  starboard/build/platform_configuration.py
  starboard/shared/msvc/uwp/msvc_toolchain.py
  starboard/shared/win32/gyp_configuration.py
  starboard/tools/cache.py
  starboard/win/shared/gyp_configuration.gypi
  third_party/angle/angle.gyp
  third_party/angle/src/compiler.gypi
  tools/gyp/pylib/gyp/MSVSSettings.py
  tools/gyp/pylib/gyp/MSVSSettings_test.py
  v8/gypfiles/standalone.gypi
Due: yapf, pylint

Add sccache build acceleration to msvc compilers.
  starboard/build/platform_configuration.py
  starboard/tools/cache.py
  third_party/angle/angle.gyp
  third_party/angle/src/compiler.gypi
  tools/gyp/pylib/gyp/MSVSSettings.py
  tools/gyp/pylib/gyp/MSVSSettings_test.py
  v8/gypfiles/standalone.gypi
Due: yapf, pylint

Remove unused LB_HOST flag.
  cobalt/build/cobalt_configuration.gypi
Due: none

Don't pass unknown arg to old urlopen
  tools/download_from_gcs.py
Due: yapf, pylint

Only use translation from hybrid nav focus transform
  cobalt/cssom/cobalt_ui_nav_focus_transform_function.cc
Due: cpplint, clang-format

Enable docker build for win-win32
  docker/windows/win32/Dockerfile
Due: none

Cleanup ninja flags for docker windows build
  docker/windows/win32/Dockerfile
Due: none

Remove the installation store buffer out of the stack.
  starboard/loader_app/installation_manager.cc
Due: cpplint, clang-format

Add a helper script to delete directories fast
  docker/windows/win32/Dockerfile
Due: none

Drop Jinja2 dependency on app_launcher
  starboard/tools/app_launcher_packager.py
  starboard/tools/platform.py.template
Due: yapf, pylint

Introduce libc wrappers like v8::base::Malloc
  v8/BUILD.gn
Due: none

Refactor build accelerator initialization.
  starboard/build/platform_configuration.py
  starboard/shared/win32/gyp_configuration.py
  starboard/tools/cache.py
Due: yapf, pylint

Refactor build accelerator initialization.
  starboard/build/platform_configuration.py
  starboard/tools/cache.py
Due: yapf, pylint

[XB1] Fix for SbSystemGetStackTest.SunnyDayStackDirection
  starboard/nplb/system_get_stack_test.cc
Due: cpplint_test, clang-format

Revert "Restore |find_private_files.py| after deletion"
  starboard/tools/find_private_files.py
Due: yapf, pylint

Create setup script for QOL
  download_resources.py
Due: yapf, pylint

Create helper script to download GCS resources
  tools/__init__.py
  tools/download_from_gcs.py
Due: yapf, pylint

Get build number without gclient
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Download initial tools without gsutil
  download_resources.py
Due: yapf, pylint

Revert "Revert "Revert "Revert "Create test for download from gcs script""""
  tools/download_from_gcs.py
  tools/download_from_gcs_test.py
Due: yapf, pylint

Initialize logging for download scripts correctly
  download_resources.py
  tools/download_from_gcs.py
  tools/download_from_gcs_test.py
Due: yapf, pylint

Allow mic read size to equal size at creation time
  starboard/nplb/microphone_read_test.cc
Due: cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
