Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Add GN port enumeration
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/platforms.gni
Due: none

Remove dead build code
  build/android/cpufeatures.gypi
  build/compiler_version.py
  build/find_depot_tools.py
  build/internal/README.chromium
  build/internal/release_defaults.gypi
  build/internal/release_impl.gypi
  build/internal/release_impl_official.gypi
  build/ios/mac_build.gypi
  build/jar_file_jni_generator.gypi
  build/java.gypi
  build/java_aidl.gypi
  build/java_apk.gypi
  build/jni_generator.gypi
  build/protoc_java.gypi
  build/protoc_java.py
Due: yapf, pylint

Export SbSystemNetworkIsDisconnected for Evergreen.
  starboard/elf_loader/exported_symbols.cc
Due: cpplint, clang-format

Prevent redundant Ninja rule triggers on Windows
  tools/gyp/pylib/gyp/win_tool.py
Due: yapf, pylint

Add -x flag and objective-c/c++ tool to gcc tools
  starboard/build/toolchain/gcc_toolchain.gni
Due: none

Add getDeviceResolution method for device_pixel_ratio
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/window_get_size.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

remove system getDisplayMetrics()
  starboard/android/apk/app/src/main/java/dev/cobalt/util/DisplayUtil.java
Due: google-java-format, gcheckstyle

Update w3 doc link
  cobalt/cssom/viewport_size.h
Due: cpplint, clang-format

Add JavaScriptCache Cobalt Extension.
  cobalt/CHANGELOG.md
  cobalt/extension/extension_test.cc
  cobalt/extension/javascript_cache.h
  cobalt/script/v8c/v8c_global_environment.cc
  cobalt/script/v8c/v8c_global_environment.h
  starboard/stub/javascript_cache.cc
  starboard/stub/javascript_cache.h
  starboard/stub/starboard_platform.gyp
  starboard/stub/system_get_extensions.cc
Due: cpplint, cpplint_test, clang-format

[XB1] Add CHECKs for null pointer read
  cobalt/script/v8c/v8c_global_environment.cc
Due: cpplint, clang-format

Introduce network status DOM events and functions
  cobalt/base/tokens.h
  cobalt/base/window_on_offline_event.h
  cobalt/base/window_on_online_event.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/navigator_online.idl
  cobalt/dom/testing/mock_event_listener.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  starboard/shared/stub/system_network_is_disconnected.cc
Due: cpplint, cpplint_test, clang-format

Revert "Introduce network status DOM events and functions"
  cobalt/base/tokens.h
  cobalt/base/window_on_offline_event.h
  cobalt/base/window_on_online_event.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/navigator.idl
  cobalt/dom/navigator_online.idl
  cobalt/dom/testing/mock_event_listener.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  starboard/shared/stub/system_network_is_disconnected.cc
Due: cpplint, cpplint_test, clang-format

Rename misspelled accessibility event types.
  cobalt/base/wrap_main_starboard.h
  cobalt/browser/application.cc
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
  starboard/configuration.h
  starboard/event.h
Due: cpplint, clang-format

Create script to format ninja compilation dbs
  tools/format_ninja.py
Due: yapf, pylint

Add framework for platform-specific gn variables
  starboard/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/stub/platform_configuration/configuration.gni
Due: none

Add base GN configuration
  starboard/BUILD.gn
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/stub/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/configuration.gni
Due: none

Revert "Revert "Clear render tree queue when the app is preloaded""
  cobalt/base/message_queue.h
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
