Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Fix motion_range NULL crash
  starboard/android/shared/input_events_generator.cc
Due: cpplint, clang-format

Include headers in cached Response.
  cobalt/black_box_tests/testdata/service_worker_fetch_test.js
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/cache/memory_capped_directory.cc
  cobalt/cache/memory_capped_directory.h
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/web/BUILD.gn
  cobalt/web/cache.cc
  cobalt/web/cache.h
  cobalt/web/cache_storage_test.cc
  cobalt/web/cache_utils.cc
  cobalt/web/cache_utils.h
  cobalt/web/cache_utils_test.cc
  cobalt/web/environment_settings_helper.cc
  cobalt/web/environment_settings_helper.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/fetch_event.idl
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/xhr/xml_http_request.cc
Due: cpplint, cpplint_test, clang-format

Change scroll events to not bubble
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Refactor TopmostEventTarget
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Have TopmostEventTarget respect cropped content
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Make test runner fail faster on errors
  cobalt/tools/automated_testing/cobalt_runner.py
  starboard/linux/shared/launcher.py
Due: yapf, pylint

Allow running individual blackboxtests
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Fixes and test for service worker controller activation.
  cobalt/black_box_tests/black_box_cobalt_runner.py
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/preload_visibility.html
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test.html
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test_script.js
  cobalt/black_box_tests/testdata/service_worker_controller_activation_test_worker.js
  cobalt/black_box_tests/tests/service_worker_controller_activation_test.py
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/test/run_all_unittests.cc
  cobalt/tools/automated_testing/cobalt_runner.py
  cobalt/web/agent.cc
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker_container.h
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_object.h
  cobalt/worker/service_worker_registration.cc
  cobalt/worker/service_worker_registration.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
  cobalt/worker/service_worker_registration_object.cc
  cobalt/worker/service_worker_registration_object.h
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Fix for AOSP+evergreen supporting Starboard <13.
  starboard/android/shared/application_android.h
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
