Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix motion_range NULL crash
  starboard/android/shared/input_events_generator.cc
Due: cpplint, clang-format

Implement CrashLog.setString for Kimono.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/crash_handler.cc
  starboard/android/shared/crash_handler.h
  starboard/android/shared/system_get_extensions.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

[ATV] Add new font variations
  cobalt/content/fonts/config/android/fonts.xml
  cobalt/renderer/BUILD.gn
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/SimpleTextInEthiopic-expected.png
  cobalt/renderer/rasterizer/testdata/SimpleTextInEthiopicBold-expected.png
Due: cpplint_test, clang-format

[Media] Adding Public CVals for Media Timing.
  cobalt/BUILD.gn
  cobalt/media/BUILD.gn
  cobalt/media/base/cval_stats.cc
  cobalt/media/base/cval_stats.h
  cobalt/media/base/cval_stats_test.cc
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_bridge.h
  cobalt/media/base/sbplayer_interface.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/media_module.cc
Due: cpplint, cpplint_test, clang-format

[media] Refine TEST_P player_filter_tests names
  starboard/android/shared/test_filters.py
  starboard/raspi/shared/test_filters.py
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test.cc
  starboard/win/win32/test_filters.py
Due: cpplint_test, yapf, pylint, clang-format

Update Cobalt License
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

[Service worker] update web platform test
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Disable the flaky SW tests
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Remove DCHECK to prevent preload crash
  cobalt/dom/html_media_element.cc
Due: cpplint, clang-format

Relax mime check performance requirements
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

[eme] Calling MediaKeys.getMetrics() in eme demo
  cobalt/demos/content/eme-demo/eme-demo.js
Due: none

Include headers in cached Response.
  cobalt/black_box_tests/testdata/service_worker_fetch_test.js
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/cache/memory_capped_directory.cc
  cobalt/cache/memory_capped_directory.h
  cobalt/loader/fetch_interceptor_coordinator.cc
  cobalt/loader/fetch_interceptor_coordinator.h
  cobalt/loader/net_fetcher.cc
  cobalt/web/BUILD.gn
  cobalt/web/cache.cc
  cobalt/web/cache.h
  cobalt/web/cache_storage_test.cc
  cobalt/web/cache_utils.cc
  cobalt/web/cache_utils.h
  cobalt/web/cache_utils_test.cc
  cobalt/web/environment_settings_helper.cc
  cobalt/web/environment_settings_helper.h
  cobalt/worker/fetch_event.cc
  cobalt/worker/fetch_event.h
  cobalt/worker/fetch_event.idl
  cobalt/worker/service_worker_global_scope.cc
  cobalt/worker/service_worker_global_scope.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/xhr/xml_http_request.cc
Due: cpplint, cpplint_test, clang-format

Capture volume changed events
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/VolumeStateReceiver.java
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Adding additional logging to WebMediaPlayerImpl.
  cobalt/media/player/web_media_player_impl.cc
Due: cpplint, clang-format

Change scroll events to not bubble
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Implementing a batched Read() within DemuxerStream.
  BUILD_STATUS.md
  README.md
  cobalt/base/deep_link_event.h
  cobalt/black_box_tests/tests/deep_links.py
  cobalt/h5vcc/h5vcc_runtime.cc
  cobalt/h5vcc/h5vcc_runtime.h
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_bridge.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/progressive/demuxer_extension_wrapper.cc
  cobalt/media/progressive/demuxer_extension_wrapper.h
  cobalt/media/progressive/demuxer_extension_wrapper_test.cc
  cobalt/media/progressive/progressive_demuxer.cc
  cobalt/media/progressive/progressive_demuxer.h
  cobalt/media/sandbox/media2_sandbox.cc
  starboard/tools/testing/test_runner.py
  third_party/chromium/media/base/demuxer_stream.h
  third_party/chromium/media/filters/chunk_demuxer.cc
  third_party/chromium/media/filters/chunk_demuxer.h
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Delay the initial updater check with 30s
  cobalt/updater/updater_module.cc
Due: cpplint, clang-format

Revert "[media] Generate new h264 test file"
  starboard/shared/starboard/player/testdata/beneath_the_canopy_137_avc.dmp.sha1
Due: none

Fix WPT test runner Py3 compatibility
  third_party/web_platform_tests/tools/wptserve/wptserve/handlers.py
Due: yapf, pylint

Remove SSO
  cobalt/browser/BUILD.gn
  cobalt/browser/idl_files.gni
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc.idl
  cobalt/h5vcc/h5vcc_sso.cc
  cobalt/h5vcc/h5vcc_sso.h
  cobalt/h5vcc/h5vcc_sso.idl
  cobalt/site/docs/reference/starboard/gn-configuration.md
  cobalt/sso/BUILD.gn
  cobalt/sso/sso_interface.h
  cobalt/xhr/BUILD.gn
  cobalt/xhr/xhr_modify_headers.h
  cobalt/xhr/xml_http_request.cc
  starboard/build/config/base_configuration.gni
Due: cpplint, clang-format

Update SSL certs.
  cobalt/content/ssl/certs/03179a64.0
Due: none

Update BUILD.gn for removed SSL certificate.
  cobalt/network/BUILD.gn
Due: none

Add change id to ODT watch command
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

[android] Prevent pass-through playback crashes
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  starboard/android/shared/audio_renderer_passthrough.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle
