Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN] Add missing files in content for net_unittests.
  net/BUILD.gn
Due: none

[COAT] Upgrade Android Gradle Plugin version to 4.1.0 to have RRO
  starboard/android/apk/build.gradle
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
Due: none

[GN] Migrate //components/crx_file.
  cobalt/BUILD.gn
  components/crx_file/BUILD.gn
Due: none

[GN] Migrate //components/client_update_protocol.
  cobalt/BUILD.gn
  components/client_update_protocol/BUILD.gn
Due: none

Fix missing libxml2 dependency in android docker
  docker/linux/android/Dockerfile
Due: none

Disable toolchain downloads from CI containers
  starboard/android/shared/sdk_utils.py
  starboard/tools/download_clang.py
Due: yapf, pylint

[GN] Migrate loader_test in cobalt/loader/loader.gyp
  cobalt/BUILD.gn
  cobalt/loader/BUILD.gn
Due: none

[GN] Migrate cobalt/dom/dom_test.gyp
  cobalt/BUILD.gn
  cobalt/dom/BUILD.gn
Due: none

[GN] Migrate cobalt/dom/testing/dom_testing.gyp
  cobalt/BUILD.gn
  cobalt/audio/BUILD.gn
  cobalt/dom/testing/BUILD.gn
  cobalt/websocket/BUILD.gn
  cobalt/xhr/BUILD.gn
Due: none

[GN] rename network_base_test to network_test to match GYP
  cobalt/network/BUILD.gn
Due: none

Fix crash occurs when VR360 shuts down.
  cobalt/browser/browser_module.cc
Due: cpplint, clang-format

[XB1] Add support for compacted texture layout : starboard
  starboard/configuration.h
  starboard/decode_target.h
Due: cpplint, clang-format

[XB1] Add support for compacted texture layout : cobalt
  cobalt/render_tree/image.h
  cobalt/renderer/backend/egl/graphics_context.cc
  cobalt/renderer/backend/egl/graphics_context.h
  cobalt/renderer/backend/egl/graphics_system.cc
  cobalt/renderer/backend/egl/graphics_system.h
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.h
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.cc
Due: cpplint, clang-format

[nplb] Add DRM queries to SbMediaCanPlayMimeAndKeySystem.ValidatePerformance
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
  starboard/nplb/media_can_play_mime_and_key_system_test_helpers.h
Due: cpplint, cpplint_test, clang-format

Revert "[XB1] Add support for compacted texture layout : cobalt"
  cobalt/render_tree/image.h
  cobalt/renderer/backend/egl/graphics_context.cc
  cobalt/renderer/backend/egl/graphics_context.h
  cobalt/renderer/backend/egl/graphics_system.cc
  cobalt/renderer/backend/egl/graphics_system.h
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.h
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.cc
Due: cpplint, clang-format

Revert "[XB1] Add support for compacted texture layout : starboard"
  starboard/configuration.h
  starboard/decode_target.h
Due: cpplint, clang-format

[GN] Migrate browser_test from browser.gyp
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/memory_settings/BUILD.gn
  cobalt/browser/memory_tracker/BUILD.gn
Due: none

[GN] Add tail_lib_dependencies option to gcc_toolchain
  build/toolchain/gcc_toolchain.gni
Due: none

[GN] Migrate dom_parser_test
  cobalt/BUILD.gn
  cobalt/dom_parser/BUILD.gn
Due: none

Fix PixelTest.SimpleTextInRed40PtThaiFont failure in android-arm_tests
  cobalt/content/fonts/config/android/fonts.xml
Due: none

[GN] migrate text_encoding_test to GN
  cobalt/BUILD.gn
  cobalt/encoding/BUILD.gn
Due: none

[GN][NX] Migrate nxswitch to gn
  build/config/compiler/BUILD.gn
  build/toolchain/cc_wrapper.gni
  cobalt/css_parser/BUILD.gn
  starboard/build/platforms.gni
  starboard/egl_and_gles/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/win/shared/platform_configuration/BUILD.gn
  third_party/v8/BUILD.gn
Due: none

[GN] Remove crx3_proto proto lib.
  components/crx_file/BUILD.gn
Due: none

[GN] Migrate xb1 to gn
  base/BUILD.gn
  build/config/win/visual_studio_version.gni
  starboard/build/platforms.gni
  starboard/win/shared/BUILD.gn
  starboard/win/shared/platform_configuration/BUILD.gn
  starboard/win/win32/platform_configuration/BUILD.gn
  testing/gtest/BUILD.gn
  third_party/angle/BUILD.gn
  third_party/v8/BUILD.gn
  third_party/zlib/BUILD.gn
Due: none

[GN] Build cobalt by default
  cobalt/BUILD.gn
Due: none

[GN][WIN] Don't try to override ldflags on win32
  starboard/win/win32/platform_configuration/BUILD.gn
Due: none

[GN] Fix gn dependency check for xb1
  starboard/win/shared/BUILD.gn
  starboard/win/win32/BUILD.gn
  third_party/angle/src/common/system_utils_winuwp.cpp
Due: cpplint, clang-format

[GN] Migrate renderer_test from renderer.gyp
  cobalt/BUILD.gn
  cobalt/renderer/BUILD.gn
  tools/download_from_gcs.py
Due: yapf, pylint

[GN] migrate third_party/zlib:zip_unittests to GN
  third_party/zlib/BUILD.gn
  third_party/zlib/google/test/BUILD.gn
Due: none

Check copyright against commit year
  .pre-commit-config.yaml
  precommit_hooks/check_copyright_year.py
Due: yapf, pylint

[GN] migrate layout_tests to GN
  cobalt/BUILD.gn
  cobalt/build/cobalt_configuration.gypi
  cobalt/layout_tests/BUILD.gn
  cobalt/layout_tests/testdata/BUILD.gn
  starboard/build/config/BUILD.gn
Due: none

[GN] 214300: [GN] migrate media_capture_test to GN
  cobalt/BUILD.gn
  cobalt/media_capture/BUILD.gn
Due: none

Free preallocated media buffer on suspend and reallocate it on resume
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/media_module.cc
Due: cpplint, clang-format

Persist media buffer pool on Android
  starboard/android/shared/BUILD.gn
  starboard/android/shared/media_is_buffer_pool_allocate_on_demand.cc
  starboard/android/shared/starboard_platform.gypi
Due: cpplint, clang-format

Add Linux sccache binary to base containers
  docker/linux/base/build/Dockerfile
Due: none

Update SSL certs.
  cobalt/content/ssl/certs/4a6481c9.0
  cobalt/content/ssl/certs/76cb8f92.0
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
