Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Move linux-x64x11-internal to //internal
  cobalt/doc/device_authentication.md
Due: none

Move internal precommit hooks to //internal
  precommit_hooks/check_bug_in_description_wrapper.py
  precommit_hooks/gcheckstyle_wrapper.py
  precommit_hooks/internal_file_check_wrapper.py
  precommit_hooks/osslint_wrapper.py
  precommit_hooks/sync_keyboxes_wrapper.py
  precommit_hooks/warn_that_starboard_interface_changed_wrapper.py
Due: yapf, pylint

Move repo-publishing-toolkit to //third_party/internal
  docker-compose.yml
  docker/docsite/Dockerfile
Due: none

Filter crashing win32 tests
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Include internal/**.pfx in app launcher package
  .github/actions/build/action.yaml
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/actions/gn/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/pre_commit/action.yaml
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/evergreen-arm-softfp.json
  .github/config/evergreen-x64.json
  .github/config/evergreen-x86.json
  .github/config/linux-clang-3-9.json
  .github/config/linux-gcc-6-3.json
  .github/config/linux.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/config/stub.json
  .github/config/win32.json
  .github/workflows/android.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/lint.yaml
  .github/workflows/linux.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/manual-cherry-pick.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/pr_badges.yaml
  .github/workflows/raspi-2.yaml
  .github/workflows/scorecards.yml
  .github/workflows/stub.yaml
  .github/workflows/win32.yaml
  starboard/tools/app_launcher_packager.py
Due: yapf, pylint

[media] Add SbPlayerTestFixture for SbPlayer tests
  starboard/nplb/BUILD.gn
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_write_sample_test.cc
Due: cpplint, cpplint_test, clang-format

Cobalt GitHub Actions workflows.
  .github/actions/build/action.yaml
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/actions/gn/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/pre_commit/action.yaml
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/evergreen-arm-softfp.json
  .github/config/evergreen-x64.json
  .github/config/evergreen-x86.json
  .github/config/linux-clang-3-9.json
  .github/config/linux-gcc-6-3.json
  .github/config/linux.json
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/config/stub.json
  .github/config/win32.json
  .github/workflows/android.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/lint.yaml
  .github/workflows/linux.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/manual-cherry-pick.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/pr_badges.yaml
  .github/workflows/raspi-2.yaml
  .github/workflows/scorecards.yml
  .github/workflows/stub.yaml
  .github/workflows/win32.yaml
Due: none

Disable WebPlatform test case on Linux (#64)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Revert "Move dav1d_ps4 to third_party/internal"
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

[NX] The crash handler implementation was added to the project
  starboard/shared/crash/BUILD.gn
  starboard/shared/crash/crash_annotations.proto
Due: none

Disable WebPlatform test case on Linux
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none
