Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix lint errors in /cobalt
  cobalt/bindings/code_generator_cobalt.py
  cobalt/bindings/contexts.py
  cobalt/bindings/flatten_idls.py
  cobalt/bindings/idl_compiler_cobalt.py
  cobalt/bindings/name_conversion.py
  cobalt/bindings/overload_context.py
  cobalt/bindings/path_generator.py
  cobalt/bindings/update_blink_idls.py
  cobalt/bindings/v8c/_env.py
  cobalt/black_box_tests/tests/compression_test.py
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/black_box_tests/tests/web_debugger.py
  cobalt/black_box_tests/tests/web_platform_tests.py
  cobalt/build/build_id.py
  cobalt/build/cobalt_configuration.py
  cobalt/build/generate_data_header.py
  cobalt/build/gn.py
  cobalt/build/sync_to_build_id.py
  cobalt/content/fonts/scripts/filter_fonts.py
  cobalt/media_integration_tests/endurance/endurance_test.py
  cobalt/media_integration_tests/performance/codec_capability.py
  cobalt/media_integration_tests/performance/dropped_frames.py
  cobalt/media_integration_tests/performance/start_latency.py
  cobalt/media_integration_tests/test_app.py
  cobalt/media_integration_tests/test_case.py
  cobalt/media_integration_tests/test_util.py
  cobalt/renderer/rasterizer/egl/shaders/generate_shader_impl.py
  cobalt/tools/automated_testing/c_val_names.py
  cobalt/tools/automated_testing/webdriver_utils.py
  cobalt/tools/verify-trace-members/verify-trace-members.py
  cobalt/webdriver/testdata/simple_test.py
Due: yapf, pylint

[android] Refine AudioSink error reporting
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
Due: cpplint, clang-format

Fix the bold Georigian font is not supported
  cobalt/content/fonts/config/common/fonts.xml
  cobalt/content/fonts/font_files/NotoSansGeorgian-Bold.woff2
  cobalt/content/fonts/font_files/NotoSansGeorgian-Regular.woff2
Due: none

Fix precommit pylint errors
  docker/linux/unittest/unittest_docker_launcher.py
  docker/windows/base/build/list_python_processes.py
  glimp/shaders/generate_glsl_shader_map.py
  starboard/build/copy_install_content.py
  starboard/build/make_dirs.py
  starboard/client_porting/walk_dir.py
  starboard/linux/x64x11/clang/3.9/cobalt/configuration.py
  starboard/sabi/generate_sabi_id_test.py
  starboard/sabi/sabi_utils.py
  starboard/shared/win32/mini_dump_printer.py
  starboard/win/win32/launcher.py
  tools/download_from_gcs.py
  tools/download_from_gcs_test.py
  tools/format_ninja.py
  tools/idl_parser/idl_parser.py
  tools/protoc_wrapper/gn_protoc_wrapper.py
Due: yapf, pylint

Send KeyboardEvent for kSbKeyUnknown
  cobalt/dom/keyboard_event.cc
  cobalt/input/keypress_generator_filter.cc
  starboard/android/shared/input_events_generator.cc
  starboard/nplb/key_test.cc
  starboard/shared/linux/dev_input/dev_input.cc
  starboard/shared/uwp/application_uwp_key_event.cc
  starboard/shared/win32/application_win32_key_event.cc
Due: cpplint, cpplint_test, clang-format

[linux] Generate dav1d library at build time
  starboard/linux/x64x11/shared/BUILD.gn
  starboard/linux/x64x11/shared/platform_configuration/BUILD.gn
  third_party/libdav1d/BUILD.gn
  third_party/libdav1d/config/linux-noasm/generic/config.h
  third_party/libdav1d/config/linux-noasm/x64/config.h
  third_party/libdav1d/config/linux/x64/config.asm
  third_party/libdav1d/config/linux/x64/config.h
  third_party/libdav1d/dav1d_generated.gni
  third_party/libdav1d/generate_configs.py
  third_party/libdav1d/generate_source.py
  third_party/libdav1d/include/dav1d/version.h
  third_party/libdav1d/include/vcs_version.h
  third_party/libdav1d/platforms/linux-x64/README.md
  third_party/libdav1d/platforms/linux-x64/libdav1d-linux-x64.sh
  third_party/libdav1d/platforms/linux-x64/libdav1d.a
Due: cpplint, yapf, pylint, clang-format

Upgrade clang to 16.0.0
  cobalt/css_parser/BUILD.gn
  docker-compose.yml
  net/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/clang.py
  starboard/build/config/base_configuration.gni
  starboard/build/config/clang.gni
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  starboard/evergreen/shared/platform_configuration/configuration.gni
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/shared/platform_configuration/configuration.gni
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
  starboard/linux/x64x11/egl/platform_configuration/configuration.gni
  starboard/linux/x64x11/platform_configuration/configuration.gni
  starboard/linux/x64x11/sanitizer_options.cc
  starboard/nplb/BUILD.gn
  starboard/nplb/memory_get_stack_bounds_test.cc
  starboard/raspi/shared/platform_configuration/configuration.gni
  starboard/stub/platform_configuration/BUILD.gn
  starboard/stub/platform_configuration/configuration.gni
  starboard/tools/download_clang.py
  starboard/tools/download_clang.sh
  third_party/angle/src/third_party/libXNVCtrl/BUILD.gn
  third_party/icu/BUILD.gn
  third_party/libjpeg-turbo/jerror.c
  third_party/libxml/BUILD.gn
  third_party/musl/BUILD.gn
  third_party/v8/BUILD.gn
  third_party/zlib/BUILD.gn
Due: cpplint, cpplint_test, yapf, pylint, clang-format

[media] Disable cache for media-element-demo
  cobalt/demos/content/media-element-demo/package.json
Due: none

Fix remaining errors
  cobalt/bindings/v8c/code_generator_v8c.py
  cobalt/tools/collectd/cobalt.py
  precommit_hooks/python3_check.py
  starboard/contrib/linux/stadia/gyp_configuration.py
  starboard/contrib/linux/stadia/libraries.gypi
  starboard/contrib/linux/stadia/starboard_platform.gyp
  tools/idl_parser/idl_lexer.py
  tools/idl_parser/idl_node.py
  tools/protoc_wrapper/protoc_wrapper.py
Due: yapf, pylint

Create marker commit (#67)
  file_marker.txt
Due: none

Create marker commit (#67) (#73)
  file_marker.txt
Due: none

Fixing docker-compose changes for new Clang ver (#83)
  docker-compose.yml
Due: none

Revert "Create marker commit (#67)" (#84)
  file_marker.txt
Due: none

Revert "Create marker commit (#67)" (#84) (#90)
  file_marker.txt
Due: none

Fix CI badge links for 21.lts.1+ (#99)
  BUILD_STATUS.md
Due: none

Tune GitHub workflow concurrency (#100)
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/pr_badges.yaml
Due: none

Disable WebPlatform test case instead of filtering (#65)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  starboard/linux/shared/cobalt/configuration.py
Due: yapf, pylint

Disable flaky WebPlatform update-result.https.html test (#68)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Filter flaky Semaphore.ThreadTakesWait_TimeExpires on win32 (#69)
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Test external change (#62)
  README.md
Due: none

Revert "Test external change (#62)" (#101)
  README.md
Due: none

Update README.md (#103)
  README.md
Due: none

Revert "Update README.md (#103)" (#105)
  README.md
Due: none

Stagger nightly trigger schedule. (#104)
  .github/workflows/android.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/linux.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/raspi-2.yaml
  .github/workflows/win32.yaml
Due: none

Set vc on windows workloads. (#107)
  .github/workflows/main_win.yaml
Due: none

Reconfigure bug ID checking to only look at commits (#109)
  .github/workflows/lint.yaml
Due: none

Fix up retry logic in Raspi launcher (#106)
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

Revert "Fix up retry logic in Raspi launcher (#106)" (#110)
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

Revert "Set vc on windows workloads. (#107)" (#111)
  .github/workflows/main_win.yaml
Due: none

Implemented –reset_evergreen_update command line flag. (#113)
  starboard/build/platform_configuration.py
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/elf_loader/elf_loader_impl.cc
  starboard/loader_app/BUILD.gn
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.h
  starboard/loader_app/reset_evergreen_update.cc
  starboard/loader_app/reset_evergreen_update.h
  starboard/loader_app/reset_evergreen_update_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Do not SendAndroidKeyEvent when g_app_running is false (#115)
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Do not SendAndroidKeyEvent when g_app_running is false (#115) (#118)
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Use libcobalt.so from install directory for APK (#117)
  starboard/loader_app/BUILD.gn
Due: none

Disable flaky WebPlatform test. (#120)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

[android] Refine AudioTrackAudioSink error reporting (#127)
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
Due: cpplint, clang-format

some WPT flakyness fixes (#124)
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/layout_tests/web_platform_tests.cc
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  third_party/web_platform_tests/service-workers/service-worker/resources/test-helpers.sub.js
  third_party/web_platform_tests/service-workers/service-worker/update-no-cache-request-headers.https.html
Due: cpplint, cpplint_test, clang-format

Change concurrency group to include pr number. (#128)
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/pr_badges.yaml
Due: none
