Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Fix MediaPlaybackService exception issue.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Cancel tasks run by update engine on shutdown.
  cobalt/updater/network_fetcher.cc
  cobalt/updater/network_fetcher.h
  cobalt/updater/updater_module.cc
  components/update_client/component.cc
  components/update_client/component.h
  components/update_client/crx_downloader.cc
  components/update_client/crx_downloader.h
  components/update_client/network.h
  components/update_client/task_update.cc
  components/update_client/task_update.h
  components/update_client/update_client.cc
  components/update_client/update_engine.cc
  components/update_client/update_engine.h
  components/update_client/url_fetcher_downloader.cc
  components/update_client/url_fetcher_downloader.h
Due: cpplint, clang-format

[android] Implement audio passthrough MIME toggle
  starboard/android/shared/gyp_configuration.py
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Revert "Chromium v8 security patch 4/5."
  v8/src/compiler/typer.cc
Due: cpplint, clang-format

Improve heuristics for determining whether file is valid Lottie JSON. And add unit test for DetermineImageType function.
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder.h
  cobalt/loader/image/image_decoder_unit_test.cc
  cobalt/loader/loader.gyp
Due: cpplint, cpplint_test, clang-format

Align all the time coordinates and refactor.
  cobalt/dom/performance.cc
  cobalt/dom/performance_high_resolution_time.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
Due: cpplint, clang-format

Add raspi-2 toolchain using gn
  starboard/raspi/2/toolchain/BUILD.gn
Due: none

Add raspi-2 gn platform configuration
  starboard/raspi/2/platform_configuration/BUILD.gn
  starboard/raspi/2/platform_configuration/configuration.gni
  starboard/raspi/shared/platform_configuration/BUILD.gn
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: none

This change adds layout test for static webp image.
  cobalt/layout_tests/layout_tests.cc
  cobalt/layout_tests/testdata/webp/layout_tests.txt
  cobalt/layout_tests/testdata/webp/static-webp-background-image-expected.png
  cobalt/layout_tests/testdata/webp/static-webp-background-image.html
  cobalt/layout_tests/testdata/webp/static-webp-image.webp
Due: cpplint_test, clang-format

[android] Fix HDR colorinfo byte order
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Upgrading base image OS from Debian 9 to Debian 10.
  docker-compose.yml
  docker/linux/android/Dockerfile
  docker/linux/base/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/base/clean-after-apt.sh
  docker/linux/clang-3-9/Dockerfile
  docker/linux/evergreen/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/stub/Dockerfile
  docker/linux/unittest/Dockerfile
Due: none

Fixing Source builder.
  cobalt/build/save_build_id.py
Due: yapf, pylint

Disable failing unit tests on win32 for GKE
  starboard/win/win32/cobalt/configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

[GN] Add support for SB version 12 on linux
  starboard/linux/shared/BUILD.gn
Due: none

Locale fix for Evergreen.
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/skia/skia/skia.gyp
  third_party/inspector_protocol/crdtp/json_platform.cc
  third_party/skia/src/sksl/SkSLString.cpp
Due: cpplint, clang-format

Add raspi-2 gn BUILD files
  starboard/build/platforms.gni
  starboard/raspi/2/BUILD.gn
  starboard/raspi/shared/BUILD.gn
Due: none

[Raspi2gn] Add additional flags for building starboard
  starboard/raspi/shared/platform_configuration/BUILD.gn
  third_party/zlib/BUILD.gn
Due: none

Updates H5VCC ReceiveCallback to take a const pointer.
  cobalt/extension/platform_service.h
  cobalt/h5vcc/h5vcc_platform_service.cc
  cobalt/h5vcc/h5vcc_platform_service.h
Due: cpplint, clang-format

[GN] Rebase output path when passing to filter_fonts
  cobalt/content/fonts/BUILD.gn
Due: none

Increment the Cobalt version to 21.lts.5.
  cobalt/version.h
Due: cpplint, clang-format

[GN][Raspi2] Fix linker flag syntax
  starboard/raspi/shared/platform_configuration/BUILD.gn
Due: none

[android] Replace surrounding to surround
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
Due: google-java-format, gcheckstyle

[GN] Fix format_ninja.py default strip value.
  tools/format_ninja.py
Due: yapf, pylint

Add strip option to compdb normalization tool
  tools/format_ninja.py
Due: yapf, pylint

libxml security patch.
  third_party/libxml/src/entities.c
Due: none
