Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Refine error reporting on invalid audio config
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

[media] Round timestamps in error message to brackets
  cobalt/media/base/playback_statistics.cc
Due: cpplint, clang-format

Android: Pass deeplink's timestamp through event.
  cobalt/base/deep_link_event.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/custom_event_test.cc
  cobalt/dom/error_event_test.cc
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/dom/performance_lifecycle_timing.idl
  cobalt/dom/performance_observer_test.cc
  cobalt/dom/performance_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  starboard/android/shared/application_android.cc
Due: cpplint, cpplint_test, clang-format

Revert "Android: Pass deeplink's timestamp through event."
  cobalt/base/deep_link_event.h
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/debug_console.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/custom_event_test.cc
  cobalt/dom/error_event_test.cc
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/dom/performance_lifecycle_timing.idl
  cobalt/dom/performance_observer_test.cc
  cobalt/dom/performance_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  starboard/android/shared/application_android.cc
Due: cpplint, cpplint_test, clang-format

Exclude lifecycle tracking from debug console and splash screen.
  cobalt/dom/window.cc
Due: cpplint, clang-format

Fix GYP failing to verify VS2017 installation
  tools/gyp/pylib/gyp/MSVSVersion.py
Due: yapf, pylint

Android: Pass deeplink's timestamp through event.
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
  cobalt/dom/performance_lifecycle_timing.cc
  cobalt/dom/performance_lifecycle_timing.h
  cobalt/dom/performance_lifecycle_timing.idl
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Fix Docker missing install of VS2017 component
  docker/windows/base/visualstudio2017/Dockerfile
Due: none

Clean up: format issues.
  cobalt/browser/application.cc
  cobalt/dom/performance.cc
Due: cpplint, clang-format

Revert "Revert "Revert "Revert "Revert "Revert "Revert "Temporarily disable Evergreen tests on COBALT."""""""
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Refine GetSupportedAudioTestFiles()
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/starboard/player/filter/testing/test_util.h
Due: cpplint, cpplint_test, clang-format

Use process substitution to get Cobalt's true PID.
  starboard/evergreen/testing/linux/start_cobalt.sh
Due: none

[android] Refactor AudioSink max frames per request
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_bridge.cc
  starboard/android/shared/audio_track_bridge.h
Due: cpplint, clang-format

Change python invocation to python2 invocation
  starboard/shared/starboard/player/player.gyp
Due: none

Prevent deploy builds making symlinks in Docker
  starboard/build/collect_deploy_content.gypi
  starboard/build/collect_deploy_content.py
  tools/gyp/pylib/gyp/msvs_emulation.py
Due: yapf, pylint

Introduce commandline flag to use Omaha QA console
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/updater/configurator.cc
  cobalt/updater/updater_constants.h
Due: cpplint, clang-format

Add strip option to compdb normalization tool
  tools/format_ninja.py
Due: yapf, pylint

Chromium v8 security patch 1/5.
  v8/regress-1051017.js
  v8/src/compiler/typer.cc
Due: cpplint, clang-format

Chromium v8 security patch 2/5.
  v8/src/compiler/js-create-lowering.cc
Due: cpplint, clang-format

[android] Fix HDR colorinfo byte order
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
Due: google-java-format, gcheckstyle

Fix duplicate Gyp target names
  cobalt/loader/loader.gyp
Due: none

Temporary fix the lifecycle tracking issue.
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

Fix link and script element resource timing issue.
  cobalt/dom/html_link_element.cc
  cobalt/dom/html_script_element.cc
Due: cpplint, clang-format

Chromium v8 security patch 3/5.
  v8/regress-1051017.js
  v8/src/compiler/typer.cc
Due: cpplint, clang-format

Chromium v8 security patch 4/5.
  v8/src/compiler/typer.cc
Due: cpplint, clang-format

Chromium v8 security patch 5/5.
  v8/src/compiler/js-native-context-specialization.cc
  v8/src/compiler/simplified-lowering.cc
  v8/src/compiler/simplified-operator.cc
  v8/src/compiler/simplified-operator.h
Due: cpplint, clang-format

Fix broken nb/reuse_allocator deploy target
  nb/nb_test.gyp
Due: none

Revert "Chromium v8 security patch 5/5."
  v8/src/compiler/js-native-context-specialization.cc
  v8/src/compiler/simplified-lowering.cc
  v8/src/compiler/simplified-operator.cc
  v8/src/compiler/simplified-operator.h
Due: cpplint, clang-format

Cancel tasks run by update engine on shutdown.
  cobalt/updater/network_fetcher.cc
  cobalt/updater/network_fetcher.h
  cobalt/updater/updater_module.cc
  components/update_client/component.cc
  components/update_client/component.h
  components/update_client/crx_downloader.cc
  components/update_client/crx_downloader.h
  components/update_client/network.h
  components/update_client/task_update.cc
  components/update_client/task_update.h
  components/update_client/update_client.cc
  components/update_client/update_engine.cc
  components/update_client/update_engine.h
  components/update_client/url_fetcher_downloader.cc
  components/update_client/url_fetcher_downloader.h
Due: cpplint, clang-format

Fix MediaPlaybackService exception issue.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: google-java-format, gcheckstyle

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
