Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Fix the crash of setting updater channel
  cobalt/updater/configurator.cc
  components/update_client/component.cc
Due: cpplint, clang-format

[V8 Cherry Pick] Reland "[code] Move the unwinding info into metadata area"
  v8/src/codegen/code-desc.h
  v8/src/execution/isolate.cc
  v8/src/heap/factory.cc
  v8/src/objects/code-inl.h
  v8/src/objects/code.cc
  v8/src/objects/code.h
  v8/test/cctest/test-code-layout.cc
Due: cpplint, clang-format

Disable android-x86 blackbox tests.
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Add pre-commit check suggesting updating python2
  .pre-commit-config.yaml
  precommit_hooks/python3_check.py
Due: yapf, pylint

Ignore temporary files starting with ~
  cobalt/css_parser/.gitignore
Due: none

Revert "Temporarily filter the Evergreen tests for the COBALT branch."
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Implement DOM APIs for Memory Performance
  cobalt/browser/browser_module.cc
  cobalt/browser/debug_console.cc
  cobalt/browser/splash_screen.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/event_target_test.cc
  cobalt/dom/memory_info.cc
  cobalt/dom/memory_info.h
  cobalt/dom/memory_info.idl
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/testing/stub_window.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media.gyp
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
  cobalt/websocket/web_socket_impl_test.cc
Due: cpplint, cpplint_test, clang-format

Refine log message types in decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.cc
Due: cpplint, clang-format

Fix and clarify the SbSocketWaiterAdd documentation.
  starboard/socket_waiter.h
Due: cpplint, clang-format

DCHECK for pitch in CpuVideoFrame::CreateYV12Frame
  starboard/shared/starboard/player/filter/cpu_video_frame.cc
Due: cpplint, clang-format

Deploy debug DLLs for win32 executable targets
  starboard/build/copy_data.py
  starboard/build/gyp_functions.py
  starboard/shared/win32/gyp_configuration.py
  starboard/shared/win32/sdk_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Deploy debug DLLs for win32 executable targets
  starboard/build/copy_data.py
  starboard/build/gyp_functions.py
Due: yapf, pylint

[xb1] Rename Vp9VideoDecoderHdr
  starboard/shared/win32/video_decoder.cc
  starboard/shared/win32/video_decoder.h
Due: cpplint, clang-format

Ensure hybrid nav items are updated if computed style changed
  cobalt/dom/html_element.cc
Due: cpplint, clang-format

Guarantee monotonically increasing media time
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Revert "[xb1] Rename Vp9VideoDecoderHdr"
  starboard/shared/win32/video_decoder.cc
  starboard/shared/win32/video_decoder.h
Due: cpplint, clang-format

Fix invalid import from shared gyp config source
  starboard/shared/win32/gyp_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Fix import error in win32 test_runner.py execution
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Nit edit of the Evergreen external doc
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Add a web API to get current installation index
  cobalt/h5vcc/h5vcc_updater.cc
  cobalt/h5vcc/h5vcc_updater.h
  cobalt/h5vcc/h5vcc_updater.idl
  cobalt/updater/updater_module.cc
  cobalt/updater/updater_module.h
Due: cpplint, clang-format

Set MSVC redist version for Windows Docker
  docker/windows/base/visualstudio2017/Dockerfile
Due: none

Create docker buildbot worker instance for windows
  docker/windows/win32/Dockerfile
Due: none

Remove video_frame_release_time_adjuster.h/cc
  starboard/android/shared/video_frame_release_time_adjuster.cc
  starboard/android/shared/video_frame_release_time_adjuster.h
Due: cpplint, clang-format

Use bitmap fonts for improved performance
  cobalt/layout_tests/testdata/cobalt/onload_event_fired_even_though_link_file_does_not_exist-expected.png
  cobalt/layout_tests/testdata/cobalt/woff2-decoding-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-3-9-inline-block-non-replaced-elements-with-auto-width-should-shrink-to-fit-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-4-min-width-and-max-width-limit-box-size-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-4-min-width-and-max-width-percentage-should-refer-containing-block-width-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-5-percentage-of-auto-height-should-compute-to-auto-expected.png
  cobalt/layout_tests/testdata/css-2-1/10-8-line-height-should-be-used-for-vertical-align-with-inline-non-replaced-boxes-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-in-flow-siblings-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-parent-and-first-in-flow-child-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/8-3-1-parent-and-last-in-flow-child-separated-by-inline-box-should-not-form-collapsed-margin-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-2-1-1-inline-level-boxes-should-be-wrapped-in-anonymous-block-boxes-in-block-formatting-context-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-collapsed-elements-should-reduce-available-width-of-line-box-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-inline-boxes-should-split-at-br-elements-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-long-inline-boxes-should-be-split-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-multiple-inline-boxes-exceeding-width-of-line-box-should-be-split-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-nested-inline-boxes-should-split-at-br-elements-expected.png
  cobalt/layout_tests/testdata/css-text-3/3-bidirectional-content-should-overflow-the-line-with-white-space-nowrap-expected.png
  cobalt/layout_tests/testdata/css-text-3/4-1-1-space-preceding-br-element-should-not-be-collapsed-expected.png
  cobalt/layout_tests/testdata/css-text-3/4-1-3-spaces-at-beginning-and-end-of-line-should-be-collapsed-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-2-font-face-font-family-hides-system-font-family-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-src-local-can-match-font-postscript-name-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-src-local-can-match-full-font-name-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-use-first-available-local-font-face-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-3-use-next-font-family-if-font-face-sources-unavailable-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-4-use-correct-style-in-font-face-set-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-specified-font-family-if-available-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-expected.png
  cobalt/layout_tests/testdata/css3-fonts/color-emojis-should-render-properly-expected.png
  cobalt/layout_tests/testdata/css3-fonts/synthetic-bolding-should-not-occur-on-bold-font-expected.png
  cobalt/layout_tests/testdata/css3-fonts/synthetic-bolding-should-occur-on-non-bold-font-expected.png
  cobalt/layout_tests/testdata/css3-fonts/text-bounds-should-be-calculated-properly-when-containing-zero-height-font-runs-expected.png
  cobalt/layout_tests/testdata/webappapis/6-1-5-2-onload-event-fires-on-window-expected.png
  cobalt/layout_tests/testdata/webappapis/6-1-5-2-onload-event-fires-on-window-when-set-via-attribute-expected.png
  cobalt/renderer/rasterizer/egl/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
