Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Add check for C++14 constexpr initialization
  starboard/nplb/compiler_compliance/cpp14_constexpr.cc
Due: cpplint, clang-format

Enable C++14 audit for Clang3 builder
  starboard/linux/x64x11/clang/3.6/gyp_configuration.gypi
Due: none

Update Clang 3.6 to Clang 3.9
  docker-compose.yml
  docker/linux/clang-3-9/Dockerfile
  starboard/linux/x64x11/clang/3.6/download_clang.sh
  starboard/linux/x64x11/clang/3.6/hasmd.patch
  starboard/linux/x64x11/clang/3.6/sigaltstack.patch
  starboard/linux/x64x11/clang/3.6/ustat_size.patch
  starboard/linux/x64x11/clang/3.9/atomic_public.h
  starboard/linux/x64x11/clang/3.9/cobalt/configuration.py
  starboard/linux/x64x11/clang/3.9/compiler_flags.gypi
  starboard/linux/x64x11/clang/3.9/configuration_public.h
  starboard/linux/x64x11/clang/3.9/gyp_configuration.gypi
  starboard/linux/x64x11/clang/3.9/gyp_configuration.py
  starboard/linux/x64x11/clang/3.9/starboard_platform.gyp
  starboard/linux/x64x11/clang/3.9/starboard_platform_tests.gyp
  starboard/linux/x64x11/clang/3.9/thread_types_public.h
Due: cpplint, yapf, pylint, clang-format

Populate UA-CH web API with UA-string info
  cobalt/browser/application.cc
  cobalt/browser/browser.gyp
  cobalt/browser/browser_module.cc
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string.cc
  cobalt/browser/user_agent_string.h
  cobalt/browser/user_agent_string_test.cc
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/cobalt_ua_data_values.idl
  cobalt/dom/cobalt_ua_data_values_interface.h
  cobalt/dom/cobalt_ua_data_values_interface.idl
  cobalt/dom/custom_event_test.cc
  cobalt/dom/dom.gyp
  cobalt/dom/error_event_test.cc
  cobalt/dom/navigator.cc
  cobalt/dom/navigator.h
  cobalt/dom/navigator_licenses_test.cc
  cobalt/dom/navigator_ua_data.cc
  cobalt/dom/navigator_ua_data.h
  cobalt/dom/navigator_ua_data.idl
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/stub_window.h
  cobalt/dom/user_agent_platform_info.h
  cobalt/dom/window.cc
  cobalt/dom/window.h
  cobalt/dom/window_test.cc
  cobalt/layout_tests/layout_snapshot.cc
Due: cpplint, cpplint_test, clang-format

Temporarily disable Evergreen tests on COBALT.
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Fix win32 dom_test failure.
  cobalt/dom/performance_test.cc
Due: cpplint_test, clang-format

Revert "Fix win32 dom_test failure."
  cobalt/dom/performance_test.cc
Due: cpplint_test, clang-format

Work around new clang 3.9 warnings
  starboard/linux/x64x11/clang/3.9/compiler_flags.gypi
Due: none

Remove JavaScriptGcThreshold and ReduceCpuMemoryBy switch
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/memory_settings/auto_mem.cc
  cobalt/browser/memory_settings/auto_mem_settings.cc
  cobalt/browser/memory_settings/auto_mem_settings.h
  cobalt/browser/memory_settings/auto_mem_settings_test.cc
  cobalt/browser/memory_settings/auto_mem_test.cc
  cobalt/browser/memory_settings/memory_settings.cc
  cobalt/browser/memory_settings/memory_settings.h
  cobalt/browser/memory_settings/pretty_print_test.cc
  cobalt/browser/memory_settings/scaling_function.cc
  cobalt/browser/memory_settings/scaling_function.h
  cobalt/browser/memory_settings/test_common.h
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/configuration/configuration.cc
  cobalt/extension/configuration.h
  cobalt/script/javascript_engine.h
  starboard/common/configuration_defaults.h
Due: cpplint, cpplint_test, clang-format

[GN] Add documentation from GYP->GN migration
  starboard/build/doc/migrating_gyp_to_gn.md
  starboard/build/doc/migration_changes.md
Due: none

[GN] Migrate android-arm to GN
  starboard/android/arm/BUILD.gn
  starboard/android/arm/platform_configuration/BUILD.gn
  starboard/android/arm/platform_configuration/configuration.gni
  starboard/android/arm/toolchain/BUILD.gn
  starboard/android/shared/BUILD.gn
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/platforms.gni
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  third_party/libevent/BUILD.gn
  third_party/zlib/BUILD.gn
Due: none

[GN] Make common_player_sources a variable
  starboard/android/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/shared/starboard/player/BUILD.gn
  starboard/shared/starboard/player/buildfiles.gni
Due: none

[GN] Don't use android config in zlib
  third_party/zlib/BUILD.gn
Due: none

[GN] Don't compile android sources for crashpad
  third_party/crashpad/compat/BUILD.gn
Due: none

[GN] Allow platforms to set per-target configs
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/configuration.gni
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
  starboard/build/test.gni
Due: none

[GN] Remove unused android-arm config
  starboard/android/arm/platform_configuration/BUILD.gn
Due: none

[GN] Migrate android-x86 to gn
  starboard/android/x86/BUILD.gn
  starboard/android/x86/platform_configuration/BUILD.gn
  starboard/android/x86/platform_configuration/configuration.gni
  starboard/android/x86/toolchain/BUILD.gn
  starboard/build/platforms.gni
Due: none

[GN] Migrate android-arm64 to gn
  starboard/android/arm64/BUILD.gn
  starboard/android/arm64/platform_configuration/BUILD.gn
  starboard/android/arm64/platform_configuration/configuration.gni
  starboard/android/arm64/toolchain/BUILD.gn
  starboard/build/platforms.gni
Due: none

[GN] Have android shared ANDROID_ABI define
  starboard/android/arm/platform_configuration/BUILD.gn
  starboard/android/arm64/platform_configuration/BUILD.gn
  starboard/android/arm64/vulkan/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/android/x86/platform_configuration/BUILD.gn
Due: none

[GN] Migrate android-arm64-vulkan to gn
  starboard/android/arm64/vulkan/BUILD.gn
  starboard/android/arm64/vulkan/platform_configuration/BUILD.gn
  starboard/android/arm64/vulkan/platform_configuration/configuration.gni
  starboard/android/arm64/vulkan/toolchain/BUILD.gn
  starboard/build/platforms.gni
Due: none

Fix spell-check issues in Starboard headers
  starboard/configuration_constants.h
  starboard/decode_target.h
Due: cpplint, clang-format

Add domainLookupStart and End for resource timing.
  cobalt/dom/performance_resource_timing.cc
  cobalt/dom/performance_resource_timing.h
  cobalt/dom/performance_resource_timing.idl
Due: cpplint, clang-format

Add evergreen version to UserAgentPlatformInfo
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string.cc
  cobalt/browser/user_agent_string_test.cc
  cobalt/dom/navigator_ua_data.cc
  cobalt/dom/user_agent_platform_info.h
Due: cpplint, cpplint_test, clang-format
