Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Use readable names for TEST_P nplb tests.
  starboard/android/shared/test_filters.py
  starboard/linux/shared/test_filters.py
  starboard/nplb/file_read_write_all_test.cc
  starboard/nplb/player_write_sample_test.cc
  starboard/nplb/socket_accept_test.cc
  starboard/nplb/socket_bind_test.cc
  starboard/nplb/socket_connect_test.cc
  starboard/nplb/socket_create_test.cc
  starboard/nplb/socket_get_interface_address_test.cc
  starboard/nplb/socket_get_local_address_test.cc
  starboard/nplb/socket_helpers.cc
  starboard/nplb/socket_helpers.h
  starboard/nplb/socket_is_connected_and_idle_test.cc
  starboard/nplb/socket_is_connected_test.cc
  starboard/nplb/socket_listen_test.cc
  starboard/nplb/socket_receive_from_test.cc
  starboard/nplb/socket_resolve_test.cc
  starboard/nplb/socket_send_to_test.cc
  starboard/nplb/socket_set_options_test.cc
  starboard/nplb/socket_waiter_add_test.cc
  starboard/nplb/socket_waiter_remove_test.cc
  starboard/nplb/socket_waiter_wait_test.cc
  starboard/nplb/socket_waiter_wait_timed_test.cc
  starboard/nplb/socket_wrapper_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

[dom] Improve TRACE_EVENT() on events
  cobalt/dom/html_media_element.cc
  cobalt/web/event_target.cc
Due: cpplint, clang-format

Export Blob and URL to workers.
  cobalt/dom/testing/stub_window.h
  cobalt/dom/testing/test_with_javascript.h
  cobalt/dom_parser/html_decoder_test.cc
  cobalt/loader/fetcher_factory.cc
  cobalt/loader/fetcher_factory.h
  cobalt/loader/fetcher_factory_test.cc
  cobalt/web/agent.cc
  cobalt/web/blob.idl
  cobalt/web/blob_test.cc
  cobalt/web/context.h
  cobalt/web/csp_delegate_test.cc
  cobalt/web/testing/BUILD.gn
  cobalt/web/testing/stub_web_context.h
  cobalt/web/testing/test_with_javascript.h
  cobalt/web/url.idl
  cobalt/web/url_test.cc
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/websocket/web_socket_test.cc
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker_global_scope_test.cc
  cobalt/worker/worker_navigator_test.cc
Due: cpplint, cpplint_test, clang-format

Expose CustomEvent API to Worker
  cobalt/web/custom_event.idl
  cobalt/web/custom_event_test.cc
Due: cpplint_test, clang-format

Make folder magic easier to follow
  starboard/build/copy_install_content.py
Due: yapf, pylint

Add ClearCache in H5vccStorage
  cobalt/cache/cache.cc
  cobalt/cache/cache.h
  cobalt/cache/memory_capped_directory.cc
  cobalt/cache/memory_capped_directory.h
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage.h
  cobalt/h5vcc/h5vcc_storage.idl
Due: cpplint, clang-format

Validate cache settings on Window load.
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/cobalt_backend_impl.h
Due: cpplint, clang-format

[media] Fix SbPlayerPipeline crash
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Refactor devsite gen script to use structured output
  cobalt/site/docs/reference/starboard/gn-configuration.md
  docker/docsite/Dockerfile
  docker/docsite/docker-compose.yml
  starboard/build/config/base_configuration.gni
Due: none

[Watchdog] Limits Watchdog resource useage.
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/renderer/pipeline.cc
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format

Fix for creation URL and API base URL of environment settings.
  cobalt/base/c_val.cc
  cobalt/browser/web_module.cc
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/global_stats.cc
  cobalt/dom/local_storage_database.h
  cobalt/dom/on_screen_keyboard_test.cc
  cobalt/dom/testing/BUILD.gn
  cobalt/dom/testing/stub_window.h
  cobalt/dom/testing/test_with_javascript.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/media_capture/get_user_media_test.cc
  cobalt/script/environment_settings.h
  cobalt/web/global_stats.cc
  cobalt/web/testing/stub_web_context.h
  cobalt/web/testing/test_with_javascript.h
  cobalt/web/window_or_worker_global_scope.cc
  cobalt/web/window_or_worker_global_scope.h
  cobalt/web/window_timers_test.cc
  cobalt/websocket/web_socket_impl_test.cc
  cobalt/websocket/web_socket_test.cc
  cobalt/worker/service_worker_object.cc
  cobalt/worker/testing/BUILD.gn
  cobalt/worker/testing/test_with_javascript.h
  cobalt/worker/worker.cc
  cobalt/worker/worker_global_scope.h
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
  cobalt/xhr/global_stats.cc
  cobalt/xhr/xml_http_request_test.cc
Due: cpplint, cpplint_test, clang-format

Add log for In-App DIAL server URL.
  net/dial/dial_http_server.cc
  net/dial/dial_udp_server.cc
Due: cpplint, clang-format

Add MockUserAgentPlatformInfo in StubWebContext.
  cobalt/web/agent.cc
  cobalt/web/agent.h
  cobalt/web/context.h
  cobalt/web/navigator_ua_data.cc
  cobalt/web/navigator_ua_data.h
  cobalt/web/testing/BUILD.gn
  cobalt/web/testing/mock_user_agent_platform_info.h
  cobalt/web/testing/stub_web_context.h
Due: cpplint, clang-format

Fix FFmpegDemuxer tests.
  starboard/shared/ffmpeg/BUILD.gn
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.h
  starboard/shared/ffmpeg/ffmpeg_demuxer_test.cc
  third_party/chromium/media/test/data/BUILD.gn
Due: cpplint, cpplint_test, clang-format

Check hash of downloaded archive before extracting
  docker/linux/base/build/Dockerfile
  docker/precommit_hooks/Dockerfile
Due: none

Use the url from the official NVM instructions
  cobalt/site/docs/development/setup-linux.md
Due: none

Make devsite scripts run on py3
  docker/docsite/Dockerfile
Due: none

Don't allow username override when creating user
  docker/docsite/Dockerfile
Due: none

Fix spelling mistake
  cobalt/site/docs/communication.md
Due: none

Update references to GYP to GN in public docs
  cobalt/site/docs/development/setup-docker.md
Due: none

Change cobalt_deploy to cobalt_install
  cobalt/site/docs/development/setup-android.md
  docker-compose.yml
Due: none

Log fetches from XMLHttpRequests to the console.
  cobalt/xhr/xml_http_request.cc
Due: cpplint, clang-format

[media] Replace delay calculation with fixed delay
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

[xb1] Change swapchain length to 3 buffers.
  third_party/angle/src/libANGLE/renderer/d3d/d3d11/winrt/CoreWindowNativeWindow.cpp
Due: cpplint, clang-format

[media] Rename AudioRendererImpl
  starboard/shared/starboard/player/filter/BUILD.gn
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.cc
  starboard/shared/starboard/player/filter/audio_renderer_internal_pcm.h
  starboard/shared/starboard/player/filter/audio_renderer_sink.h
  starboard/shared/starboard/player/filter/player_components.cc
  starboard/shared/starboard/player/filter/testing/audio_renderer_internal_test.cc
Due: cpplint, cpplint_test, clang-format

[media] Refactor GetSourceBufferEvictExtraInBytes()
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/BUILD.gn
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/source_buffer.cc
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/h5vcc/h5vcc_system.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
Due: cpplint, cpplint_test, clang-format

[media] Improve playback startup latency tracking
  cobalt/media/base/starboard_player.cc
Due: cpplint, clang-format

Revert "[media] Refactor GetSourceBufferEvictExtraInBytes()"
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/BUILD.gn
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/source_buffer.cc
  cobalt/dom/testing/stub_environment_settings.h
  cobalt/dom/user_agent_data_test.cc
  cobalt/h5vcc/BUILD.gn
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc.h
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/h5vcc/h5vcc_system.h
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  cobalt/media/decoder_buffer_memory_info.h
  cobalt/media/media_module.cc
  cobalt/media/media_module.h
  cobalt/speech/sandbox/speech_sandbox.cc
Due: cpplint, cpplint_test, clang-format

Support any JsValue for postMessage.
  cobalt/bindings/testing/BUILD.gn
  cobalt/bindings/testing/serialize_script_value_interface.h
  cobalt/bindings/testing/serialize_script_value_interface.idl
  cobalt/bindings/testing/serialize_script_value_test.cc
  cobalt/dom/testing/test_with_javascript.h
  cobalt/layout_tests/testdata/web-platform-tests/WebCryptoAPI/web_platform_tests.txt
  cobalt/script/BUILD.gn
  cobalt/script/fake_global_environment.h
  cobalt/script/global_environment.h
  cobalt/script/v8c/cobalt_platform.h
  cobalt/script/v8c/v8c_global_environment.h
  cobalt/script/v8c/v8c_value_handle.cc
  cobalt/script/value_handle.h
  cobalt/web/agent.cc
  cobalt/web/context.h
  cobalt/web/message_event.cc
  cobalt/web/message_event.h
  cobalt/web/message_event.idl
  cobalt/web/message_event_init.idl
  cobalt/web/message_event_test.cc
  cobalt/web/message_port.cc
  cobalt/web/message_port.h
  cobalt/web/message_port.idl
  cobalt/web/testing/stub_web_context.h
  cobalt/websocket/web_socket.cc
  cobalt/websocket/web_socket.h
  cobalt/websocket/web_socket.idl
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/dedicated_worker_global_scope.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/dedicated_worker_global_scope.idl
  cobalt/worker/service_worker.h
  cobalt/worker/service_worker.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker.idl
  third_party/web_platform_tests/workers/interfaces/WorkerUtils/WindowTimers/005.html
Due: cpplint, cpplint_test, clang-format

Use 1mb for non-http-cache memory in cache dir.
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/network/url_request_context.cc
  net/disk_cache/cobalt/cobalt_backend_impl.cc
  net/disk_cache/cobalt/resource_type.h
Due: cpplint, clang-format

Add python3-six package to apt list for docsite
  docker/docsite/Dockerfile
Due: none

Add compiler config to disable deprecated code warning.
  cobalt/browser/browser_module.cc
  starboard/win/shared/platform_configuration/BUILD.gn
Due: cpplint, clang-format

[Watchdog] Adopts milliseconds over microseconds.
  cobalt/h5vcc/h5vcc_crash_log.cc
  cobalt/h5vcc/h5vcc_crash_log.idl
  cobalt/watchdog/watchdog.cc
Due: cpplint, clang-format

Refactor CSP to be available in global scopes
  cobalt/browser/web_module.cc
  cobalt/debug/backend/debug_module.cc
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/document_test.cc
  cobalt/dom/element_test.cc
  cobalt/dom/html_element_test.cc
  cobalt/dom/rule_matching_test.cc
  cobalt/dom/testing/BUILD.gn
  cobalt/dom/testing/fake_document.h
  cobalt/dom/window.cc
  cobalt/test/document_loader.h
  cobalt/web/csp_violation_reporter.cc
  cobalt/web/csp_violation_reporter.h
  cobalt/web/window_or_worker_global_scope.cc
  cobalt/web/window_or_worker_global_scope.h
  cobalt/websocket/web_socket.cc
  cobalt/worker/worker_global_scope.cc
  cobalt/xhr/xml_http_request.cc
  cobalt/xhr/xml_http_request.h
Due: cpplint, cpplint_test, clang-format

First step in sorting the exported symbols.
  starboard/elf_loader/exported_symbols.cc
Due: cpplint, clang-format

[media source] Optimize SourceBuffer algorithms
  cobalt/dom/BUILD.gn
  cobalt/dom/event_queue.cc
  cobalt/dom/event_queue.h
  cobalt/dom/event_queue_test.cc
  cobalt/dom/media_source.cc
  cobalt/dom/media_source.h
  cobalt/dom/media_source_settings.cc
  cobalt/dom/media_source_settings.h
  cobalt/dom/media_source_settings_test.cc
  cobalt/dom/serialized_algorithm_runner.cc
  cobalt/dom/serialized_algorithm_runner.h
  cobalt/dom/source_buffer.cc
  cobalt/dom/source_buffer.h
  cobalt/dom/source_buffer_algorithm.cc
  cobalt/dom/source_buffer_algorithm.h
Due: cpplint, cpplint_test, clang-format

[android] Refine passthrough av sync
  starboard/android/shared/audio_renderer_passthrough.cc
  starboard/android/shared/audio_renderer_passthrough.h
Due: cpplint, clang-format

Second step in sorting the exported symbols.
  starboard/elf_loader/exported_symbols.cc
Due: cpplint, clang-format

[Watchdog] Refactor Monitor() to separate logic.
  cobalt/demos/content/watchdog-demo/index.html
  cobalt/watchdog/watchdog.cc
  cobalt/watchdog/watchdog.h
Due: cpplint, clang-format
