Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Pass certs location to Crashpad handler process
  starboard/common/BUILD.gn
  starboard/common/paths.cc
  starboard/common/paths.h
  starboard/contrib/linux/stadia/main.cc
  starboard/linux/x64x11/main.cc
  starboard/raspi/shared/main.cc
  third_party/crashpad/client/client_argv_handling.cc
  third_party/crashpad/client/client_argv_handling.h
  third_party/crashpad/client/crashpad_client.h
  third_party/crashpad/client/crashpad_client_linux.cc
  third_party/crashpad/handler/crash_report_upload_thread.cc
  third_party/crashpad/handler/crash_report_upload_thread.h
  third_party/crashpad/handler/handler_main.cc
  third_party/crashpad/util/net/http_transport.cc
  third_party/crashpad/util/net/http_transport.h
  third_party/crashpad/util/net/http_transport_socket.cc
  third_party/crashpad/wrapper/wrapper.cc
  third_party/crashpad/wrapper/wrapper.h
  third_party/crashpad/wrapper/wrapper_stub.cc
Due: cpplint, clang-format

Remove crashpad_handler subdir from EG staging dir
  starboard/evergreen/shared/launcher.py
  starboard/evergreen/testing/tests/crashpad_runs_test.sh
Due: yapf, pylint

[Media] Adding Public CVals for Media Timing.
  cobalt/BUILD.gn
  cobalt/media/BUILD.gn
  cobalt/media/base/cval_stats.cc
  cobalt/media/base/cval_stats.h
  cobalt/media/base/cval_stats_test.cc
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_bridge.h
  cobalt/media/base/sbplayer_interface.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/media_module.cc
Due: cpplint, cpplint_test, clang-format

Adding additional logging to WebMediaPlayerImpl.
  cobalt/media/player/web_media_player_impl.cc
Due: cpplint, clang-format

[ATV] Add new font variations
  cobalt/content/fonts/config/android/fonts.xml
  cobalt/renderer/BUILD.gn
  cobalt/renderer/rasterizer/pixel_test.cc
  cobalt/renderer/rasterizer/testdata/SimpleTextInEthiopic-expected.png
  cobalt/renderer/rasterizer/testdata/SimpleTextInEthiopicBold-expected.png
Due: cpplint_test, clang-format

[media] Reduce logs for retrograde media time
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Capture volume changed events
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/VolumeStateReceiver.java
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Cleanup obsolete comment
  cobalt/black_box_tests/black_box_tests.py
Due: yapf, pylint

Temporary disable evergreen_tests to pickup new SB15 change.
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Add a DISABLE_TESTS flag.
  starboard/evergreen/testing/run_all_tests.sh
Due: none

[media] Assign is_key_frame in VideoSampleInfo
  starboard/shared/starboard/media/media_util.cc
  starboard/shared/starboard/media/media_util_test.cc
Due: cpplint, cpplint_test, clang-format

Test change for CI builds
  README.md
Due: none

Fix packaging for all platforms (#284)
  tools/create_archive.py
Due: yapf, pylint

Fix more packaging in create_archive (#287)
  tools/create_archive.py
Due: yapf, pylint

Fix packaging for all platforms
  tools/create_archive.py
Due: yapf, pylint

Fix packaging for win32 platforms
  tools/create_archive.py
Due: yapf, pylint

Remove deprecated evergreen_tests flag (#289)
  .github/actions/on_host_test/action.yaml
Due: none

Fix missing bootloader dir in ODT archive. (#292)
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Remove evergreen test from arm-hardfp ODT. (#293)
  .github/config/evergreen-arm-hardfp.json
Due: none

Enable workflows on feature branches. (#294)
  .github/workflows/android.yaml
  .github/workflows/evergreen.yaml
  .github/workflows/lint.yaml
  .github/workflows/linux.yaml
  .github/workflows/pr_badges.yaml
  .github/workflows/raspi-2.yaml
  .github/workflows/stub.yaml
  .github/workflows/win32.yaml
Due: none

Pin third party actions. (#295)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
  .github/workflows/scorecards.yml
Due: none

(23.lts.1+) Use docker compose v2 to build win docker images (#281) (#303)
  .github/actions/docker_win/action.yaml
Due: none

(23.lts.1+) Pin third party actions. (#295) (#296)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
Due: none

Reconfigure workflows to point to new buckets (#16)
  .github/actions/build/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
Due: none

Switch 'on_host_test' values to boolean (#20)
  .github/config/evergreen-x64.json
  .github/config/linux-clang-3-9.json
  .github/config/linux.json
  .github/config/win32.json
Due: none

Remove references to cobalt_sandbox (#19)
  .github/workflows/manual-cherry-pick.yaml
  BUILD_STATUS.md
  README.md
Due: none

Reconfigure workflows to point to new buckets (#16) (#21)
  .github/actions/build/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
  .github/workflows/main.yaml
  .github/workflows/main_win.yaml
Due: none

Set NODE_VERSION to v16 (#18)
  docker/linux/base/build/Dockerfile
Due: none
