Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Reduce DIAL buffer size
  net/dial/dial_udp_server.cc
Due: cpplint, clang-format

Release XML parser memory when finished
  cobalt/dom_parser/libxml_html_parser_wrapper.cc
Due: cpplint, clang-format

Provide fallback headers for moved extensions
  cobalt/extension/configuration.h
  cobalt/extension/crash_handler.h
  cobalt/extension/demuxer.h
  cobalt/extension/font.h
  cobalt/extension/free_space.h
  cobalt/extension/graphics.h
  cobalt/extension/installation_manager.h
  cobalt/extension/javascript_cache.h
  cobalt/extension/media_session.h
  cobalt/extension/memory_mapped_file.h
  cobalt/extension/platform_service.h
  cobalt/extension/updater_notification.h
  cobalt/extension/url_fetcher_observer.h
Due: cpplint, clang-format

Disable xml parser test due to memory leak
  cobalt/dom_parser/xml_decoder_test.cc
Due: cpplint_test, clang-format

Use mmap() for loading ICU data, when available
  third_party/icu/source/common/umapfile.cpp
Due: cpplint, clang-format

Revert "Use mmap() for loading ICU data, when available"
  third_party/icu/source/common/umapfile.cpp
Due: cpplint, clang-format

Rename Extensions codelab to Starboard
  cobalt/site/docs/codelabs/starboard_extensions/codelab.md
Due: none

Revert "Revert "Use mmap() for loading ICU data, when available""
  third_party/icu/source/common/umapfile.cpp
Due: cpplint, clang-format

[media] Refine TEST_P player_filter_tests names
  starboard/android/shared/test_filters.py
  starboard/raspi/shared/test_filters.py
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_channel_layout_mixer_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/player_components_test.cc
  starboard/shared/starboard/player/filter/testing/video_decoder_test.cc
  starboard/win/win32/test_filters.py
Due: cpplint_test, yapf, pylint, clang-format

[Service worker] update web platform test
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Add binutils-arm-linux-gnueabi to Android workers.
  docker/linux/android/Dockerfile
Due: none

Add simple Starboard hello world example.
  starboard/BUILD.gn
  starboard/examples/hello_world/BUILD.gn
  starboard/examples/hello_world/README.md
  starboard/examples/hello_world/main.cc
Due: cpplint, clang-format

Disable the flaky SW tests
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

[eme] Calling MediaKeys.getMetrics() in eme demo
  cobalt/demos/content/eme-demo/eme-demo.js
Due: none

Implement CrashLog.setString for Kimono.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/crash_handler.cc
  starboard/android/shared/crash_handler.h
  starboard/android/shared/system_get_extensions.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Make older tests work on Python3
  cobalt/bindings/flatten_idls_test.py
  cobalt/bindings/path_generator_test.py
  starboard/tools/command_line_test.py
  starboard/tools/log_level_test.py
Due: yapf, pylint

Remove DCHECK to prevent preload crash
  cobalt/dom/html_media_element.cc
Due: cpplint, clang-format

Finish converting old Py2 tests
  cobalt/build/path_conversion_test.py
  starboard/tools/port_symlink.py
  starboard/tools/port_symlink_test.py
  starboard/tools/win_symlink_fast_test.py
  starboard/tools/win_symlink_test.py
Due: yapf, pylint

Remove Python2 unittest pre-commit
  .pre-commit-config.yaml
  precommit_hooks/run_python2_unittests.py
Due: yapf, pylint

Disable failing WebPlatformTests
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
Due: none

Clean up Pytest setup
  cobalt/bindings/flatten_idls_test.py
  cobalt/bindings/path_generator_test.py
  requirements.txt
  setup.cfg
Due: yapf, pylint

Relax mime check performance requirements
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Workaround Maneki Py3 test breakage
  starboard/tools/port_symlink.py
Due: yapf, pylint

Resolve heap use after free for promises.
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker_container.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_registration.cc
Due: cpplint, clang-format

Add build badges to README file.
  BUILD_STATUS.md
  README.md
Due: none

Update Cobalt License
  cobalt/content/licenses/platform/android/licenses_cobalt.txt
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

Disable WPT registration_basic and DispatchEvent
  cobalt/layout_tests/testdata/web-platform-tests/service-workers/web_platform_tests.txt
  cobalt/layout_tests/testdata/web-platform-tests/workers/web_platform_tests.txt
Due: none

Temporarily disable persistent ServiceWorkers
  cobalt/black_box_tests/black_box_tests.py
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
Due: cpplint, yapf, pylint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
