Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Revert "Temporarily disable Evergreen tests on COBALT."
  starboard/evergreen/testing/run_all_tests.sh
Due: none

Update the Evergreen fonts documentation.
  starboard/doc/evergreen/cobalt_evergreen_overview.md
Due: none

Fix the fonts nplb_evergreen_comat test.
  starboard/nplb/nplb_evergreen_compat_tests/fonts_test.cc
Due: cpplint_test, clang-format

Fix incorrect usage of SbMemorySet.
  cobalt/browser/application.cc
  starboard/elf_loader/program_table.cc
  starboard/elf_loader/sandbox.cc
  starboard/loader_app/loader_app.cc
  starboard/loader_app/slot_management.cc
  starboard/raspi/shared/dispmanx_util.cc
Due: cpplint, clang-format

Deprecate SbMemoryMove
  base/android/jni_android.cc
  base/strings/safe_sprintf_unittest.cc
  base/strings/string16.cc
  base/strings/string16.h
  cobalt/media/base/byte_queue.cc
  cobalt/media/filters/wsola_internals.cc
  net/filter/brotli_source_stream_unittest.cc
  net/http/http_chunked_decoder.cc
  net/http/http_stream_parser.cc
  net/server/http_connection.cc
  net/socket/tcp_client_socket_unittest.cc
  net/socket/tcp_server_socket_unittest.cc
  net/socket/tcp_socket_unittest.cc
  net/third_party/quic/core/crypto/null_encrypter.cc
  net/third_party/quic/core/quic_connection_test.cc
  net/third_party/quic/core/quic_framer.cc
  net/third_party/quic/platform/impl/batch_writer/quic_batch_writer_buffer.cc
  starboard/CHANGELOG.md
  starboard/benchmark/memory_benchmark.cc
  starboard/client_porting/poem/string_poem.h
  starboard/client_porting/walk_dir.py
  starboard/elf_loader/exported_symbols.cc
  starboard/memory.h
  starboard/nplb/memory_move_test.cc
  starboard/shared/iso/memory_move.cc
  starboard/shared/starboard/player/decoded_audio_internal.cc
  starboard/shared/starboard/player/filter/audio_time_stretcher.cc
  starboard/shared/starboard/player/filter/wsola_internal.cc
  starboard/shared/stub/memory_move.cc
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/mem_starboard.c
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/harfbuzz-ng/src/hb-starboard.hh
  third_party/protobuf/src/google/protobuf/stubs/strutil.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Fix MediaToSbMediaColorMetadata memcpy
  cobalt/media/base/starboard_utils.cc
Due: cpplint, clang-format

Deprecate SbMemoryFindByte
  starboard/CHANGELOG.md
  starboard/client_porting/walk_dir.py
  starboard/elf_loader/exported_symbols.cc
  starboard/memory.h
  starboard/nplb/memory_find_byte_test.cc
  starboard/shared/iso/memory_find_byte.cc
  starboard/shared/stub/memory_find_byte.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Deprecate SbMemoryIsAligned/AlignToPageSize
  starboard/CHANGELOG.md
  starboard/common/common_test.gyp
  starboard/common/memory.h
  starboard/common/memory_test.cc
  starboard/memory.h
  starboard/nplb/memory_align_to_page_size_test.cc
  starboard/nplb/memory_allocate_aligned_test.cc
  starboard/nplb/memory_map_test.cc
  starboard/shared/linux/page_internal.cc
Due: cpplint, cpplint_test, clang-format

Deprecate SbStringFindCharacter.
  cobalt/media/base/video_codecs.cc
  cobalt/overlay_info/overlay_info_registry.cc
  starboard/CHANGELOG.md
  starboard/android/shared/log_format.cc
  starboard/android/shared/media_is_supported.cc
  starboard/client_porting/poem/string_poem.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/string_find_character_test.cc
  starboard/shared/iso/string_find_character.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/shared/stub/string_find_character.cc
  starboard/shared/win32/log_file_impl.cc
  starboard/string.h
  testing/gtest/include/gtest/internal/gtest-port.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/bio/connect.c
  third_party/boringssl/src/crypto/conf/conf.c
  third_party/boringssl/src/crypto/err/err.c
  third_party/boringssl/src/crypto/x509v3/v3_alt.c
  third_party/boringssl/src/crypto/x509v3/v3_info.c
  third_party/boringssl/src/crypto/x509v3/v3_ncons.c
  third_party/boringssl/src/crypto/x509v3/v3_utl.c
  third_party/boringssl/src/ssl/d1_srtp.cc
  third_party/boringssl/src/ssl/t1_lib.cc
  third_party/harfbuzz-ng/src/hb-starboard.hh
Due: cpplint, cpplint_test, clang-format

Deprecate SbStringFindLastCharacter
  cobalt/browser/memory_tracker/tool/util.cc
  starboard/CHANGELOG.md
  starboard/client_porting/poem/string_poem.h
  starboard/common/log.cc
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/system_get_path.cc
  starboard/nplb/string_find_last_character_test.cc
  starboard/shared/iso/string_find_last_character.cc
  starboard/shared/stub/string_find_last_character.cc
  starboard/string.h
  testing/gtest/include/gtest/internal/gtest-port.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/icu/source/i18n/upluralrules.cpp
  third_party/protobuf/src/google/protobuf/io/coded_stream.cc
Due: cpplint, cpplint_test, clang-format

Deprecate SbStringFindString
  cobalt/browser/memory_tracker/tool/leak_finder_tool.cc
  cobalt/media/base/video_codecs.cc
  cobalt/media/media_module.cc
  starboard/CHANGELOG.md
  starboard/client_porting/poem/string_poem.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/string_find_string_test.cc
  starboard/nplb/system_get_property_test.cc
  starboard/shared/iso/string_find_string.cc
  starboard/shared/linux/system_get_used_cpu_memory.cc
  starboard/shared/starboard/player/filter/testing/test_util.cc
  starboard/shared/stub/string_find_string.cc
  starboard/string.h
  third_party/harfbuzz-ng/src/hb-starboard.hh
Due: cpplint, cpplint_test, clang-format

Starboard: Update starboard changelog.
  starboard/CHANGELOG.md
Due: none

Added more symbols to the C99 allowed list.
  starboard/doc/c99.md
Due: none

Rename the "disable_updates" launch parameter
  starboard/doc/evergreen/cobalt_evergreen_overview.md
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/tests/evergreen_lite_test.sh
  starboard/loader_app/loader_app.cc
  starboard/loader_app/loader_app_switches.cc
  starboard/loader_app/loader_app_switches.h
Due: cpplint, clang-format

Revert "[nplb] Remove H264 FHD 60fps test"
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

[nplb] Remove H264 FHD 60fps test
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Cleanup PoemFindCharacterInString.
  starboard/client_porting/poem/string_poem.h
  third_party/protobuf/src/google/protobuf/stubs/strutil.cc
Due: cpplint, clang-format

Starboard: Add SbTimeMonotonic timestamp into SbEvent.
  starboard/event.h
  starboard/shared/starboard/application.h
Due: cpplint, clang-format

Deprecate SbMemoryIsZero
  nb/multipart_allocator_test.cc
  starboard/CHANGELOG.md
  starboard/android/shared/accessibility_get_caption_settings.cc
  starboard/android/shared/accessibility_get_display_settings.cc
  starboard/android/shared/accessibility_get_text_to_speech_settings.cc
  starboard/android/shared/decode_target_get_info.cc
  starboard/common/memory.h
  starboard/linux/shared/decode_target_get_info.cc
  starboard/memory.h
  starboard/nplb/memory_is_zero_test.cc
  starboard/raspi/shared/open_max/decode_target_get_info.cc
  starboard/shared/posix/socket_bind.cc
  starboard/shared/stub/accessibility_get_caption_settings.cc
  starboard/shared/stub/accessibility_get_display_settings.cc
  starboard/shared/stub/accessibility_get_text_to_speech_settings.cc
  starboard/shared/win32/decode_target_internal.cc
  starboard/shared/win32/decrypting_decoder.cc
  starboard/shared/win32/socket_bind.cc
Due: cpplint, cpplint_test, clang-format

Deprecate SbMemoryIsZero
  nb/multipart_allocator_test.cc
  starboard/CHANGELOG.md
  starboard/android/shared/accessibility_get_caption_settings.cc
  starboard/android/shared/accessibility_get_display_settings.cc
  starboard/android/shared/accessibility_get_text_to_speech_settings.cc
  starboard/android/shared/decode_target_get_info.cc
  starboard/common/memory.h
  starboard/linux/shared/decode_target_get_info.cc
  starboard/memory.h
  starboard/nplb/memory_is_zero_test.cc
  starboard/raspi/shared/open_max/decode_target_get_info.cc
  starboard/shared/posix/socket_bind.cc
  starboard/shared/stub/accessibility_get_caption_settings.cc
  starboard/shared/stub/accessibility_get_display_settings.cc
  starboard/shared/stub/accessibility_get_text_to_speech_settings.cc
Due: cpplint, cpplint_test, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
