Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Use previous cpplint rules in precommit
  .pre-commit-config.yaml
Due: none

[Android] Target SDK 30
  starboard/android/apk/app/build.gradle
Due: none

Adding -v verbose flag to ninja run within Dockerfile. Still trying to troubleshoot resource issues running on GKE.
  docker/linux/android/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/evergreen/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/stub/Dockerfile
Due: none

Exclude logs in HTMLMediaElement::ScheduleEvent
  cobalt/dom/html_media_element.cc
Due: cpplint, clang-format

Fix timing-related hybrid nav crash
  cobalt/ui_navigation/nav_item.cc
Due: cpplint, clang-format

Log codec information before SbPlayerCreate()
  cobalt/media/base/starboard_player.cc
  starboard/common/media.cc
  starboard/common/media.h
Due: cpplint, clang-format

[zlib CP]Adding support for remaining deflate wrappers (zlib | raw) to compression_utils_portable
  third_party/zlib/google/compression_utils.cc
  third_party/zlib/google/compression_utils_portable.cc
  third_party/zlib/google/compression_utils_portable.h
Due: cpplint, clang-format

[zlib CP] zlib: Allowing compression level to be selected in utils
  third_party/zlib/google/compression_utils_portable.cc
  third_party/zlib/google/compression_utils_portable.h
Due: cpplint, clang-format

[BG] Cobalt: Fix polymorphic_downcast failure issue.
  cobalt/browser/web_module.cc
  cobalt/loader/image/failure_image_decoder.h
  cobalt/loader/image/image_decoder.cc
  cobalt/loader/image/image_decoder.h
  cobalt/loader/loader.gyp
Due: cpplint, clang-format

Build file changes to compile V8 8.8 Cobalt on Linux
  cobalt/script/v8c/v8c.gyp
  cobalt/script/v8c/v8c_variables.gypi
  tools/gyp/pylib/gyp/input.py
  v8/BUILD.gn
  v8/gypfiles/toolchain.gypi
  v8/src/inspector/inspector.gypi
  v8/src/v8.gyp
Due: yapf, pylint

Conditionally enable PDBs for docker or CI builds
  cobalt/build/cobalt_configuration.py
  starboard/win/shared/gyp_configuration.gypi
Due: yapf, pylint

Conditionally enable PDBs for docker or CI builds
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint

Update external docs with new workflow
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/overview.md
Due: none

Update cobalt.dev with latest content
  cobalt/site/docs/reference/starboard/gyp-configuration.md
  cobalt/site/docs/reference/starboard/modules/10/blitter.md
  cobalt/site/docs/reference/starboard/modules/10/configuration.md
  cobalt/site/docs/reference/starboard/modules/10/cryptography.md
  cobalt/site/docs/reference/starboard/modules/10/decode_target.md
  cobalt/site/docs/reference/starboard/modules/10/event.md
  cobalt/site/docs/reference/starboard/modules/10/image.md
  cobalt/site/docs/reference/starboard/modules/10/memory.md
  cobalt/site/docs/reference/starboard/modules/11/blitter.md
  cobalt/site/docs/reference/starboard/modules/11/configuration.md
  cobalt/site/docs/reference/starboard/modules/11/cpu_features.md
  cobalt/site/docs/reference/starboard/modules/11/cryptography.md
  cobalt/site/docs/reference/starboard/modules/11/decode_target.md
  cobalt/site/docs/reference/starboard/modules/11/egl.md
  cobalt/site/docs/reference/starboard/modules/11/event.md
  cobalt/site/docs/reference/starboard/modules/11/gles.md
  cobalt/site/docs/reference/starboard/modules/11/image.md
  cobalt/site/docs/reference/starboard/modules/11/memory.md
  cobalt/site/docs/reference/starboard/modules/12/configuration.md
  cobalt/site/docs/reference/starboard/modules/12/cpu_features.md
  cobalt/site/docs/reference/starboard/modules/12/decode_target.md
  cobalt/site/docs/reference/starboard/modules/12/egl.md
  cobalt/site/docs/reference/starboard/modules/12/event.md
  cobalt/site/docs/reference/starboard/modules/12/gles.md
  cobalt/site/docs/reference/starboard/modules/12/image.md
  cobalt/site/docs/reference/starboard/modules/12/memory.md
  cobalt/site/docs/reference/starboard/modules/12/ui_navigation.md
  cobalt/site/docs/reference/starboard/modules/configuration.md
  cobalt/site/docs/reference/starboard/modules/cpu_features.md
  cobalt/site/docs/reference/starboard/modules/decode_target.md
  cobalt/site/docs/reference/starboard/modules/egl.md
  cobalt/site/docs/reference/starboard/modules/event.md
  cobalt/site/docs/reference/starboard/modules/gles.md
  cobalt/site/docs/reference/starboard/modules/image.md
  cobalt/site/docs/reference/starboard/modules/memory.md
  cobalt/site/docs/reference/starboard/modules/ui_navigation.md
Due: none

Remove webdriver benchmarks (performance test) code.
  cobalt/webdriver_benchmarks/README.md
  cobalt/webdriver_benchmarks/__init__.py
Due: yapf, pylint

Fix typo in gyp win32 configuration
  starboard/win/shared/gyp_configuration.gypi
Due: none

Add the t1app channel for the multi-app test case
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Reset |player_| before creating a new StarboardPlayer
  cobalt/media/base/sbplayer_pipeline.cc
Due: cpplint, clang-format

Remove the sabi experimental API enforcement.
  starboard/android/shared/configuration_public.h
  starboard/linux/x64x11/configuration_public.h
  starboard/linux/x64x11/skia/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/stub/configuration_public.h
  starboard/win/shared/configuration_public.h
Due: cpplint, clang-format

Remove the sabi experimental API enforcement.
  starboard/android/shared/configuration_public.h
  starboard/linux/x64x11/configuration_public.h
  starboard/linux/x64x11/skia/configuration_public.h
  starboard/raspi/shared/configuration_public.h
  starboard/stub/configuration_public.h
Due: cpplint, clang-format

[BG] Clean up background mode demo page.
  cobalt/demos/content/background-mode-demo/background-mode-demo.js
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
