Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  stages:
  - push

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  stages:
  - push

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201
  stages:
  - push

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true
  stages:
  - push

Fix build number retrieval for gclient
  cobalt/build/gyp_utils.py
Due: yapf, pylint

Add docker container for building with clang 3.6
  docker-compose.yml
  docker/linux/android/Dockerfile
  docker/linux/base/Dockerfile
  docker/linux/base/build/Dockerfile
  docker/linux/clang-3-6/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/raspi/Dockerfile
  docker/linux/unittest/Dockerfile
  starboard/linux/x64x11/clang/3.6/compiler_flags.gypi
  starboard/linux/x64x11/clang/3.6/gyp_configuration.py
Due: yapf, pylint

Update logging initialization in multiple Python scripts.
  cobalt/build/gyp_cobalt
  starboard/build/collect_deploy_content.py
  starboard/build/gyp
  starboard/tools/app_launcher_packager.py
  starboard/tools/command_line.py
  starboard/tools/create_derived_build.py
Due: yapf, pylint

Tweak hybrid nav batch update with focus
  cobalt/ui_navigation/nav_item.cc
Due: cpplint, clang-format

Add more documentation, error-checking to Evergreen automated tests.
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/pprint.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/shared/drain_file.sh
  starboard/evergreen/testing/shared/init_logging.sh
  starboard/evergreen/testing/shared/installation_slot.sh
  starboard/evergreen/testing/shared/wait_and_watch.sh
  starboard/evergreen/testing/tests/abort_update_if_already_updating_test.sh
  starboard/evergreen/testing/tests/load_slot_being_updated_test.sh
  starboard/evergreen/testing/tests/racing_updaters_test.sh
  starboard/evergreen/testing/tests/update_works_for_only_one_app_test.sh
  starboard/evergreen/testing/tests/valid_slot_overwritten_test.sh
Due: none

Add tests for reasonable codec queries
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

Create setup script for QOL
  download_resources.py
Due: yapf, pylint

Run cobalt bindings presubmit tests with python2
  cobalt/bindings/run_cobalt_bindings_tests.bat
  cobalt/bindings/run_cobalt_bindings_tests.py
  cobalt/bindings/run_cobalt_bindings_tests.sh
Due: yapf, pylint

Add register callback function for media session extension.
  cobalt/extension/media_session.h
  cobalt/media_session/media_session_client.cc
  starboard/android/shared/android_media_session_client.cc
  starboard/android/shared/android_media_session_client.h
Due: cpplint, clang-format

Sync keyboxes on checkout
  .pre-commit-config.yaml
Due: none

Revert "Sync keyboxes on checkout"
  .pre-commit-config.yaml
Due: none

Fix Intersection Observer implicit root bug
  cobalt/layout/box_generator.cc
  cobalt/layout/intersection_observer_target.cc
  cobalt/layout/intersection_observer_target.h
  cobalt/layout_tests/testdata/web-platform-tests/intersection-observer/web_platform_tests.txt
  third_party/web_platform_tests/intersection-observer/multiple-targets.html
  third_party/web_platform_tests/intersection-observer/multiple-thresholds.html
  third_party/web_platform_tests/intersection-observer/observer-without-js-reference.html
  third_party/web_platform_tests/intersection-observer/same-document-no-root.html
  third_party/web_platform_tests/intersection-observer/same-document-zero-size-target.html
  third_party/web_platform_tests/intersection-observer/text-target.html
  third_party/web_platform_tests/intersection-observer/zero-area-element-visible.html
Due: cpplint, clang-format

Add fallback_splash_screen_topics command line flag.
  cobalt/browser/application.cc
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
Due: cpplint, clang-format

Add custom precommit hooks framework
  .pre-commit-config.yaml
Due: none

[Android] Fix fps media selection logic
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
Due: google-java-format, gcheckstyle

Filter failing android-x86 unit tests
  starboard/android/shared/cobalt/__init__.py
  starboard/android/x86/__init__.py
  starboard/android/x86/cobalt/__init__.py
  starboard/android/x86/cobalt/configuration.py
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Add SplashScreenFallbackTopics to ConfigurationApi.
  cobalt/browser/application.cc
  cobalt/configuration/configuration.cc
  cobalt/configuration/configuration.h
  cobalt/extension/configuration.h
  cobalt/extension/extension_test.cc
  starboard/android/shared/configuration.cc
  starboard/common/configuration_defaults.cc
  starboard/common/configuration_defaults.h
  starboard/linux/shared/configuration.cc
  starboard/linux/x64x11/gczeal/configuration.cc
  starboard/linux/x64x11/skia/configuration.cc
  starboard/raspi/2/skia/configuration.cc
  starboard/raspi/shared/configuration.cc
  starboard/stub/configuration.cc
Due: cpplint, cpplint_test, clang-format

Add SplashScreenFallbackTopics to ConfigurationApi.
  cobalt/browser/application.cc
  cobalt/configuration/configuration.cc
  cobalt/configuration/configuration.h
  cobalt/extension/configuration.h
  cobalt/extension/extension_test.cc
  starboard/android/shared/configuration.cc
  starboard/common/configuration_defaults.cc
  starboard/common/configuration_defaults.h
  starboard/linux/shared/configuration.cc
  starboard/linux/x64x11/gczeal/configuration.cc
  starboard/linux/x64x11/skia/configuration.cc
  starboard/raspi/2/skia/configuration.cc
  starboard/raspi/shared/configuration.cc
  starboard/shared/win32/configuration.cc
  starboard/stub/configuration.cc
Due: cpplint, cpplint_test, clang-format

Allow for per-topic SplashScreen caching.
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/splash_screen_cache.cc
  cobalt/browser/splash_screen_cache.h
  cobalt/browser/web_module.cc
  cobalt/dom/html_link_element.cc
  cobalt/dom/window.cc
  cobalt/dom/window.h
Due: cpplint, clang-format

Set XHR download buffer preallocate cap to 10MB
  cobalt/xhr/url_fetcher_buffer_writer.cc
Due: cpplint, clang-format

Filter more android-x86 unit tests
  starboard/android/x86/gyp_configuration.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$
  pylint: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
