Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Migrate from libjpeg to libjpeg-turbo
  cobalt/loader/image/jpeg_image_decoder.cc
  cobalt/loader/image/jpeg_image_decoder.h
  cobalt/loader/loader.gyp
  starboard/linux/x64x11/shared/starboard_platform.gypi
  starboard/shared/libjpeg/jpeg_image_decoder.cc
  third_party/libjpeg-turbo/BUILD.gn
  third_party/libjpeg-turbo/libjpeg.gyp
Due: cpplint, clang-format

Unicode range implementation.
  cobalt/dom/font_cache.cc
  cobalt/dom/font_cache.h
  cobalt/dom/font_cache_test.cc
  cobalt/dom/font_face.cc
  cobalt/dom/font_face.h
  cobalt/dom/font_face_updater.cc
  cobalt/dom/font_list.cc
  cobalt/dom/font_list.h
  cobalt/layout_tests/testdata/css3-fonts/4-5-prefer-later-face-with-close-style-over-earlier-face-with-unicode-range-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-5-prefer-later-face-with-close-style-over-earlier-face-with-unicode-range.html
  cobalt/layout_tests/testdata/css3-fonts/4-5-use-correct-font-with-unicode-range-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-5-use-correct-font-with-unicode-range.html
  cobalt/layout_tests/testdata/css3-fonts/layout_tests.txt
Due: cpplint, cpplint_test, clang-format

Fix the elf_loader_sys_sandbox target.
  starboard/elf_loader/elf_loader.gyp
Due: none

Add override parameters for UA string fields
  cobalt/black_box_tests/testdata/override_ua_parameters.html
  cobalt/black_box_tests/tests/override_ua_parameters.py
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/browser/user_agent_string_test.cc
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Fix coeg-on-raspi tests so they log an actual PID.
  starboard/evergreen/testing/raspi/start_cobalt.sh
Due: none

Fix dependency vulnerability in WPT
  third_party/web_platform_tests/tools/wpt/requirements.txt
Due: none

Update the Evergreen raspi instruction
  starboard/doc/evergreen/cobalt_evergreen_reference_port_raspi2.md
Due: none

Remove surrounding quotes around param value
  starboard/shared/starboard/player/filter/testing/adaptive_audio_decoder_test.cc
  starboard/shared/starboard/player/filter/testing/audio_decoder_test.cc
Due: cpplint_test, clang-format

Pass file MIME string for test files
  starboard/shared/starboard/player/filter/testing/test_util.cc
Due: cpplint, clang-format

Make script compatible with python3
  starboard/_env.py
  starboard/sabi/_env.py
  starboard/sabi/omaha_request.py
Due: yapf, pylint

[android] Fix bug causing unplayable videos
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format

[GN] Add missing evergreen test case
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
Due: none

Fix inline box child box after wrap misalignment
  cobalt/layout/box.cc
  cobalt/layout/box.h
  cobalt/layout/box_generator.cc
  cobalt/layout/inline_container_box.cc
  cobalt/layout/inline_container_box.h
  cobalt/layout/used_style.cc
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-bidi-split-occurs-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-bidi-split-occurs.html
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-2-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-2.html
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs-expected.png
  cobalt/layout_tests/testdata/css-2-1/9-4-2-margins-borders-paddings-should-have-no-visual-effect-when-split-occurs.html
  cobalt/layout_tests/testdata/css-2-1/layout_tests.txt
  cobalt/layout_tests/testdata/css-text-3/5-collapsible-leading-white-space-should-not-prevent-soft-wrap-opportunity-expected.png
Due: cpplint, clang-format

Fix platform service DCHECK on null data
  cobalt/h5vcc/h5vcc_platform_service.cc
Due: cpplint, clang-format

Add integration test for progressive playback
  cobalt/media_integration_tests/functionality/general_playback.py
  cobalt/media_integration_tests/functionality/suspend_resume.py
  cobalt/media_integration_tests/test_util.py
Due: yapf, pylint

Defensive coding for NullPointerException on CobaltMediaSession
  starboard/android/apk/app/src/main/java/dev/cobalt/media/CobaltMediaSession.java
Due: google-java-format, gcheckstyle

Allow duplicate fonts.
  cobalt/dom/font_list.cc
  cobalt/dom/font_list.h
  cobalt/layout_tests/testdata/css3-fonts/4-5-use-correct-font-with-unicode-range.html
Due: cpplint, clang-format

[android] Populate error_message on MIME error
  starboard/android/shared/player_components_factory.h
Due: cpplint, clang-format

Add trigger for kSbEventDateTimeConfigurationChanged on Android TV
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltSystemConfigChangeReceiver.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Revert "Fix xb1 compilation failure due to typo in comment"
  base/files/file_path.cc
  base/files/file_path.h
  base/files/file_path_unittest.cc
Due: cpplint, cpplint_test, clang-format

Refine error message on creating player components
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
Due: cpplint, clang-format

Revert "Unicode range implementation."
  cobalt/dom/font_cache.cc
  cobalt/dom/font_cache.h
  cobalt/dom/font_cache_test.cc
  cobalt/dom/font_face.cc
  cobalt/dom/font_face.h
  cobalt/dom/font_face_updater.cc
  cobalt/dom/font_list.cc
  cobalt/dom/font_list.h
  cobalt/layout_tests/testdata/css3-fonts/4-5-prefer-later-face-with-close-style-over-earlier-face-with-unicode-range-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-5-prefer-later-face-with-close-style-over-earlier-face-with-unicode-range.html
  cobalt/layout_tests/testdata/css3-fonts/4-5-use-correct-font-with-unicode-range-expected.png
  cobalt/layout_tests/testdata/css3-fonts/4-5-use-correct-font-with-unicode-range.html
  cobalt/layout_tests/testdata/css3-fonts/layout_tests.txt
Due: cpplint, cpplint_test, clang-format

Adds Stadia service Starboard classes.
  starboard/contrib/stadia/README.md
  starboard/contrib/stadia/clients/vendor/public/stadia_lifecycle.h
  starboard/contrib/stadia/clients/vendor/public/stadia_plugin.h
  starboard/contrib/stadia/get_platform_service_api.cc
  starboard/contrib/stadia/get_platform_service_api.h
Due: cpplint, clang-format

Modifies Stadia's public header files to be more useful with dynamic linking.
  starboard/contrib/stadia/clients/vendor/public/stadia_export.h
  starboard/contrib/stadia/clients/vendor/public/stadia_lifecycle.h
  starboard/contrib/stadia/clients/vendor/public/stadia_plugin.h
Due: cpplint, clang-format

Adds an example build configuration for Stadia.
  starboard/contrib/linux/README.md
  starboard/contrib/linux/stadia/__init__.py
  starboard/contrib/linux/stadia/atomic_public.h
  starboard/contrib/linux/stadia/configuration_public.h
  starboard/contrib/linux/stadia/gyp_configuration.gypi
  starboard/contrib/linux/stadia/gyp_configuration.py
  starboard/contrib/linux/stadia/libraries.gypi
  starboard/contrib/linux/stadia/main.cc
  starboard/contrib/linux/stadia/starboard_platform.gyp
  starboard/contrib/linux/stadia/system_get_extensions.cc
  starboard/contrib/linux/stadia/thread_types_public.h
  starboard/contrib/stadia/README.md
  starboard/contrib/stadia/get_platform_service_api.cc
  starboard/contrib/stadia/x11/application_stadia_x11.cc
  starboard/contrib/stadia/x11/application_stadia_x11.h
Due: cpplint, yapf, pylint, clang-format

Fix YT App crashes when deeplinking to Music tab.
  cobalt/loader/image/image_decoder.cc
Due: cpplint, clang-format

Revert "Fix YT App crashes when deeplinking to Music tab."
  cobalt/loader/image/image_decoder.cc
Due: cpplint, clang-format
