Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[linux] Add modp_b64 to deps
  starboard/linux/shared/BUILD.gn
Due: none

Modify windows base build GN version
  docker/windows/base/build/Dockerfile
Due: none

worker-src
  cobalt/csp/content_security_policy.cc
  cobalt/csp/content_security_policy.h
  cobalt/csp/content_security_policy_test.cc
  cobalt/csp/directive_list.cc
  cobalt/csp/directive_list.h
  cobalt/web/csp_delegate.cc
  cobalt/web/csp_delegate.h
  cobalt/web/csp_delegate_test.cc
Due: cpplint, cpplint_test, clang-format

Persist ServiceWorkerRegistrationMap
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/service_worker_persist_test.html
  cobalt/black_box_tests/testdata/service_worker_persist_test_script.js
  cobalt/black_box_tests/testdata/service_worker_test_script.js
  cobalt/black_box_tests/tests/service_worker_persist_test.py
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/service_worker_registry.cc
  cobalt/browser/service_worker_registry.h
  cobalt/cache/cache.cc
  cobalt/h5vcc/h5vcc_storage.cc
  cobalt/h5vcc/h5vcc_storage_resource_type_quota_bytes_dictionary.idl
  cobalt/worker/BUILD.gn
  cobalt/worker/service_worker.cc
  cobalt/worker/service_worker_jobs.cc
  cobalt/worker/service_worker_jobs.h
  cobalt/worker/service_worker_object.cc
  cobalt/worker/service_worker_persistent_settings.cc
  cobalt/worker/service_worker_persistent_settings.h
  cobalt/worker/service_worker_registration_map.cc
  cobalt/worker/service_worker_registration_map.h
  net/disk_cache/cobalt/resource_type.h
Due: cpplint, yapf, pylint, clang-format

[PS4][PS5] Add shaders
  cobalt/renderer/glimp_shaders/glsl/fragment_skia_color_texture_14.glsl
Due: none

Fix caching blackboxtest with new storage type added
  cobalt/black_box_tests/testdata/http_cache.html
Due: none

[media] Cleanup DataSource and BufferedDataSource
  cobalt/dom/html_media_element.cc
  cobalt/media/BUILD.gn
  cobalt/media/base/data_source.h
  cobalt/media/player/buffered_data_source.h
  cobalt/media/player/web_media_player.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/player/web_media_player_proxy.cc
  cobalt/media/player/web_media_player_proxy.h
  cobalt/media/progressive/demuxer_extension_wrapper_test.cc
  cobalt/media/progressive/progressive_demuxer.cc
  cobalt/media/progressive/progressive_parser.cc
  cobalt/media/progressive/progressive_parser.h
  cobalt/media/sandbox/web_media_player_helper.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/media/url_fetcher_data_source.h
Due: cpplint, cpplint_test, clang-format

Disable frequently flaky network test
  net/spdy/spdy_network_transaction_unittest.cc
Due: cpplint_test, clang-format

Disabling flaky blackboxtests
  cobalt/build/cobalt_configuration.py
Due: yapf, pylint

Split layout test to emoji and non-emoji
  cobalt/layout_tests/testdata/BUILD.gn
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-emoji-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-emoji.html
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-non-emoji-expected.png
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-non-emoji.html
  cobalt/layout_tests/testdata/css3-fonts/layout_tests.txt
  starboard/android/shared/cobalt/configuration.py
Due: yapf, pylint

[media] Bring up fdk-aac decoder
  starboard/linux/shared/BUILD.gn
  starboard/linux/shared/player_components_factory.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.cc
  starboard/shared/libfdkaac/fdk_aac_audio_decoder.h
  starboard/shared/libfdkaac/libfdkaac_library_loader.cc
  starboard/shared/libfdkaac/libfdkaac_library_loader.h
  third_party/libfdkaac/LICENSE
  third_party/libfdkaac/include/FDK_audio.h
  third_party/libfdkaac/include/aacdecoder_lib.h
  third_party/libfdkaac/include/genericStds.h
  third_party/libfdkaac/include/machine_type.h
  third_party/libfdkaac/include/syslib_channelMapDescr.h
Due: cpplint, clang-format

[media] Implement FileDataSource
  cobalt/media/BUILD.gn
  cobalt/media/file_data_source.cc
  cobalt/media/file_data_source.h
  cobalt/media/file_data_source_test.cc
  cobalt/media/sandbox/format_guesstimator.cc
  cobalt/media/sandbox/web_media_player_helper.cc
  cobalt/media/testing/BUILD.gn
  cobalt/media/testing/data/progressive_aac_44100_stereo_h264_1280_720.mp4.sha1
  cobalt/media/testing/data/sha_files.gni
Due: cpplint, cpplint_test, clang-format

Update GameActivity to 1.2.2-alpha01
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/proguard-rules.pro
  starboard/android/apk/app/src/main/java/dev/cobalt/libraries/game_activity/README.md
  starboard/android/apk/app/src/main/java/dev/cobalt/libraries/game_activity/games-activity-1.2.1.aar
  starboard/android/apk/app/src/main/java/dev/cobalt/libraries/game_activity/games-activity-1.2.2-alpha01.aar
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_main.cc
  starboard/android/shared/application_android.h
  starboard/android/shared/input_events_generator.h
  starboard/tools/unzip_file.py
  third_party/android_game_activity/README.md
  third_party/android_game_activity/include/game-activity/GameActivity.cpp
  third_party/android_game_activity/include/game-activity/GameActivity.h
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.c
  third_party/android_game_activity/include/game-activity/native_app_glue/android_native_app_glue.h
  third_party/android_game_activity/include/game-text-input/gamecommon.h
  third_party/android_game_activity/include/game-text-input/gametextinput.cpp
  third_party/android_game_activity/include/game-text-input/gametextinput.h
  third_party/android_game_activity/module.json
Due: cpplint, yapf, pylint, clang-format

[XB1] AV1 integration on Xbox Series
  starboard/shared/win32/media_common.cc
  starboard/shared/win32/media_common.h
  starboard/shared/win32/video_decoder.cc
  third_party/angle/src/libANGLE/renderer/d3d/d3d11/Renderer11.cpp
Due: cpplint, clang-format

Use const reference for Optional, Sequence, and Union arguments.
  cobalt/bindings/contexts.py
  cobalt/web/on_error_event_listener.h
Due: cpplint, yapf, pylint, clang-format

Create refcounted objects for message.source in the correct thread.
  cobalt/worker/service_worker_jobs.cc
Due: cpplint, clang-format

Don't send pointerup if pointer was canceled
  cobalt/dom/pointer_state.cc
  cobalt/dom/pointer_state.h
  cobalt/layout/topmost_event_target.cc
Due: cpplint, clang-format

Have box coordinates account for scroll
  cobalt/layout/box.cc
  cobalt/layout/box.h
Due: cpplint, clang-format

Add option to pass gtest_filters to WPT
  cobalt/black_box_tests/tests/web_platform_tests.py
Due: yapf, pylint

Fix cache failures on WebPlatformTests
  cobalt/cache/cache.h
Due: cpplint, clang-format

Snooze libunwind debugwarnings by default
  third_party/llvm-project/libunwind/BUILD.gn
Due: none

[arraybuffer] Enable move of PreallocatedArrayBufferData
  cobalt/bindings/testing/array_buffers_test.cc
  cobalt/script/array_buffer.h
  cobalt/script/v8c/v8c_array_buffer.cc
  cobalt/xhr/url_fetcher_buffer_writer.cc
  cobalt/xhr/xml_http_request.cc
Due: cpplint, cpplint_test, clang-format

Use the cache directory for PersistentSettings.
  cobalt/persistent_storage/persistent_settings.cc
  cobalt/persistent_storage/persistent_settings.h
  cobalt/persistent_storage/persistent_settings_test.cc
Due: cpplint, cpplint_test, clang-format

[Watchdog] Improve monitor loop frequency.
  cobalt/watchdog/watchdog.cc
Due: cpplint, clang-format

Add GN toggle for disabling cc_wrapper
  build/toolchain/cc_wrapper.gni
Due: none

[android] Filter audio decoder invalid input tests
  starboard/android/shared/test_filters.py
Due: yapf, pylint

Revert "Require kSbSystemPathStorageDirectory on all platforms."
  starboard/CHANGELOG.md
  starboard/nplb/system_get_path_test.cc
Due: cpplint_test, clang-format

[TVOS] Fix scrolling crash
  cobalt/ui_navigation/scroll_engine/scroll_engine.cc
Due: cpplint, clang-format

Implement failover shard configuration parsing
  starboard/tools/testing/sharding_configuration.json
  starboard/tools/testing/test_runner.py
  starboard/tools/testing/test_sharding.py
  starboard/tools/testing/test_sharding_test.py
Due: yapf, pylint

Change multi-line escape character in win runner Dockerfile.
  docker/windows/runner/Dockerfile
Due: none

Add change id to ODT watch command
  .github/actions/on_device_tests/action.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Add change id to ODT watch command
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint
