Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Fix merge conflicts in V8 8.8 rebase
  v8/src/api/api.cc
  v8/src/builtins/x64/builtins-x64.cc
  v8/src/codegen/code-desc.h
  v8/src/compiler/pipeline.cc
  v8/src/execution/isolate.cc
  v8/src/execution/isolate.h
  v8/src/heap/factory.cc
  v8/src/objects/code-inl.h
  v8/src/objects/code.cc
  v8/src/objects/code.h
  v8/src/parsing/scanner-character-streams.cc
  v8/src/wasm/module-compiler.cc
  v8/test/cctest/test-code-layout.cc
Due: cpplint, clang-format

Deprecate SbSystemSort
  cobalt/site/docs/reference/starboard/modules/system.md
  starboard/client_porting/poem/stdlib_poem.h
  starboard/configuration.h
  starboard/doc/c99.md
  starboard/elf_loader/exported_symbols.cc
  starboard/nplb/system_sort_test.cc
  starboard/system.h
  third_party/boringssl/src/config/starboard/openssl/opensslconf.h
  third_party/boringssl/src/crypto/asn1/tasn_enc.c
  third_party/boringssl/src/crypto/bytestring/cbb.c
  third_party/boringssl/src/crypto/stack/stack.c
  third_party/boringssl/src/ssl/ssl_privkey.cc
  third_party/boringssl/src/ssl/t1_lib.cc
  third_party/flac/src/libFLAC/format.c
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/harfbuzz-ng/src/hb-starboard.hh
  third_party/libwebp/src/enc/vp8l_enc.c
  third_party/musl/musl.gyp
Due: cpplint, cpplint_test, clang-format

CoAT use system proxy settings
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: google-java-format, gcheckstyle

[NX] Cobalt crashes in media_session_client
  cobalt/media_session/media_session_client.cc
Due: cpplint, clang-format

Utilize GooGet installed winflexbison.
  cobalt/css_parser/css_parser.gyp
Due: none

Add sccache build acceleration to playstation compilers.
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

FreeType patch for broken WOFF2 face_index.
  cobalt/layout_tests/testdata/css3-fonts/5-2-use-system-fallback-if-no-matching-family-is-found-expected.png
  third_party/freetype2/src/base/ftobjs.c
Due: none

FreeType patch for broken WOFF2 face_index.
  third_party/freetype2/src/base/ftobjs.c
Due: none

Delete unused script using gsutil
  build/download_gold_plugin.py
Due: yapf, pylint

[android] Implement tunnel mode video playback
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Replace gsutil.py references with gsutil
  tools/clang/scripts/package.py
Due: yapf, pylint

Replace gsutil.py references in toolchain
  build/download_gold_plugin.py
Due: yapf, pylint

Update hybrid nav to ignore old focus update messages
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
Due: cpplint, clang-format

[android] Change audio bitrate lower bound to 0
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint, google-java-format, gcheckstyle

Fix links on cobalt.dev
  cobalt/site/docs/development/setup-raspi.md
  cobalt/site/docs/starboard/testing.md
Due: none

Send kSbEventTypeLowMemory Event
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  starboard/android/shared/application_android.cc
  starboard/android/shared/application_android.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Revert "[android] Change audio bitrate lower bound to 0"
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/gyp_configuration.py
Due: yapf, pylint, google-java-format, gcheckstyle

Add support for hybrid nav focus timer
  cobalt/dom/html_element.cc
  cobalt/dom/html_element.h
  cobalt/ui_navigation/interface.cc
  cobalt/ui_navigation/interface.h
  cobalt/ui_navigation/nav_item.cc
  cobalt/ui_navigation/nav_item.h
  starboard/ui_navigation.h
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
