Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Enable Win32 GN builds within docker containers
  starboard/build/config/BUILDCONFIG.gn
Due: none

[Android]: Fix YT app crash when suspending.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
Due: google-java-format, gcheckstyle

Softmic alloc-dealloc-mismatch bug fix.
  starboard/linux/shared/soft_mic_platform_service.cc
Due: cpplint, clang-format

Make cpplint_test check verbosity level 4
  .pre-commit-config.yaml
  cobalt/network/persistent_cookie_store_test.cc
  components/update_client/cobalt_slot_management_test.cc
Due: cpplint_test, clang-format

[GN] Migrate convert_i18n_data to gn
  starboard/build/convert_i18n_data.gni
  starboard/build/convert_i18n_data.py
  starboard/win/shared/BUILD.gn
Due: yapf, pylint

Fix VideoFrameReleaseTimeHelper.java lint error
  starboard/android/apk/app/src/main/java/dev/cobalt/media/VideoFrameReleaseTimeHelper.java
Due: google-java-format, gcheckstyle

Updates H5VCC ReceiveCallback to take a const pointer.
  cobalt/extension/platform_service.h
  cobalt/h5vcc/h5vcc_platform_service.cc
  cobalt/h5vcc/h5vcc_platform_service.h
Due: cpplint, clang-format

Revert "[GN][NX] Deprecate system_gles3"
  starboard/egl_and_gles/BUILD.gn
Due: none

[GN] Allow /WX to be overridden
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/win/shared/platform_configuration/BUILD.gn
  third_party/angle/BUILD.gn
Due: none

[GN] Add sccache to windows builds
  build/toolchain/cc_wrapper.gni
  build/toolchain/gcc_toolchain.gni
  build/toolchain/win/msvc_toolchain.gni
Due: none

[GN][PS4] Always use no_rtti
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/config/base_configuration.gni
Due: none

Make convert_i18n_data.py py3 compatible
  starboard/build/convert_i18n_data.py
Due: yapf, pylint

Fix for doing Source Build.
  cobalt/layout_tests/testdata/BUILD.gn
Due: none

SoftMic Open fix name deallocation for evergreen.
  starboard/linux/shared/soft_mic_platform_service.cc
Due: cpplint, clang-format

[GN] Add option to enable --check when running gn gen
  cobalt/build/gn.py
Due: yapf, pylint

[GN] Print the gn command that is run
  cobalt/build/gn.py
Due: yapf, pylint

[GN] migrate loader/image/sandbox
  cobalt/BUILD.gn
  cobalt/loader/image/sandbox/BUILD.gn
Due: none

Ensure Python 2 is default in Docker containers
  docker/windows/base/build/Dockerfile
  docker/windows/win32/Dockerfile
Due: none

[Android]: Fix foreground service crash on bad notification.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/MediaPlaybackService.java
Due: google-java-format, gcheckstyle

[GN] Migrate speech/sandbox
  cobalt/BUILD.gn
  cobalt/speech/sandbox/BUILD.gn
Due: none

Updating public docs for Linux and Raspi.
  cobalt/site/docs/development/setup-android.md
  cobalt/site/docs/development/setup-docker.md
  cobalt/site/docs/development/setup-linux.md
  cobalt/site/docs/development/setup-raspi.md
Due: none

[GN] Migrate renderer/sandbox
  cobalt/BUILD.gn
  cobalt/renderer/sandbox/BUILD.gn
  cobalt/renderer/test/scenes/BUILD.gn
Due: none

[GN] Migrate media/sandbox to GN
  cobalt/BUILD.gn
  cobalt/demos/content/BUILD.gn
  cobalt/media/sandbox/BUILD.gn
Due: none

[GN] Disable compiling ffmpeg_linked for linux
  starboard/shared/ffmpeg/BUILD.gn
Due: none

[GN]Move TestFilters out of gyp_configuration.py
  starboard/android/arm/test_filters.py
  starboard/android/arm64/test_filters.py
  starboard/android/arm64/vulkan/test_filters.py
  starboard/android/shared/test_filters.py
  starboard/android/x86/test_filters.py
  starboard/evergreen/arm/hardfp/test_filters.py
  starboard/evergreen/arm/shared/test_filters.py
  starboard/evergreen/arm/softfp/test_filters.py
  starboard/evergreen/arm64/test_filters.py
  starboard/evergreen/shared/test_filters.py
  starboard/evergreen/x64/test_filters.py
  starboard/evergreen/x86/test_filters.py
  starboard/linux/shared/test_filters.py
  starboard/linux/x64x11/clang/3.9/test_filters.py
  starboard/linux/x64x11/egl/test_filters.py
  starboard/linux/x64x11/gcc/6.3/test_filters.py
  starboard/linux/x64x11/skia/test_filters.py
  starboard/linux/x64x11/test_filters.py
  starboard/raspi/2/skia/test_filters.py
  starboard/raspi/2/test_filters.py
  starboard/raspi/shared/test_filters.py
  starboard/shared/win32/test_filters.py
  starboard/stub/test_filters.py
  starboard/tools/build.py
  starboard/tools/testing/test_runner.py
  starboard/win/win32/test_filters.py
Due: yapf, pylint

[GN] Disable ffmpeg_linked for linux only
  starboard/shared/ffmpeg/BUILD.gn
Due: none

[Raspi] Set arena max to 2 to slow memory growth.
  starboard/raspi/shared/main.cc
Due: cpplint, clang-format

Adding $ sign to Raspi docs to be consistent.
  cobalt/site/docs/development/setup-raspi.md
Due: none

Additional doc clarification for Raspi.
  cobalt/site/docs/development/setup-raspi.md
Due: none

[GN] Migrate app_launcher_zip to gn
  starboard/BUILD.gn
  starboard/tools/BUILD.gn
  starboard/tools/app_launcher_packager.py
  starboard/tools/tools.gyp
Due: yapf, pylint

[GN] Fix output path for speech testdata
  cobalt/speech/BUILD.gn
Due: none

[GN] Fix failing tests in base_unittests.
  base/BUILD.gn
Due: none

Make _env.py py3 compatible
  cobalt/media_integration_tests/_env.py
Due: yapf, pylint
