Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[GN] Migrate common_test
  starboard/common/BUILD.gn
Due: none

Revert "Fix Angled Linear Gradient."
  cobalt/layout_tests/testdata/css3-images/layout_tests.txt
  cobalt/renderer/rasterizer/egl/draw_rect_linear_gradient.cc
  cobalt/renderer/rasterizer/testdata/LinearGradient3Stops210DegreesInset-expected.png
  cobalt/renderer/rasterizer/testdata/LinearGradient3Stops30DegreesInset-expected.png
  cobalt/renderer/rasterizer/testdata/LinearGradient5Stops150DegreesOutset-expected.png
  cobalt/renderer/rasterizer/testdata/LinearGradient5Stops330DegreesOutset-expected.png
Due: cpplint, clang-format

[GN] Use sb_static_contents_output_data_dir in tests
  cobalt/loader/BUILD.gn
  cobalt/renderer/BUILD.gn
  net/BUILD.gn
  third_party/zlib/google/test/BUILD.gn
Due: none

[GN] Add net_unittests to windows
  net/BUILD.gn
  third_party/angle/BUILD.gn
Due: none

[GN] Add install targets for evergreen
  starboard/evergreen/shared/platform_configuration/configuration.gni
  starboard/evergreen/shared/strip_install_target.gni
  starboard/evergreen/x64/install_target.gni
  starboard/evergreen/x64/toolchain/strip.gni
Due: none

[GN] Handle cobalt_font_package == empty
  cobalt/browser/BUILD.gn
  cobalt/content/fonts/BUILD.gn
Due: none

[GN] Explicitly set script_executable to python3
  .gn
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN][Crosstool] Migrate linux clang crosstool
  starboard/build/platforms.py
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/x64x11/shared/platform_configuration/BUILD.gn
Due: yapf, pylint

[GN] Remove content_deps from install_target
  starboard/raspi/shared/install_target.gni
Due: none

[GN] Disable asan on android by default
  starboard/android/arm/platform_configuration/BUILD.gn
  starboard/android/shared/platform_configuration/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Add missing install content dependencies
  cobalt/audio/BUILD.gn
  cobalt/base/BUILD.gn
  cobalt/extension/BUILD.gn
  cobalt/math/BUILD.gn
  cobalt/media/sandbox/BUILD.gn
  cobalt/overlay_info/BUILD.gn
  cobalt/renderer/backend/BUILD.gn
  cobalt/storage/store/BUILD.gn
  cobalt/websocket/BUILD.gn
  components/update_client/BUILD.gn
  crypto/BUILD.gn
  nb/BUILD.gn
  starboard/BUILD.gn
  starboard/client_porting/cwrappers/BUILD.gn
  starboard/client_porting/eztime/BUILD.gn
  starboard/client_porting/poem/BUILD.gn
  starboard/elf_loader/BUILD.gn
  starboard/examples/window/BUILD.gn
  starboard/loader_app/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/nplb/nplb_evergreen_compat_tests/BUILD.gn
  starboard/nplb/testdata/file_tests/BUILD.gn
  starboard/shared/starboard/player/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/shared/starboard/player/filter/tools/BUILD.gn
  third_party/zlib/BUILD.gn
  third_party/zlib/google/test/BUILD.gn
Due: none

[GN] Remove unused sb_pedantic_warnings var
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: none

[GN] Don't override install_target deps
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Migrate evergreen-arm-hardfp platform.
  base/BUILD.gn
  build/toolchain/gcc_toolchain.gni
  starboard/build/config/BUILD.gn
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/platforms.py
  starboard/evergreen/arm/hardfp/args.gn
  starboard/evergreen/arm/hardfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/hardfp/platform_configuration/configuration.gni
  starboard/evergreen/arm/hardfp/toolchain/BUILD.gn
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  third_party/libjpeg-turbo/BUILD.gn
  third_party/zlib/BUILD.gn
Due: yapf, pylint

[GN] Make template parameter passing more explicit
  starboard/android/shared/install_target.gni
  starboard/build/install/install_target.gni
  starboard/evergreen/shared/strip_install_target.gni
  starboard/raspi/shared/install_target.gni
Due: none

Remove techdebt for deploying DLLs for Win32 build
  starboard/shared/win32/gyp_configuration.py
Due: yapf, pylint

[nplb] Refine SbMediaCanPlayMimeAndKeySystem.PrintMaximumSupport
  starboard/nplb/media_can_play_mime_and_key_system_test.cc
Due: cpplint_test, clang-format

[GN] Rename mock_install to no_install
  starboard/build/config/base_configuration.gni
  starboard/build/install/no_install.gni
  starboard/win/shared/platform_configuration/configuration.gni
Due: none

[GN] Correct darwin content copying during install
  starboard/build/config/install.gni
Due: none

Fix lint issues in win32 gyp_configuration
  starboard/shared/win32/gyp_configuration.py
Due: yapf, pylint

[GN] Build cobalt install target by default
  cobalt/BUILD.gn
Due: none

[GN] Build app_launcher.zip by default
  BUILD.gn
  starboard/BUILD.gn
Due: none

Make EG launcher compatible with install targets
  starboard/evergreen/shared/launcher.py
Due: yapf, pylint

[GN] Add some missing content_deps for evergreen
  starboard/elf_loader/BUILD.gn
  third_party/crashpad/handler/BUILD.gn
Due: none

[GN] Disable asan on most platforms by default
  starboard/build/config/BUILDCONFIG.gn
Due: none

Declare GN argument to build against next version of Skia.
  cobalt/renderer/BUILD.gn
  cobalt/renderer/rasterizer/egl/BUILD.gn
  cobalt/renderer/rasterizer/skia/BUILD.gn
  cobalt/renderer/rasterizer/skia/skia/BUILD.gn
  cobalt/renderer/rasterizer/skia/skia/skia_next.gni
  cobalt/renderer/rasterizer/skia/skia/skia_sources.gni
  cobalt/renderer/rasterizer/skia/skia/skia_template.gni
Due: none

[GN] Fix crash when launching Cobalt on Linux with GN build.
  cobalt/webdriver/BUILD.gn
Due: none

[GN] Migrate evergreen-arm-softfp platform.
  starboard/build/platforms.py
  starboard/evergreen/arm/shared/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/args.gn
  starboard/evergreen/arm/softfp/platform_configuration/BUILD.gn
  starboard/evergreen/arm/softfp/platform_configuration/configuration.gni
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
Due: yapf, pylint

[GN] Don't enable test data in gold
  base/BUILD.gn
Due: none

Avoid name collision: starboard/tools/platform.py
  cobalt/build/get_starboard_path.py
  cobalt/build/gyp_cobalt
  starboard/build/gyp
  starboard/build/gyp_runner.py
  starboard/build/platform_configuration.py
  starboard/linux/shared/launcher.py
  starboard/tools/app_launcher_packager.py
  starboard/tools/build.py
  starboard/tools/command_line.py
  starboard/tools/command_line_test.py
  starboard/tools/extract_starboard_versions.py
  starboard/tools/package.py
  starboard/tools/platform.py
  starboard/tools/platform.py.template
  starboard/tools/platform_test.py
Due: yapf, pylint

[media] Remove ".." from include_dirs
  cobalt/dom/eme/media_key_session.cc
  cobalt/dom/eme/media_key_status_map.cc
  cobalt/media/BUILD.gn
Due: cpplint, clang-format

SoftMicPlatformService add micGesture enum.
  cobalt/black_box_tests/testdata/soft_mic_platform_service_test.js
  cobalt/black_box_tests/tests/soft_mic_platform_service_test.py
  cobalt/demos/content/soft-mic-platform-service-demo/soft_mic_platform_service_demo.html
  starboard/linux/shared/soft_mic_platform_service.cc
Due: cpplint, yapf, pylint, clang-format

Revert "Avoid name collision: starboard/tools/platform.py"
  cobalt/build/get_starboard_path.py
  cobalt/build/gyp_cobalt
  starboard/build/gyp
  starboard/build/gyp_runner.py
  starboard/build/platform_configuration.py
  starboard/linux/shared/launcher.py
  starboard/tools/app_launcher_packager.py
  starboard/tools/build.py
  starboard/tools/command_line.py
  starboard/tools/command_line_test.py
  starboard/tools/extract_starboard_versions.py
  starboard/tools/package.py
  starboard/tools/platform.py
  starboard/tools/platform.py.template
  starboard/tools/platform_test.py
Due: yapf, pylint

[GN] Add xb1 install_target
  starboard/build/copy_file.py
Due: yapf, pylint

Add global IS_DOCKER env var to containers
  docker-compose.yml
Due: none

[GN] Migrate evergreen-arm64 platform.
  build/toolchain/gcc_toolchain.gni
  starboard/build/platforms.py
  starboard/evergreen/arm/softfp/toolchain/BUILD.gn
  starboard/evergreen/arm64/args.gn
  starboard/evergreen/arm64/platform_configuration/BUILD.gn
  starboard/evergreen/arm64/platform_configuration/configuration.gni
  starboard/evergreen/arm64/toolchain/BUILD.gn
  starboard/evergreen/shared/toolchain/toolchain.gni
  starboard/evergreen/x64/platform_configuration/BUILD.gn
  starboard/evergreen/x64/toolchain/BUILD.gn
  third_party/libjpeg-turbo/BUILD.gn
  third_party/zlib/BUILD.gn
Due: yapf, pylint

Add #error guard to prevent including headers from wrong Skia version.
  third_party/skia/include/core/SkTypes.h
Due: cpplint, clang-format

[GN] Fix command line limit for install content
  starboard/build/config/BUILDCONFIG.gn
  starboard/build/copy_install_content.py
Due: yapf, pylint

[GN] Add more missing content_deps
  base/BUILD.gn
  cobalt/loader/BUILD.gn
  cobalt/renderer/BUILD.gn
  cobalt/webdriver/BUILD.gn
  starboard/build/copy_install_content.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
