Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Add the first Android unit test file HolderTest (#390)
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/test/java/dev/cobalt/util/HolderTest.java
Due: google-java-format, gcheckstyle

Starboardization and customization for Cobalt.
  third_party/freetype2/.gitmodules
  third_party/freetype2/BUILD.gn
  third_party/freetype2/METADATA
  third_party/freetype2/README.cobalt
  third_party/freetype2/builds/starboard/include/config/ftmodule.h
  third_party/freetype2/builds/starboard/include/config/ftoption.h
  third_party/freetype2/include/freetype/config/ftmodule.h
  third_party/freetype2/include/freetype/config/ftstdlib.h
  third_party/freetype2/include/freetype/config/mac-support.h
  third_party/freetype2/src/base/ftobjs.c
  third_party/freetype2/src/gzip/zutil.h
Due: cpplint, clang-format

Temporary workaround for "subtree" checkout errors on Windows (#383)
  .github/workflows/main_win.yaml
Due: none

[android] Refine Widevine L3 implementation (#373)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/drm_create_system.cc
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_common.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Apply Cobalt customizations to brotli
  third_party/brotli/BUILD.gn
  third_party/brotli/METADATA
  third_party/brotli/c/common/platform.h
  third_party/brotli/c/enc/hash_longest_match_quickly_inc.h
Due: cpplint, clang-format

[media] Remove kSbHasAc3Audio (#330)
  starboard/CHANGELOG.md
  starboard/android/shared/configuration_constants.cc
  starboard/common/media.cc
  starboard/configuration.h
  starboard/configuration_constants.h
  starboard/elf_loader/exported_symbols.cc
  starboard/linux/shared/configuration_constants.cc
  starboard/linux/shared/media_is_audio_supported.cc
  starboard/raspi/shared/configuration_constants.cc
  starboard/shared/ffmpeg/ffmpeg_audio_decoder_impl.cc
  starboard/shared/starboard/media/codec_util.cc
  starboard/stub/configuration_constants.cc
  starboard/win/shared/configuration_constants.cc
  third_party/chromium/media/base/starboard_utils.cc
Due: cpplint, clang-format

Fix incorrect values comparing against SB_API_VERSION (#396)
  cobalt/browser/application.h
  starboard/player.h
  starboard/shared/win32/media_is_video_supported.cc
Due: cpplint, clang-format

Use Acquire-Release ordering on android_stop_count_. (#401)
  starboard/android/shared/application_android.cc
Due: cpplint, clang-format

Address more submodule checkout issues (#406)
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .github/workflows/pytest.yaml
  .github/workflows/scorecards.yml
Due: none

Link to SB extension proposal template in codelab (#331)
  cobalt/site/docs/codelabs/starboard_extensions/codelab.md
Due: none

Enable Android test coverage report. (#398)
  starboard/android/apk/app/build.gradle
Due: none

Remove deprecated build number server functions (#343)
  cobalt/build/build_number.py
  cobalt/build/get_build_id.py
  cobalt/build/save_build_id.py
Due: yapf, pylint

Remove unused platform defaults (#339)
  starboard/tools/build.py
  starboard/tools/command_line.py
  starboard/tools/command_line_test.py
Due: yapf, pylint

Use Load Acquire on the atomic operations for the decode target. (#405)
  starboard/shared/win32/hardware_decode_target_internal.cc
Due: cpplint, clang-format

Change the atomic operations to use Acquire-Release ordering. (#404)
  starboard/shared/uwp/system_platform_error_internal.cc
Due: cpplint, clang-format

Update Bug ID check logic
  .github/workflows/lint.yaml
Due: none

Fix linking errors in third_party/musl.
  third_party/musl/BUILD.gn
  third_party/musl/src/include/features.h
  third_party/musl/src/setjmp/arm/longjmp.s
  third_party/musl/src/setjmp/arm/setjmp.s
  third_party/musl/src/starboard/errno/__errno_location.c
  third_party/musl/src/starboard/malloc/malloc.c
  third_party/musl/src/starboard/stdio/stderr.c
  third_party/musl/src/starboard/stdio/stdout.c
  third_party/musl/test/type_size_test.cc
Due: cpplint, cpplint_test, clang-format

Fix pytest warnings (#342)
  setup.cfg
  starboard/tools/build.py
Due: yapf, pylint

Cherry pick PR #373: [android] Refine Widevine L3 implementation (#397)
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/drm_create_system.cc
  starboard/android/shared/drm_system.cc
  starboard/android/shared/drm_system.h
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_common.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Fix format errors in third_party/musl.
  third_party/musl/BUILD.gn
  third_party/musl/METADATA
  third_party/musl/src/setjmp/arm/longjmp.S
  third_party/musl/src/setjmp/arm/setjmp.S
Due: none

Starboardize UMA dependencies. (#387)
  base/BUILD.gn
  base/feature_list.cc
  base/feature_list.h
  base/files/memory_mapped_file.h
  base/memory/shared_memory_handle.cc
  base/memory/shared_memory_handle.h
  base/metrics/field_trial.cc
  base/metrics/field_trial.h
  base/metrics/field_trial_params.h
  base/metrics/persistent_memory_allocator.cc
  base/metrics/persistent_memory_allocator.h
  components/metrics/BUILD.gn
  components/metrics/metrics_log.cc
  components/variations/BUILD.gn
  components/variations/android/BUILD.gn
  components/variations/client_filterable_state.cc
  components/variations/net/BUILD.gn
  components/variations/proto/BUILD.gn
  components/variations/proto/study.proto
  components/version_info/BUILD.gn
  components/version_info/starboard_version_info_values.h
  components/version_info/version_info.cc
Due: cpplint, clang-format

Removing old contents of third_party/googletest
  third_party/googletest/METADATA
  third_party/googletest/src/googletest/include/gtest/gtest_prod.h
Due: cpplint, clang-format

Revert "Fix pytest warnings" (#414)
  setup.cfg
  starboard/tools/build.py
Due: yapf, pylint

Adding third_party METADATA file
  third_party/googletest/METADATA
Due: none

Add the workflow to run Android unit test (#402)
  .github/workflows/gradle.yaml
  third_party/skia/platform_tools/android/apps/gradle/wrapper/gradle-wrapper.jar
Due: none

Switching all workflows to patched checkouts (#417)
  .github/workflows/gradle.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/manual-cherry-pick.yaml
  .github/workflows/nightly_trigger.yaml
  .github/workflows/workflow_trigger.yaml
Due: none

Use Acquire-Release ordering on has_swapped_buffers_. (#400)
  glimp/gles/context.cc
  glimp/gles/context.h
Due: cpplint, clang-format

Remove snapshot appstats binary (#422)
  cobalt/browser/BUILD.gn
  cobalt/browser/snapshot_app_stats.cc
Due: cpplint, clang-format

Add build status badges for Python+Java tests (#418)
  BUILD_STATUS.md
Due: none

Remove submodule and github folder. (#426)
  third_party/brotli/.github/workflows/fuzz.yml
  third_party/brotli/.gitmodules
Due: none

Rewrite an Evergreen test case as a Block Box Test (#410)
  cobalt/black_box_tests/black_box_cobalt_runner.py
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/evergreen_test.html
  cobalt/black_box_tests/testdata/evergreen_test_script.js
  cobalt/black_box_tests/tests/evergreen_verify_qa_channel_update_test.py
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Add Client Hint Header support (#420)
  cobalt/browser/BUILD.gn
  cobalt/browser/application.cc
  cobalt/browser/client_hint_headers.cc
  cobalt/browser/client_hint_headers.h
  cobalt/browser/client_hint_headers_test.cc
  cobalt/browser/user_agent_platform_info.cc
  cobalt/browser/user_agent_platform_info.h
  cobalt/h5vcc/h5vcc.cc
  cobalt/h5vcc/h5vcc_settings.cc
  cobalt/h5vcc/h5vcc_settings.h
  cobalt/layout_tests/layout_snapshot.cc
  cobalt/loader/cors_preflight.cc
  cobalt/loader/net_fetcher.cc
  cobalt/media/url_fetcher_data_source.cc
  cobalt/network/BUILD.gn
  cobalt/network/net_poster.cc
  cobalt/network/network_module.cc
  cobalt/network/network_module.h
  cobalt/updater/network_fetcher.cc
  cobalt/web/cobalt_ua_data_values.idl
  cobalt/web/cobalt_ua_data_values_interface.cc
  cobalt/web/cobalt_ua_data_values_interface.h
  cobalt/web/cobalt_ua_data_values_interface.idl
  cobalt/web/navigator_ua_data.cc
  cobalt/web/testing/mock_user_agent_platform_info.h
  cobalt/web/user_agent_platform_info.h
  cobalt/xhr/BUILD.gn
  cobalt/xhr/xml_http_request.cc
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/BUILD.gn
  starboard/android/shared/android_info.cc
  starboard/android/shared/android_info.h
  starboard/android/shared/system_get_extensions.cc
  starboard/extension/android_info.h
Due: cpplint, cpplint_test, clang-format, google-java-format, gcheckstyle

b/273751224 (#423)
  starboard/shared/starboard/player/testdata/beneath_the_canopy_135_avc.dmp.sha1
  starboard/shared/starboard/player/testdata/beneath_the_canopy_136_avc.dmp.sha1
  starboard/shared/starboard/player/testdata/sha1_files.gni
Due: none

[media] Add SbPlayer tests with drm system (#122)
  starboard/evergreen/x64/test_filters.py
  starboard/nplb/drm_helpers.h
  starboard/nplb/player_test_fixture.cc
  starboard/nplb/player_test_fixture.h
  starboard/nplb/player_test_util.cc
  starboard/nplb/player_test_util.h
  starboard/nplb/player_write_sample_test.cc
  starboard/win/win32/test_filters.py
Due: cpplint, cpplint_test, yapf, pylint, clang-format

Update README.md
  README.md
Due: none

Remove Cobalt changes in third_party/llvm-project.
  third_party/llvm-project/METADATA
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/.gitignore
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/.vscodeignore
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/LICENSE
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/README.md
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/package.json
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/src/extension.ts
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/test/extension.test.ts
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/test/index.ts
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/tsconfig.json
  third_party/llvm-project/clang-tools-extra/clangd/clients/clangd-vscode/vsc-extension-quickstart.md
  third_party/llvm-project/compiler-rt/BUILD.gn
  third_party/llvm-project/libcxx/BUILD.gn
  third_party/llvm-project/libcxx/include/__config
  third_party/llvm-project/libcxx/include/__external_threading
  third_party/llvm-project/libcxx/src/thread.cpp
  third_party/llvm-project/libcxxabi/BUILD.gn
  third_party/llvm-project/libunwind/BUILD.gn
  third_party/llvm-project/libunwind/include/libunwind.h
  third_party/llvm-project/libunwind/src/AddressSpace.hpp
  third_party/llvm-project/libunwind/src/EHHeaderParser.hpp
  third_party/llvm-project/libunwind/src/RWMutex.hpp
  third_party/llvm-project/libunwind/src/UnwindCursor.hpp
  third_party/llvm-project/libunwind/src/config.h
  third_party/llvm-project/libunwind/src/libunwind.cpp
Due: cpplint, clang-format
