Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Formatting PerformanceObserver class.
  cobalt/dom/performance_observer.cc
Due: cpplint, clang-format

[GN] Fix MemoryReportingTest error on linux-x64x11-gcc-6-3
  starboard/linux/x64x11/gcc/6.3/platform_configuration/configuration.gni
Due: none

[android] Reset video surface after tunneled playback
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/android/shared/video_window.cc
  starboard/android/shared/video_window.h
Due: cpplint, clang-format

Support password authentication in evergreen tests
  cobalt/evergreen_tests/evergreen_tests.py
  starboard/evergreen/testing/raspi/clear_storage.sh
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
  starboard/evergreen/testing/raspi/secure_communication.sh
  starboard/evergreen/testing/raspi/setup.sh
  starboard/evergreen/testing/raspi/start_cobalt.sh
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/setup.sh
Due: yapf, pylint

[GN] Fix memory leak issue for linux-x64x11-clang-3-9 unit test
  starboard/build/config/BUILDCONFIG.gn
  starboard/linux/shared/platform_configuration/BUILD.gn
  starboard/linux/x64x11/clang/3.9/platform_configuration/BUILD.gn
  starboard/linux/x64x11/clang/3.9/platform_configuration/configuration.gni
Due: none

Fix linking issues when building with Skia m97.
  cobalt/renderer/rasterizer/skia/skia/skia_sources.gni
Due: none

Add support for Sccache on Linux.
  build/toolchain/cc_wrapper.gni
  starboard/build/config/BUILDCONFIG.gn
Due: none

Revert "Add support for Sccache on Linux."
  build/toolchain/cc_wrapper.gni
  starboard/build/config/BUILDCONFIG.gn
Due: none

[Android] Upgrade Android API level to 31.
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/app/AndroidManifest.xml
  starboard/android/apk/build.gradle
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
Due: none

Fix broken fonts caused by Android S update.
  cobalt/content/fonts/config/android/fonts.xml
Due: none

[GN][Raspi] Set speed and size flags
  starboard/raspi/shared/platform_configuration/configuration.gni
Due: none

[XB1] Compacted textures support - Libjpeg fix.
  starboard/shared/libjpeg/jpeg_image_decoder.cc
Due: cpplint, clang-format

Revert "Revert "[XB1] Add support for compacted texture layout :..."
  starboard/configuration.h
  starboard/decode_target.h
Due: cpplint, clang-format

Revert https://lbshell-internal-review.git.corp.google.com/c/cobalt_src/+/214540.
  starboard/android/apk/app/build.gradle
  starboard/android/apk/app/src/app/AndroidManifest.xml
  starboard/android/apk/build.gradle
  starboard/android/apk/gradle/wrapper/gradle-wrapper.properties
Due: none

Error if server doesn't support range request
  cobalt/media/fetcher_buffered_data_source.cc
Due: cpplint, clang-format

Fix Android Lint check error on MediaDrmBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaDrmBridge.java
Due: google-java-format, gcheckstyle

Keep track of the last installed version instead of last unpacked.
  components/update_client/component.cc
  components/update_client/persisted_data.cc
  components/update_client/persisted_data.h
  components/update_client/update_checker.cc
Due: cpplint, clang-format

Fix issues with APIs made private/unavailable in Skia m97.
  cobalt/renderer/rasterizer/egl/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/render_tree_node_visitor.cc
Due: cpplint, clang-format

[XB1] Add event handler to detect device network changes.
  cobalt/demos/content/network-status-demo/index.html
Due: none

Move reusable members from DOMSettings to EnvironmentSettings.
  cobalt/bindings/testing/bindings_test_base.h
  cobalt/dom/dom_settings.cc
  cobalt/dom/dom_settings.h
  cobalt/dom/event_target.cc
  cobalt/script/BUILD.gn
  cobalt/script/environment_settings.h
  cobalt/script/standalone_javascript_runner.cc
  cobalt/worker/worker_settings.cc
  cobalt/worker/worker_settings.h
Due: cpplint, clang-format

Dedicated Worker Implementation Start
  cobalt/base/tokens.h
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/browser/idl_files.gni
  cobalt/browser/stack_size_constants.h
  cobalt/demos/content/workers-demo/workers-demo.html
  cobalt/script/v8c/v8c_global_environment.cc
  cobalt/script/v8c/v8c_global_environment.h
  cobalt/worker/BUILD.gn
  cobalt/worker/abstract_worker.h
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/dedicated_worker_global_scope.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/dedicated_worker_global_scope.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker_global_scope.cc
  cobalt/worker/worker_global_scope.h
  cobalt/worker/worker_global_scope.idl
Due: cpplint, clang-format

Make test handle parallel runs and py3.
  starboard/tools/port_symlink_test.py
Due: yapf, pylint

Fix a race and value propagation for preload and startup timestamps.
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

[worker] Add a functional service worker test
  cobalt/worker/testdata/google_logo.png
  cobalt/worker/testdata/service_worker.html
  cobalt/worker/testdata/service_worker.js
Due: none

[GN] Fix staging script for raspi
  starboard/evergreen/shared/launcher.py
Due: yapf, pylint

[py3] use items() instead of iteritems() for dict
  starboard/android/shared/cobalt/configuration.py
  starboard/android/shared/test_filters.py
  starboard/android/x86/cobalt/configuration.py
  starboard/android/x86/test_filters.py
  starboard/evergreen/arm/shared/test_filters.py
  starboard/evergreen/shared/test_filters.py
  starboard/evergreen/x64/cobalt/configuration.py
  starboard/linux/shared/test_filters.py
  starboard/linux/x64x11/clang/3.9/cobalt/configuration.py
  starboard/linux/x64x11/gcc/6.3/test_filters.py
  starboard/linux/x64x11/skia/cobalt/configuration.py
  starboard/raspi/shared/test_filters.py
  starboard/win/win32/cobalt/configuration.py
  starboard/win/win32/test_filters.py
Due: yapf, pylint

Fix several build errors in hardware_rasterizer target with Skia m97.
  .codespellignorelines
  cobalt/renderer/rasterizer/skia/hardware_image.h
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.h
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.h
  cobalt/renderer/rasterizer/skia/skia/config/SkUserConfig.h
Due: cpplint, clang-format

Voice search doc SoftMic Update.
  cobalt/doc/voice_search.md
Due: none

Revert "Revert "[XB1] Add support for compacted texture layout :..."
  .codespellignorelines
  cobalt/render_tree/image.h
  cobalt/renderer/backend/egl/graphics_context.cc
  cobalt/renderer/backend/egl/graphics_context.h
  cobalt/renderer/backend/egl/graphics_system.cc
  cobalt/renderer/backend/egl/graphics_system.h
  cobalt/renderer/backend/graphics_context.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.h
  cobalt/renderer/rasterizer/skia/hardware_rasterizer.cc
  cobalt/renderer/rasterizer/skia/hardware_resource_provider.cc
  starboard/configuration.h
Due: cpplint, clang-format

[GN] Enable evergreen tests to run on GN builds.
  starboard/evergreen/testing/raspi/deploy_cobalt.sh
Due: none

[bindings] Support ByteString type for IDL method args
  cobalt/bindings/testing/BUILD.gn
  cobalt/bindings/testing/bytestring_type_bindings_test.cc
  cobalt/bindings/testing/bytestring_type_test_interface.h
  cobalt/bindings/testing/bytestring_type_test_interface.idl
  cobalt/bindings/testing/testing.gyp
  cobalt/script/v8c/conversion_helpers.cc
  cobalt/script/v8c/conversion_helpers.h
  cobalt/worker/navigation_preload_manager.cc
  cobalt/worker/navigation_preload_manager.h
  cobalt/worker/navigation_preload_manager.idl
Due: cpplint, cpplint_test, clang-format

[android] Enable improved format support check
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/player_components_factory.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: cpplint, clang-format, google-java-format, gcheckstyle

Refine PlayerWorkerHandler Init() error handling
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.cc
  starboard/shared/starboard/player/filter/filter_based_player_worker_handler.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: cpplint, clang-format

[GN] Add -ide arg to gn.py
  cobalt/build/gn.py
Due: yapf, pylint
