Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[GN] Migrate snapshot_app_stats
  cobalt/browser/BUILD.gn
Due: none

[GN] Migrate null_webapi_extension
  cobalt/browser/BUILD.gn
  starboard/shared/test_webapi_extension/BUILD.gn
Due: none

[GN] Migrate speech_test
  content/browser/speech/BUILD.gn
Due: none

[GN] Add missing content_deps for net_unittests
  net/BUILD.gn
Due: none

[GN] Correct android install cache path
  starboard/android/shared/install_target.gni
Due: none

[GN] Don't add install targets on host toolchain
  starboard/build/config/BUILDCONFIG.gn
Due: none

[GN] Remove dom_test's dep on cssom_test
  cobalt/BUILD.gn
  cobalt/dom/BUILD.gn
  cobalt/dom/html_element_test.cc
  cobalt/dom/html_link_element_test.cc
  cobalt/dom/intersection_observer_test.cc
Due: cpplint_test, clang-format

[GN] Migrate evergreen-x86 platform.
  build/toolchain/gcc_toolchain.gni
  starboard/build/platforms.py
  starboard/evergreen/x86/args.gn
  starboard/evergreen/x86/platform_configuration/BUILD.gn
  starboard/evergreen/x86/platform_configuration/configuration.gni
  starboard/evergreen/x86/toolchain/BUILD.gn
  third_party/zlib/BUILD.gn
Due: yapf, pylint
