Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Update BUILD_STATUS.md to support 24.lts.1+. (#449)
  BUILD_STATUS.md
Due: none

[loader] Add debugging code for FetcherCache crash (#444)
  cobalt/loader/fetcher_cache.cc
  cobalt/loader/fetcher_cache.h
  cobalt/loader/loader_factory.cc
  cobalt/loader/loader_factory.h
Due: cpplint, clang-format

Add METADATA files for new filtered subtrees. (#457)
  third_party/llvm-project/METADATA
  third_party/llvm-project/compiler-rt/METADATA
  third_party/llvm-project/libcxx/METADATA
  third_party/llvm-project/libcxxabi/METADATA
  third_party/llvm-project/libunwind/METADATA
Due: none

Enable VS 2022 Images to build PS4/5 (#450)
  docker-compose-windows-internal.yml
  docker-compose-windows.yml
  docker/windows/base/build/Dockerfile
Due: none

[XB1] Cache window size when creating Sb window (#464)
  starboard/shared/uwp/application_uwp.cc
  starboard/shared/uwp/application_uwp.h
Due: cpplint, clang-format

Fix docker GCB builds to use 16 cores limit (#466)
  docker-compose-windows-internal.yml
  docker-compose-windows.yml
Due: none

Create separate night trigger workflow for 24.lts.1+ (#469)
  .github/workflows/nightly_trigger.yaml
  .github/workflows/nightly_trigger_24.lts.1+.yaml
Due: none

Fix Evergreen API leaks for arm64. (#468)
  third_party/llvm-project/compiler-rt/BUILD.gn
Due: none

Add missing Evergreen-arm64 builds (#470)
  .github/config/evergreen-arm64.json
  .github/workflows/evergreen.yaml
  third_party/llvm-project/compiler-rt/BUILD.gn
Due: none

Enable base_unittests and net_unittests. (#463)
  starboard/evergreen/arm/shared/cobalt/configuration.py
  starboard/evergreen/x64/cobalt/configuration.py
  testing/gtest/include/gtest/internal/gtest-port.h
Due: cpplint, yapf, pylint, clang-format

Fix scorecards runs (#478)
  .github/workflows/scorecards.yml
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
