Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

Work around Android 12 issue causing android unit test failures
  starboard/android/shared/platform_configuration/configuration.gni
Due: none

Add on device testing scripts for 23.lts.1+
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Update 23 LTS version to lts.3
  cobalt/version.h
Due: cpplint, clang-format

[media] move semantics for starboard scoped_refptr
  starboard/common/ref_counted.h
Due: cpplint, clang-format

Attempt to use extradata to parse codec config for h.264 and h.265.
  starboard/shared/ffmpeg/ffmpeg_demuxer_impl.cc
Due: cpplint, clang-format

[XB1] Optimize av1 playback startup latency
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.cc
  cobalt/renderer/rasterizer/egl/textured_mesh_renderer.h
Due: cpplint, clang-format

[media] Fix DCHECK() in dav1d video decoder ReportError()
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  starboard/shared/libdav1d/dav1d_video_decoder.h
Due: cpplint, clang-format

[media] Remove SbMedia functions from chromium/media
  cobalt/media/decoder_buffer_allocator.cc
  cobalt/media/decoder_buffer_allocator.h
  third_party/chromium/media/base/decoder_buffer.cc
  third_party/chromium/media/base/decoder_buffer.h
  third_party/chromium/media/base/demuxer_memory_limit_starboard.cc
  third_party/chromium/media/base/starboard_utils.cc
  third_party/chromium/media/filters/source_buffer_stream.cc
Due: cpplint, clang-format

Make GTEST summary output atomically print to log
  testing/gtest/src/gtest.cc
Due: cpplint_test, clang-format

Add test that Cobalt can load the default page.
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/http_cache.html
  cobalt/black_box_tests/tests/default_site_can_load.py
  cobalt/tools/automated_testing/cobalt_runner.py
Due: yapf, pylint

Prevent garbage collection of ScriptValue References.
  cobalt/script/script_value.h
Due: cpplint, clang-format

Update openh264 license.
  cobalt/content/licenses/platform/default/licenses_cobalt.txt
  cobalt/content/licenses/platform/evergreen/licenses_cobalt.txt
Due: none

Add test case for upgrading to compressed update
  starboard/evergreen/testing/README.md
  starboard/evergreen/testing/run_all_tests.sh
  starboard/evergreen/testing/tests/verify_qa_channel_compressed_update_test.sh
Due: none

Fix docker-compose settings for local xb1 builds
  docker-compose-windows.yml
Due: none

Use requirements files with hashes in docker
  docker/linux/base/Dockerfile
  docker/linux/linux-x64x11/Dockerfile
  docker/linux/linux-x64x11/requirements.in
  docker/linux/linux-x64x11/requirements.txt
  docker/precommit_hooks/Dockerfile
  docker/precommit_hooks/requirements.in
  docker/precommit_hooks/requirements.txt
  docker/pytest/Dockerfile
  docker/pytest/requirements.txt
  docker/windows/base/build/Dockerfile
  docker/windows/base/build/requirements.in
  docker/windows/base/build/requirements.txt
Due: none

[PS4/5] Avoid unnecessary EnsureInitialize() calls
  glimp/gles/context.cc
  glimp/gles/context.h
Due: cpplint, clang-format

[xb1] Enable XHR header filter
  cobalt/xhr/BUILD.gn
Due: none

Added Proguard rules to keep GameActivity Java functions needed by JNI code.
  starboard/android/apk/app/proguard-rules.pro
Due: none

Removing line breaks from log message.
  cobalt/media/base/sbplayer_bridge.cc
Due: cpplint, clang-format

Fix HTTP cache blackboxtest by configuring quotas
  cobalt/black_box_tests/testdata/http_cache.html
Due: none

[linux] Add modp_b64 to deps
  starboard/linux/shared/BUILD.gn
Due: none

[media] Rename VideoFrameProvider to DecodeTargetProvider
  cobalt/dom/html_video_element.cc
  cobalt/dom/html_video_element.h
  cobalt/layout/box_generator.cc
  cobalt/media/BUILD.gn
  cobalt/media/base/decode_target_provider.h
  cobalt/media/base/pipeline.h
  cobalt/media/base/sbplayer_bridge.cc
  cobalt/media/base/sbplayer_bridge.h
  cobalt/media/base/sbplayer_pipeline.cc
  cobalt/media/player/web_media_player.h
  cobalt/media/player/web_media_player_impl.cc
  cobalt/media/player/web_media_player_impl.h
  cobalt/media/sandbox/web_media_player_helper.cc
  cobalt/media/sandbox/web_media_player_helper.h
Due: cpplint, clang-format

Adding CVal mechanism to base::Statistics.
  cobalt/base/statistics.h
  cobalt/base/statistics_test.cc
  cobalt/dom/source_buffer_metrics.cc
  cobalt/media/base/sbplayer_bridge.cc
Due: cpplint, cpplint_test, clang-format

worker-src
  cobalt/csp/content_security_policy.cc
  cobalt/csp/content_security_policy.h
  cobalt/csp/content_security_policy_test.cc
  cobalt/csp/directive_list.cc
  cobalt/csp/directive_list.h
  cobalt/web/csp_delegate.cc
  cobalt/web/csp_delegate.h
  cobalt/web/csp_delegate_test.cc
Due: cpplint, cpplint_test, clang-format
