Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

[linux-x64x11-skia] Disable crashing pixel test
  starboard/linux/x64x11/skia/cobalt/configuration.py
Due: yapf, pylint

Update Docker docsite tooling to generate deploy directory.
  cobalt/site/deploy/app.yaml
  docker/docsite/Dockerfile
  docker/docsite/README.md
  docker/docsite/docker-compose.yml
Due: none

Fix + clean cobalt.dev Docker steps and gems.
  docker/docsite/Gemfile
  docker/docsite/README.md
  docker/docsite/docker-compose.yml
Due: none

Move clang builder docker image to cobalt-tools
  docker-compose.yml
Due: none

Implement PerformanceObserverEntryList class.
  cobalt/dom/dom.gyp
  cobalt/dom/performance_observer_entry_list.cc
  cobalt/dom/performance_observer_entry_list.h
Due: cpplint, clang-format

Fix MSVC compilation to output unique PDB files
  starboard/tools/toolchain/msvc.py
Due: yapf, pylint

[ICU] Cherry-pick TimeFormattingTest fixes
  base/i18n/break_iterator.cc
  base/i18n/break_iterator_unittest.cc
  base/i18n/number_formatting_unittest.cc
  base/i18n/time_formatting_unittest.cc
Due: cpplint, cpplint_test, clang-format

Add attribute timeOrigin into Performance interface.
  cobalt/dom/performance_high_resolution_time.idl
Due: none

Implement time_origin for Performance interface.
  cobalt/dom/performance.cc
  cobalt/dom/performance.h
Due: cpplint, clang-format

Fix event tracing in render tree node visitor.
  cobalt/renderer/rasterizer/skia/render_tree_node_visitor.cc
Due: cpplint, clang-format

Convert SetSimpleExceptionVA to ref
  cobalt/dom/mutation_observer.cc
  cobalt/dom/testing/fake_exception_state.h
  cobalt/script/exception_state.h
  cobalt/script/logging_exception_state.h
  cobalt/script/mozjs-45/mozjs_exception_state.cc
  cobalt/script/mozjs-45/mozjs_exception_state.h
  cobalt/script/testing/mock_exception_state.h
  cobalt/script/v8c/v8c_exception_state.cc
  cobalt/script/v8c/v8c_exception_state.h
Due: cpplint, clang-format

Replace command line yapf style with file
  .pre-commit-config.yaml
  .style.yapf
Due: none

Remove merge conflict markers from README.md.
  docker/docsite/README.md
Due: none

Add unit test for time_origin.
  cobalt/dom/performance_test.cc
Due: cpplint_test, clang-format

[ICU] Resolve reported getenv() and div() leaks
  third_party/icu/source/i18n/japancal.cpp
  third_party/musl/musl.gyp
Due: cpplint, clang-format

Define gyp variable for Evergreen Lite
  starboard/build/base_configuration.gypi
  starboard/linux/shared/starboard_platform.gypi
  starboard/nplb/nplb_evergreen_compat_tests/checks.h
  starboard/nplb/nplb_evergreen_compat_tests/nplb_evergreen_compat_tests.gyp
  starboard/raspi/shared/starboard_platform.gypi
  starboard/starboard_base_target.gypi
Due: cpplint, clang-format

Fix the dependency issue for Evergreen Lite
  starboard/loader_app/installation_manager.cc
  starboard/loader_app/installation_manager.gyp
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/signal/system_request_suspend.cc
Due: cpplint, clang-format

Fix the dependency issue for Evergreen Lite
  starboard/loader_app/installation_manager.cc
  starboard/loader_app/installation_manager.gyp
  starboard/shared/signal/suspend_signals.cc
  starboard/shared/signal/system_request_suspend.cc
Due: cpplint, clang-format

Show Evergreen version in UA string for Lite
  cobalt/updater/utils.cc
Due: cpplint, clang-format

Fix an operator mismatch
  v8/src/codegen/handler-table.cc
Due: cpplint, clang-format

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
