Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --verbose=4
  - --quiet

cpplint_test:
  name: cpplint_test
  entry: cpplint
  language: system
  args:
  - --verbose=5
  - --quiet

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - --style=yapf
  - -i

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -d W0201

clang-format:
  name: clang-format
  entry: third_party/precommit-hooks/clang-format_wrapper.py
  language: python
  args:
  - -i
  - -style=file

google-java-format:
  name: google-java-format
  entry: third_party/precommit-hooks/google-java-format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
  language: python
  verbose: true

check-if-starboard-interface-changed:
  name: check if starboard interface changed
  entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
  language: python
  stages:
  - push

Grant package:write permission for UT image build (#140)
  .github/workflows/main.yaml
Due: none

Use supported push context for base_ref in lint (#141)
  .github/workflows/lint.yaml
Due: none

Create scorecards.yml (#148)
  .github/workflows/scorecards.yml
Due: none

Grant package:write permission to UT image build job. (#150)
  .github/workflows/main.yaml
Due: none

Add COBALT_9 and rc_11 to nightly trigger. (#156)
  .github/workflows/nightly_trigger.yaml
Due: none

Test/cp (#161)
  .github/workflows/cherry-pick.yaml
  README.md
Due: none

Revert "Test/cp (#161)"
  .github/workflows/cherry-pick.yaml
  README.md
Due: none

Grant package:write permission to win docker image build (#163)
  .github/workflows/main_win.yaml
  .github/workflows/win32.yaml
Due: none

Upgrade google-github-actions/setup-gcloud to v1. (#158)
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Upgrade google-github-actions/upload-cloud-storage to v1 (#164)
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Add author details to ODT (#160)
  .github/actions/on_device_tests/action.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Pass multiple labels to the service (#166)
  .github/workflows/main.yaml
  tools/on_device_tests_gateway.proto
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Publish docker images for PRs from forks to GCR. (#149)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/workflows/main.yaml
Due: none

Publish docker images for PRs from forks to GCR. (#149) (#174)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/workflows/main.yaml
Due: none

Add build badges to README file (#186)
  BUILD_STATUS.md
  README.md
Due: none

Disable On-Device Tests (#187)
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
Due: none

Use docker image from base branch. (#189)
  .github/actions/docker/action.yaml
Due: none

Add build status to PR (#192)
  .github/workflows/pr_badges.yaml
Due: none

Extract session id before writing it to GITHUB_ENV. (#194)
  .github/actions/on_device_tests/action.yaml
Due: none

Add dimension arg to MH action (b/266617861) (#196)
  .github/actions/on_device_tests/action.yaml
Due: none

Disable integration tests on raspi-2 platforms. (#200)
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
Due: none

Enable on-device tests on evergreen-arm-hardfp (23.lts.1+) (#201)
  .github/config/evergreen-arm-hardfp.json
Due: none

Fix deeplink test sync issue (#203)
  cobalt/black_box_tests/tests/deep_links.py
Due: yapf, pylint

Extract session id before writing it to GITHUB_ENV. (#207)
  .github/workflows/main.yaml
Due: none

Succeed when FLAKY tests are de-flaked (#211)
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

(23.lts.1+) Pass includes.target_platform to ODT. (#213)
  .github/workflows/main.yaml
Due: none

Separate raspi-2-skia from raspi-2 config. (#215)
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2.yaml
Due: none

Ensure ordering of stashed deep links. (#212)
  cobalt/base/deep_link_event.h
  cobalt/h5vcc/h5vcc_runtime.cc
  cobalt/h5vcc/h5vcc_runtime.h
Due: cpplint, clang-format

Address security vulnerability in pr_badges workflow. (#219)
  .github/workflows/pr_badges.yaml
Due: none

Fix how env vars are passed to github-script. (#223)
  .github/workflows/pr_badges.yaml
Due: none

(23.lts.1+) Separate raspi-2-skia from raspi-2 config. (#215) (#220)
  .github/config/raspi-2-skia.json
  .github/config/raspi-2.json
  .github/workflows/raspi-2_23.lts.1+.yaml
Due: none

Enable on-device test on the main branch. (#224)
  .github/config/android-arm.json
  .github/config/android-arm64.json
  .github/config/android-x86.json
  .github/config/evergreen-arm-hardfp.json
  .github/config/raspi-2.json
Due: none

Fix docker image url setting. (#226)
  .github/actions/docker/action.yaml
Due: none

Adjust keepalive settings in ODT client. (#232)
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Address command injection vulnerability. (#222)
  .github/actions/docker/action.yaml
  .github/actions/docker_win/action.yaml
  .github/actions/on_device_tests/action.yaml
  .github/actions/on_host_test/action.yaml
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Use gsutil to upload test archives. (#230)
  .github/actions/upload_nightly_artifacts/action.yaml
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Fix yaml syntax error. (#241)
  .github/actions/upload_nightly_artifacts/action.yaml
Due: none

Succeed when FLAKY tests are de-flaked (#211) (#239)
  starboard/tools/testing/test_runner.py
Due: yapf, pylint

(23.lts.1+) Add missing configs to evergreen-arm-hardfp (#240)
  .github/actions/gn/action.yaml
  .github/config/evergreen-arm-hardfp.json
Due: none

Revert "Adjust keepalive settings in ODT client. (#232)" (#242)
  tools/on_device_tests_gateway_client.py
Due: yapf, pylint

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: .*tests?.(cc|h)$
  cpplint_test: any of: .*tests?.(cc|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  yapf: any of: \.py$, but not: \.gypi?$
  pylint: any of: \.py$, but not: \.gypi?$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  google-java-format: any of: \.java$
  gcheckstyle: any of: \.java$
  check-if-starboard-interface-changed: any of: ^starboard/*.h$
