Repository dmytro-golovchenko-luminartech/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cpplint_test, yapf, pylint, clang-format, google-java-format, gcheckstyle, check-if-starboard-interface-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [commit]
repos:
-   repo: https://cobalt.googlesource.com/pre-commit-hooks
    rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # v3.2.0
    hooks:
    -   id: check-case-conflict
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending

-   repo: local
    hooks:
    -   id: sync-keyboxes
        name: sync-keyboxes
        entry: third_party/precommit-hooks/sync_keyboxes_wrapper.py
        language: python
        stages: [post-checkout]
        always_run: true
    -   id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=4, --quiet]
        exclude: '.*tests?.(cc|h)$'
    -   id: cpplint_test
        name: cpplint_test
        entry: cpplint
        language: system
        types: [c++]
        args: [--verbose=5, --quiet]
        files: '.*tests?.(cc|h)$'
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: [--style=yapf, -i]
        exclude: '\.gypi?$'
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [-d W0201]
        exclude: '\.gypi?$'
    -   id: clang-format
        name: clang-format
        entry: third_party/precommit-hooks/clang-format_wrapper.py
        language: python
        types: [c++]
        args: [-i, -style=file]
    -   id: google-java-format
        name: google-java-format
        entry: third_party/precommit-hooks/google-java-format_wrapper.py
        language: python
        types: [java]
        args: [-i]
    -   id: gcheckstyle
        name: gcheckstyle
        entry: third_party/precommit-hooks/gcheckstyle_wrapper.py
        language: python
        types: [java]
        verbose: true
    -   id: check-copyright-year
        name: check copyright year
        entry: third_party/precommit-hooks/custom_hooks/check_copyright_year.py
        language: python
        types: [file, text]
        stages: [push]
        exclude: ''  # Currently broken
    -   id: check-if-starboard-interface-changed
        name: check if starboard interface changed
        entry: third_party/precommit-hooks/custom_hooks/warn_that_starboard_interface_changed.py
        language: python
        files: '^starboard/*.h$'
        stages: [push]

[Android] Fix the Daylight Saving Time for EST.
  starboard/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  starboard/android/shared/time_zone_get_name.cc
Due: cpplint, clang-format, google-java-format, gcheckstyle

Add back _env.py into cobalt/bindings
  cobalt/bindings/_env.py
Due: yapf, pylint

Allow env var override of concurrent links
  build/toolchain/concurrent_links.gni
  starboard/build/echo.py
Due: yapf, pylint

Set py2 language version to python2.7 in pre-commit
  .pre-commit-config.yaml
Due: none

Connect PostMessage between inner and outer web contexts.
  cobalt/black_box_tests/black_box_tests.py
  cobalt/black_box_tests/testdata/web_worker_test.html
  cobalt/black_box_tests/testdata/web_worker_test.js
  cobalt/black_box_tests/tests/web_worker_test.py
  cobalt/dom/event_target.cc
  cobalt/dom/event_target.h
  cobalt/script/BUILD.gn
  cobalt/script/environment_settings.cc
  cobalt/script/environment_settings.h
  cobalt/script/script.gyp
  cobalt/web/agent.cc
  cobalt/web/environment_settings.h
  cobalt/worker/dedicated_worker.cc
  cobalt/worker/dedicated_worker.h
  cobalt/worker/dedicated_worker_global_scope.cc
  cobalt/worker/dedicated_worker_global_scope.h
  cobalt/worker/dedicated_worker_global_scope.idl
  cobalt/worker/worker.cc
  cobalt/worker/worker.h
  cobalt/worker/worker.idl
  cobalt/worker/worker_global_scope.h
  cobalt/worker/worker_settings.h
Due: cpplint, yapf, pylint, clang-format

Add unit tests for window_timers.
  base/test/scoped_task_environment.cc
  base/test/scoped_task_environment.h
  cobalt/dom/dom_test.gyp
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
  cobalt/dom/window_timers_test.cc
  net/test/test_with_scoped_task_environment.h
Due: cpplint, cpplint_test, clang-format

Add CVals for WindowTimers.
  cobalt/dom/dom_stat_tracker.cc
  cobalt/dom/dom_stat_tracker.h
  cobalt/dom/window.cc
  cobalt/dom/window_timers.cc
  cobalt/dom/window_timers.h
  cobalt/dom/window_timers_test.cc
Due: cpplint, cpplint_test, clang-format

Switch linux-x64-x11-internal builder to use Skia m97.
  cobalt/renderer/rasterizer/skia/skia/skia_next.gni
  starboard/build/config/base_configuration.gni
Due: none

Skip UseMemoryMappedFile test for raspi.
  starboard/evergreen/testing/setup.sh
  starboard/evergreen/testing/tests/use_mmap_file_test.sh
Due: none

Revert "Refine trace event in EventTarget::DispatchEvent()"
  cobalt/dom/event_target.cc
Due: cpplint, clang-format

Delete deprecated gyp_configuration.py files
  starboard/android/arm/gyp_configuration.py
  starboard/android/arm64/gyp_configuration.py
  starboard/android/arm64/vulkan/gyp_configuration.py
  starboard/android/shared/gyp_configuration.py
  starboard/android/x86/gyp_configuration.py
  starboard/evergreen/arm/hardfp/gyp_configuration.py
  starboard/evergreen/arm/hardfp/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm/hardfp/sbversion/13/gyp_configuration.py
  starboard/evergreen/arm/shared/gyp_configuration.py
  starboard/evergreen/arm/softfp/gyp_configuration.py
  starboard/evergreen/arm/softfp/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm/softfp/sbversion/13/gyp_configuration.py
  starboard/evergreen/arm64/gyp_configuration.py
  starboard/evergreen/arm64/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm64/sbversion/13/gyp_configuration.py
  starboard/evergreen/shared/gyp_configuration.py
  starboard/evergreen/x64/gyp_configuration.py
  starboard/evergreen/x64/sbversion/12/gyp_configuration.py
  starboard/evergreen/x64/sbversion/13/gyp_configuration.py
  starboard/evergreen/x86/gyp_configuration.py
  starboard/evergreen/x86/sbversion/12/gyp_configuration.py
  starboard/evergreen/x86/sbversion/13/gyp_configuration.py
  starboard/linux/shared/gyp_configuration.py
  starboard/linux/x64x11/clang/3.9/gyp_configuration.py
  starboard/linux/x64x11/egl/gyp_configuration.py
  starboard/linux/x64x11/gcc/6.3/gyp_configuration.py
  starboard/linux/x64x11/gyp_configuration.py
  starboard/linux/x64x11/sbversion/11/gyp_configuration.py
  starboard/linux/x64x11/sbversion/12/gyp_configuration.py
  starboard/linux/x64x11/sbversion/13/gyp_configuration.py
  starboard/linux/x64x11/skia/gyp_configuration.py
  starboard/raspi/2/gyp_configuration.py
  starboard/raspi/2/sbversion/12/gyp_configuration.py
  starboard/raspi/2/sbversion/13/gyp_configuration.py
  starboard/raspi/2/skia/gyp_configuration.py
  starboard/raspi/shared/gyp_configuration.py
  starboard/shared/win32/gyp_configuration.py
  starboard/stub/gyp_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Allow arbitrary arguments to gn gen command
  cobalt/build/gn.py
Due: yapf, pylint

Install requirements.txt during image build time
  docker/pytest/Dockerfile
  docker/pytest/requirements.in
  docker/pytest/requirements.txt
Due: none

Cleanup explicit thread name calls in the updater logs.
  components/update_client/component.cc
  components/update_client/update_checker.cc
Due: cpplint, clang-format

Compress on device using LZ4.
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/updater/BUILD.gn
  cobalt/updater/configurator.cc
  cobalt/updater/unzipper.cc
  cobalt/updater/unzipper.h
  third_party/zlib/google/zip_reader.cc
  third_party/zlib/google/zip_reader.h
  third_party/zlib/google/zip_reader_unittest.cc
Due: cpplint, cpplint_test, clang-format

Fix crashes in tracing
  cobalt/browser/web_module.cc
  cobalt/dom/event_target.cc
  cobalt/dom/media_source.cc
  cobalt/dom/node.cc
  cobalt/dom/pointer_state.cc
  cobalt/dom/window.cc
Due: cpplint, clang-format

Use platforms.py instead of starboard_platform
  cobalt/build/get_starboard_path.py
  starboard/build/gyp
  starboard/build/gyp_runner.py
  starboard/build/platform_configuration.py
  starboard/tools/app_launcher_packager.py
  starboard/tools/build.py
  starboard/tools/command_line.py
  starboard/tools/command_line_test.py
  starboard/tools/extract_starboard_versions.py
  starboard/tools/package.py
  starboard/tools/testing/build_tests.py
Due: yapf, pylint

Revert "Delete deprecated gyp_configuration.py files"
  starboard/android/arm/gyp_configuration.py
  starboard/android/arm64/gyp_configuration.py
  starboard/android/arm64/vulkan/gyp_configuration.py
  starboard/android/shared/gyp_configuration.py
  starboard/android/x86/gyp_configuration.py
  starboard/evergreen/arm/hardfp/gyp_configuration.py
  starboard/evergreen/arm/hardfp/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm/hardfp/sbversion/13/gyp_configuration.py
  starboard/evergreen/arm/shared/gyp_configuration.py
  starboard/evergreen/arm/softfp/gyp_configuration.py
  starboard/evergreen/arm/softfp/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm/softfp/sbversion/13/gyp_configuration.py
  starboard/evergreen/arm64/gyp_configuration.py
  starboard/evergreen/arm64/sbversion/12/gyp_configuration.py
  starboard/evergreen/arm64/sbversion/13/gyp_configuration.py
  starboard/evergreen/shared/gyp_configuration.py
  starboard/evergreen/x64/gyp_configuration.py
  starboard/evergreen/x64/sbversion/12/gyp_configuration.py
  starboard/evergreen/x64/sbversion/13/gyp_configuration.py
  starboard/evergreen/x86/gyp_configuration.py
  starboard/evergreen/x86/sbversion/12/gyp_configuration.py
  starboard/evergreen/x86/sbversion/13/gyp_configuration.py
  starboard/linux/shared/gyp_configuration.py
  starboard/linux/x64x11/clang/3.9/gyp_configuration.py
  starboard/linux/x64x11/egl/gyp_configuration.py
  starboard/linux/x64x11/gcc/6.3/gyp_configuration.py
  starboard/linux/x64x11/gyp_configuration.py
  starboard/linux/x64x11/sbversion/11/gyp_configuration.py
  starboard/linux/x64x11/sbversion/12/gyp_configuration.py
  starboard/linux/x64x11/sbversion/13/gyp_configuration.py
  starboard/linux/x64x11/skia/gyp_configuration.py
  starboard/raspi/2/gyp_configuration.py
  starboard/raspi/2/sbversion/12/gyp_configuration.py
  starboard/raspi/2/sbversion/13/gyp_configuration.py
  starboard/raspi/2/skia/gyp_configuration.py
  starboard/raspi/shared/gyp_configuration.py
  starboard/shared/win32/gyp_configuration.py
  starboard/stub/gyp_configuration.py
  starboard/win/win32/gyp_configuration.py
Due: yapf, pylint

Compress on device using LZ4.
  cobalt/browser/switches.cc
  cobalt/browser/switches.h
  cobalt/updater/configurator.cc
  cobalt/updater/unzipper.cc
  cobalt/updater/unzipper.h
  cobalt/updater/updater.gyp
  third_party/zlib/google/zip_reader.cc
  third_party/zlib/google/zip_reader.h
  third_party/zlib/google/zip_reader_unittest.cc
Due: cpplint, cpplint_test, clang-format

Fix broken build.
  cobalt/updater/configurator.cc
Due: cpplint, clang-format

Access startup trace files via DevTools
  cobalt/h5vcc/h5vcc_trace_event.cc
  cobalt/h5vcc/h5vcc_trace_event.h
  cobalt/h5vcc/h5vcc_trace_event.idl
  cobalt/trace_event/scoped_trace_to_file.cc
  cobalt/trace_event/scoped_trace_to_file.h
  third_party/devtools/front_end/cobalt/cobalt.js
Due: cpplint, clang-format

Switch linux-x64x11-skia platform to use Skia m97.
  cobalt/renderer/rasterizer/skia/render_tree_node_visitor.cc
  starboard/linux/x64x11/skia/cobalt/configuration.py
  starboard/linux/x64x11/skia/platform_configuration/configuration.gni
Due: cpplint, yapf, pylint, clang-format

Create starboard-toolchains clang downloader
  starboard/tools/download_clang.sh
Due: none

Create starboard-toolchains AndroidSdk downloader
  starboard/android/shared/download_sdk.sh
Due: none

[GN] Enable raspi per target packaging
  starboard/evergreen/shared/launcher.py
  starboard/raspi/2/platform_configuration/configuration.gni
  starboard/raspi/shared/install_target.gni
  starboard/raspi/shared/launcher.py
Due: yapf, pylint

[Performance API]: Add empty navigation timing.
  cobalt/browser/browser_bindings_gen.gyp
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/document_load_timing_info.h
  cobalt/dom/dom.gyp
  cobalt/dom/navigation_type.idl
  cobalt/dom/performance_navigation_timing.cc
  cobalt/dom/performance_navigation_timing.h
  cobalt/dom/performance_navigation_timing.idl
  cobalt/dom/performance_resource_timing.h
Due: cpplint, clang-format

Fix a race and value propagation for preload and startup timestamps.
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/browser_module.cc
  cobalt/browser/browser_module.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/performance_lifecycle_timing.cc
Due: cpplint, clang-format

[Performance API]: Hookup Navigation timing with Cobalt.
  cobalt/browser/application.cc
  cobalt/browser/application.h
  cobalt/browser/web_module.cc
  cobalt/browser/web_module.h
  cobalt/dom/document.cc
  cobalt/dom/document.h
  cobalt/dom/document_load_timing_info.h
  cobalt/dom/html_element_context.h
  cobalt/dom/location.cc
  cobalt/dom/location.h
  cobalt/dom/location_test.cc
  cobalt/dom/navigation_type.idl
  cobalt/dom/performance_navigation_timing.cc
  cobalt/dom/performance_navigation_timing.h
  cobalt/dom/window.h
  cobalt/dom_parser/libxml_parser_wrapper.cc
Due: cpplint, cpplint_test, clang-format

Clarify log about bytes written during compression
  cobalt/updater/unzipper.cc
Due: cpplint, clang-format
